.table-component {
  overflow-x:auto;
    .table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      margin: 0 auto;
      
     /*  margin-top: 20px; */
  
      thead {
        th {
          background-color: rgb(125, 125, 125);
          color: #fff!important;
          text-align: center;
          padding: 5px!important;
          /* padding: 10px 40px!important; */
          font-size: 10px;
          font-weight: 500!important;
        }
      }
  
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9;
            font-size: 12px;
          }
        }
  
        td {
          padding: 0 25px;
          font-size: 12px;
          color: #666;
        }

        td:hover {
          color: rgba(0, 86, 172);
        }

        .cursor-pointer {
            cursor: pointer;
        }
        .gray-background {
          background-color: #e5e5e5;
          text-align: start !important;
        }
      }
    }
  }

  .sombra-new{
    padding: 16px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(182 182 182 / 75%);
    -moz-box-shadow: 0px 0px 5px 0px rgb(182 182 182 / 75%);
    box-shadow: 0px 0px 5px 0px rgb(182 182 182 / 75%);
    border-radius: 7px;
    border: 1px solid #cbcbcb;
  }

    /************************************/
    .legend-container {
      display: flex;
      align-items: end;
      gap: 16px;
      flex-direction: row;
      justify-content: flex-end;
      min-width: 545px;
    }
    
    .legend-title {
      font-weight: bold;
    }
    
    .legend-item {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    
    .icon {
      font-size: 1.5em;
    }
    
    /* Colores de los íconos */
    .no-data {
      color: #0066cc; /* Color del ícono "Sin Datos" */
    }
    
    .incomplete {
      color: #ffcc00; /* Color del ícono "Incompleto" */
    }
    
    .complete {
      color: #339933; /* Color del ícono "Completo" */
    }
    
    .error {
      color: #cc3300; /* Color del ícono "Con Errores" */
    }


    .text-left {
      text-align: left; /* Alinear texto a la izquierda */
    }
    
    .text-normal {
      text-align: inherit; /* Usar alineación predeterminada del entorno */
    }