<div class="card mb-5 shadow">
    <div class="card-header py-3">
        Reporte de inventario
    </div>
    <form (submit)="onDownload(form)" [formGroup]="form">
        <div class="card-body p-4 small">
            <div class="col-sm-12 col-md-12 mt-2">
                <div class="row">
                    <div class="col-sm-4 col-md-4 mt-2">
                        <h3>Tipo de reporte <span class="text-danger">(*)</span></h3>
                        <select class="form-select" formControlName="idTipoReporte">
                            <!-- <option [disabled]="true" *ngFor="let item of listaDatum" [value]="item.idDatum">{{ item.descripcion }}
                        </option> -->
                            <option selected value="" [disabled]="true">Seleccione...</option>
                            <option value="1">Detalle de inventario</option>
                            <option value="2">Detalle de ingresos</option>
                            <option value="3">Detalle de salidas</option>
                        </select>
                        <mat-error *ngIf="idTipoReporteErrors" style="color: red;">{{ idTipoReporteErrors }}</mat-error>
                    </div>

                    <div class="col-sm-4 col-md-4 mt-2">
                        <h3>Fecha Inicio <span class="text-danger">(*)</span></h3>
                        <input type="date" class="form-control" placeholder="" formControlName="fechaInicio">
                        <mat-error *ngIf="fechaInicioErrors" style="color: red;">{{ fechaInicioErrors }}</mat-error>
                    </div>

                    <div class="col-sm-4 col-md-4 mt-2">
                        <h3>Fecha Fin <span class="text-danger">(*)</span></h3>
                        <input type="date" class="form-control" placeholder="" formControlName="fechaFin">
                        <mat-error *ngIf="fechaFinErrors" style="color: red;">{{ fechaFinErrors }}</mat-error>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-between p-2">
                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row justify-content-center">
                        <div class="col-auto mt-2 text-center">
                            <a type="button" class="btn btn-link text-nowrap" (click)="onReset()">
                                <small style="line-height: 1.2;"> Limpiar </small>
                            </a>
                        </div>
                        <div class="col-auto mt-2 text-center">
                            <button class="btn btn-primary mat-small">
                                <i class="fas fa-excel"></i><span> Descargar Reporte</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>