
<div class="card mb-5 shadow">
    <div class="card-header py-3">
        Reporte de inventario
    </div>
    <div class="card-body p-4 small">
        <div class="col-sm-12 col-md-12 mt-2">
            <div class="row">
                

                <div class="col-sm-4 col-md-4 mt-2">
                    <h3>Tipo de reporte <span class="text-danger">(*)</span></h3>
                    <select class="form-select" formControlName="Datum">
                        <!-- <option [disabled]="true" *ngFor="let item of listaDatum" [value]="item.idDatum">{{ item.descripcion }}
                        </option> -->
                        <option>Seleccione...</option>
                        <option>Detalle de inventario</option>
                        <option>Detalle de ingresos</option>
                        <option>Detalle de salidas</option>
                    </select>
                </div>

                <div class="col-sm-4 col-md-4 mt-2">
                    <h3>Fecha Inicio <span class="text-danger">(*)</span></h3>
                    <input type="date" class="form-control" placeholder="" formControlName="Condicion">
                </div>

                <div class="col-sm-4 col-md-4 mt-2">
                    <h3>Fecha Fin <span class="text-danger">(*)</span></h3>
                    <input type="date" class="form-control" placeholder="" formControlName="Condicion">
                </div>
            </div>
        </div>

        <!-- <div class="mb-4">
            <div class="mb-3 align-items-center row gx-2">
                <div class="col-sm-auto">
                    <b>Tipo de reporte: </b>
                </div>

                <div class="col-sm-auto">
                    <input
                    class="form-control"
                    type="text"
                    style="text-transform: uppercase"
                    placeholder="Buscar"
                    (ngModelChange)="onChangeFilter($event)"
                  />
                </div>
            </div>
            <div class="mb-3 align-items-center row gx-2">
                <div class="col-sm-auto">
                    <b>Fecha Inicio: </b>
                </div>

                <div class="col-sm-auto">
                    <input
                    class="form-control"
                    type="text"
                    style="text-transform: uppercase"
                    placeholder="Buscar"
                    (ngModelChange)="onChangeFilter($event)"
                  />
                </div>
            </div>
            <div class="mb-3 align-items-center row gx-2">
                <div class="col-sm-auto">
                    <b>Fecha Fin: </b>
                </div>

                <div class="col-sm-auto">
                    <input
                    class="form-control"
                    type="text"
                    style="text-transform: uppercase"
                    placeholder="Buscar"
                    (ngModelChange)="onChangeFilter($event)"
                  />
                </div>
            </div>
        </div> -->
        <hr>
        <!-- <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-secondary text-white text-center">
                    <tr class="align-self-center">
                        <th class="align-middle text-center">Nro.</th>
                        <th class="align-middle">Fecha</th>
                        <th class="align-middle text-nowrap">Producto</th>
                        <th class="align-middle">Área solicitante</th>
                        <th class="align-middle">Persona Solicitante</th>
                        <th class="align-middle">Marca</th>
                        <th class="align-middle">Unidad de Medida</th>
                        <th class="align-middle">Cantidad</th>
                        <th class="align-middle">F. Vencimiento</th>
                        <th class="align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listadoBandeja  | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                        <td class="align-middle text-center text-bold">{{ item.registro }}</td>
                        <td class="align-middle text-center">{{ item.fecha | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td class="align-middle text-center">{{ item.nombre }}</td>
                        <td class="align-middle text-center">{{ item.areaSolicitante }}</td>
                        <td class="align-middle text-center">{{ item.personaSolicitante }}</td>
                        <td class="align-middle text-center">{{ item.marca }}</td>
                        <td class="align-middle text-center">{{ item.nombreUnidadMedida }}</td>
                        <td class="align-middle text-center">{{ item.cantidad }}</td>
                        <td class="align-middle text-center">{{ item.fechaVencimiento | date:'dd/MM/yyyy' }}</td>
                        <td class="align-middle text-center">
                            <button class="btn btn-sm btn-primary" (click)="onAddRegister(item)">
                                <i class="fas fa-edit"></i> 
                            </button> 
                            <button class="btn btn-sm btn-danger" (click)="onDelete(item)">
                                <i class="fas fa-trash-alt"></i> 
                            </button>
                    </tr>
                    <tr *ngIf="listadoBandeja.length === 0">
                        <td [attr.colspan]="14">
                          <center>Sin información registrada.</center>
                        </td>
                      </tr>
                </tbody>
            </table>
        </div> -->

        <div class="d-flex justify-content-between p-2">
        </div>

    </div>
</div>
