<div class="modal-header">
    <h2>{{title}}</h2>
    <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
    </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
    <div class="modal-body mat-typography">
        <div class="content-modal-flexible-none">
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>CLASIFICACIÓN <span ><a href="http://172.25.0.33:8091/PloneExtranet/DGAAM/EA/DGAAM/EA/Indice/Residuos/DSN057-2004-PCM.pdf" target="_blank" style="text-decoration: none; cursor: pointer;">(CATEGORIZADO DE ACUERDO CON EL DECRETO SUPREMO N° 057-2004-PCM)</a></span></h3>
                <select class="form-select" formControlName="Clasificacion"
                    (ngModelChange)="onClasificacionResiduoChange($event)">
                    <option value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaClasificacionResiduo" [value]="item.idClasificacionResiduo">{{
                        item.descripcion
                        }}
                    </option>
                </select>
                <!-- <mat-error *ngIf="clasificacionErrors" style="color: red;">{{ clasificacionErrors }}</mat-error> -->
                <div *ngIf="clasificacion.invalid && (clasificacion.dirty || clasificacion.touched)" style="color: red;font-size: 12px;">
                     <small *ngIf="clasificacion.errors?.invalidSelection">La clasificación es obligatorio.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>TIPO DE RESIDUOS</h3>
                <select class="form-select" formControlName="Tipo" (ngModelChange)="onTipoResiduoChange($event)">
                    <option value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaTipoResiduo" [value]="item.idTipoResiduo">{{ item.descripcion
                        }}
                    </option>
                </select>
                <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="tipo.errors?.invalidSelection">El tipo es obligatorio.</small>
               </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>RESIDUOS</h3>
                <select class="form-select" formControlName="Residuos">
                    <option value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaResiduo" [value]="item.idTipoResiduo">{{ item.descripcion
                        }}
                    </option>
                </select>
                <div *ngIf="residuos.invalid && (tipo.dirty || residuos.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="residuos.errors?.invalidSelection">Los residuos es obligatorio.</small>
               </div>
            </div>
            <div class="content-modal-flexible m-b-10px">
                <div class="col-sm-12 col-md-6 p-r-10">
                    <h3>VOLUMEN (m3/hab/día)</h3>
                    <input type="text" class="form-control" formControlName="VolumenPorDia" maxlength="9" (input)="soloDecimales($event, 'VolumenPorDia')">
            <!--      <mat-error *ngIf="volumenPorDiaErrors" style="color: red;">{{ volumenPorDiaErrors }}</mat-error>-->
                    <div *ngIf="volumenPorDia.invalid && (volumenPorDia.dirty || volumenPorDia.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="volumenPorDia.errors?.required">El volumen por día es obligatorio.</small>
                        <small *ngIf="volumenPorDia.errors?.pattern">El formato del volumen por día no es válido.</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 p-none">
                    <h3>VOLUMEN (m3)<span class="mat-tooltip-informacion" placement="bottom"
                    ngbTooltip="Debe llenarse cuando los trabajadores de la exploración minera generen este tipo de residuo sólido, en caso contrario poner cero (0)."><i class="fas fa-question-circle" style="color: black;"></i></span></h3>
                
                    <input type="text" class="form-control" formControlName="Volumen" maxlength="9" (input)="soloDecimales($event, 'Volumen')">
                    <!-- <mat-error *ngIf="volumenErrors" style="color: red;">{{ volumenErrors }}</mat-error> -->
                    <div *ngIf="volumen.invalid && (volumen.dirty || volumen.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="volumen.errors?.required">El volumen es obligatorio.</small>
                        <small *ngIf="volumen.errors?.pattern">El formato del volumen no es válido.</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>UNIDADES DE PESO</h3>
                <select class="form-select" formControlName="UnidadesPeso">
                    <option value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaUnidadPeso" [value]="item.idUnidadMedida">{{ item.descripcion
                        }}
                    </option>
                </select>
                <div *ngIf="unidadesPeso.invalid && (unidadesPeso.dirty || unidadesPeso.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="unidadesPeso.errors?.invalidSelection">Los residuos es obligatorio.</small>
               </div>
                <!-- <mat-error *ngIf="unidadesPesoErrors" style="color: red;">{{ unidadesPesoErrors }}</mat-error> -->
            </div>

            <div class="content-modal-flexible m-b-10px">
                <div class="col-sm-12 col-md-6 p-r-10">
                    <h3>PESO PER CÁPITA<span class="mat-tooltip-informacion" placement="bottom"
                    ngbTooltip="Debe llenarse cuando los trabajadores de la exploración minera generen este tipo de residuo sólido, en caso contrario poner cero (0)."><i class="fas fa-question-circle" style="color: black;"></i></span></h3>
                
                    <input type="text" class="form-control" formControlName="PesoPerCapita" maxlength="9" (input)="soloDecimales($event, 'PesoPerCapita')">
                    <!-- <mat-error *ngIf="pesoPerCapitaErrors" style="color: red;">{{ pesoPerCapitaErrors }}</mat-error> -->
                    <div *ngIf="pesoPerCapita.invalid && (pesoPerCapita.dirty || pesoPerCapita.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="pesoPerCapita.errors?.required">El peso per capita es obligatorio.</small>
                        <small *ngIf="pesoPerCapita.errors?.pattern">El formato del peso per capita no es válido.</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 p-none">
                    <h3>PESO</h3>
                    <input type="text" class="form-control" formControlName="Peso" maxlength="9" (input)="soloDecimales($event, 'Peso')">
                    <!-- <mat-error *ngIf="pesoErrors" style="color: red;">{{ pesoErrors }}</mat-error> -->
                    <div *ngIf="peso.invalid && (peso.dirty || peso.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="peso.errors?.required">El peso es obligatorio.</small>
                        <small *ngIf="peso.errors?.pattern">El formato del peso no es válido.</small>
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-r-10 m-b-10px">
                <h3>FRECUENCIA</h3>
                <select class="form-select" formControlName="Frecuencia">
                    <option value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaFrecuenciaPeso" [value]="item.idFrecuenciaResiduo">{{
                        item.descripcion
                        }}
                    </option>
                </select>
                <div *ngIf="frecuencia.invalid && (frecuencia.dirty || frecuencia.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="frecuencia.errors?.invalidSelection">Los residuos es obligatorio.</small>
               </div>
                <!-- <mat-error *ngIf="frecuenciaErrors" style="color: red;">{{ frecuenciaErrors }}</mat-error> -->
            </div>
            <div class="content-modal-flexible ">
                <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                    <h3>TOTAL DEL PROYECTO (VOLUMEN)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="VolumenTotal"  maxlength="9" (input)="soloDecimales($event, 'VolumenTotal')">
                    <!-- <mat-error *ngIf="volumenTotalErrors" style="color: red;">{{ volumenTotalErrors }}</mat-error> -->
                    <div *ngIf="volumenTotal.invalid && (volumenTotal.dirty || volumenTotal.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="volumenTotal.errors?.required">El volumen total es obligatorio.</small>
                        <small *ngIf="volumenTotal.errors?.pattern">El formato del volumen total no es válido.</small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 p-none m-b-10px">
                <h3>TOTAL DEL PROYECTO (PESO)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="PesoTotal"  maxlength="9" (input)="soloDecimales($event, 'PesoTotal')">
                <!-- <mat-error *ngIf="pesoTotalErrors" style="color: red;">{{ pesoTotalErrors }}</mat-error> -->
                <div *ngIf="pesoTotal.invalid && (pesoTotal.dirty || pesoTotal.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="pesoTotal.errors?.required">El peso total es obligatorio.</small>
                    <small *ngIf="pesoTotal.errors?.pattern">El formato del peso total no es válido.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>MANEJO DE RR.SS. PELIGROSOS</h3>
            </div>
            <div class="content-modal-flexible">
                <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                    <h3>ALMACENAJE TEMPORAL (TM/MES)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="AlmacenajeTemporal" (input)="soloDecimales($event, 'AlmacenajeTemporal')" maxlength="9">
                </div>
                <div class="col-sm-12 col-md-6 p-none m-b-10px">
                    <h3>COMERCIALIZACIÓN (TM/MES)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="Comercializacion" (input)="soloDecimales($event, 'Comercializacion')" maxlength="9">
                </div>

                <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                    <h3>REAPROVECHAMIENTO (TM/MES)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="Reaprovechamiento" (input)="soloDecimales($event, 'Reaprovechamiento')" maxlength="9">
                </div>
                <div class="col-sm-12 col-md-6 p-none m-b-10px">
                    <h3>MINIMIZACIÓN (TM/MES)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="Minimizacion" (input)="soloDecimales($event, 'Minimizacion')" maxlength="9">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>CANTIDAD TOTAL (TM/MES)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="CantidadTotal" readonly>
            </div>

            <div class="row align-items-center g-3 col-sm-12">
                <div class="col-3">
                    <label class="form-label m-0">Marcar según sea el caso</label>
                </div>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="unidadMinera" id="existente"
                            formControlName="ECRRSS">
                        <label class="form-check-label" for="existente">EC-RR.SS.</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="unidadMinera" id="nueva" 
                            formControlName="EPSRRSS">
                        <label class="form-check-label" for="nueva">EPS-RR.SS.</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 m-b-10px">
                <h3>TRATAMIENTO DE RESIDUOS PELIGROSOS</h3>
            </div>
            <div class="content-modal-flexible">
                <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                    <h3>CANTIDAD (TM/MES)</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="Cantidad" (input)="soloDecimales($event, 'Cantidad')" maxlength="9">
                </div>
                <div class="col-sm-12 col-md-6 p-none m-b-10px">
                    <h3>TIPO DE TRATAMIENTO</h3>
                    <input type="text" class="form-control" placeholder="" formControlName="TipoTratamiento">
                 </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <h3>OBSERVACIONES</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Observaciones">
            </div>
            </div>

            <div class="row align-items-center g-3">
                <div class="col-3">
                    <label class="form-label m-0">Marcar según sea el caso</label>
                </div>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="unidadMinera" id="nueva"
                            formControlName="TratamientoEPSRRSS">
                        <label class="form-check-label" for="nueva">EPS-RR.SS.</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
            Cancel</button>
        <button *ngIf="viewControl" type="submit" class="mat-small" ><i class="material-icons">save</i> Grabar</button>
    </div>
</form>
