<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoTupa}} {{ this.descripcionTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">

    <form novalidate [formGroup]="formulario">
        <div class="center">
            <h6><i class="far fa-list-alt"></i> FORMULARIO 002-28 SERVICIOS DE RADIODIFUSIÓN</h6>
        </div>
        <div ngbAccordion #acc="ngbAccordion">
            <div ngbAccordionItem="formulario002-28-seccion-1">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DATOS DEL SOLICITANTE</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="row justify-content-center align-items-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="tipoPersona" value="1" disabled>
                            <label class="form-check-label" for="inlineRadio1">PERSONA NATURAL</label>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="tipoPersona" value="2" disabled>
                            <label class="form-check-label" for="inlineRadio2">PERSONA JURIDICA</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <div class="row mb-2 align-items-center">
                                <label for="docIdentidad" class="col-sm-4 col-form-label campo-obligatorio">Tipo de documento</label>
                                <div class="col-sm-3 mb-2">
                                    <input type="text" class="form-control form-control-sm" [value]="tipoDocumento" disabled/>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="s1_nroDocumento" formControlName="s1_nroDocumento" [ngClass]="{'is-invalid': form.s1_nroDocumento.errors}" disabled>
                                    <div class="invalid-feedback" *ngIf="formulario.get('s1_nroDocumento').errors && formulario.get('s1_nroDocumento').dirty">
                                        <span *ngIf="formulario.get('s1_nroDocumento').hasError('required')">El campo Nro Documento es requerido</span>
                                        <span *ngIf="formulario.get('s1_nroDocumento').hasError('minlength')">Nro Documento: Min {{ formulario.get("s1_nroDocumento").errors?.minlength?.requiredLength}} Caracteres </span>
                                        <span *ngIf="formulario.get('s1_nroDocumento').hasError('maxlength')">Nro Documento: Max {{ formulario.get("s1_nroDocumento").errors?.maxlength?.requiredLength}} Caracteres </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="row mb-2 align-items-center">
                                <label for="nombres" class="col-sm-3 col-form-label" *ngIf="tipoPersona === 1 || tipoPersona === 3">Nombres y Apellidos</label>
                                <label for="nombres" class="col-sm-3 col-form-label" *ngIf="tipoPersona === 2">Razón Social</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" formControlName="s1_razonSocial" [class.control-invalid]="formInvalid('s1_razonSocial')" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div class="row mb-2">
                                <label class="col-sm-5 col-form-label">Teléfono / Fax:</label>
                                <div class="col-sm-7">
                                    <input type="text " class="form-control form-control-sm" formControlName="s1_telefono" [class.control-invalid]="formInvalid('s1_telefono')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row mb-2">
                                <label class="col-sm-5 col-form-label campo-obligatorio">Celular:</label>
                                <div class="col-sm-7 ">
                                    <input type="text" class="form-control form-control-sm" formControlName="s1_celular" [class.control-invalid]="formInvalid('s1_celular')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row mb-2 align-items-center">
                                <label class="col-sm-5 col-form-label campo-obligatorio">Correo Electrónico (E-mail):</label>
                                <div class="col-sm-7">
                                    <input type="text " class="form-control form-control-sm" formControlName="s1_correo" [class.control-invalid]="formInvalid('s1_correo')" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <label class="col-form-label campo-obligatorio">Domicilio Legal (Avenida / Calle / Jirón / Pasaje / N° / Departamento / Manzana / Lote / Urbanización):</label>
                            <input type="text " class="form-control form-control-sm" formControlName="s1_domicilioLegal" [class.control-invalid]="formInvalid('s1_domicilioLegal')" />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div class="row mb-2 align-items-center">
                                <label class="col-sm-5 col-form-label campo-obligatorio ">Departamento:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" formControlName="s1_departamento" [class.control-invalid]="formInvalid('s1_departamento')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mb-2 align-items-center">
                                <label class="col-sm-5 col-form-label campo-obligatorio">Provincia:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" formControlName="s1_provincia" [class.control-invalid]="formInvalid('s1_provincia')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row mb-2 align-items-center">
                                <label class="col-sm-5 col-form-label campo-obligatorio">Distrito:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" formControlName="s1_distrito" [class.control-invalid]="formInvalid('s1_distrito')" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset class="fieldset pr-0" *ngIf="(tipoPersona === 1 || tipoPersona === 3)">
                        <legend class="legend mb-0">En caso que el solicitante sea persona natural y tenga alguna discapacidad, completar lo que corresponda:</legend>
                        <div class="row mb-2 pe-3">
                            <div class="col-sm-5 mb-2">
                                <select class="form-select">
                                    <option value=''>Seleccione</option>
                                    <option *ngFor="let item of listaTipoDocumentoConadis;" [value]="item.id" [selected]="item.id === '1'">{{ item.documento }}</option>
                                </select>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" name="nroResolucionConadis" formControlName="s1_nroResolucionConadis" class="form-control">
                            </div>
                        </div>
                        <div class="row ps-4">
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkVisual" formControlName="s1_disVisual">
                                <label class="form-check-label" for="chkVisual">Visual</label>
                            </div>
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkAuditiva" formControlName="s1_disAuditiva">
                                <label class="form-check-label" for="chkAuditiva">Auditiva</label>
                            </div>
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkMental" formControlName="s1_disMental">
                                <label class="form-check-label" for="chkMental">Mental</label>
                            </div>
                        </div>
                        <div class="row ps-4">
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkFisica" formControlName="s1_disFisica">
                                <label class="form-check-label" for="chkFisica">Física</label>
                            </div>
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkDelLenguaje" formControlName="s1_disDelLenguaje">
                                <label class="form-check-label" for="chkDelLenguaje">Del Lenguaje</label>
                            </div>
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkIntelectual" formControlName="s1_disIntelectual">
                                <label class="form-check-label" for="chkIntelectual">Intelectual</label>
                            </div>
                            <div class="col-sm-3  form-check">
                                <input type="checkbox" class="form-check-input checkbox-xl" id="chkDiscapacidadesMultiples" formControlName="s1_disMultiples">
                                <label class="form-check-label" for="chkDiscapacidadesMultiples">Discapacidades múltiples</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="mt-2 mb-2">
                        <div class="alert alert-custom">
                            <div class="row gx-2">
                                <div class="col-md-10">
                                    <div>
                                        Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario. (ArtÍculo 20° numeral 20.4 del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento
                                        Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                        <ui-switch (change)="onChangeNotificacion($event)" formControlName="s1_notificacion" [disabled]="true">
                                            
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="tipoPersona === 2">
                        <div class="mt-4"><strong>DATOS DEL REPRESENTANTE LEGAL</strong></div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3 d-flex">
                                <div class="d-flex flex-2 flex-column justify-content-between p-2">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-2">Tipo de Documento</div>
                                        <div class="flex-2">
                                            <select class="form-select" (change)="changeTipoDocumentoRP()" formControlName="s1_tipoDocumentoRepresentante">
                                                    <option value=''>Seleccione</option>
                                                    <option *ngFor="let item of listaTiposDocumentos;" [value]="item.id">{{ item.documento }}</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 d-flex align-items-center">
                                <div class="d-flex flex-2 flex-column justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-2">
                                            <div class="input-group">
                                                <input type="text" class="form-control text-uppercase" (input)="inputNumeroDocumentoRP($event)" [readonly]="this.formulario.controls['s1_tipoDocumentoRepresentante'].value === ''" [maxlength]="getMaxLengthNumeroDocumento('s1_tipoDocumentoRepresentante')"
                                                    formControlName="s1_numeroDocumentoRepresentante" />
                                                    <button class="btn btn-outline-secondary" type="button" (click)="buscarNumeroDocumento()">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 align-items-center flex-wrap ">
                                <div class="me-2 ">Representante Legal (Nombres y Apellidos)</div>
                                <div class="flex-1 ">
                                    <input type="text " class="form-control form-control-sm" formControlName="s1_representanteLegal" />
                                </div>
                            </div>
                        </div>
                        <hr class="w-100">
                        <div class="row align-items-end">
                            <div class="col-sm-3">
                                <label class="col-form-label">Oficina Registral</label>
                                <input type="text " class="form-control form-control-sm" formControlName="s1_oficinaRegistral" [class.control-invalid]="formInvalid('s1_oficinaRegistral')" />
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Partida N°</label>
                                <input type="text " class="form-control form-control-sm" formControlName="s1_nroPartida" [class.control-invalid]="formInvalid('s1_nroPartida')" />
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Objeto Social Inscrito Asiento N°</label>
                                <input type="text " class="form-control form-control-sm" formControlName="s1_objSocialAsientoNumero" [class.control-invalid]="formInvalid('s1_objSocialAsientoNumero')" />
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label">Poder Inscrito en el Asiento N°</label>
                                <input type="text " class="form-control form-control-sm" formControlName="s1_poderAsientoNumero" [class.control-invalid]="formInvalid('s1_poderAsientoNumero')" />
                            </div>
                        </div>

                    </div>
                </ng-template>
</div>
</div>
            </div>
            <!-- <div ngbAccordionItem="formulario002-28-seccion-2">tupa-codigo</div> -->
            <div ngbAccordionItem="formulario002-28-seccion-3">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. MODALIDAD (Marcar lo solicitado)</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">
                        <div class="col-sm-12"> Indique la modalidad del servicio de radiodifusión a prestar. </div>
                    </div>
                    <div class="row mt-3 ps-4">
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkFrecuenciaModulada" formControlName="s3_modalidad" value="frecuenciaModulada">
                            <label class="form-check-label" for="chkFrecuenciaModulada">Frecuencia Modulada (FM)</label>
                        </div>
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkOndaCortaTropical" formControlName="s3_modalidad" value="ondaCortaTropical">
                            <label class="form-check-label" for="chkOndaCortaTropical">Onda Corta Tropical (OCT)</label>
                        </div>
                        <div class="col-sm-3  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkTelevisionVHF" formControlName="s3_modalidad" value="televisionVHF">
                            <label class="form-check-label" for="chkTelevisionVHF">Televisión en VHF</label>
                        </div>
                    </div>
                    <div class="row mt-3 ps-4">
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkOndaMedia" formControlName="s3_modalidad" value="ondaMedia">
                            <label class="form-check-label" for="chkOndaMedia">Onda Media (OM)</label>
                        </div>
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkOndaCortaInternacional" formControlName="s3_modalidad" value="ondaCortaInternacional">
                            <label class="form-check-label" for="chkOndaCortaInternacional">Onda Corta Internacional (OCI)</label>
                        </div>
                        <div class="col-sm-3  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkTelevisionUHF" formControlName="s3_modalidad" value="televisionUHF">
                            <label class="form-check-label" for="chkTelevisionUHF">Televisión en UHF</label>
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

            <div ngbAccordionItem="formulario002-28-seccion-4">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>III. LOCALIDAD</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">
                        <div class="col-sm-12"> Se debe indicar el nombre de la localidad en la cual se solicita la autorización. El nombre debe ser conforme se indica en el Plan de Canalización y Asignación de Frecuencias correspondiente. </div>
                    </div>
                    <div class="row text-justify mt-2">
                        <div class="col-sm-12">
                            <input type="text " class="form-control form-control-sm" formControlName="s4_localidad" [class.control-invalid]="formInvalid('s4_localidad')" />
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

            <div ngbAccordionItem="formulario002-28-seccion-5">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>IV. FINALIDAD (Marcar lo solicitado)</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">
                        <div class="col-sm-12"> La finalidad del servicio de radiodifusión define el contenido de la programación de la estación. Según su finalidad los servicios de radiodifusión se clasifican en: </div>
                    </div>
                    <div class="row mt-2 ps-4">
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkComercial" formControlName="s5_finalidad" value="comercial">
                            <label class="form-check-label" for="chkComercial">Comercial</label>
                        </div>
                        <div class="col-sm-4  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkEducativa" formControlName="s5_finalidad" value="educativa">
                            <label class="form-check-label" for="chkEducativa">Educativa</label>
                        </div>
                        <div class="col-sm-3  form-check">
                            <input type="radio" class="form-check-input radio-xl" id="chkComunitaria" formControlName="s5_finalidad" value="comunitaria">
                            <label class="form-check-label" for="chkComunitaria">Comunitaria</label>
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

            <div ngbAccordionItem="formulario002-28-seccion-6">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>V. HABILITACIÓN PROFESIONAL DE INGENIERO ELECTRÓNICO O TELECOMUNICACIONES</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">
                        <div class="col-sm-12"> La habilitación debe estar vigente a la fecha de presentación de su solicitud. </div>
                    </div>
                    <div class="row mb-2 align-items-center">
                        <label class="col-sm-3 col-form-label">Número de Colegiatura</label>
                        <div class="col-sm-4">
                            <input type="text " class="form-control form-control-sm" formControlName="s6_nroColegiatura" [class.control-invalid]="formInvalid('s6_nroColegiatura')" />
                        </div>
                    </div>
                    <div class="row mb-2 align-items-center">
                        <label class="col-sm-3 col-form-label">Colegio Profesional</label>
                        <div class="col-sm-8">
                            <input type="text " class="form-control form-control-sm" formControlName="s6_colegioProfesional" [class.control-invalid]="formInvalid('s6_colegioProfesional')" />
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

            <div ngbAccordionItem="formulario002-28-seccion-7">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>VI. DECLARACIÓN JURADA</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="container">
                        <div class="alert alert-danger">
                            <span style="text-align: justify; display: block;">
                                Al acceder al sistema TUPA Digital MTC y registrarme como usuario: (i) reconozco que entiendo y acepto los términos y condiciones de éste, (ii) acepto como auténtico y válido cualquier medio de prueba o proceso tecnológico que utilice el MTC para comprobar mi acceso y salida del sistema; y, (iii) me hago responsable por los efectos legales en la gestión del procedimiento administrativo o servicio exclusivo.
                            </span><br>
                            <span style="text-align: center; display: block;">
                                <b>DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD.</b>
                            </span>
                        </div>

                        <div class="alert alert-danger">
                            <span style="text-align: justify; display: block;">
                                NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del mismo a través de la firma electrónica utilizada atraves del usuario y clave de ingreso al Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones , la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales.
                            </span>
                        </div>
                    </div>
                </ng-template>
</div>
</div>

            </div>

        </div>
    </form>

</div>

<div class="modal-footer anexo">

    <div class="row mt-3 ">
        <div class="col-sm-12 d-flex ">
            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idFormularioMovimiento === 0" (click)="descargarPdf()">
                        <i class="far fa-eye"></i>
                        Visualizar
                    </button>
                </div>
            </div>
            <div class="flex-1 text-end ">
                <button class="btn btn-success ms-2 w-25 btn-sm" (click)="guardarFormulario()">
                  <i class="far fa-save"></i>
                  {{
                      (idFormularioMovimiento === 0 ? 'Grabar' : 'Modificar')
                  }}
              </button>
            </div>
        </div>
    </div>

</div>