<div class="modal-header anexo bg-danger text-white">
   <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
   <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">

   </button>
</div>
<div class="modal-body anexo">
   <div class="container mt-2 mb-3">
      <form [formGroup]='anexoFG'>
         <div class="center">
            <h6>{{txtTitulo}}</h6>
         </div>
         <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1">
            <div ngbAccordionItem="seccion-1" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>I.
                     Relación de equipamiento requerido
                  </button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="col-lg-12 p-2">
                           <div class="row gx-2">
                           De conformidad con lo señalado en el numeral 5.2.7 de la Directiva Nº 003-2007-MTC/15
                                 “Régimen de Autorización y Funcionamiento de las Entidades Verificadoras”, aprobada con
                                 Resolución Directoral Nº 12489-2007-MTC/15 y elevada al rango de Decreto Supremo mediante
                                 Artículo 3 del Decreto Supremo Nº 022-2009-MTC, la solicitante para ser designada como
                                 Entidad Verificadora, deberá adjuntar la Relación del equipamiento requerido por el numeral
                                 5.1.4 de la presente Directiva, acompañada de los documentos que sustenten la propiedad y/o
                                 condición de arrendatario financiero sobre los mismos, según el siguiente detalle: 
                           </div>
                        </div>

                        <div class="col-lg-12 p-2" formGroupName="a_Seccion1">

                           <div class="col-sm-12">
                              <div class="table-responsive">

                                 <table class="table table-bordered">
                                    <thead class="bg-secondary text-white text-center">
                                       <tr>
                                          <th>N°</th>
                                          <th>Desccripción</th>
                                          <th>Seleccionar</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr class="text-center">
                                          <td>a)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) Regloscopio con Luxómetro. El equipo debe permitir el ajuste de
                                                la altura y corrección de profundidad de la luz, así como el
                                                desplazamiento transversal de un faro a otro.<sup>(1)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_1">

                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>b)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) medidor de alineación de ruedas al paso, para la verificación de
                                                convergencia o divergencia de cada una de las ruedas.<sup>(1)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_2">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>c)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) frenómetro de rodillos para medir la eficiencia de frenado de
                                                las ruedas en conjunto o en forma individual. <sup>(1)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_3">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>d)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) detector de holguras. El equipo debe permitir detectar el
                                                desgaste de terminales, rótulas y elementos articulados del vehículo y
                                                debe operar en ambas ruedas de un mismo eje. <sup>(1)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_4">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>e)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) banco de pruebas de suspensión, para la verificación de la
                                                eficiencia de la suspensión delantera y posterior en porcentaje y la
                                                amplitud máxima de oscilación en resonancia de cada una de las ruedas en
                                                milímetros.<sup>(1)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_5">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>f)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) analizador de gases homologado en el país de acuerdo a la
                                                reglamentación vigente.<sup>(1)</sup>&nbsp;<sup>(2)</sup> 
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_6">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>g)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) Opacímetro homologado en el país de acuerdo a la reglamentación
                                                vigente.<sup>(1)</sup>&nbsp;<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_7">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>h)</td>
                                          <td class="text-start">
                                             <div>
                                                Una (01) torre de inflado de llantas.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_8">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>i)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) scanner de uso automotriz que tenga incorporado las funciones de
                                                multímetro y osciloscopio para la verificación del sistema eléctrico y
                                                electrónico del vehículo, así como para la detección de posibles
                                                alteraciones del registrador del kilometraje recorrido.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_9">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>j)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) plato giratorio mecánico o electrónico.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_10">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>k)</td>
                                          <td class="text-start">
                                             <div>
                                                Como mínimo un (01) detector de profundidad de las ranuras de los
                                                neumáticos. <sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_11">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>l)</td>
                                          <td class="text-start">
                                             <div>
                                                Fosa o zanja de al menos 1.6 m de profundidad para la inspección visual
                                                del vehículo desde la parte inferior del mismo o elevador hidráulico. <sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_12">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>m)</td>
                                          <td class="text-start">
                                             <div>
                                                Como mínimo una (01) cámara fotográfica digital con fechador
                                                incorporado. <sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_13">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>n)</td>
                                          <td class="text-start">
                                             <div>
                                                Extintores tipo ABC de acuerdo a la Norma Técnica NFPA 10, a razón de 50
                                                g. por m2 de área de terreno, o su equivalente en extintores de
                                                tecnología diferente.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_14">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>o)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) equipo para realizar mediciones de calibración y medidas
                                                generales de los vehículos.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_15">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>p)</td>
                                          <td class="text-start">
                                             <div>
                                                Un (01) sistema de extracción de aire viciado en la zona de análisis de
                                                gases para el caso que la línea de inspección este instalado en un
                                                ambiente cerrado.
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_16">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>

                                       <tr class="text-center">
                                          <td>q)</td>
                                          <td class="text-start">
                                             <div>
                                                Sistema informático y de comunicaciones con conexión permanente a
                                                Internet para facilitar la transmisión electrónica de información a la
                                                DGTT y demás organismos que este designe de ser el caso. Para tal
                                                efecto, se deberá acreditar la posición legítima del software y hardware
                                                exigido en el numeral 5.1.3.<sup>(2)</sup>
                                             </div>
                                          </td>
                                          <td>
                                             <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s1_declaracion_17">
                                                </ui-switch>
                                                <label class="col-form-label ms-2"> NO/SI </label>
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>

                                 </table>
                              </div>
                           </div>

                           <div class="row mt-1">
                              <div class="col-lg-8">
                                 <div>
                                    (1) El equipamiento referido en los literales a), b), c) d), e), f) y g) debe
                                    cumplir con las especificaciones descritas para líneas de revisión técnica tipo
                                    liviano establecidas en la Tabla de Infraestructura y Equipamiento Mínimos Para
                                    Plantas de Revisiones Técnicas Vehiculares aprobada por Resolución Directoral Nº
                                    3422-2004-MTC/15.
                                 </div>
                                 <div>
                                    (2) Para las Zonas de Inspección Vehicular-ZIV's que acrediten las Entidades
                                    Verificadoras en los CETICOS y/o ZOFRATACNA que en el último año hayan registrado un
                                    número de vehículos usados nacionalizados menor o igual a las 250 unidades,
                                    únicamente serán exigibles el equipamiento descrito en los literales a), f), g), h),
                                    i), j), k), i), j), k), l), m), n) y q).
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="d-flex mt-2">
                                    <div class="flex-1 text-left">
                                       <button class="btn btn-danger btn-sm align-self-center mb-3"
                                          *ngIf="visibleButtonDocumentos || this.pathPdfDocumentosSeleccionado !== null"
                                          (click)="inputFileDocumentos.click($event)">
                                          <i class="fas fa-upload"></i>
                                          Adjuntar documentos sustentatorios
                                       </button>
                                       <input type="file" class="d-none" #inputFileDocumentos accept="application/pdf"
                                          (change)="onChangeInputDocumentos($event)" />
                                       <i class="far fa-file-pdf text-danger fa-2x ms-2 mt-2" title="Vista previa"
                                          *ngIf="filePdfDocumentosSeleccionado !== null || this.pathPdfDocumentosSeleccionado !==null "
                                          (click)="vistaPreviaDocumentos()"></i>
                                    </div>
                                 </div>
                              </div>
                           </div>


                           <div class="col-sm-12 mt-2 justify-content-center">
                              <div class="alert alert-warning" role="alert">
                                 En honor a la verdad y al amparo del principio de presunción de veracidad estipulada en
                                 el Art. IV inc. 1) numeral 1.7) de la Ley N° 27444 del Procedimiento Administrativo
                                 General, declaro Bajo Responsabilidad, que los datos consignados en este anexo son
                                 ciertos y que conozco las sanciones a los que seré sometido (a) en caso de haber
                                 anotado/adjuntado información falsa.
                              </div>
                           </div>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<div class="modal-footer anexo">
   <div class="row">
      <div class="col-lg-12 d-flex">
         <div class="flex-1">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
               </button>
            </div>
         </div>
         <div class="flex-1 text-end">
            <button class="btn btn-success" (click)="guardarAnexo()"><!-- [disabled]="anexoFG.invalid"-->
               <i class="far fa-save"></i>
               {{
               (idAnexo === 0 ? 'Grabar' : 'Modificar')
               }}
            </button>
         </div>
      </div>
   </div>
</div>