<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>
            <h3>N° Expediente <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="hidden" formControlName="Id">
                <input type="text" class="form-control" placeholder="" formControlName="NroExpediente">
                <mat-error *ngIf="nroExpedienteErrors" style="color: red;">{{ nroExpedienteErrors }}</mat-error>
            </div>
            <br>

            <h3>Tipo de Estudio <span class="text-danger">(*)</span></h3>
            <div class="col-md-12">
                <select class="form-select" formControlName="TipoEstudio">
                    <option selected value="" [disabled]="true">--SELECCIONE--</option>
                    <option *ngFor="let item of listaTipoEstudio" [value]="item.codigo">{{ item.descripcion }}
                    </option>
                </select>
                <mat-error *ngIf="tipoEstudioErrors" style="color: red;">{{ tipoEstudioErrors }}</mat-error>
            </div>
            <br>

            <h3>Proyecto <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="Proyecto">
                <mat-error *ngIf="proyectoErrors" style="color: red;">{{ proyectoErrors }}</mat-error>
            </div>
            <br>

            <h3>Estado <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="Estado">
                <mat-error *ngIf="estadoErrors" style="color: red;">{{ estadoErrors }}</mat-error>
            </div>
            <br>

            <h3>Fecha de envío <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <div class="input-group ">
                    <input type="date" class="form-control text-uppercase" formControlName="FechaEnvio">                    
                </div>
                <mat-error *ngIf="fechaEnvioErrors" style="color: red;">{{ fechaEnvioErrors }}</mat-error>
            </div>
            <br>

            <h3>Autoridad Competente <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="AutoridadCompetente">
                <mat-error *ngIf="autoridadCompetenteErrors" style="color: red;">{{ autoridadCompetenteErrors }}</mat-error>
            </div>
            <br>

        </div>
        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
            <button class="mat-small" *ngIf="viewControl"><i class="material-icons">save</i> Grabar</button>
        </div>
    </form>
</div>