<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{codigoProcedimientoTupa}}  {{descProcedimientoTupa}} </h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>

<div class="modal-body" >
    <div>
        <form [formGroup]='formulario' >
            <div class="row gx-2">
                <div class="col-lg-7">
                    <h5>{{tituloFormulario}}</h5>
                </div>
                <div class="col-lg-1" *ngIf="this.activarIndicativo">
                    Nro. Indicativo
                </div>
                <div class="col-lg-4" *ngIf="this.activarIndicativo">
                    <app-basic-input [parentForm]="formulario"
                        inputFormControlName="frmIndicativo"
                        [maxLength]="10"
                        placeHolder="Ejm. OCR-4N" [onlyNumbers]="false"
                         [btnAppend]="true" iconBtnAppend="fa-search"
                        [disabledAppend]="f_NroIndicativo.value.trim() == ''" 
                        (clickAppend)="buscarNumeroIndicativo($event)" >
                    </app-basic-input>
                </div>
            </div>
            <div class="row gx-2">
                <div class="col-lg-12 text-end" *ngIf="this.activarIndicativo">
                    Ubique su número de indicativo aquí <a href="https://rnf.mtc.gob.pe/Radiodifusion" target="_blank"> https://rnf.mtc.gob.pe/Radiodifusion</a>
                </div>
            </div>
        
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-2, seccion-3, seccion-4, seccion-5, seccion-7">
                
                <div ngbAccordionItem="seccion-2"  [collapsed]="false">
            
                    <h2 ngbAccordionHeader  >
                        
                            <button ngbAccordionButton>II. MODALIDAD DE SERVICIO DE RADIODIFUSION (Marcar lo solicitado)</button>
                        </h2>
            
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="fm" value="fm" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="fm">Frecuencia modulada (FM)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Default inline 2-->
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="oct" value="oct" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="oct">Onda Corta Tropical</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Default inline 3-->
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="uhf" value="vhf" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="uhf">Televisión en VHF</label>
                                </div>
                            </div>
                        </div>

                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                            <!-- Default inline 1-->
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="om" value="om" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="om">Onda Media (OM)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            <!-- Default inline 2-->
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="oci" value="oci" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="oci">Onda Corta Internacional (OCI)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            <!-- Default inline 3-->
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="vhf" value="uhf" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="vhf">Televisión en UHF</label>
                                </div>
                            </div>
                        </div>
                        
                    </ng-template>
</div>
</div>
                </div>
                
                <div ngbAccordionItem="seccion-3"  [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>III. LOCALIDAD</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="col-lg-12">
                            <app-basic-input [parentForm]="formulario"
                                inputFormControlName="localidad" label="Ingresar la localidad"
                                placeHolder="Ingresar el nombre de la localidad" 
                                [maxLength]="150">
                            </app-basic-input>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-4"  [collapsed]="false">
            
                    <h2 ngbAccordionHeader  >
                        
                            <button ngbAccordionButton>IV. FINALIDAD (Marcar lo solicitado)</button>
                        </h2>
            
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                                <label class="container_rb">Comercial
                                    <input type="radio" value="comercial" formControlName="finalidad" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-4" >
                                <label class="container_rb">Educativa
                                    <input type="radio" value="educativa"  formControlName="finalidad" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-4" >
                                <label class="container_rb">Comunitaria
                                    <input type="radio" value="comunitaria"  formControlName="finalidad" />
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-5" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>V. MODALIDAD DE NOTIFICACION</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="mt-2 mb-4">
                            <div class="alert alert-custom">
                                <div class="row gx-2">
                                    <div class="col-md-10">
                                        <div style="padding-top: 13px;">
                                            Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="d-flex flex-row p-2 ms-4">
                                            <ui-switch (change)="onChangeDeclaracionJurada($event)" formControlName="notificacion">
                                                
                                            </ui-switch>
                                            <label class="col-form-label" style="padding-left: 5px;"> NO/SI </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-6" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>VI. DATOS SOLICITANTE</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" formGroupName="Seccion6">
                            <div class="col-lg-12" *ngIf="f_s6_PersonaNatural.enabled" formGroupName="PersonaNatural" >
                                <!--<div class="mt-4"><strong>PERSONA NATURAL</strong></div>
                                <br>-->
                                
                                <div class="row gx-2">
                                    <div [ngClass]="{'col-lg-3': this.tipoSolicitante === 'PN', 'col-lg-2' : this.tipoSolicitante === 'PNR'}">
                                        <app-basic-input [parentForm]="formulario" 
                                            inputFormControlName="tipoDocumentoSolicitante" label="Tipo Doc."
                                            placeHolder="Ingrese el tipo de documento" [readonly]="true"
                                            [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div [ngClass]="{'col-lg-3': this.tipoSolicitante === 'PN', 'col-lg-2' : this.tipoSolicitante === 'PNR'}">
                                        <app-basic-input [parentForm]="formulario" 
                                            inputFormControlName="nroDocumentoSolicitante" label="Nro. Documento"
                                            placeHolder="Ingrese el número de documento" [readonly]="true"
                                            [maxLength]="9">
                                        </app-basic-input>
                                    </div>
                                    <div [ngClass]="{'col-lg-4': this.tipoSolicitante === 'PN', 'col-lg-3' : this.tipoSolicitante === 'PNR'}" *ngIf="this.tipoSolicitante === 'PNR'">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_ruc" label="N° de RUC"
                                            placeHolder="Ingrese el número de RUC" 
                                            [maxLength]="11">
                                        </app-basic-input>
                                    </div>
                                    <div [ngClass]="{'col-lg-6': this.tipoSolicitante === 'PN', 'col-lg-5' : this.tipoSolicitante === 'PNR'}">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_nombres" label="Apellidos y Nombres"
                                            placeHolder="Ingrese los apellidos y nombres" [maxLength]="50"
                                            [readonly]="true">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="mb-3 col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_telefono" label="Teléfono Fijo"
                                            placeHolder="Ingrese el número de teléfono" [onlyNumbers]="true"
                                            [maxLength]="9">
                                        </app-basic-input>
                                    </div>
                                    <div class="mb-3 col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_celular" label="Celular"
                                            placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                                            [maxLength]="9">
                                        </app-basic-input>
                                    </div>
                                    <div class="mb-3 col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_correo" label="Correo Electrónico (E-mail)"
                                            placeHolder="Ingrese el correo electrónico" [maxLength]="50">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="mb-3 col-lg-12">
                                        <app-basic-input [parentForm]="f_s6_PersonaNatural"
                                            inputFormControlName="pn_domicilio" label="Domicilio Legal (Urbanización/ A.H./ Otro/    Mz./ Lote/ Sub. Lote.     Avenida/Calle/Jirón/ Pasaje)"
                                            placeHolder="Ingrese el domicilio legal" [maxLength]="100">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <app-ubigeo #ubigeoCmpPerNat [parentForm]="f_s6_PersonaNatural"
                                    depaFormControlName="pn_departamento"
                                    provFormControlName="pn_provincia" 
                                    distFormControlName="pn_distrito"
                                    depaFormLabel="Departamento" provFormLabel="Provincia" distFormLabel="Distrito"
                                    [horizontal]="true"></app-ubigeo>
                            </div>
                            
                            <div class="col-lg-12" *ngIf="this.activarPJ" formGroupName="PersonaJuridica">
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_ruc" label="N° de Ruc"
                                            placeHolder="Ingrese el número de RUC" [onlyNumbers]="true"
                                            [maxLength]="11">
                                        </app-basic-input>

                                    </div>
                                    <div class="col-lg-8">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_razonSocial" label="Razón Social"
                                            placeHolder="Ingrese la razón social" [maxLength]="100">
                                        </app-basic-input>
                                    </div>
                                    
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-12">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_domicilio" label="Domicilio Legal"
                                            placeHolder="Ingrese el domicilio legal" [maxLength]="100">
                                        </app-basic-input>

                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_departamento" label="Departamento">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_provincia" label="Provincia">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_PersonaJuridica"
                                            inputFormControlName="pj_distrito" label="Distrito">
                                        </app-basic-input>
                                    </div>
                                   
                                </div>
                                <hr>
                            </div>
                        
                            <div class="col-lg-12" *ngIf="this.f_s6_RepresentanteLegal.enabled" formGroupName="RepresentanteLegal">
                                <div class="mt-4"><strong>REPRESENTANTE LEGAL</strong></div>
                                <br>
                                <div class="row gx-2">
                                    <div class="mb-3 col-lg-4">
                                        <label class="control-label campo-obligatorio">Tipo Documento</label>
                                        <select class="form-select" formControlName="rl_tipoDocumento"
                                            [class.control-invalid]="formInvalid(rl_tipoDocumento)">
                                            <option value=''>Seleccione</option>
                                            <option *ngFor="let item of listaTiposDocumentos | slice:0:3"
                                                [value]="item.id">{{
                                                item.documento }}</option>
                                        </select>
                                        <div *ngIf="f_s6_rl_TipoDocumento.invalid && (f_s6_rl_TipoDocumento.dirty || f_s6_rl_TipoDocumento.touched)"
                                            class="text-danger">
                                            <div *ngIf="f_s6_rl_TipoDocumento.errors?.required">
                                                El campo es obligatorio
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_numeroDocumento" label="N° Documento"
                                            [maxLength]="maxLengthNumeroDocumentoRepLeg"
                                            placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                             [btnAppend]="true" iconBtnAppend="fa-search"
                                            [disabledAppend]="f_s6_rl_TipoDocumento.value.trim() == '' || disableBtnBuscarRepLegal"
                                            (clickAppend)="buscarNumeroDocumento($event)">
                                        </app-basic-input>

                                        
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_nombre" label="Nombres"
                                            placeHolder="Ingrese el nombre" [maxLength]="50">
                                        </app-basic-input>

                                        
                                    </div>

                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_apePaterno" label="Apellido Paterno"
                                            placeHolder="Ingrese el apellido paterno" [maxLength]="50">
                                        </app-basic-input>

                                        
                                    </div>

                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_apeMaterno" label="Apellido Materno"
                                            placeHolder="Ingrese el apellido materno" [maxLength]="50">
                                        </app-basic-input>

                                        
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_telefono" label="Teléfono Fijo"
                                            placeHolder="Ingrese el teléfono fijo" [onlyNumbers]="true"
                                            [maxLength]="9">
                                        </app-basic-input>

                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_celular" label="Celular"
                                            placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                                            [maxLength]="9">
                                        </app-basic-input>

                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_correo"
                                            label="Correo Electrónico (E-mail)"
                                            placeHolder="Ingrese el correo electrónico" [maxLength]="50">
                                        </app-basic-input>

                                        
                                    </div>
                                </div>

                                <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                    inputFormControlName="rl_domicilio" label="Domicilio Legal"
                                    placeHolder="Ingrese el domicilio legal" [maxLength]="100">
                                </app-basic-input>

                                

                                <app-ubigeo #ubigeoCmpRepLeg [parentForm]="f_s6_RepresentanteLegal"
                                    depaFormControlName="rl_departamento"
                                    provFormControlName="rl_provincia"
                                    distFormControlName="rl_distrito" depaFormLabel="Departamento"
                                    provFormLabel="Provincia" distFormLabel="Distrito" [horizontal]="true">
                                </app-ubigeo>
                                
                                <div class="row gx-2">
                                    <div class="mb-3 col-lg-4">
                                        <label class="control-label">Oficina registral <span
                                                class="text-danger">(*)</span></label>
                                        <select class="form-select" formControlName="rl_oficina"
                                            [class.control-invalid]="formInvalid(rl_oficina)">
                                            <option value="">Seleccione</option>
                                            <option *ngFor="let oficina of oficinasRegistral;"
                                                [value]="oficina.value">{{
                                                oficina.text }}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_partida"
                                            label="Poder registrado en la partida N°"
                                            placeHolder="Ingrese el número de partida" [onlyNumbers]="true"
                                            [maxLength]="15">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="f_s6_RepresentanteLegal"
                                            inputFormControlName="rl_asiento" label="Asiento N°"
                                            placeHolder="Ingrese el número de asiento" [onlyNumbers]="true"
                                            [maxLength]="15">
                                        </app-basic-input>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12" *ngIf="this.tipoSolicitante === 'PN' || this.tipoSolicitante === 'PNR'">
                                <div class="mt-4"><strong>En caso que el solicitante sea persona natural y tenga alguna discapacidad, complete lo que corresponde</strong></div>
                                <br>
                                <app-basic-input [parentForm]="formulario"
                                    inputFormControlName="conadis" label="Resolución de CONADIS N° :"
                                    placeHolder="" 
                                    [maxLength]="150" 
                                    [horizontal]="false">
                                </app-basic-input>
                            </div>
                        </div>
                        <div class="col-lg-12" *ngIf="this.tipoSolicitante === 'PN' || this.tipoSolicitante === 'PNR'">
                            <div class="row gx-2" style="padding: 15px;">
                                <div class="col-sm-3">
                                    <!-- Default inline 1-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_visual"  formControlName="d_visual">
                                        <label class="custom-control-label" for="chk_visual">Visual</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- Default inline 2-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_auditiva" formControlName="d_auditiva">
                                        <label class="custom-control-label" for="chk_auditiva">Auditiva</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- Default inline 3-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_mental" formControlName="d_mental">
                                        <label class="custom-control-label" for="chk_mental">Mental</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <!-- Default inline 1-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_fisica" formControlName="d_fisica">
                                        <label class="custom-control-label" for="chk_fisica">Física</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row gx-2" style="padding: 15px;">
                                <div class="col-sm-3">
                                <!-- Default inline 1-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_lenguaje" formControlName="d_lenguaje" >
                                        <label class="custom-control-label" for="chk_lenguaje">Lenguaje</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                <!-- Default inline 2-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_intelectual" formControlName="d_intelectual">
                                        <label class="custom-control-label" for="chk_intelectual">Intelectual</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                <!-- Default inline 3-->
                                    <div class="custom-control custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="chk_discapacidad_multiple" formControlName="d_multiples">
                                        <label class="custom-control-label" for="chk_discapacidad_multiple">Discapacidades múltiples</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-7" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>VIII. DECLARACIÓN JURADA</button>
                        </h2>
            
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        
                            <div class="mt-2 mb-4" >
                                <div class="alert alert-custom">
                                    <div class="row gx-2">
                                        <div class="col-md-10">
                                            <div>
                                                Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                                en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                                sLey del Procedimiento Administrativo General y/o normas complementarias.(2)
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch (change)="onChangeDeclaracionJurada($event)" formControlName="declaracion_1">
                                                    
                                                </ui-switch>
                                                <label class="col-form-label"> NO/SI </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2 mb-4" >
                                <div class="alert alert-custom">
                                    <div class="row gx-2">
                                        <div class="col-md-10">
                                            <div>
                                                Adjunto todos los requisitos señalados en el TUPA vigente del MTC.
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch (change)="onChangeDeclaracionJurada($event)" formControlName="declaracion_2">
                                                    
                                                </ui-switch>
                                                <label class="col-form-label"> NO/SI </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                Al acceder al sistema TUPA Digital MTC y registrarme como usuario: (i) reconozco que entiendo y acepto los términos
    y condiciones de éste, (ii) acepto como auténtico y válido cualquier medio de prueba o proceso tecnológico que utilice
    el MTC para comprobar mi acceso y salida del sistema; y, (iii) me hago responsable por los efectos legales en la
    gestión del procedimiento administrativo o servicio exclusivo.
                            </div>
                            <hr>
                            <div class="text-center texto-bajo-juramento" > DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD</div>
                            <div class="col-sm-12 mt-5 d-flex justify-content-center">
                                <div class="alert alert-custom" role="alert">
                                        NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del mismo a través de la firma electrónica utilizada a través del usuario y clave de ingreso al Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones, la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales
                                </div>
                            </div>
                        
                    </ng-template>
</div>
</div>
                </div>
            
            </div>
        </form>
    </div>

</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-sm-12 d-flex">
            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
                    <i class="far fa-eye"></i>
                    Visualizar
                </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarFormulario()" [disabled]="this.formulario.invalid ">
                <i class="far fa-save"></i>
                {{
                    (id === 0 ? 'Grabar' : 'Modificar')
                }}
            </button>
            </div>
        </div>
    </div>
</div>