<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoTupa}} {{ this.descripcionTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>

<div class="modal-body anexo">

    <form novalidate [formGroup]="anexoFormulario">

        <div class="center">
            <h6><i class="far fa-list-alt"></i> ANEXO 003-B/17 SERVICIO DE TRANSPORTE TERRESTRE - TERMINALES TERRESTRES</h6>
        </div>

        <div ngbAccordion #acc="ngbAccordion">

            <div ngbAccordionItem="seccion-1" [disabled]="tipoSolicitante === 'PJ'" [collapsed]="tipoSolicitante === 'PJ'" >

                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DECLARACIÓN JURADA (Persona Natural)</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="row mt-3">
                        <div class="col-sm-12 text-justify">
                            Yo, <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls['s1_nombre'].value }}</span>
                            , identificado con Documento Nacional de Identidad N°
                            <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_dni'].value}}</span>
                            , con RUC N°
                            <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_nroRuc'].value != "" ? this.anexoFormulario.controls['s1_nroRuc'].value : "S/N"}}</span>
                            , domiciliado(a) en:
                            <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_domicilio'].value}}</span>
                            declaro bajo juramento que en condición de solicitante cumplo con las condiciones y
                            requisitos de acceso establecidos en el
                            Reglamento Nacional de Administración de Transporte, aprobado con Decreto Supremo Nº
                            017-2009-MTC y en las normas complementarias
                            , para obtener el Certificado de Habilitación Técnica.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            Lo expresado se circunscribe al inmueble ofertado para su habilitación técnica – Terminal
                            Terrestre del servicio de transporte público de personas de ámbito nacional, ubicado en:
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-sm-12 align-items-center flex-wrap">
                            <div>Dirección</div>
                            <div class="flex-1">
                                <input type="text" [placeholder]="ubicacionPlaceholder" class="form-control"
                                    formControlName="s1_ubicacionInmueble" [class.control-invalid]="formInvalid('s1_ubicacionInmueble')"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Distrito</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s1_distrito" [class.control-invalid]="formInvalid('s1_distrito')" />
                            </div>
                        </div>
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Provincia</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s1_provincia" [class.control-invalid]="formInvalid('s1_provincia')" />
                            </div>
                        </div>
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Departamento</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s1_departamento" [class.control-invalid]="formInvalid('s1_departamento')" />
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <hr>
                        <div>POSESIÓN DEL INMUEBLE:</div>

                        <div class="row col-sm-4 d-flex mt-2">
                            <div class="flex-1 ms-3">Propio</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s1_posesionPropio" (change)="onChangePosesion('s1_posesionPropio', 's1_posesionArrendado', 1)">
                        </div>

                        <div class="row col-sm-4 d-flex mt-1">
                            <div class="flex-1 ms-3">Arrendado</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s1_posesionArrendado" (change)="onChangePosesion('s1_posesionArrendado', 's1_posesionPropio', 1)">
                            <button class="btn btn-danger btn-sm align-self-center ms-1" *ngIf="visibleButtonS1Arrendado" (click)="inputFileS1Arrendado.click($event)">
                            <i class="fas fa-upload"></i>
                                Adjuntar
                            </button>
                            <input type="file" class="d-none" #inputFileS1Arrendado accept="application/pdf" (change)="onChangeInputS1Arrendado($event)" />
                            <i class="far fa-file-pdf text-danger fa-2x mt-1 ms-1" title="Vista previa" *ngIf="filePdfS1ArrendadoSeleccionado !== null || this.pathPdfS1ArrendadoSeleccionado !==null " (click)="vistaPreviaS1Arrendado()"></i>
                        </div>

                        <div class="row col-sm-4 d-flex mt-1" *ngIf="!disabledFechaVigencia">
                            <div class="flex-1 ms-3">Vigencia del Arrendamiento: Hasta</div>
                            <div class="flex-1">
                                <div class="input-group">
                                    <input class="form-control" (dateSelect)="onDateSelectVigenciaArrendamiento($event)" readonly ngbDatepicker #fechaVigencia="ngbDatepicker" formControlName="s1_fechaVigencia"
                                        [minDate]="getMinDateVigencia()" [class.control-invalid]="formInvalid('s1_fechaVigencia')">
                                        <button class="btn btn-outline-secondary calendar" (click)="fechaVigencia.toggle()" type="button" [disabled]="this.disabledFechaVigencia">
                                            <i class="far fa-calendar-alt"></i>
                                        </button>
                                </div>
                            </div>
                        </div>

                        <hr>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            Lo declarado se sujeta a lo señalado en el artículo 34 del Texto Único Ordenado de la Ley Nº
                            27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N°
                            004-2019-JUS y demás normas pertinentes.
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            Lima, <span class="campo-declaracion-jurada">{{ dia }}</span>
                            de <span class="campo-declaracion-jurada">{{ mes }}</span>
                            del 20<span class="campo-declaracion-jurada">{{ anio }}</span>
                        </div>

                    </div>

                </ng-template>
</div>
</div>

            </div>


            <div ngbAccordionItem="seccion-2" [disabled]="tipoSolicitante === 'PN'" [collapsed]="tipoSolicitante === 'PN'" >
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>II. DECLARACIÓN JURADA (Persona Jurídica)</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="row mt-3">
                        <div class="col-sm-12 text-justify">
                            Yo,
                            <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls["s2_nombre"].value }}</span>
                            , identificado con Documento Nacional de Identidad N°
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_dni"].value }}</span>
                            , en mi calidad de
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_enCalidadDe"].value }}</span>
                            de la empresa
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_razonSocial"].value }}</span>
                            con RUC N°
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_nroRuc"].value }}</span>
                            , con poder inscrito en la Partida N°
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_nroPartida"].value }}</span>
                            de la Oficina Registral de
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_oficinaRegistral"].value }}</span>
                            . – SUNARP, domiciliada en
                            <span class="campo-declaracion-jurada" >{{ this.anexoFormulario.controls["s2_domicilio"].value }}</span>
                            , declaro bajo juramento que mi representada cumple con las condiciones y requisitos de
                            acceso establecidos en el Reglamento Nacional de Administración de Transporte, aprobado con
                            Decreto Supremo Nº 017-2009-MTC y en las normas Complementarias, para obtener el Certificado
                            de Habilitación Técnica.
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            Lo expresado se circunscribe al inmueble ofertado para su habilitación técnica – Terminal
                            Terrestre del servicio de transporte público de personas de ámbito nacional, ubicado en:
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-sm-12 align-items-center flex-wrap">
                            <div>Dirección</div>
                            <div class="flex-1">
                                <input type="text" [placeholder]="ubicacionPlaceholder" class="form-control"
                                    formControlName="s2_ubicacionInmueble" [class.control-invalid]="formInvalid('s2_ubicacionInmueble')"/>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Distrito</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s2_distrito" [class.control-invalid]="formInvalid('s2_distrito')" />
                            </div>
                        </div>
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Provincia</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s2_provincia" [class.control-invalid]="formInvalid('s2_provincia')" />
                            </div>
                        </div>
                        <div class="col-sm-4 align-items-center flex-wrap">
                            <div>Departamento</div>
                            <div class="flex-1">
                                <input type="text" class="form-control"
                                    formControlName="s2_departamento" [class.control-invalid]="formInvalid('s2_departamento')" />
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <hr>
                        <div>POSESIÓN DEL INMUEBLE:</div>

                        <div class="row col-sm-4 d-flex mt-2">
                            <div class="flex-1 ms-3">Propio</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s2_posesionPropio" (change)="onChangePosesion('s2_posesionPropio', 's2_posesionArrendado', 2)">
                        </div>

                        <div class="row col-sm-4 d-flex mt-1">
                            <div class="flex-1 ms-3">Arrendado</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s2_posesionArrendado" (change)="onChangePosesion('s2_posesionArrendado', 's2_posesionPropio', 2)">
                            <button class="btn btn-danger btn-sm align-self-center ms-1" *ngIf="visibleButtonS2Arrendado" (click)="inputFileS2Arrendado.click($event)">
                            <i class="fas fa-upload"></i>
                                Adjuntar
                            </button>
                            <input type="file" class="d-none" #inputFileS2Arrendado accept="application/pdf" (change)="onChangeInputS2Arrendado($event)" />
                            <i class="far fa-file-pdf text-danger fa-2x mt-1 ms-1" title="Vista previa" *ngIf="filePdfS2ArrendadoSeleccionado !== null || this.pathPdfS2ArrendadoSeleccionado !==null " (click)="vistaPreviaS2Arrendado()"></i>
                        </div>

                        <div class="row col-sm-4 d-flex mt-1" *ngIf="!disabledFechaVigencia">
                            <!-- <div class="row col-sm-4 d-flex mt-1"> -->
                            <div class="flex-1 ms-3">Vigencia del Arrendamiento: Hasta</div>
                            <div class="flex-1">
                                <div class="input-group">
                                    <input class="form-control" (dateSelect)="onDateSelectVigenciaArrendamiento($event)" readonly ngbDatepicker #fechaVigencia="ngbDatepicker" formControlName="s2_fechaVigencia"
                                    [minDate]="getMinDateVigencia()" [class.control-invalid]="formInvalid('s2_fechaVigencia')">
                                        <button class="btn btn-outline-secondary calendar" (click)="fechaVigencia.toggle()" type="button" [disabled] = "this.disabledFechaVigencia">
                                            <i class="far fa-calendar-alt"></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <hr>
                        <div>USO DEL INMUEBLE:</div>

                        <div class="row col-sm-6 d-flex mt-2">
                            <div class="flex-1 ms-3">Propio (Uso exclusico del solicitante)</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s2_usoPropio" (change)="onChangeUso('s2_usoPropio', 's2_usoCompartido')">
                        </div>

                        <div class="row col-sm-6 d-flex mt-1">
                            <div class="flex-1 ms-3">Compartido (Arrendar su uso a otros transportistas)</div>
                            <input type="checkbox" class="check-declaracion" formControlName="s2_usoCompartido" (change)="onChangeUso('s2_usoCompartido', 's2_usoPropio')">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            Lo declarado se sujeta a lo señalado en el artículo 34 del Texto Único Ordenado de la Ley Nº
                            27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N°
                            004-2019-JUS y demás normas pertinentes.
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            Lima, <span class="campo-declaracion-jurada">{{ dia }}</span>
                            de <span class="campo-declaracion-jurada">{{ mes }}</span>
                            del 20<span class="campo-declaracion-jurada">{{ anio }}</span>
                        </div>

                    </div>
                </ng-template>
</div>
</div>

            </div>

        </div>
    </form>

</div>

<div class="modal-footer anexo">

    <div class="row">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="verPdf()">
                    <i class="far fa-eye"></i>
                    Visualizar
                </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" *ngIf="errorAlCargarData === false" (click)="guardarAnexo()">
                <i class="far fa-save"></i>
                {{
                    (id === 0 ? 'Grabar' : 'Modificar')
                }}
            </button>
            </div>
        </div>
    </div>
</div>
