<div class="modal-header">
  <h2>{{ title }}</h2>
  <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
  </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
  <div class="modal-body">
    <div class="antecedentes-dialog" style="font-size: 12px">
      <div class="content-contorno">
        <h3 >2.3. LOCALIZACIÓN GEOGRÁFICA Y POLÍTICA DEL PROYECTO
          <span class="mat-tooltip-informacion color-black custom-tooltip" placement="bottom"  
            ngbTooltip="Se indicará la ubicación política y geográfica del proyecto de exploración.
            Precisar centro(s) poblado(s), comunidades campesinas y/o nativas, distrito(s), provincia(s) y departamento(s) dentro de los cuales se encuentra el proyecto (área efectiva).&#10;
            Incluir el cuadro de distancias a los centros poblados cercanos, comunidades campesinas y/o nativas, caserios, anexos, entre otros. Señalar las vías de acceso. Asímismo, deberá incluir la ubicación del proyecto respecto a la(s) cuenca(s) hidrográfica(s), en la(s) cual(es) se encuentra.&#10;
            Indicar las coordenadas UTM con Datum horizontal WGS84 indicando la zona UTM de proyección correspondiente a los vétices de las áreas de actividad y uso minero del proyecto, así como el punto referencial del área efectiva del proyecto. Adjuntar un mapa con base topográfica a escala 1/25 000 u otra apropiada de acuerdo al área efectiva que evidencia claramente todos los aspectos indicados en este numeral." 
            ngbTooltipClass="custom-tooltip"  container="body">Contenido
            Mínimo</span>
        </h3>
        <div class="m-0-5px">
          <h3>2.3.1. UBICACIÓN GEOGRÁFICA</h3>
          <tupa-table [columns]="tableColumns231" [data]="tableData231"></tupa-table>
          <br>
    
          <h3>2.3.2. LOCALIZACION SUPERPUESTA AL AREA EFECTIVA DEL PROYECTO</h3>
    
          <div class="mensaje-dialog d-flex flex-row m-0">
            <div class="col-sm-1 col-md-1 d-flex justify-content-center p-0">
              <i class="material-icons icon-rojo"> warning </i>
            </div>
            <div class="col-sm-11 col-md-11 ml-3">
              <p class="m-0">IMPORTANTE : EL TAMAÑO DE CADA ARCHIVO NO DEBE PASAR DE 50 MB.
                SE DEBE ESCANEAR COMO MÁXIMO A 300 DPI DE RESOLUCIÓN Y USAR LA TECNOLOGÍA DE RECONOCIMIENTO ÓPTICO DE
                CARÁCTERES
                (OCR).</p>
            </div>
          </div>
          <tupa-attach-button 
            *ngIf="viewControl"
            (documentoSeleccionado)="agregarDocumento($event)" 
            [formatos]="['pdf','doc','docx','xls','xlsx','zip', '7z','rar','kml','kmz','cad', 'png', 'jpg', 'jpeg']" 
            [tamano]="50" 
            [showTipoDocumento]="showTipoDocumento" 
            [valorSeleccionado]="0" 
            [optsTipoDocumento]="optsTipoDocumento"
          ></tupa-attach-button>
          <br>
          <app-document-grid 
            [viewOnly]="viewOnly" 
            [documentos]="localizacionSuperpuesta" 
            [showTipoDocumento]="showTipoDocumento" 
            (documentosActualizados)="actualizarDocumentos($event)"
          ></app-document-grid>
        
          <br>
    
          <h3>2.3.3. DISTANCIA DE POBLADOS CERCANOS</h3>
          <button *ngIf="viewControl"
            (click)="openModalDistancia('DISTANCIA DE POBLADOS CERCANOS')"
            type="button" class="mat-small" style="width: 180px;">
            <i class="material-icons">add</i> Agregar
          </button>
          <tupa-table [columns]="tableColumns233" [data]="tableData233"></tupa-table>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Anterior"><i class="material-icons">navigate_before</i></button>
    <div class="btn-footer-center">
      <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
        Cancel</button>
      <button class="mat-small" *ngIf="viewControl"><i class="material-icons">save</i> Guardar</button>
    </div>
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Siguiente"><i class="material-icons">navigate_next</i></button>
  </div>
</form>
