<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>
            <div class="sub-grupo">
                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 mt-2">
                            <h3>NOMBRE DE PASIVO <span class="text-danger">(*)</span></h3>
                            <input type="hidden" formControlName="Id">
                            <input type="text" class="form-control" placeholder="" formControlName="NombrePasivo">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>CONDICIÓN <span class="text-danger">(*)</span></h3>
                            <input type="text" class="form-control" placeholder="" formControlName="Condicion">
                        </div>

                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>DATUM <span class="text-danger">(*)</span></h3>
                            <select class="form-select" formControlName="Datum">
                                <option [disabled]="true" *ngFor="let item of listaDatum" [value]="item.idDatum">{{ item.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="sub-grupo">
                <h3>COMPONENTES DE LA EX UNIDAD MINERA</h3>
                <button *ngIf="viewControl" (click)="openModalExUnidadMinera('COMPONENTES DE LA EX UNIDAD MINERA')" type="button"
                    class="mat-small" style="width: 180px;">
                    <i class="material-icons">add</i> Agregar
                </button>
                <tupa-table [columns]="headersParameters" [data]="dataTablaParameters"></tupa-table>
                <br>
            </div>
            <br>

        </div>
        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
            <button *ngIf="viewControl" class="mat-small"><i class="material-icons">save</i> Grabar</button>
        </div>
    </form>
</div>