.campo-resolucion-jurada {
    margin: 0 5px;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width:767px) {
    #anexo002-i17-tipo-numero-documento,
    #anexo002-i17-apellidos-nombres,
    #anexo002-i17-cargo-agregar {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo002-i17-apellidos-nombres {
        margin-top: 20px;
    }
    #anexo002-i17-apellidos-nombres div.campo-obligatorio {
        flex: 1;
        margin-right: 0 !important;
    }
    #anexo002-i17-apellidos-nombres div.flex-1 {
        flex: 2 !important;
    }
    #anexo002-i17-cargo-agregar {
        margin-top: 20px;
    }
    #anexo002-i17-cargo-agregar div.campo-obligatorio {
        flex: 1;
    }
    #anexo002-i17-cargo-agregar div.campo-obligatorio+div.flex-1 {
        flex: 2 !important;
    }
    #anexo002-i17-boton-agregar-modificar {
        flex-direction: row !important;
        padding: 0 70px;
    }
    button.anexo002-i17-btn-cancelar {
        margin-left: 10px;
        margin-top: 0 !important;
    }
    /*---------------------------------*/
}

.check-declaracion {
  width: 30px;
  height: 30px;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}
