<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title"> {{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body">
    <div class="container mt-2 mb-3">
    <form novalidate [formGroup]="formulario">
        <div class="center">
            <h6>{{txtTituloCompleto}}</h6>
        </div>
        <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-0, seccion-1, seccion-2, seccion-3">
            <div ngbAccordionItem="seccion-0" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. PROCEDIMIENTO A SOLICITAR</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row gx-2">
                        <div class="mb-3 col-md-5">
                            <label class="col-form-label">Descripción del servicio <span class="text-danger" >(*)</span></label>
                            <div class="row gx-2 rm-5 col-md-12">
                                <div class="mb-3 col-md-6">
                                    <input type="checkbox" id="rb1" class="ms-3" name="pasajeros"  formControlName="pasajeros"> 
                                    <label  class="ms-3" for="rb1">Pasajeros</label>                                   
                                </div>
                                <div class="mb-3 col-md-6">
                                    <input type="checkbox" id="rb2" class="ms-3" name="mercancia" formControlName="mercancia"> 
                                    <label class="ms-3" for="rb2">Mercancías</label>
                                </div>  
                            </div>
                        </div>
                        <div class="mb-3 col-md-7">
                            <label class="col-form-label">Ruta Ferroviaria <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" formControlName="rutaFerroviaria" [class.control-invalid]="formInvalid('rutaFerroviaria')"
                            maxlength="200">
                        </div>
                    </div> 
                    <div class="row gx-2">
                        <div class="mb-3 col-md-5">
                            
                        </div>
                        <div class="mb-3 col-md-7">
                            <div class="d-inline">
                                <label class="col-form-label">Adjuntar detalle de ruta ferroviaria (PDF máx. 3mb) <span class="text-danger">(*)</span></label>
                                <button class="btn btn-danger btn-sm ms-2 align-self-center"
                                    (click)="inputFileCroquis.click($event)">
                                    <i class="fas fa-upload"></i>
                                    Adjuntar
                                </button>
                                <input type="file" class="d-none" #inputFileCroquis
                                    accept="application/pdf"
                                    (change)="onChangeInputCroquis($event)" />
                                <i class="far fa-file-pdf text-danger fa-2x ms-2 align-middle"
                                    title="Vista previa"
                                    *ngIf="filePdfCroquisSeleccionado !== null || this.pathPdfCroquisSeleccionado !==null "
                                    (click)="vistaPreviaCroquis()"></i>
                            </div>
                        </div>
                    </div>                   
                </ng-template>
</div>
</div>
            </div>
            <div ngbAccordionItem="seccion-1" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>II. NOTIFICACIÓN</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row gx-2">
                        <div>La notificación del presente procedimiento, se realiza a través del Sistema de Casillas Electrónicas del Ministerio de Transportes y Comunicaciones. </div>
                        <br>
                        <br>
                        <div>En virtud a ello, para la tramitación del presente procedimiento administrativo, usted debe contar con una casilla electrónica. Si aún no se ha afiliado, deberá hacerlo, ingresando al siguiente enlace:</div>  
                        <a text-align="center" href="http://casilla.mtc.gob.pe/" target="_blank">http://casilla.mtc.gob.pe/</a>                   
                    </div>                   
                </ng-template>
</div>
</div>
            </div>
            <div ngbAccordionItem="seccion-2" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>II. DATOS SOLICITANTE</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="mt-4" *ngIf="this.activarPN"><strong>PERSONA NATURAL</strong></div>
                    <br *ngIf="this.activarPN">
                    <div class="row gx-2" *ngIf="this.activarPN">
                        <div class="mb-3 col-md-12">
                            <label class="col-form-label">Apellidos y Nombres</label>
                            <input type="text" class="form-control" formControlName="nombresPersona" [class.control-invalid]="formInvalid('nombresPersona')">
                        </div>
                        
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPN">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label"> Tipo Doc. <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="tipoDocumentoSolicitante" [class.control-invalid]="formInvalid('tipoDocumentoSolicitante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label"> Nro Documento <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="nroDocumentoSolicitante" [class.control-invalid]="formInvalid('nroDocumentoSolicitante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">N° de Ruc <span class="text-danger"*ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="rucPersona" [class.control-invalid]="formInvalid('rucPersona')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPN">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Teléfono Fijo</label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="telefonoPersona" >
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label"> Celular <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="celularPersona" [class.control-invalid]="formInvalid('celularPersona')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Correo Electrónico (E-mail) <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="correoPersona" [class.control-invalid]="formInvalid('correoPersona')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPN">
                        <div class="mb-3 col-md-12">
                            <label class="col-form-label">Domicilio Legal</label>
                            <input type="text" class="form-control" formControlName="domicilioPersona" [class.control-invalid]="formInvalid('domicilioPersona')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPN">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Distrito <span [hidden]="this.formulario.controls['distrito'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="distritoPersona" [class.control-invalid]="formInvalid('distritoPersona')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Provincia <span [hidden]="this.formulario.controls['provincia'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="provinciaPersona" [class.control-invalid]="formInvalid('provinciaPersona')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Departamento <span [hidden]="this.formulario.controls['departamento'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="departamentoPersona" [class.control-invalid]="formInvalid('departamentoPersona')">
                        </div>
                    </div>
                    

                    <div class="mt-4" *ngIf="this.activarPJ"><strong>PERSONA JURÍDICA</strong></div>
                    <br>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-8">
                            <label class="col-form-label">Razón Social</label>
                            <input type="text" class="form-control" formControlName="razonSocial" [class.control-invalid]="formInvalid('razonSocial')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label"> N° de Ruc<span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="ruc" [class.control-invalid]="formInvalid('ruc')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-12">
                            <label class="col-form-label">Domicilio Legal</label>
                            <input type="text" class="form-control" formControlName="domicilio" [class.control-invalid]="formInvalid('domicilio')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Distrito <span [hidden]="this.formulario.controls['distrito'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="distrito" [class.control-invalid]="formInvalid('distrito')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Provincia <span [hidden]="this.formulario.controls['provincia'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="provincia" [class.control-invalid]="formInvalid('provincia')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Departamento <span [hidden]="this.formulario.controls['departamento'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="departamento" [class.control-invalid]="formInvalid('departamento')">
                        </div>
                    </div>
                    <hr *ngIf="this.activarPJ">
                    <div class="mt-4" *ngIf="this.activarPJ"><strong>REPRESENTANTE LEGAL</strong></div>
                    <br>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label campo-obligatorio">Tipo Documento</label>
                            <select class="form-select" (change)="onChangeTipoDocumento()" formControlName="tipoDocumento" [class.control-invalid]="formInvalid('tipoDocumento')">
                                <option value=''>Seleccione</option>
                                <option *ngFor="let item of listaTiposDocumentos | slice:0:3" [value]="item.id">{{ item.documento }}</option>
                            </select>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="col-form-label campo-obligatorio">N° Documento</label>
                            <div class="input-group">
                                <input type="text" class="form-control" (input)="inputNumeroDocumento($event)" [maxlength]="getMaxLengthNumeroDocumento()" formControlName="numeroDocumento" [class.control-invalid]="formInvalid('numeroDocumentoForm')" />
                                    <button class="btn btn-outline-secondary" [disabled]="this.formulario.controls['tipoDocumento'].value.trim() == '' || this.activarDatosGenerales===true" type="button" (click)="buscarNumeroDocumento()">
                                        <i class="fas fa-search"></i>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label campo-obligatorio">Nombres</label>
                            <input type="text" class="form-control" formControlName="nombreRepresentante" [class.control-invalid]="formInvalid('nombreRepresentante')">
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="col-form-label campo-obligatorio">Apellido Paterno</label>
                            <input type="text" class="form-control" formControlName="apePaternoRepresentante" [class.control-invalid]="formInvalid('apePaternoRepresentante')">
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Apellido Materno <span [hidden]="!this.disabled" class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" formControlName="apeMaternoRepresentante" [class.control-invalid]="formInvalid('apeMaternoRepresentante')">
                        </div>
                    </div>
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Teléfono Fijo</label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="telefonoRepresentante">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label"> Celular <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="celularRepresentante" [class.control-invalid]="formInvalid('celularRepresentante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Correo Electrónico (E-mail) <span class="text-danger" *ngIf="this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="correoRepresentante" [class.control-invalid]="formInvalid('correoRepresentante')">
                        </div>
                    </div>
                    
                    <div class="mb-3" *ngIf="this.activarPJ">
                        <label class="col-form-label campo-obligatorio">Domicilio Legal</label>
                        <input type="text" class="form-control" formControlName="domicilioRepresentante" [class.control-invalid]="formInvalid('domicilioRepresentante')">
                    </div>

                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Distrito <span [hidden]="this.formulario.controls['distrito'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="distritoRepresentante" [class.control-invalid]="formInvalid('distritoRepesentante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Provincia <span [hidden]="this.formulario.controls['provincia'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="provinciaRepresentante" [class.control-invalid]="formInvalid('provinciaRepesentante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Departamento <span [hidden]="this.formulario.controls['departamento'].disabled" class="text-danger" *ngIf="!this.activarDatosGenerales">(*)</span></label>
                            <input type="text" class="form-control" formControlName="departamentoRepresentante" [class.control-invalid]="formInvalid('departamentoRepesentante')">
                        </div>
                    </div>
                    
                    <div class="row gx-2" *ngIf="this.activarPJ">
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Oficina registral:</label>
                            <select class="form-select" formControlName="oficinaRepresentante" [class.control-invalid]="formInvalid('oficinaRepresentante')">
                                <option value="">Seleccione</option>
                                <option *ngFor="let oficina of oficinasRegistral;" [value]="oficina.value">{{ oficina.text }}</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Poder registrado en la partida N°:</label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" maxlength="9" formControlName="partidaRepresentante" [class.control-invalid]="formInvalid('partidaRepresentante')">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="col-form-label">Asiento N°:</label>
                            <input type="text" class="form-control" (input)="soloNumeros($event)" maxlength="9" formControlName="asientoRepresentante" [class.control-invalid]="formInvalid('asientoRepresentante')">
                        </div>
                    </div>              
                </ng-template>
</div>
</div>
            </div>
            
            <div ngbAccordionItem="seccion-3" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>IV. DECLARACIONES JURADAS</button>
                    </h2>
        
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="mt-2 mb-4 ng-star-inserted">
                        <div class="alert alert-custom">
                            <div _ngcontent-ehx-c118="" class="row gx-2">
                                <div _ngcontent-ehx-c118="" class="col-md-10">
                                    <div _ngcontent-ehx-c118=""> 5.1 Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                        en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                        Ley del Procedimiento Administrativo General y/o normas complementarias.</div>
                                </div>
                                <div _ngcontent-ehx-c118="" class="col-md-2">
                                    <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                        <ui-switch formControlName="declaracion_1"  class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <div  class="mt-2 mb-4 ng-star-inserted">
                            <div class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.2 En caso del procedimiento DSTT-001: Mi representada cuenta con Titularidad del material 
                                            rodante ferroviario.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_2" class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    
                        <div class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ3">
                            <div class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.3 En caso del procedimiento DSTT-001: Mi representada cuenta con Precontrato de adquisición 
                                            del material rodante nuevo o usado.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_3" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ3"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    
                        <div class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ4">
                            <div class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.4 En caso del procedimiento DSTT-001: Mi representada cuenta con Contrato o precontrato 
                                            de fabricación del material rodante ferroviario.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_4" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ4"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ehx-c118="" class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ5">
                            <div _ngcontent-ehx-c118="" class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.5 En caso del procedimiento DSTT-001: Mi representada cuenta con Contrato de alquiler 
                                            de material ferroviario celebrado por terceros.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_5" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ5"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ehx-c118="" class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ6">
                            <div _ngcontent-ehx-c118="" class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.6 En caso del procedimiento DSTT-001: Mi representada cuenta con Documento que acredite 
                                            que prestará servicios con el material ferroviario de la Organización Ferroviaria a cargo de la
                                            administradora de la vía.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_6" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ6"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ehx-c118="" class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ7">
                            <div _ngcontent-ehx-c118="" class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.7 En caso del procedimiento DSTT-003: Mi representada cuenta con la legítima posesión del 
                                            materialtractivo y/o rodante a utilizar durante la operación.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_7" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ7"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ehx-c118="" class="mt-2 mb-4 ng-star-inserted" *ngIf="this.activarDJ8"> 
                            <div _ngcontent-ehx-c118="" class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.8 En caso del procedimiento DSTT-003:
                                            <div class="row gx-2 rm-5 col-md-12">
                                                <div class="mb-3 col-md-10">
                                                    <input type="checkbox" id="rb81" class="ms-3" name="declaracion_pasajeros"  formControlName="declaracion_pasajeros"> 
                                                    <label  class="ms-3" for="rb81">Mi representada cuenta con un capital mínimo de 110 UIT en caso de permiso de operación para servicio de pasajeros</label>                                   
                                                </div>
                                                <div class="mb-3 col-md-10">
                                                    <input type="checkbox" id="rb82" class="ms-3" name="declaracion_mercancia" formControlName="declaracion_mercancia"> 
                                                    <label class="ms-3" for="rb82"> 440 UIT para el servicio de carga y </label>
                                                </div>  
                                                <div class="mb-3 col-md-10">
                                                    <input type="checkbox" id="rb83" class="ms-3" name="declaracion_ambos" formControlName="declaracion_ambos"> 
                                                    <label class="ms-3" for="rb83"> 550 UIT para ambos servicios</label>
                                                </div>
                                                <div class="mb-3 col-md-10">
                                                    <div class="d-inline">
                                                        <label class="ms-3" for="rb84"> el cual se precisa en la partida registral N°</label>
                                                        <input type="text" id="rb84" class="ms-3" name="partida_registral" formControlName="partida_registral"> 
                                                        <label class="ms-3" for="rb85"> y Asiento N°</label>
                                                        <input type="text" id="rb85" class="ms-3" name="asiento" formControlName="asiento"> 
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_8" class="ng-valid ng-touched ng-dirty" [disabled]="!this.activarDJ8"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div _ngcontent-ehx-c118="" class="mt-2 mb-4 ng-star-inserted">
                            <div class="alert alert-custom">
                                <div _ngcontent-ehx-c118="" class="row gx-2">
                                    <div _ngcontent-ehx-c118="" class="col-md-10">
                                        <div _ngcontent-ehx-c118=""> 5.9 Adjunto todos los requisitos señalados en el TUPA vigente del MTC.</div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-md-2">
                                        <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                            <ui-switch formControlName="declaracion_9" class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                
                        <div class="alert alert-active">
                            <span style="text-align: justify; display: block;">
                                NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del mismo a través de la firma electrónica utilizada atraves del usuario y clave de ingreso al Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones , la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales y lo establecido en el inciso c) del numeral 47.1 del Art 47 del Reglamento de la Ley de Gobierno Digital, aprobado mediante Decreto Supremo 029-2021-PCM.
                            </span>
                        </div>
                </ng-template>
</div>
</div>
            </div>
        </div>
    </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                
                    <button type="button" class="btn btn-secondary" (click)="descargarPdf()">
                    <i class="far fa-eye"></i>
                    Visualizar
                </button>
                
            </div> 
            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="guardarFormulario()" [disabled]="this.formulario.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (id === 0 ? 'Grabar' : 'Modificar')
                    }}
              </button>
            </div>
        </div>
    </div>
</div>