.antecedentes-dialog {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}


/* Estilo para modificar la altura del mat-select */
.mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px; /* Altura deseada del mat-select */
  }
  
  /* Estilo para alinear el texto en el mat-select */
  .mat-select-value-text {
    line-height: 40px; /* Alinea verticalmente el texto dentro del mat-select */
  }

  /***************************TABLE************************************/
 /*  .table{
    background-color: #a6a6a6!important;
    color: #fff!important;
    text-align: left!important;
    padding: 0 6px!important;
    border: 1px solid #dee2e6!important;
    font-size: 12px!important;
    font-weight: 400!important;

  } */

  .btn-disabled {
    background-color: lightgray !important;  
    color: darkgray !important;  
    cursor: not-allowed !important;  
  }

  .validado {
    color: green;
    font-weight: bold;
  }
  
  .no-valido {
    color: red;
    font-weight: bold;
  }