<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <!-- <form novalidate [formGroup]="formAnexo" (ngSubmit)="save()"> -->
    <div class="container-fluid">
        <form novalidate [formGroup]="formAnexo">
            <div class="center">
                <h5>ANEXO 002-E/28 PROYECTO DE COMUNICACION - SERVICIO DE RADIODIFUSIÓN</h5>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion1, seccion2, seccion3, seccion4, seccion5, seccion6">

                <div ngbAccordionItem="seccion1" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>I. DATOS DEL SOLICITANTE</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="col-sm-12">
                            <app-basic-input [parentForm]="f_Seccion1" 
                                inputFormControlName="solicitante" label="Denominación o Razón Social / Nombre y Apellidos"
                                [readonly]="true" >
                            </app-basic-input>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion2" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>II. MODALIDAD DEL SERVICIO</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2">
                            <div class="col-lg-12">
                                <p>Con la finalidad de realizar el trámite de otorgamiento de autorización para prestar el servicio de radiodifusión en:</p>
                            </div>
                        </div>
                        <div class="row gx-2" >
                            <div class="col-sm-2">
                                
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="sonora" value="sonora" formControlName="servicio" >
                                    <label class="form-check-label" for="sonora">Radiodifusión sonora</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="television" value="television" formControlName="servicio" >
                                    <label class="form-check-label" for="television">Radiodifusión por televisión</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion3" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>III. LOCALIDAD</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="col-sm-12">
                            <app-basic-input [parentForm]="f_Seccion3" 
                                inputFormControlName="localidad" label="Localidad"
                                [readonly]="true" >
                            </app-basic-input>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion4" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>IV. FINALIDAD</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-7" style="padding-left:10px;">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="comercial" value="comercial" formControlName="finalidad" >
                                    <label class="form-check-label" for="comercial">
                                        Mi programación podrá contener programas que fomenten la educación, la formación integral de las personas 
                                        y la identidad local o nacional; sin embargo, mi objetivo principal es brindar una programación de entretenimiento 
                                        y recreación del público, así como abordar temas informativos, noticiosos y de orientación a la comunidad.
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p>Producción Nacional Mínima<br />
                                    (No menor al 30%)</p>
                            </div>
                            <div class="col-sm-2">
                                <app-basic-input [parentForm]="f_Seccion4" 
                                inputFormControlName="franjaEducativaComercial" label="Franja Educativa"
                                [readonly]="true" >
                                </app-basic-input>
                                
                            </div>
                        </div>
                        <hr />
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-7"  style="padding-left:10px;">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="educativa" value="educativa" formControlName="finalidad" >
                                    <label class="form-check-label" for="educativa">
                                        Mi programación está destinada a fomentar la ética, la equidad, la inclusión social, la calidad, la democracia, 
                                        la interculturalidad, la conciencia ambiental, la creatividad y la innovación. Asimismo, buscar formar personas 
                                        orientadas al logro, así como contribuir a formar una sociedad forjadora de una cultura de paz que afirme la identidad nacional.
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p>Producción Nacional Mínima<br />
                                    (No menor al 30%)</p>
                            </div>
                            <div class="col-sm-2 text-start">
                                <p>(Mayor de 50%)</p>
                                <!--<app-basic-input [parentForm]="f_Seccion4" 
                                inputFormControlName="franjaEducativa" label="Franja Educativa"
                                [readonly]="true" >
                                </app-basic-input>-->
                            </div>
                        </div>
                        <hr />
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-7"  style="padding-left:10px;">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="comunitaria" value="comunitaria" formControlName="finalidad" >
                                    <label class="form-check-label" for="comunitaria">
                                        Mi programación está destinada primordialmente a fomentar la identidad y costumbres de mi comunidad fortaleciendo 
                                        la integridad nacional. Asimismo, mi estación de radiodifusión está ubicada en comunidades campesinas, nativas e 
                                        indígenas, áreas rurales o de preferente interés social.
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p>Producción Nacional Mínima<br />
                                    (No menor al 30%)<br />
                                  Programación con contenido acerca de la comunidad a servir<br />
                                    (No menor al 50%)</p>
                            </div>
                            <div class="col-sm-2">
                                <app-basic-input [parentForm]="f_Seccion4" 
                                inputFormControlName="franjaEducativaComunitaria" label="Franja Educativa"
                                [readonly]="true" >
                                </app-basic-input>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion5" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>IV. TIPO DE PROGRAMACION</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2 col-lg-12">
                            <p>(La programación que se transmita en el horario familiar [de 06:00 a 22:00 horas] debe evitar contenidos violentos, obscenos o de otra índole
                                que puedan afectar los valores inherentes a la familia, los niños y adolescentes, según el artículo 40 de la Ley 28278 – Ley de Radio y
                                Televisión. La programación del tipo c. no puede superar el 33 % de la programación total, de acuerdo al Horario Familiar establecido en el
                                artículo 40 de la Ley 28278 – Ley de Radio y Televisión).
                            </p>
                            <p>
                                El inciso  a. corresponde al Horario de Protección al Menor, el inciso 
                                b. corresponde al Horario para Mayores de 14 años con orientación de adultos y el inciso 
                                c. al Horario de Adultos.
                            </p>
                        </div>
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-2">
                                <div class="col-sm-12 d-flex">
                                    <app-basic-input [parentForm]="f_Seccion5" inputFormControlName="porcentajeA"
                                        placeHolder="" [maxLength]="2" [onlyNumbers]="true" [decimals]="false"
                                        [horizontal]="true"  [customAppend]="true" (change)="onChangeTotal()">
                                        <ng-container slot="customAppend">
                                            <span class="input-group-text">%</span>
                                        </ng-container>
                                    </app-basic-input>
                                </div>
                            </div>
                            <div class="col-sm-10" style="padding-left:20px;">
                                <p>
                                    a. Programas que no contienen violencia o contienen muy poca, no presenta lenguaje inapropiado, 
                                    conductas disruptivas ni situaciones o diálogos de naturaleza sexual.
                                </p>
                            </div>
                        </div><br/>
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-2">
                                <div class="col-sm-12 d-flex">
                                    <app-basic-input [parentForm]="f_Seccion5" inputFormControlName="porcentajeB"
                                        placeHolder="" [maxLength]="2" [onlyNumbers]="true" [decimals]="false"
                                        [horizontal]="true"  [customAppend]="true" (change)="onChangeTotal()">
                                        <ng-container slot="customAppend">
                                            <span class="input-group-text">%</span>
                                        </ng-container>
                                    </app-basic-input>
                                </div>
                            </div>
                            <div class="col-sm-10" style="padding-left:20px;">
                                <p>
                                    b. Programas que pueden contener material inadecuado para niños y niñas adolescentes menores de 14 años 
                                    y requiere de la guía de los padres porque el programa presenta algunas de las siguientes características: 
                                    violencia moderada, lenguaje grosero u ofensivo moderado, situaciones de naturaleza sexual o conductas antisociales.
                                </p>
                            </div>
                        </div>
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-2">
                                <div class="col-sm-12 d-flex">
                                    <app-basic-input [parentForm]="f_Seccion5" inputFormControlName="porcentajeC"
                                        placeHolder="" [maxLength]="2" [onlyNumbers]="true" [decimals]="false"
                                        [horizontal]="true"  [customAppend]="true" (change)="onChangeTotal()">
                                        <ng-container slot="customAppend">
                                            <span class="input-group-text">%</span>
                                        </ng-container>
                                    </app-basic-input>
                                </div>
                            </div>
                            <div class="col-sm-10" style="padding-left:20px;">
                                <p>
                                    c. Programa destinado específicamente al público adulto. Este programa presenta una o más de las siguientes características: 
                                    violencia, escenas sexuales o lenguaje grotesco e indecente.
                                </p>
                            </div>
                        </div>
                        <div class="row gx-2  col-sm-12">
                            <div class="col-sm-2">
                                <div class="col-sm-12 d-flex">
                                    <app-basic-input [parentForm]="f_Seccion5" inputFormControlName="totalPorcentaje"
                                        placeHolder="" [maxLength]="3" [onlyNumbers]="true" [decimals]="false" 
                                        [horizontal]="true"  [customAppend]="true" (change)="onChangeTotal()">
                                        <ng-container slot="customAppend">
                                            <span class="input-group-text">%</span>
                                        </ng-container>
                                    </app-basic-input>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion6" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>VI. DECLARACION JURADA</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="alert alert-custom" formGroupName="Seccion6">
                            <div class="row gx-2">
                                <div class="col-md-10">
                                    <div>
                                        Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                        en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                        sLey del Procedimiento Administrativo General y/o normas complementarias.(2)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                        <ui-switch  formControlName="declaracion">
                                            
                                        </ui-switch>
                                        <label class="col-form-label"> NO/SI </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                
            </div>

        </form>
    </div>
</div>
<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid"  ><!--[disabled]="this.formAnexo.invalid"-->
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>