<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body anexo">
    <div class="container mt-2 mb-3">
        <form [formGroup]='anexoFG'>
            <div class="center">
                <h6>{{txtTitulo}}</h6>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1">
                <div ngbAccordionItem="seccion-1" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>FLOTA VEHICULAR</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row"  formGroupName="a_Seccion1">
                            <div class="row gx-2 col-lg">
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center">
                                        <label class="control-label campo-obligatorio me-2">Placa de rodaje:</label>
                                        <div class="flex-1"><!--[readonly]="this.a_s1_tipoDocumento.value === ''"-->
                                            <div class="input-group">
                                                <input type="text" class="form-control text-uppercase"
                                                    (input)="changePlacaRodaje()"
                                                    [maxlength]="getMaxLengthNumeroDocumento('a_s1_placa')"
                                                    formControlName="a_s1_placa" />
                                                    <button class="btn btn-outline-secondary"
                                                        [disabled]="this.a_s1_placa.value.trim().length === 0"
                                                        type="button" (click)="buscarPlacaRodaje('a_s1_placa')">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center">
                                        <label class="control-label campo-obligatorio me-2">Marca:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_marca" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center">
                                        <label class="control-label campo-obligatorio me-2">Modelo:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_modelo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center">
                                        <label class="control-label campo-obligatorio me-2">Clase:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_clase" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-2 col-lg-12">
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center ">
                                        <label class="control-label campo-obligatorio me-2">VIN:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_vin" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center ">
                                        <label class="control-label campo-obligatorio me-2">Serie Chasis:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_serieChasis" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3 align-items-center ">
                                        <label class="control-label campo-obligatorio me-2">Serie Motor:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_serieMotor" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="mb-3 align-items-center ">
                                        <label class="control-label campo-obligatorio me-2">Año Fab.:</label>
                                        <div class="flex-1">
                                            <input type="text" class="form-control" [readonly]="true"
                                                formControlName="a_s1_anioFabricacion" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-1 align-items-center mt-1">
                                    <div class="d-flex mt-4">
                                        <button class="btn btn-danger btn-sm flex-1" (click)="addFlotaVehicular()">
                                            <i class="fas fa-plus-circle"></i>
                                                Agregar
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="d-inline mt-4 ms-5">
                                <label class="col-form-label campo-obligatorio me-2">Documento</label>
                                <button class="btn btn-danger btn-sm me-2 align-self-center"
                                    (click)="inputFileCVDirector.click($event)">
                                    <i class="fas fa-upload"></i>
                                    Adjuntar
                                </button>
                                <input type="file" class="d-none" #inputFileCVDirector accept="application/pdf"
                                    (change)="onChangeInputDirector($event)" />
                                <i class="far fa-file-pdf text-danger fa-2x me-3 align-middle" title="Vista previa"
                                    *ngIf="filePdfSeleccionado || filePdfPathName"
                                    (click)="vistaPreviaDirector()"></i>
                            </div>

                            <div class="d-inline mt-4 ms-5" *ngIf="this.certificadoDobleComando">
                                <label class="col-form-label me-2">Copia simple de Certificado de doble comando </label>
                                <button class="btn btn-danger btn-sm me-2 align-self-center"
                                    (click)="inputFileCertificado.click($event)">
                                    <i class="fas fa-upload"></i>
                                    Adjuntar
                                </button>
                                <input type="file" class="d-none" #inputFileCertificado accept="application/pdf"
                                    (change)="onChangeInputCertificado($event)" />
                                <i class="far fa-file-pdf text-danger fa-2x me-3 align-middle" title="Vista previa"
                                    *ngIf="filePdfCertificadoSeleccionado || filePdfCertificadoPathName"
                                    (click)="vistaPreviaCertificado()"></i>
                            </div>


                        </div>

                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">

                                    <table class="table table-bordered">
                                        <thead class="tabla-header-mtc">
                                            <tr>
                                                <th>N°</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Clase</th>
                                                <th>Código VIN</th>
                                                <th>N° Serie Chasis</th>
                                                <th>N° Serie Motor</th>
                                                <th>Año de fabricación</th>
                                                <th>Placa</th>
                                                <th>Doc.</th>
                                                <th>Certificado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="listaFlotaVehicular.length > 0; else sinRegistros">
                                            <tr class="text-center" [class.registro-edit]="indexEditTabla === i"
                                                *ngFor="let item of listaFlotaVehicular, let i = index">
                                                <td>{{ i + 1}}</td>
                                                <td class="text-start">{{ item.marca}} </td>
                                                <td class="text-start">{{ item.modelo }}</td>
                                                <td class="text-start">{{ item.clase }}</td>
                                                <td class="text-start">{{ (item.vin) }}</td>
                                                <td class="text-start">{{ (item.serieChasis) }}</td>
                                                <td class="text-start">{{ (item.serieMotor) }}</td>
                                                <td class="text-start">{{ (item.anioFabricacion) }}</td>
                                                <td class="text-start">{{ (item.placa) }}</td>
                                                <td *ngIf="!item.file && !item.pathName; else pdfDirector">
                                                </td>
                                                <ng-template #pdfDirector>
                                                    <td class="text-center">
                                                        <i class="far fa-file-pdf"
                                                            (click)="verPdfDirectorGrilla(item)"></i>
                                                    </td>
                                                </ng-template>
                                                <td *ngIf="!item.fileCertificado && !item.pathNameCertificado; else pdfCertificado">
                                                </td>
                                                <ng-template #pdfCertificado>
                                                    <td class="text-center">
                                                        <i class="far fa-file-pdf"
                                                            (click)="verPdfCertificadoGrilla(item)"></i>
                                                    </td>
                                                </ng-template>
                                                <td >
                                                    <div>
                                                        <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                            [class.opacity-icon]="indexEditTabla !== -1"
                                                            title="Eliminar" (click)="eliminarFlotaVehicular(item, i)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <ng-template #sinRegistros>
                                            <tbody>
                                                <tr>
                                                    <td colspan="10" class="text-center">No se encontraron registros</td>
                                                </tr>
                                            </tbody>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                        <i class="far fa-eye"></i>
                        Visualizar
                    </button>
                </div>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarAnexo()" [disabled]="anexoFG.invalid">
                    <i class="far fa-save"></i>
                    {{
                    (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>
</div>