.anexo001-b17-contenedor-check-paises {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.anexo001-b17-contenedor-check-paises .check {
    display: flex;
    align-items: center;
    flex: 1;
}

.anexo001-b17-contenedor-check-paises input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check-caf {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:767px) {
    #anexo001-b17-permiso-solicitar {
        flex-direction: column;
    }
    /*---------------------------------*/
    #anexo001-b17-paises-operar {
        flex-direction: column;
    }
    .anexo001-b17-contenedor-check-paises {
        margin-top: 10px;
    }
    .anexo001-b17-contenedor-check-paises label.check {
        justify-content: center;
    }
    /*---------------------------------*/
    #anexo001-b17-seccion-left,
    #anexo001-b17-seccion-right {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-b17-seccion-right {
        margin-top: 20px;
    }
    /*---------------------------------*/
    #anexo001-b17-placarodaje-soat,
    #anexo001-b17-citv-caf,
    #anexo001-b17-boton-agregar-modificar {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-b17-citv-caf,
    #anexo001-b17-boton-agregar-modificar {
        margin-top: 20px;
    }
    #anexo001-b17-boton-agregar-modificar {
        flex-direction: row !important;
        padding: 0 70px;
    }
    button.anexo001-b17-btn-cancelar {
        margin-left: 10px;
        margin-top: 0 !important;
    }
}