<div class="table-component sombra-new">
    <table class="table">
        <thead>
          <tr>
            <th>Documento</th>
            <th *ngIf="showTipoDocumento">Tipo Documento</th>
            <th>Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of paginatedDocumentos">
            <td>{{ documento.Nombre }}</td>
            <td *ngIf="showTipoDocumento">{{ documento.DescripcionTipo }}</td>
            <td style="text-align: center;">
                <button type="button" (click)="visualizar(documento.Id)" class="btnEmpty">
                  <i class="material-icons">{{ getIcono(documento) }}</i>
                </button>
                <button *ngIf="!viewOnly" type="button" (click)="eliminar(documento.Id)" class="btnEmpty">
                  <i class="material-icons">delete</i>
                </button>
              </td>
          </tr>
          <tr *ngIf="paginatedDocumentos.length === 0">
            <td [attr.colspan]="colSpan"><div style="text-align: center;">Sin información registrada.</div></td>
        </tr>
        </tbody>
      </table>
      
      <div *ngIf="paginatedDocumentos.length !== 0" style="padding-top: 10px;">
        <button type="button" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <span>{{ currentPage }}</span>
        <button type="button" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= documentos.length">Siguiente</button>
      </div>
      <br>
</div>