<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
  
</button>
</div>

<div class="modal-body anexo">
    <div class="container mt-2 mb-3">
        <form novalidate [formGroup]="formulario">
            <div class="center">
                <h6><i class="far fa-list-alt"></i> FORMULARIO 001-B/12 PERSONAL AERONÁUTICO (AUTORIZACIÓN PARA EXTRANJEROS)</h6>
            </div>

            <div ngbAccordion #acc="ngbAccordion" activeIds="datos-solicitante, servicio-solicitado, declaracion-jurada">

                <div ngbAccordionItem="datos-solicitante" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton> DATOS DEL SOLICITANTE</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="container">

                            <div class="row gx-2">
                                <div class="mb-3 col-md-2">
                                    <label class="col-form-label campo-obligatorio">RUC</label>
                                    <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="numeroRuc" [class.control-invalid]="formInvalid('numeroRuc')">
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label class="col-form-label campo-obligatorio">Razón Social o Nombre Comercial</label>
                                    <input type="text" class="form-control" formControlName="razonSocial" [class.control-invalid]="formInvalid('razonSocial')">
                                </div>
                            </div>
                            <!-- Domicilio -->
                            <div class="mb-3">
                                <label class="col-form-label campo-obligatorio">Domicilio <small class="text-muted">(Avenida / Calle / Jirón / Psje / Nro / Departamento / Manzana / Lote / Urb)</small></label>
                                <input type="text" class="form-control" formControlName="domicilioLegal" [class.control-invalid]="formInvalid('domicilioLegal')">
                            </div>
                            <!--  UBIGEO -->
                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Distrito</label>
                                    <input type="text" class="form-control" formControlName="distrito" [class.control-invalid]="formInvalid('distrito')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Provincia</label>
                                    <input type="text" class="form-control" formControlName="provincia" [class.control-invalid]="formInvalid('provincia')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Departamento</label>
                                    <input type="text" class="form-control" formControlName="departamento" [class.control-invalid]="formInvalid('departamento')">
                                </div>
                            </div>
                            <!-- Telefono, Celular, Correo -->
                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label">Teléfono</label>
                                    <input type="text" class="form-control" formControlName="telefono" [class.control-invalid]="formInvalid('telefono')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Celular</label>
                                    <input type="text" class="form-control" formControlName="celular" [class.control-invalid]="formInvalid('celular')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Correo Electrónico</label>
                                    <input type="text" class="form-control" formControlName="correoElectronico" [class.control-invalid]="formInvalid('correoElectronico')">
                                </div>
                            </div>

                            <div class="mt-4"><strong>DATOS DEL REPRESENTANTE LEGAL</strong></div>
                            <hr>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Tipo de documento</label>
                                    <select class="form-select" (change)="changeTipoDocumento()" formControlName="tipoDocumentoRep" [class.control-invalid]="formInvalid('tipoDocumentoRep')">
                                        <option value=''>Seleccione</option>
                                        <option *ngFor="let item of listaTiposDocumentos" [value]="item.id">{{ item.documento }}</option>
                                    </select>
                                </div>

                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Número de documento</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-uppercase" (input)="inputNumeroDocumento($event)" [maxlength]="getMaxLengthNumeroDocumento()" formControlName="nroDocumentoRep" [class.control-invalid]="formInvalid('nroDocumentoRep')" />
                                            <button type="button" class="btn btn-outline-secondary" [disabled]="this.formulario.controls['nroDocumentoRep'].value.trim().length === 0" (click)="buscarNumeroDocumento()">
                                                <i class="fas fa-search"></i>
                                            </button>
                                    </div>
                                </div>
                                <small *ngIf="this.esRepresentante" class="text-danger ms-2">NOTA* N° de Documento no se ha encontrado en la lista de Representantes Legales - SUNAT.</small>
                            </div>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Nombres</label>
                                    <input type="text" class="form-control" formControlName="nombreRep" [class.control-invalid]="formInvalid('nombreRep')">
                                </div>

                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Apellido paterno</label>
                                    <input type="text" class="form-control" formControlName="apPaternoRep" [class.control-invalid]="formInvalid('apPaternoRep')">
                                </div>

                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Apellido materno</label>
                                    <input type="text" class="form-control" formControlName="apMaternoRep" [class.control-invalid]="formInvalid('apMaternoRep')">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label campo-obligatorio">Domicilio
                                    <small class="text-muted"> (Avenida / Calle / Jirón / Psje / Nro / Departamento / Manzana / Lote / Urb)</small>
                                </label>
                                <input type="text" class="form-control" formControlName="domicilioRepresentante" [class.control-invalid]="formInvalid('domicilioRepresentante')">
                            </div>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-6">
                                    <label class="col-form-label campo-obligatorio">Poder Registrado en la Ficha/Partida Nro</label>
                                    <input type="text" class="form-control" (input)="soloNumeros($event)" maxlength="9" formControlName="numeroPartida" [class.control-invalid]="formInvalid('numeroPartida')">
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="col-form-label">Oficina registral</label>
                                    <select class="form-select" formControlName="oficina" [class.control-invalid]="formInvalid('oficina')">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let oficina of listaOficinaRegistral;" [value]="oficina.value">{{ oficina.text }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="servicio-solicitado" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton> SERVICIO SOLICITADO</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="container">

                            <div *ngIf="this.codigoProcedimientoTupa == 'DSA-001'">
                                <strong>OTORGAMIENTO DE AUTORIZACIÓN A PERSONAL AERONÁUTICO EXTRANJERO A FAVOR DEL SR. (A):</strong>
                            </div>
                            <div *ngIf="this.codigoProcedimientoTupa == 'DSA-003'">
                               <strong>RENOVACION DE AUTORIZACIÓN A PERSONAL AERONÁUTICO EXTRANJERO A FAVOR DEL SR. (A):</strong>
                            </div>

                            <hr>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Apellido Paterno</label>
                                    <input type="text" class="form-control" formControlName="apellidoPaterno02" [class.control-invalid]="formInvalid('apellidoPaterno02')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Apellido Materno</label>
                                    <input type="text" class="form-control" formControlName="apellidoMaterno02">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Nombres</label>
                                    <input type="text" class="form-control" formControlName="nombres02" [class.control-invalid]="formInvalid('nombres02')">
                                </div>
                            </div>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Pasaporte</label>
                                    <input type="text" class="form-control text-uppercase" (input)="soloNumeros1($event)" maxlength="12" formControlName="pasaporte" [class.control-invalid]="formInvalid('pasaporte')" />
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Nacionalidad</label>
                                    <input type="text" class="form-control" formControlName="nacionalidad" [class.control-invalid]="formInvalid('nacionalidad')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Fecha de Nacimiento</label>

                                    <div class="input-group">
                                        <input class="form-control" (dateSelect)="onDateSelectPartida($event)" ngbDatepicker #fechaNac="ngbDatepicker" readonly formControlName="fechaNacimiento" [class.control-invalid]="formInvalid('fechaNacimiento')">
                                            <button class="btn btn-outline-secondary calendar" (click)="fechaNac.toggle()" type="button">
                                                <i class="fa fa-calendar-alt"></i>
                                            </button>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Licencia de</label>
                                    <input type="text" class="form-control" formControlName="licenciaDe" [class.control-invalid]="formInvalid('licenciaDe')">

                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Habilitación</label>
                                    <input type="text" class="form-control" formControlName="habilitacion" [class.control-invalid]="formInvalid('habilitacion')">
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">N°</label>
                                    <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="numero" [class.control-invalid]="formInvalid('numero')">
                                </div>
                            </div>

                            <div class="row gx-2">
                                <div class="mb-3 col-md-4">
                                    <label class="col-form-label campo-obligatorio">Meses</label>
                                    <input type="text" class="form-control" (input)="soloNumeros($event)" formControlName="numeroMeses" [class.control-invalid]="formInvalid('numeroMeses')">
                                </div>
                                <div class="mb-3 col-md-8">
                                    <label class="col-form-label campo-obligatorio">Tipo de Aeronave</label>
                                    <input type="text" class="form-control" formControlName="tipoAeronave" [class.control-invalid]="formInvalid('tipoAeronave')">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label campo-obligatorio">Para el desempeño de las siguientes funciones</label>
                                <input type="text" class="form-control" formControlName="funciones" [class.control-invalid]="formInvalid('funciones')">
                            </div>

                        </div>
                    </ng-template>
</div>
</div>

                </div>

                <div ngbAccordionItem="declaracion-jurada" [collapsed]="false">

                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton> DECLARACIÓN JURADA</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="container">
                            <div class="alert alert-danger">
                                <span style="text-align: justify; display: block;">
                                    Al acceder al TUPA Digital MTC y registrarme como usuario, reconozco no sólo que leí, sino también que he entendido y aceptado los Términos y Condiciones de uso del sistema. Además, soy responsable por los efectos legales de su solo acceso, reconozco como auténtico y válido cualquier medio de prueba o proceso tecnológico que utilice el Ministerio de Transportes y Comunicaciones, en adelante MTC, para comprobar mi acceso y salida del sistema.                                </span><br>
                                <span style="text-align: center; display: block;">
                                    <b>DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD.</b>
                                </span>
                            </div>

                            <div class="alert alert-danger">
                                <span style="text-align: justify; display: block;">
                                    NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del mismo a través de la firma electrónica utilizada atraves del usuario y clave de ingreso al Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones , la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales.
                                </span>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>

                </div>

            </div>
            
        </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-sm-12 d-flex">
            <div class="flex-1">
                <button type="button" class="btn btn-secondary" *ngIf="idForm!==0" (click)="descargarPdf()">
                    <i class="far fa-eye"></i>
                    Visualizar
                </button>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="guardarFormulario()" [disabled]="this.formulario.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (idForm === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>
</div>