.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.texto-bajo-juramento{
  color:red;
  font-weight: bold;
}
.seccion-header{
  height: 18px;
  margin: 0px;
  padding: 2px;
}

.check-notificacion {
  width: 30px;
  height: 30px;
}

fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  border:1px solid rgb(194, 193, 193);
  }

legend {
  text-align:left;
  padding: 0.2em;
  width: auto;
  font-size: 1rem;
  font-weight: 100;
}

.alert-custom {
  color: #717171;
  background-color: #e6e6e6;
  border-color: #9c9c9c;
}
