<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <form novalidate [formGroup]="formAnexo">
        <div class="center">
            <h6> ANEXO 001-H/17 SERVICIOS DE TRANSPORTE TERRESTRE INTERNACIONAL – CONO SUR Y COMUNIDAD ANDINA</h6>

        </div>
        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-anexo002-b17">

            <div ngbAccordionItem="ngb-anexo002-b17">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DECLARACIÓN JURADA</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">

                        <div class="col-sm-12 text-justify">
                            Yo,
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['nombreApellido'].value }}</span>, identificado con Documento Nacional de Identidad N°
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['nroDocumento'].value }}</span>, en mi calidad de
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['tipoRepresentacion'].value }}</span> de la Empresa
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['razonSocial'].value }}</span>, con poder inscrito en Partida Registral N°
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['nroPartida'].value }}</span> domiciliado(a) en
                            <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['domicilio'].value }}</span>, declaro bajo juramento que mi objeto es el transporte terrestre de pasajeros o mercancía y que más de la mitad del capital social
                            y el efectivo control de la empresa está en manos de ciudadanos peruanos o naturalizados.
                        </div>

                        <div class="col-sm-12 mt-3">
                            Lo declarado se sujeta a lo señalado en el artículo 34 del Texto Único Ordenado de la Ley Nº 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS y demás normas pertinentes.
                        </div>
                        <!-- <div class="col-sm-12 mt-4">
                            Lima, <u>{{ day }}</u> de <u>{{ month }}</u> de <u>{{ year }}</u>
                        </div> -->
                        <div class="col-sm-12 mt-3">
                            Lima, <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['dia'].value }}</span> de <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['mes'].value }}</span> de 20<span class="campo-resolucion-jurada">{{ this.formAnexo.controls['anio'].value }}</span>
                        </div>
                    </div>

                    <!-- <div class="col-sm-12 mt-5 d-flex justify-content-center">
                        <div class="d-flex border border-dark">
                            <div class="d-flex p-5 border-end border-dark">
                                <i class="far fa-file-pdf fa-3x"></i>
                            </div>
                            <div class="d-flex p-3 flex-column justify-content-center border">
                                <div class="text-center">Agregar PDF firmado localmente</div>
                                <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="d-flex p-3 flex-column justify-content-center border"> </div>
                        </div>
                    </div> -->
                </ng-template>
</div>
</div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>
            <!-- <div class="flex-1">

                <input type="file" class="d-none" #inputFile accept="application/pdf" (change)="handleFileInput($event.target.files)" />
                <button class="btn btn-danger w-50" type="button" (click)="inputFile.click()">
                <i class="fas fa-upload"></i>
                Adjuntar
            </button>
                <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfCroquisSeleccionado !== null" (click)="vistaPreviaPdfCroquis()"></i>

            </div> -->
            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>