
<div class="card mb-5 shadow">
    <div class="card-header py-3">
        Registro de entradas
    </div>
    <div class="card-body p-4 small">
        <div class="mb-2">
            <div class="mb-3 align-items-center row gx-2">
                <div class="col-sm-auto">
                    <b>Filtrar por: </b>
                </div>

                <div class="col-sm-auto">
                    <input
                    class="form-control"
                    type="text"
                    style="text-transform: uppercase"
                    placeholder="Buscar"
                    (ngModelChange)="onChangeFilter($event)"
                  />
                </div>
                
                <div class="col-sm">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-outline-secondary" (click)="onChangeFilterByState()">
                        <i class="fas fa-search"></i>
                      </button>
                  </div>
                </div>

                <div class="col-sm-auto ms-auto">
                    <button class="btn btn-primary" (click)="onNuevo()">
                        <i class="fas fa-plus"></i> Nuevo
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-secondary text-white text-center">
                    <tr class="align-self-center">
                        <th class="align-middle text-center">Nro.</th>
                        <th class="align-middle">Fecha</th>
                        <th class="align-middle text-nowrap">Producto</th>
                        <th class="align-middle">Material</th>
                        <th class="align-middle">Color</th>
                        <th class="align-middle">Talla</th>
                        <th class="align-middle">Tipo</th>
                        <th class="align-middle">Medidas</th>
                        <th class="align-middle">Marca</th>
                        <th class="align-middle">Unidad de Medida</th>
                        <th class="align-middle">Cantidad</th>
                        <th class="align-middle">F. Vencimiento</th>
                        <th class="align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listadoBandeja  | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                        <td class="align-middle text-center text-bold">{{ item.registro }}</td>
                        <td class="align-middle text-center">{{ item.fecha | date:'dd/MM/yyyy'}}</td>
                        <td class="align-middle text-center">{{ item.nombre }}</td>
                        <td class="align-middle text-center">{{ item.material }}</td>
                        <td class="align-middle text-center">{{ item.color }}</td>
                        <td class="align-middle text-center">{{ item.talla }}</td>
                        <td class="align-middle text-center">{{ item.tipo }}</td>
                        <td class="align-middle text-center">{{ item.medidas }}</td>
                        <td class="align-middle text-center">{{ item.marca }}</td>
                        <td class="align-middle text-center">{{ item.nombreUnidadMedida }}</td>
                        <td class="align-middle text-center">{{ item.cantidad }}</td>
                        <td class="align-middle text-center">{{ item.fechaVencimiento | date:'dd/MM/yyyy' }}</td>
                        <td class="align-middle text-center">
                            <button class="btn btn-sm btn-primary" (click)="onEdit(item)">
                                <i class="fas fa-edit"></i> 
                            </button> 
                            <button class="btn btn-sm btn-danger" (click)="onDelete(item)">
                                <i class="fas fa-trash-alt"></i> 
                            </button>
                    </tr>
                    <tr *ngIf="listadoBandeja.length === 0">
                        <td [attr.colspan]="14">
                          <center>Sin información registrada.</center>
                        </td>
                      </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between p-2">
        </div>

    </div>
</div>
