<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoTupa}} {{ this.descripcionTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">

<form novalidate [formGroup]="anexoFormulario">
<div class="center">
    <h6><i class="far fa-list-alt"></i> ANEXO 002-F/17 SERVICIOS DE TRANSPORTE TERRESTRE DE MERCANCÍAS</h6>
</div>

<div ngbAccordion #acc="ngbAccordion" activeIds="ngb-anexo002-f17">
    <div ngbAccordionItem="ngb-anexo002-f17" [collapsed]="false">
        <h2 ngbAccordionHeader >
            
                <button ngbAccordionButton>I. DECLARACIÓN JURADA</button>
            </h2>

        <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
            <div class="row mt-3">
                <div class="col-sm-12 text-justify">
                    Yo,
                    <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_apellidosNombres'].value }}</span>, identificado con Documento Nacional de Identidad N°
                    <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_nroDocumento'].value }}</span>, en mi calidad de
                    {{ this.anexoFormulario.controls['s1_calidad'].value }} de la Empresa
                    {{ this.anexoFormulario.controls['s1_razonSocial'].value }} con poder inscrito de Partida Registral N°
                    <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_nroPartida'].value }}</span>, domiciliada en
                    <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['s1_domicilio'].value }}</span>, declaro bajo juramento que:
                </div>

                <div class="col-sm-12 mt-3">
                    - Mi representada tiene como actividad o giro económico principal es la prestación del servicio de transporte terrestre de mercancías y que así figura declarado en el Registro Único del Controbuyente (RUC).
                </div>
                <div class="col-sm-12 mt-3">
                    - Cumple con lo indicado en los numerales 37.2, 37.3, 37.5, 37.6, 37.8, 37.9, 37.10, 40.1.1, 40.1.2, 40.1.3 de los artículos 37° y 40° del D.S. 017-2009-MTC necesarias para obtener autorización y de no haber recibido sanción firme de cancelación o inhabilitación respecto del servicio que solicita; y de no encontrarse sometido a procedimiento administrativo sancionador por el incumplimiento de las condiciones de acceso y permanencia.
                </div>
                <div class="col-sm-12 mt-3">
                    - No me encuentro condenado por la comisión de los delitos de tráfico ilícito de drogas, lavado de activos, pérdida de dominio o delito tributario.
                </div>
                <div class="col-sm-12 mt-3">
                    - Mi representada cumple con cada una de las condiciones necesarias para obtener la autorización y de no haber recibido sanción firma de cancelación o inhabilitación respecto del servicio solicitado, y de no encontrarme sometido a procedimiento administrativo sancionador por el incumplimiento de una condición de acceso y permanencia.
                </div>
                <div class="col-sm-12 mt-3">
                    - Lo declarado se sujeta a los señalado en el artículo 34 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS y demás normas pertinentes.
                </div>
                <div class="col-sm-12 mt-3">
                    Lima, <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['dia'].value }}</span> de <span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['mes'].value }}</span> de 20<span class="campo-declaracion-jurada">{{ this.anexoFormulario.controls['anio'].value }}</span>
                </div>

            </div>

        </ng-template>
</div>
</div>

    </div>

</div>

</form>

</div>

<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

          <div class="flex-1">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
              </div>
          </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="guardarAnexo()" [disabled]="this.anexoFormulario.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>

