<div class="modal-header">
  <h2>{{ title }}</h2>
  <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
  </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
  <div class="modal-body mat-typography">
    <div class="content-contorno">
      <h3>2.2. OBJETIVO Y JUSTIFICACION DEL PROYECTO 
        <span class="contenido-min-dialog" placement="bottom"  
        ngbTooltip="Precisar el objetivo o propósito del proyecto de exploración en relación a los sondajes o perforaciones de exploración, indicando el mineral a ser explorado." 
        container="body">Contenido
        Mínimo</span>
      </h3>
      <div class="form-group mt-2 mb-4">
        <textarea class="form-control" formControlName="Objetivo"
          placeholder="Precisar el objetivo o propósito del proyecto de exploración en relación a los sondajes o perforaciones de exploración, indicando el mineral a ser explorado; en el caso de proyectos de exploración polimetálicos, indicar el porcentaje de cada mineral."
          rows="7" maxlength="500"></textarea>
          <div class="characters-remaining">
            {{ 500 - form.get('Objetivo').value?.length || 0 }} caracteres restantes
          </div>
          <div *ngIf="form.get('Objetivo').hasError('maxlength')" class="error">
            La descripción no puede exceder los 500 caracteres.
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Anterior"><i class="material-icons">navigate_before</i></button>
    <div class="btn-footer-center">
      <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>Cancel</button>
      <button class="mat-small" *ngIf="viewControl"><i class="material-icons">save</i> Grabar</button>
    </div>
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Siguiente"><i class="material-icons">navigate_next</i></button>
  </div>
</form>
