<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>
            <h3>PLAN DE MANEJO AMBIENTAL</h3>
            <div class="sub-grupo">
                <h3>DESCRIPCIÓN <span class="text-danger">(*)</span></h3>
                <div class="col-sm-12 col-md-12 mt-2">
                    <input type="text" class="form-control" placeholder="" formControlName="Descripcion" maxlength="500">
                    <mat-error *ngIf="descripcionErrors" style="color: red;">{{ descripcionErrors }}</mat-error>
                 </div>
                <br>
                <h3>DESCRIPCIÓN ETAPA <span class="text-danger">(*)</span></h3>
                <div class="col-md-12">
                    <select class="form-select" formControlName="Etapas">
                        <option value="">--SELECCIONE--</option>
                        <option *ngFor="let item of etapa" [value]="item.codigo">{{ item.descripcion }}</option>
                    </select>
                    <mat-error *ngIf="etapasErrors" style="color: red;">{{ etapasErrors }}</mat-error>
                </div>
                <br>
                <h3>DESCRIPCIÓN TIPO ACTIVIDAD <span class="text-danger">(*)</span></h3>
                <div class="col-md-12">
                    <select id="selectTipo"class="form-select" formControlName="TipoActividad">
                        <option value="">--SELECCIONE--</option>
                        <option *ngFor="let item of tipoActividad" [value]="item.codigo">{{ item.descripcion }}</option>
                    </select>                    
                    <mat-error *ngIf="tipoActividadErrors" style="color: red;">{{ tipoActividadErrors }}</mat-error>
                </div>
                <br>
                <h3>COSTO ESTIMADO <span class="text-danger">(*)</span></h3>
                <div class="col-sm-12 col-md-12 mt-2">
                    <input type="text" class="form-control" placeholder="" formControlName="CostoEstimado" maxlength="15" (input)="soloNumeros($event,'CostoEstimado')">
                    <mat-error *ngIf="costoEstimadoErrors" style="color: red;">{{ costoEstimadoErrors }}</mat-error>
                </div>
                <br>
                <h3>TECNOLOGÍA DE TRATAMIENTO <span class="text-danger">(*)</span></h3>
                <div class="form-group col-sm-12 col-md-12  mt-2">
                    <textarea class="form-control" placeholder="" rows="3" formControlName="Tecnologia" maxlength="200"></textarea>
                    <mat-error *ngIf="tecnologiaErrors" style="color: red;">{{ tecnologiaErrors }}</mat-error>
                </div>
                <br>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
                <button *ngIf="viewControl" type="submit" class="mat-small" [ngClass]="{'btn-disabled': form.invalid}" [disabled]="form.invalid"><i class="material-icons">save</i> Grabar</button>
        </div>
    </form>
</div>