<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>

<div class="modal-body anexo">

    <div>
        <h6>ANEXO 001-F/17 SERVICIOS DE TRANSPORTE TERRESTRE INTERNACIONAL (Permiso Complementario o PPS - mercancías y pasajeros)</h6>
    </div>

    <form novalidate [formGroup]="anexoFormulario">

        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-anexo001-e17">
            <div ngbAccordionItem="ngb-anexo001-e17">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DECLARACIÓN JURADA</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="row mt-3">
                        <div class="col-sm-12 text-justify">
                            Yo,
                            <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['nombreUsuario'].value }}</span>, identificado con Documento Nacional de Identidad N°
                            <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['numeroDocumento'].value }}</span>, domiciliado en
                            <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['domicilio'].value }}</span>, declaro bajo juramento que he sido designado como representante legal en la República del Perú de la empresa con razón social
                            <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['razonSocial'].value }}</span>, de nacionalidad
                            <select class="mt-2 form-select form-select-sm d-inline-block w-auto" formControlName="nacionalidad" [class.control-invalid]="formInvalid('nacionalidad')">
                            <option value="">Seleccione</option>
                            <option *ngFor="let item of listaNacionalidad" [value]="item.value">{{ item.text }}</option>
                        </select> y que cuento con plenos poderes para representarla en todos lo actos administrativo y judiciales en los cuales deba intervenir.
                        </div>

                        <div class="col-sm-12 mt-3">
                            Lo declarado se sujeta a lo señalado en el artículo 34 del Téxto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS y demás normas pertinentes.
                        </div>
                        <div class="col-sm-12 mt-3">
                            Lima, <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['dia'].value }}</span> de <span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['mes'].value }}</span> de 20<span class="campo-resolucion-jurada">{{ this.anexoFormulario.controls['anio'].value }}</span>
                        </div>

                        <div class="col-sm-12 mt-5 d-flex justify-content-center" *ngIf="false">

                            <div class="d-flex border border-dark">
                                <input type="file" class="d-none" #inputFile accept="application/pdf" (change)="onChangeInput($event)" />

                                <div class="d-flex p-5 border-end border-dark" *ngIf="filePdfSeleccionado !== null" (click)="vistaPreviaPdf()">
                                    <i class="far fa-file-pdf fa-3x"></i>
                                </div>
                                <div class="d-flex p-3 flex-column justify-content-center border">

                                    <div class="text-center">
                                        Agregar PDF firmado localmente
                                    </div>

                                    <button class="btn btn-primary w-100 mt-3" [disabled]="idAnexo === 0" (click)="inputFile.click()">
                                    Subir PDF
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-template>
</div>
</div>

            </div>
        </div>

    </form>

</div>

<div class="modal-footer anexo">

    <div class="row">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                    <i class="far fa-eye"></i>
                    Visualizar
                </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success" *ngIf="errorAlCargarData === false" (click)="guardarAnexo()" [disabled]="this.anexoFormulario.invalid">
                <i class="far fa-save"></i>
                {{
                    (idAnexo === 0 ? 'Grabar' : 'Modificar')
                }}
            </button>
            </div>
        </div>
    </div>
</div>