<div class="modal-header anexo bg-danger text-white">
  <h4 class="modal-title"> {{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>
<div class="modal-body anexo">
  <div class="container-fluid">
      <form novalidate [formGroup]="formulario">
          <div class="mt-1 mb-3">
              <h6 class="mb-0">{{txtTitulo}}</h6>
              <h6 class="text-muted">{{txtTituloHelp}}</h6>
          </div>
          <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1, seccion-2">

              <div ngbAccordionItem="seccion-1" [collapsed]="false">
                  <h2 ngbAccordionHeader >
                      
                          <button ngbAccordionButton>DATOS PERSONALES</button>
                      </h2>
                  <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                      <div class="mx-2">
                          <div class="mb-3 row my-0">
                              <label class="col-lg-auto col-form-label text-bold">Nombres y apellidos</label>
                              <div class="col-lg">
                                  <span class="form-control text-bold bg-light">{{this.NroDocumento.value}} - {{this.NombresRazonSocial.value}}</span>
                              </div>
                          </div>
                      </div>
                  </ng-template>
</div>
</div>
              </div>

              <div ngbAccordionItem="seccion-2" [collapsed]="false">
                  <h2 ngbAccordionHeader >
                      
                          <button ngbAccordionButton>MODALIDAD DEL SERVICIO</button>
                      </h2>
                  <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                      <div class="lista mx-2">
                          <h5>Seleccione las modalidades de servicio e ingrese la proyección de inversión</h5>
                          <hr class="mt-1">
                          <div formArrayName="HojaDatos" >
                              <div *ngFor="let item of formulario.get('HojaDatos').controls; let i = index">

                                  <div class="d-block p-2 bg-light border" [formGroupName]="i">
                                      <div class="justify-content-between"  formGroupName="Seccion2">
                                          <span class="text-bold m-0 me-3"><h6 class="m-0">{{ i+1 }}</h6></span>
                                          <span class="text-bold m-0 w-100">
                                              <span class="text-bold d-flex align-items-center">
                                                  <span class="text-bold">{{getNombreModalidadServicio(item.get('Seccion2.ModalidadServicio').value)}}</span>
                                                  <div *ngIf="item.get('Seccion2.ModalidadServicio').value === 'M99'" class="ms-2 w-50">
                                                      <input type="text" class="form-control form-control-sm" [hidden]="!item.get('Seccion2.Marca1').value" maxlength="40"
                                                          formControlName="OtraModalidad" [class.control-invalid]="formInvalid(item.get('Seccion2.OtraModalidad'))" >
                                                  </div>
                                              </span>
                                          </span>
                                          <div class="d-flex text-nowrap align-items-center">
                                              <label *ngIf="['M01','M02','M03'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                  <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />Conmutado
                                              </label>
                                              <label *ngIf="['M01','M02','M03'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                  <input type="checkbox" formControlName="Marca2" (change)="checkValueModalidad(item)" />No Conmutado
                                              </label>
                                              <label *ngIf="['M04','M05'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                  <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />Abonados
                                              </label>
                                              <label *ngIf="['M04','M05'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                  <input type="checkbox" formControlName="Marca2" (change)="checkValueModalidad(item)" />Teléfonos Públicos
                                              </label>
                                              <label *ngIf="['M06','M07','M08','M09','M10','M11','M12','M99'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                  <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />
                                              </label>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="px-2 proyeccion-inversion" [class.active]="item.get('Seccion2.Marca1').value||item.get('Seccion2.Marca2').value" [formGroupName]="i">
                                      <div class="mx-2" formGroupName="Seccion3">

                                          <div class="row justify-content-center bg-light">
                                              <div class="col-md-6">
                                                <div class="card m-3 p-4">
                                                  <h6 class="text-center">Proyección de inversión</h6>
                                                  <hr class="mt-0">

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Tipo de moneda</label>
                                                      <div class="col-md">
                                                          <select class="form-select" formControlName="TipoMoneda" [class.control-invalid]="formInvalid(item.get('Seccion3.TipoMoneda'))" >
                                                              <option value="">-- Seleccionar --</option>
                                                              <option *ngFor="let item of listaTiposMoneda;" [value]="item.id">{{ item.descripcion }}</option>
                                                          </select>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Primer Año</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input type="number" class="form-control text-end" formControlName="InversionAnio1" min="0"
                                                              (change)="setTwoNumberDecimal(item.get('Seccion3.InversionAnio1'))"
                                                              [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio1'))">
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Segundo Año</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input type="number" class="form-control text-end" formControlName="InversionAnio2" min="0"
                                                              (change)="setTwoNumberDecimal(item.get('Seccion3.InversionAnio2'))"
                                                              [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio2'))">
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Tercer Año</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input type="number" class="form-control text-end" formControlName="InversionAnio3" min="0"
                                                              (change)="setTwoNumberDecimal(item.get('Seccion3.InversionAnio3'))"
                                                              [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio3'))">
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Cuarto Año</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input type="number" class="form-control text-end" formControlName="InversionAnio4" min="0"
                                                              (change)="setTwoNumberDecimal(item.get('Seccion3.InversionAnio4'))"
                                                              [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio4'))">
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Quinto Año</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input type="number" class="form-control text-end" formControlName="InversionAnio5" min="0"
                                                              (change)="setTwoNumberDecimal(item.get('Seccion3.InversionAnio5'))"
                                                              [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio5'))">
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="mb-3 row mb-1 align-items-center">
                                                      <label class="col-md-auto text-bold mb-1" style="min-width: 150px">TOTAL</label>
                                                      <div class="col-md">
                                                          <div class="input-group input-group-sm mr-sm-2">
                                                                  <div class="input-group-text text-bold">
                                                                      {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                  </div>
                                                              <input class="form-control text-end" disabled
                                                                  [class.control-invalid]="formInvalid(item.get('Seccion3.InversionTotal'))"
                                                                  formControlName="InversionTotal"
                                                                  >
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                              </div>

                                          </div>

                                      </div>
                                  </div>

                              </div>
                          </div>

                      </div>

                  </ng-template>
</div>
</div>
              </div>

          </div>
      </form>
  </div>
</div>

<div class="modal-footer anexo">
  <div class="row">
      <div class="col-sm-12 d-flex">
          <div class="flex-1">
              <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i> Visualizar
              </button>
          </div>
          <div class="flex-1 text-end">
              <button class="btn btn-success boton-guardar" (click)="guardarAnexo()">
                  <i class="fas fa-save"></i> Guardar
              </button>
              <button type="button" class="btn btn-light ms-2" (click)="activeModal.close(graboUsuario)">
                  Cancelar
              </button>
          </div>
      </div>
  </div>
</div>







<!-- <div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title"> {{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body anexo">
    <div class="container-fluid">
        <form novalidate [formGroup]="formulario">
            <div class="mt-1 mb-3">
                <h6 class="mb-0">{{txtTitulo}}</h6>
                <h6 class="text-muted">{{txtTituloHelp}}</h6>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1, seccion-2">

                <div ngbAccordionItem="seccion-1" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>DATOS PERSONALES</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="mx-2">
                            <div class="mb-3 row my-0">
                                <label class="col-lg-auto col-form-label text-bold">Nombres y apellidos</label>
                                <div class="col-lg">
                                    <span class="form-control text-bold">{{this.NombresRazonSocial.value}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-2" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>MODALIDAD DEL SERVICIO</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                        <div class="lista mx-2">
                            <h5>Seleccine las modalidades de servicio e ingrese la proyección de inversión</h5>
                            <hr class="mt-1">
                            <div formArrayName="HojaDatos" >
                                <div *ngFor="let item of formulario.get('HojaDatos').controls; let i = index">

                                    <div class="d-block p-2 bg-light border" [formGroupName]="i">
                                        <div class="justify-content-between"  formGroupName="Seccion2">
                                            <span class="text-bold m-0 me-3"><h6 class="m-0">{{ i+1 }}</h6></span>
                                            <span class="text-bold m-0 w-100">
                                                <span class="text-bold d-flex align-items-center">
                                                    <span class="text-bold">{{getNombreModalidadServicio(item.get('Seccion2.ModalidadServicio').value)}}</span>
                                                    <div *ngIf="item.get('Seccion2.ModalidadServicio').value === 'M99'" class="ms-2 w-50">
                                                        <input type="text" class="form-control form-control-sm" [hidden]="!item.get('Seccion2.Marca1').value" maxlength="40"
                                                            formControlName="OtraModalidad" [class.control-invalid]="formInvalid(item.get('Seccion2.OtraModalidad'))" >
                                                    </div>
                                                </span>
                                            </span>
                                            <div class="d-flex text-nowrap align-items-center">
                                                <label *ngIf="['M01','M02','M03'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                    <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />Conmutado
                                                </label>
                                                <label *ngIf="['M01','M02','M03'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                    <input type="checkbox" formControlName="Marca2" (change)="checkValueModalidad(item)" />No Conmutado
                                                </label>
                                                <label *ngIf="['M04','M05'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                    <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />Abonados
                                                </label>
                                                <label *ngIf="['M04','M05'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                    <input type="checkbox" formControlName="Marca2" (change)="checkValueModalidad(item)" />Teléfonos Públicos
                                                </label>
                                                <label *ngIf="['M06','M07','M08','M09','M10','M11','M12','M99'].indexOf(item.get('Seccion2.ModalidadServicio').value) > -1" class="check-modalidad mb-0">
                                                    <input type="checkbox" formControlName="Marca1" (change)="checkValueModalidad(item)" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-2 proyeccion-inversion" [class.active]="item.get('Seccion2.Marca1').value||item.get('Seccion2.Marca2').value" [formGroupName]="i">
                                        <div class="mx-2" formGroupName="Seccion3">


                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    <h6 class="text-center">Proyección de inversión</h6>
                                                    <hr class="mt-0">

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Tipo de moneda</label>
                                                        <div class="col-md">
                                                            <select class="form-select" formControlName="TipoMoneda" [class.control-invalid]="formInvalid(item.get('Seccion3.TipoMoneda'))" >
                                                                <option value="">-- Seleccionar --</option>
                                                                <option *ngFor="let item of listaTiposMoneda;" [value]="item.id">{{ item.descripcion }}</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Primer Año</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)"
                                                                    formControlName="InversionAnio1" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio1'))">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Segundo Año</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)"
                                                                    formControlName="InversionAnio2" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio2'))">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Tercer Año</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)"
                                                                    formControlName="InversionAnio3" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio3'))">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Cuarto Año</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)"
                                                                    formControlName="InversionAnio4" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio4'))">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">Quinto Año</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)"
                                                                    formControlName="InversionAnio5" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionAnio5'))">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 row mb-1 align-items-center">
                                                        <label class="col-md-auto text-bold mb-1" style="min-width: 150px">TOTAL</label>
                                                        <div class="col-md">
                                                            <div class="input-group input-group-sm mr-sm-2">
                                                                    <div class="input-group-text text-bold">
                                                                        {{ item.get('Seccion3.TipoMoneda').value==='PEN'?'S/':item.get('Seccion3.TipoMoneda').value }}
                                                                    </div>
                                                                <input type="number" class="form-control text-center" (keypress)="soloNumeros($event)" disabled
                                                                    formControlName="InversionTotal" [class.control-invalid]="formInvalid(item.get('Seccion3.InversionTotal'))" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </ng-template>
</div>
</div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-sm-12 d-flex">
            <div class="flex-1">
                <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
                    <i class="far fa-eye"></i> Visualizar
                </button>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success boton-guardar" (click)="guardarAnexo()">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-light ms-2" (click)="activeModal.close(graboUsuario)">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div> -->
