.campo-declaracion-jurada {
    border-bottom: 1px solid #828282;
    border-bottom: 1px solid #828282;
    margin: 0 5px;
    display: inline-block;
}

.contenedor-check-paises {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.contenedor-check-paises .check {
    display: flex;
    align-items: center;
    flex: 1;
}

.contenedor-check-paises input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check-caf {
    width: 30px;
    height: 30px;
}

.check-declaracion-jurada input[type="checkbox"] {
    width: 20px;
    height: 20px;
    /* margin-right: 50px; */
}
