<nav
  class="navbar fixed-top navbar-expand-lg navbar-light bg-light"
  style="background-color: var(--color-mtc) !important"
>
  <div class="navbar-brand" style="display: flex">
    <img src="assets/img/GOB-PE.png" style="max-width: 110px" />
    <div
      class="flex-grow-1 ms-3 ps-3 fw-bold align-self-center"
      style="border-left: 1px solid white; color: white; font-size: 16px"
    >
      Tupa Digital
    </div>
  </div>
</nav>

<div class="main">
  <div class="container p-4">
    <div class="card mb-5 shadow">
      <div class="card-header">Firma Electrónica de Documentos</div>
      <div class="card-body small p-4">
        <div class="subtitle">Datos del solicitante</div>
        <hr />

        <div class="section">
          <div class="row">
            <div class="col-lg-2 fw-bold">
              {{
                datosSolicitante?.tipoPersona === "00002"
                  ? "Razón
              social"
                  : "Nombres"
              }}:
            </div>
            <div class="col-lg-4">{{ nombresSolicitante }}</div>
            <div class="col-lg-2 fw-bold">Tipo persona:</div>
            <div class="col-lg-4">{{ datosSolicitante?.tipoPersonaDesc }}</div>
          </div>
          <div class="row">
            <div class="col-lg-2 fw-bold">Correo electrónico:</div>
            <div class="col-lg-4">{{ datosSolicitante?.correo }}</div>
            <div class="col-lg-2 fw-bold">Tipo documento:</div>
            <div class="col-lg-4">
              {{ datosSolicitante?.tipoDocumentoDesc }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 fw-bold">Celular:</div>
            <div class="col-lg-4">{{ datosSolicitante?.celular }}</div>
            <div class="col-lg-2 fw-bold">Número documento:</div>
            <div class="col-lg-4">{{ datosSolicitante?.nroDocumento }}</div>
          </div>
        </div>

        <div class="subtitle">Datos del profesional</div>
        <hr />

        <div class="section">
          <div class="row">
            <div class="col-lg-2 fw-bold">Nombres:</div>
            <div class="col-lg-4">{{ nombresProfesional }}</div>
            <div class="col-lg-2 fw-bold">Tipo documento:</div>
            <div class="col-lg-4">{{ datosProfesional?.tipoDocDesc }}</div>
          </div>
          <div class="row">
            <div class="col-lg-2 fw-bold">Correo electrónico:</div>
            <div class="col-lg-4">{{ datosProfesional?.email }}</div>
            <div class="col-lg-2 fw-bold">Número documento:</div>
            <div class="col-lg-4">{{ datosProfesional?.numDoc }}</div>
          </div>
        </div>

        <ng-container *ngIf="!isFirmado; else elseFirmaTemplate">
          <div class="row">
            <div class="col-lg-auto">
              <div class="subtitle">
                Documento electrónico
                <span class="badge text-bg-warning">PENDIENTE DE FIRMA</span>
              </div>
            </div>
            <div class="col-lg-auto ms-auto align-self-end">
              <div class="subtitle">
                Tiempo restante: {{ timeLeftFormatted }}
              </div>
            </div>
          </div>
          <hr />

          <div class="section">
            <div [ngSwitch]="browserName">
              <div *ngSwitchCase="'chrome'">
                <ngb-alert type="info" [dismissible]="false">
                  <div class="m-0">
                    <i class="fas fa-exclamation-circle"></i>
                    <b> ¡Importante!</b> - Usted esta usando el navegador
                    <b>Google Chrome</b>, antes de iniciar la firma se requiere
                    tener instalado el plugin <b>ClickOnce</b>, lo puede
                    instalar a través de uno de los enlaces:
                    <a
                      href="https://chrome.google.com/webstore/detail/windows-remix-clickonce-h/dgpgholdldjjbcmpeckiephjigdpikan"
                      target="_blank"
                      ><b>aquí</b></a
                    >
                    o
                    <a
                      href="https://chrome.google.com/webstore/detail/clickonce-for-google-chro/kekahkplibinaibelipdcikofmedafmb"
                      target="_blank"
                      ><b>aquí</b></a
                    >
                  </div>
                </ngb-alert>
              </div>
              <div *ngSwitchCase="'firefox'">
                <ngb-alert type="info" [dismissible]="false">
                  <div class="m-0">
                    <i class="fas fa-exclamation-circle"></i>
                    <b> ¡Importante!</b> - Usted esta usando el navegador
                    <b>Firefox</b>, antes de iniciar la firma se requiere tener
                    instalado el plugin <b>ClickOnce</b>, lo puede instalar a
                    través de uno de los enlaces:
                    <a
                      href="https://addons.mozilla.org/es/firefox/addon/logalty-clickonce/"
                      target="_blank"
                      ><b>aquí</b></a
                    >
                    o
                    <a
                      href="https://addons.mozilla.org/es/firefox/addon/breez-clickonce/"
                      target="_blank"
                      ><b>aquí</b></a
                    >
                  </div>
                </ngb-alert>
              </div>
              <div *ngSwitchDefault></div>
            </div>

            <button
              type="button"
              class="btn btn-success mb-4"
              (click)="firmarDocumento()"
              [disabled]="disableBtnFirmar"
            >
              <i class="fas fa-file-signature"></i> Firmar
            </button>

            <div class="pdfContainer">
              <ng2-pdfjs-viewer
                #pdfViewer
                [openFile]="false"
                [viewBookmark]="false"
                [download]="true"
                [print]="true"
                locale="es-MX"
              ></ng2-pdfjs-viewer>
            </div>
          </div>

          <!-- <app-firma-signnet #signNetCmp (response)="signNetResponse($event, btnFirmarDoc)">
                    </app-firma-signnet> -->

          <app-firma-peru
            #firmaPeruCmp
            (firmaInicia)="onFirmaInicia()"
            (firmaCompleta)="onFirmaCompleta()"
            (firmaCancela)="onFirmaCancela()"
          ></app-firma-peru>
        </ng-container>

        <ng-template #elseFirmaTemplate>
          <div class="row">
            <div class="col-lg-auto">
              <div class="subtitle">
                Documento electrónico
                <span class="badge text-bg-success">FIRMADO</span>
              </div>
            </div>
            <div class="col-lg-auto ms-auto align-self-end">
              <div class="subtitle">
                Tiempo restante: {{ timeLeftFormatted }}
              </div>
            </div>
          </div>
          <hr />
          <div class="section">
            <div class="pdfContainer">
              <ng2-pdfjs-viewer
                #pdfViewer
                [openFile]="false"
                [viewBookmark]="false"
                [download]="true"
                [print]="true"
                locale="es-MX"
              ></ng2-pdfjs-viewer>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
