.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 1.4rem;
  font-weight: 600;
}

.main {
  margin-top: 58px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  height: calc(100vh - 58px);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  color: #5d5d5d;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

.subtitle {
  font-weight: 700;
  font-size: 1.2em;
  color: #5d5d5d;
  padding-top: 0.5em;
}

.section {
  /* padding-top: 1em; */
  /* margin-left: 1em;
  margin-right: 1em; */
  padding-bottom: 1em;
}

@media (min-width: 992px) {
  .btn-input-center {
    padding-top: 2em;
  }

  .pdfContainer {
    height: 1485px !important;
  }
}

.pdfContainer {
  height: 800px;
}

hr {
  background-color: #5d5d5d;
}

hr.vertical {
  border: 0;
  border-left: 1px solid #5d5d5d;
  height: 100%;
  margin: 0;
}
