<div class="modal-header">
  <h2>{{ title }}</h2>
  <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
  </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
  <div class="modal-body mat-typography">
    <div class="content-contorno">
      <h3>1.1. RESUMEN EJECUTIVO</h3>
      <div class="form-group mt-2 mb-4">
        <textarea class="form-control" formControlName="Resumen"
          placeholder="El Resumen Ejecutivo será redactado en un lenguaje claro, sencillo y conciso, deberá sintetizar los principales elementos del proyecto, que permitan a la Autoridad Ambiental y al público en general tener una visión amplia, integral y clara del proyecto; debe incluir el resumen de la ubicación y área efectiva, áreas de influencia, las actividades de exploración y tiempo de ejecución una vez iniciadas las actividades (cronograma), las condiciones ambientales y particularidades del medio donde se pretende desarrollar el proyecto, los mecanismos de participación ciudadana realizados, los impactos ambientales negativos no significativos, el plan de manejo ambiental y las medidas de mitigación, monitoreo y seguimiento, que incluirán las medidas de cierre, post cierre y rehabilitación. Asimismo, se debe indicar la inversión total del proyecto."
          rows="7" maxlength="500"></textarea>
        <div class="characters-remaining">
          {{ 500 - form.get('Resumen').value?.length || 0 }} caracteres restantes
        </div>
        <div *ngIf="form.get('Resumen').hasError('maxlength')" class="error">
          La descripción no puede exceder los 500 caracteres.
        </div>
      </div>
    </div>

    <div class="content-contorno">
      <h3>1.2. ADJUNTAR RESUMEN EJECUTIVO</h3>
      <div class="mensaje-dialog mt-1">
        IMPORTANTE : EL TAMAÑO DE CADA ARCHIVO NO DEBE PASAR DE 50 MB.
        SE DEBE ESCANEAR COMO MÁXIMO A 300 DPI DE RESOLUCIÓN Y USAR LA TECNOLOGÍA DE RECONOCIMIENTO ÓPTICO DE CARÁCTERES
        (OCR).
      </div>
      <tupa-attach-button *ngIf="viewControl" (documentoSeleccionado)="agregarDocumento($event)"
        [formatos]="['pdf','doc','docx','xls','xlsx','zip', '7z','rar','kml','kmz','cad', 'png', 'jpg', 'jpeg']"
        [tamano]="50" [cantidadRegistros]="documentos.length" [limiteRegistros]="60"
        [showTipoDocumento]="showTipoDocumento" [valorSeleccionado]="0"
        [optsTipoDocumento]="optsTipoDocumento"></tupa-attach-button>
      <br>
      <app-document-grid [showTipoDocumento]="showTipoDocumento" [documentos]="documentos" [viewOnly]="viewOnly"
        (documentosActualizados)="actualizarDocumentos($event)"></app-document-grid>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Anterior"><i class="material-icons">navigate_before</i></button>
    <div class="btn-footer-center">
      <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
        Cancel</button>
      <button class="mat-small" *ngIf="viewControl"><i class="material-icons">save</i> Grabar</button>
    </div>
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Siguiente"><i class="material-icons">navigate_next</i></button>
  </div>
</form>