<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>

            <h3></h3>
            <div class="sub-grupo">
                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>CÓDIGO DE PUNTO DE CONTROL</h3>
                            <input type="text" class="form-control text-uppercase" placeholder="" formControlName="Codigo" maxlength="10">
                            <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="codigo.errors?.required">El código es obligatorio.</small>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>TIPO DE MUESTRA</h3>
                            <select class="form-select" formControlName="TipoMuestra">
                                <option selected value="">--SELECCIONE--</option>
                                <option *ngFor="let item of listaTipoMuestra" [value]="item.codigo">{{ item.descripcion
                                    }}
                                </option>
                            </select>
                            <div *ngIf="muestra.invalid && (muestra.dirty || muestra.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="muestra.errors?.invalidSelection">El tipo de muestra es obligatorio.</small>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>CLASE MONITOREO</h3>
                            <select class="form-select" formControlName="ClaseMonitoreo">
                                <option selected value="">--SELECCIONE--</option>
                                <option *ngFor="let item of listaClaseMonitoreo" [value]="item.codigo">{{
                                    item.descripcion }}
                                </option>
                            </select>
                            <div *ngIf="claseMonitoreo.invalid && (claseMonitoreo.dirty || claseMonitoreo.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="claseMonitoreo.errors?.invalidSelection">La clase de monitoreo es obligatorio.</small>
                           </div>
                        </div>

                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>ZONA DE MUESTREO</h3>
                            <select class="form-select" formControlName="ZonaMuestreo">
                                <option selected value="">--SELECCIONE--</option>
                                <option *ngFor="let item of listaZonaMuestreo" [value]="item.codigo">{{ item.descripcion
                                    }}
                                </option>
                            </select>
                            <div *ngIf="zonaMuestreo.invalid && (zonaMuestreo.dirty || zonaMuestreo.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="zonaMuestreo.errors?.invalidSelection">La zona de muestreo es obligatorio.</small>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 mt-2">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>TIPO PROCEDENCIA / UBICACIÓN</h3>
                            <select class="form-select" formControlName="TipoProcedencia">
                                <option selected value="">--SELECCIONE--</option>
                                <option *ngFor="let item of listaTipoProcedencia" [value]="item.codigo">{{
                                    item.descripcion }}
                                </option>
                            </select>
                            <div *ngIf="tipoProcedencia.invalid && (tipoProcedencia.dirty || tipoProcedencia.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="tipoProcedencia.errors?.invalidSelection">El tipo procedencia / ubicación es obligatorio.</small>
                           </div>
                        </div>

                        <div class="col-sm-6 col-md-6 mt-2">
                            <h3>DESCRIPCIÓN</h3>
                            <input type="text" class="form-control text-uppercase" placeholder="" formControlName="Descripcion" maxlength="150">
                            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" style="color: red;font-size: 12px;">
                                <small *ngIf="descripcion.errors?.required">La descripción es obligatorio.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="sub-grupo">
                <h3>PARÁMETROS</h3>
                <button (click)="openModalParametros('SELECCIONAR PARÁMETROS DE PLAN DE CIERRE')" type="button"
                    class="mat-small" style="width: 180px;">
                    <i class="material-icons">add</i> Agregar
                </button>
                <tupa-table [columns]="headersParameters" [data]="dataTablaParameters"></tupa-table>
                <br>
            </div>
            <br>
            <div class="sub-grupo">
                <h3>COORDENADAS UTM (EN DATUM HORIZONTAL UTM)</h3>
                <tupa-table [columns]="tableColumns272a" [data]="tableData272a"></tupa-table>
                <br>
            </div>


            <div class="sub-grupo">
                <h3>ADJUNTAR IMAGEN</h3>
                <tupa-attach-button *ngIf="viewControl" (documentoSeleccionado)="agregarDocumento($event)" [formatos]="['png', 'jpg', 'jpeg']" [tamano]="20" [cantidadRegistros]="documentos.length"  [limiteRegistros]="60"></tupa-attach-button>
                <br>
                <app-document-grid 
                    [viewOnly]="viewOnly" 
                    [documentos]="documentos"
                    (documentosActualizados)="actualizarDocumentos($event)"
                ></app-document-grid>
                <br>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
            <button type="submit"  *ngIf="viewControl" class="mat-small"><i class="material-icons">save</i> Grabar</button>
         </div>
    </form>
</div>