<div class="modal-header">
    <h2>{{title}}</h2>
    <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
    </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
    <div class="modal-body mat-typography">
        <div class="content-modal-flexible-none">
            <h3>VÍAS DE ACCESO EXISTENTES</h3>
            <div class="col-md-12 m-b-10px">
                <h3>TIPO DE VÍA <span class="text-danger">(*)</span></h3>
                <select id="selectTipo" class="form-select" formControlName="TipoVia">
                    <option selected value="" [disabled]="true">--SELECCIONE--</option>
                    <option *ngFor="let item of listaTipoVia" [value]="item.codigo">
                        {{ item.descripcion}}
                    </option>
                </select>
                <div *ngIf="tipoVia.invalid && (tipoVia.dirty || tipoVia.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="tipoVia.errors?.invalidSelection">El tipo de vía es obligatorio.</small>
                </div>
            </div>
            <div class="col-md-12 m-b-10px">
                <h3>RUTA INICIO <span class="text-danger">(*)</span></h3>
                <textarea class="form-control" placeholder="" rows="3" formControlName="RutaInicio" maxlength="2500"></textarea>
                <div *ngIf="rutaInicio.invalid && (rutaInicio.dirty || rutaInicio.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="rutaInicio.errors?.required">La Ruta inicio es obligatorio.</small>
                </div>
            </div>
            <div class="col-md-12 m-b-10px">
                <h3>RUTA FIN <span class="text-danger">(*)</span></h3>
                <textarea class="form-control" placeholder="" rows="3" formControlName="RutaFin" maxlength="2500"></textarea>
                <div *ngIf="rutaFin.invalid && (rutaFin.dirty || rutaFin.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="rutaFin.errors?.required">La Ruta fin es obligatorio.</small>
                </div>
            </div>
            <div class="col-md-12 m-b-10px">
                <h3>DISTANCIA (km) <span class="text-danger">(*)</span></h3>
                <input type="text" class="form-control" placeholder="" formControlName="Distancia" maxlength="10" (input)="soloDecimales($event,'Distancia')">
                <div *ngIf="distancia.invalid && (distancia.dirty || distancia.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="distancia.errors?.required">La distancia es obligatorio.</small>
                    <small *ngIf="distancia.errors?.pattern">El formato de distancia no es válido.</small>
                </div>
            </div>
            <div class="col-md-12 m-b-10px">
                <h3>TIEMPO (hora) <span class="text-danger">(*)</span></h3>
                <input type="text" class="form-control" placeholder="" formControlName="Tiempo" maxlength="10" (input)="soloDecimales($event,'Tiempo')">
                <div *ngIf="tiempo.invalid && (tiempo.dirty || tiempo.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="tiempo.errors?.required">El tiempo es obligatorio.</small>
                    <small *ngIf="tiempo.errors?.pattern">El formato de tiempo no es válido.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
            Cancel</button>
        <button *ngIf="viewControl" type="submit" class="mat-small"><i class="material-icons">save</i> Grabar</button>
    </div>
</form>
