<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title"> {{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <form novalidate [formGroup]="formulario">
            <div class="center">
                <h6>{{txtTitulo}}</h6>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1, seccion-2, seccion-3, seccion-4">

              <div ngbAccordionItem="seccion-1" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>PROCEDIMIENTO A SOLICITAR</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="px-2 py-3">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-auto">
                            <label class="custom-ckeck mb-0">
                              <input type="checkbox" formControlName="FlagTripulantesTecnicos"/>Tripulantes Técnicos
                            </label>
                          </div>
                          <div class="col-md-auto">
                            <label class="custom-ckeck mb-0">
                              <input type="checkbox" formControlName="FlagTripulantesAuxiliares"/>Tripulantes de Auxiliares
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

                <div ngbAccordionItem="seccion-2" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>DATOS SOLICITANTE</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                      <div class="card mb-4">
                        <div class="card-header bg-light">
                          <form novalidate [formGroup]="formAgregarTripulante">
                            <div class="row gx-2">

                                <div class="col-md-4">
                                  <div class="mb-2 mt-2">
                                    <label class="control-label mb-1 campo-obligatorio">Tipo Documento</label>
                                    <select #tipoDocTripulante class="form-select" formControlName="tipoDocIdentidad"
                                    [class.control-invalid]="formInvalid(TipoDocIdentidadTripulante)">
                                        <option value=''>Seleccione</option>
                                        <option *ngFor="let item of listaTiposDocumentos" [value]="item.id">{{ item.documento }}</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="mb-2 mt-2">
                                    <label class="control-label mb-1 campo-obligatorio">Nro. Documento</label>
                                    <div class="input-group">
                                      <input #docTripulante type="text" class="form-control" formControlName="nroDocIdentidad" maxlength="9"
                                      (keypress)="soloNumeros($event); onPressEnterDocTripulante($event, tipoDocTripulante.value, docTripulante.value)"
                                      (input)="onInputDocTripulante()"
                                      [class.control-invalid]="formInvalid(NroDocIdentidadTripulante)">
                                        <button class="btn btn-outline-secondary" type="button"
                                            [disabled]="this.NroDocIdentidadTripulante.invalid || !habilitarBusquedaTripulante"
                                            (click)="buscarDocTripulante(tipoDocTripulante.value, docTripulante.value)">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="mb-2 mt-2">
                                      <label class="text-bold mb-1">Tipo de evaluación y equipo</label>
                                      <input type="text" class="form-control" formControlName="tipoEvaluacionEquipo" maxlength="50"
                                      [class.control-invalid]="formInvalid(TipoEvaluacionEquipoTripulante)">
                                  </div>
                                </div>
                                <div class="col-md">
                                  <div class="mb-2 mt-2">
                                      <label class="text-bold mb-1">Nombres</label>
                                      <input type="text" class="form-control" formControlName="nombre" maxlength="50" readonly
                                      [class.control-invalid]="formInvalid(NombreTripulante)">
                                  </div>
                                </div>
                                <div class="col-md">
                                  <div class="mb-2 mt-2">
                                      <label class="text-bold mb-1">Apellido Paterno</label>
                                      <input type="text" class="form-control" formControlName="apellidoPaterno" maxlength="25" readonly
                                      [class.control-invalid]="formInvalid(ApellidoPaternoTripulante)">
                                  </div>
                                </div>
                                <div class="col-md">
                                  <div class="mb-2 mt-2">
                                      <label class="text-bold mb-1">Apellido Materno</label>
                                      <input type="text" class="form-control" formControlName="apellidoMaterno" maxlength="25" readonly
                                      [class.control-invalid]="formInvalid(ApellidoMaternoTripulante)">
                                  </div>
                                </div>

                                <div class="col-md-auto">
                                  <div class="mb-3 mb-2 mt-2">
                                      <label class="text-bold mb-1">&nbsp;&nbsp;</label>
                                      <button type="button" class="btn btn-primary form-control" (click)="agregarTripulante()"
                                      [disabled]="this.formAgregarTripulante.invalid || listaTripulantes.length >= 5">
                                        <i class="fas fa-plus"></i> Agregar
                                      </button>
                                  </div>
                                </div>
                            </div>

                            <div class="card-body p-0">
                              <table class="table text-dark table-bordered m-0">
                                <!-- <thead class="text-white" style="background-color: steelblue;"> -->
                                <thead class="text-white bg-secondary">
                                  <tr>
                                    <th scope="col" class="text-center" style="width: 40px;">N°</th>
                                    <th scope="col" class="text-center">Apellido paterno</th>
                                    <th scope="col" class="text-center">Apellido materno</th>
                                    <th scope="col" class="text-center">Nombres</th>
                                    <th scope="col" class="text-center">Tipo evaluación y equipo</th>
                                    <th scope="col" class="text-center">Doc. Identidad</th>
                                    <th scope="col" class="text-center" style="width: 50px;"></th>
                                  </tr>
                                </thead>
                                <tbody class="text-small">
                                  <tr *ngFor="let item of listaTripulantes; let i = index" class="text-small">
                                    <td class="text-center py-1 fw-bold">{{ i+1 }}</td>
                                    <td class="text-center py-1">{{ item.apellidoPaterno }}</td>
                                    <td class="text-center py-1">{{ item.apellidoMaterno }}</td>
                                    <td class="text-center py-1">{{ item.nombres }}</td>
                                    <td class="text-center py-1">{{ item.tipoEvaluacionEquipo }}</td>
                                    <td class="text-center py-1">{{ item.tipoDocIdentidad }} {{ item.docIdentidad }}</td>
                                    <td class="text-center py-1">
                                      <button class="btn btn-outline-danger btn-sm" (click)="eliminarTripulante(i)"><i class="fas fa-trash"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </form>
                        </div>

                      </div>

                      <div class="px-2">
                          <div class="row">
                              <div class="col-12">

                                  <h5 *ngIf="this.solicitaPN">Persona Natural</h5>
                                  <h5 *ngIf="this.solicitaPJ">Persona Jurídica</h5>
                                  <hr class="mt-1">

                                  <div class="row" *ngIf="this.solicitaPN">
                                      <div class="col-lg-12">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Nombres" label="Nombres y apellidos"
                                              [maxLength]="50"
                                              [readonly]="true">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row" *ngIf="this.solicitaPN">
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="TipoDocSolicitante" label="Tipo Documento"
                                              [readonly]="true"
                                              [maxLength]="20">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="NroDocSolicitante" label="Nro. Documento"
                                              [readonly]="true" input
                                              [maxLength]="9">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Ruc" label="R.U.C."
                                              [onlyNumbers]="true"
                                              [maxLength]="11">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row" *ngIf="this.solicitaPJ">
                                      <div class="col-lg-8">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="RazonSocial" label="Razón Social"
                                              placeHolder="Ingrese la razón social" [maxLength]="100">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Ruc" label="R.U.C."
                                              placeHolder="Ingrese el número de RUC" [onlyNumbers]="true"
                                              [maxLength]="11">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-12">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Domicilio" label="Domicilio Legal"
                                              placeHolder="Ingrese el domicilio legal" [maxLength]="150">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Departamento <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="Departamento" #departamento
                                                  (change)="onChangeDepartamento(departamento.value)"
                                                  [class.control-invalid]="formInvalid(Departamento)">
                                                  <option value="">- Seleccionar -</option>
                                                  <option *ngFor="let item of listaDepartamentos;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Provincia <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="Provincia" #provincia
                                                  (change)="onChangeProvincia(departamento.value, provincia.value)"
                                                  [class.control-invalid]="formInvalid(Provincia)">
                                                  <option value=""> Seleccionar -</option>
                                                  <option *ngFor="let item of listaProvincias;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Distrito <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="Distrito" #distrito
                                                  [class.control-invalid]="formInvalid(Distrito)">
                                                  <option value="">- Seleccionar -</option>
                                                  <option *ngFor="let item of listaDistritos;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row" *ngIf="this.solicitaPN">
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Telefono" label="Teléfono Fijo"
                                              placeHolder="Ingrese el número de teléfono" [onlyNumbers]="true"
                                              [maxLength]="9">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Celular" label="Celular"
                                              placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                                              [maxLength]="9">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="Correo" label="Correo Electrónico"
                                              placeHolder="Ingrese el correo electrónico" [maxLength]="50">
                                          </app-basic-input>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-12" *ngIf="this.solicitaPJ">

                                  <h5 class="mt-3">Representante Legal</h5>
                                  <hr class="mt-1">

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <label class="control-label campo-obligatorio">Tipo Documento</label>
                                          <select class="form-select" formControlName="TipoDocumentoRep"
                                              [class.control-invalid]="formInvalid(TipoDocumentoRep)">
                                              <option value=''>Seleccione</option>
                                              <option *ngFor="let item of listaTiposDocumentos | slice:0:3" [value]="item.id">{{ item.documento }}</option>
                                          </select>
                                          <div *ngIf="TipoDocumentoRep.invalid && (TipoDocumentoRep.dirty || TipoDocumentoRep.touched)" class="text-danger">
                                              <div *ngIf="TipoDocumentoRep.errors?.required"> El campo es obligatorio</div>
                                          </div>
                                      </div>

                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="NumeroDocumentoRep" label="Nro. Documento"
                                              [maxLength]="maxLengthNumeroDocumentoRepLeg"
                                              placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                              [btnAppend]="true" iconBtnAppend="fa-search"
                                              [disabledAppend]="TipoDocumentoRep.value.trim() == '' || disableBtnBuscarRepLegal"
                                              (clickAppend)="buscarRepresentanteLegal()">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="NombresRep" label="Nombres"
                                              [maxLength]="50">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="ApePaternoRep" label="Apellido Paterno"
                                              [maxLength]="50">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="ApeMaternoRep" label="Apellido Materno"
                                              [maxLength]="50">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <app-basic-input [parentForm]="formulario"
                                      inputFormControlName="DomicilioRep" label="Domicilio Legal"
                                      placeHolder="Ingrese el domicilio legal" [maxLength]="150">
                                  </app-basic-input>

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Departamento <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="DepartamentoRep" #departamentoRep
                                                  (change)="onChangeDepartamentoRep(departamentoRep.value)"
                                                  [class.control-invalid]="formInvalid(DepartamentoRep)">
                                                  <option value="">- Seleccionar -</option>
                                                  <option *ngFor="let item of listaDepartamentosRep;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Provincia <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="ProvinciaRep" #provinciaRep
                                                  (change)="onChangeProvinciaRep(departamentoRep.value, provinciaRep.value)"
                                                  [class.control-invalid]="formInvalid(ProvinciaRep)">
                                                  <option value=""> Seleccionar -</option>
                                                  <option *ngFor="let item of listaProvinciasRep;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                      <div class="col-lg-4">
                                          <div class="mb-2">
                                              <label class="text-bold mb-1">Distrito <span class="text-danger">(*)</span></label>
                                              <select class="form-select" formControlName="DistritoRep" #distritoRep
                                                  [class.control-invalid]="formInvalid(DistritoRep)">
                                                  <option value="">- Seleccionar -</option>
                                                  <option *ngFor="let item of listaDistritosRep;" [value]="item.value">{{ item.text }}</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="TelefonoRep" label="Teléfono Fijo"
                                              placeHolder="Ingrese el teléfono fijo" [onlyNumbers]="true"
                                              [maxLength]="9">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="CelularRep" label="Celular"
                                              placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                                              [maxLength]="9">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="CorreoRep"
                                              label="Correo Electrónico"
                                              placeHolder="Ingrese el correo electrónico" [maxLength]="50">
                                          </app-basic-input>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="PartidaRep"
                                              label="Poder registrado en la partida N°"
                                              placeHolder="Ingrese el número de partida" [onlyNumbers]="true"
                                              [maxLength]="15">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <app-basic-input [parentForm]="formulario"
                                              inputFormControlName="AsientoRep" label="Asiento N°"
                                              placeHolder="Ingrese el número de asiento" [onlyNumbers]="true"
                                              [maxLength]="15">
                                          </app-basic-input>
                                      </div>
                                      <div class="col-lg-4">
                                          <label class="control-label">Oficina registral <span class="text-danger">(*)</span></label>
                                          <select class="form-select" formControlName="OficinaRep" [class.control-invalid]="formInvalid(OficinaRep)">
                                              <option value="">Seleccione</option>
                                              <option *ngFor="let item of listaOficinasRegistrales;" [value]="item.id">{{ item.descripcion }}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>

                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-3" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>MODALIDAD DE NOTIFICACIÓN</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="px-2 py-3">
                            <p class="fw-bold">
                                Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique bajo la siguiente modalidad:
                            </p>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <div class=" form-check ms-3">
                                        <input type="radio" id="rb1" class="form-check-input" name="ModalidadNotificacion" value="1" formControlName="ModalidadNotificacion">
                                        <label class="form-check-label" [class.control-invalid]="formInvalid(ModalidadNotificacion)" for="rb1">
                                            De manera personal en el domicilio de la persona jurídica o natural consignada en el presente formulario.
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-12">
                                    <div class=" form-check ms-3">
                                        <input type="radio" id="rb2" class="form-check-input" name="ModalidadNotificacion" value="2" formControlName="ModalidadNotificacion">
                                        <label class="form-check-label" [class.control-invalid]="formInvalid(ModalidadNotificacion)" for="rb2">
                                            Al correo electrónico de la persona jurídica o natural consignada en el presente formulario
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion-4" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>DECLARACIÓN JURADA</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                      <div class="alert alert-custom">
                        <div class="px-2 py-3">
                            <p class="fw-bold">
                                Manifiesto con carácter de Declaración Jurada que:
                            </p>
                            <ul>
                                <li>
                                    <div class="row" [class.control-invalid]="formInvalid(Declaracion1)">
                                        <div class="col-md">
                                            <p>Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, Ley del Procedimiento Administrativo General y/o normas complementarias</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="Declaracion1" class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row" [class.control-invalid]="formInvalid(Declaracion2)">
                                        <div class="col-md">
                                            <p>Adjunto todos los requisitos señalados en el TUPA vigente del MTC</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="Declaracion2" class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </ng-template>
</div>
</div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="modal-footer anexo">
    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="flex-1">
                <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
                    <i class="far fa-eye"></i> Visualizar
                </button>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success boton-guardar" (click)="guardarFormulario()">
                    <i class="far fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-light ms-2" (click)="activeModal.close(graboUsuario)">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
