<ng-container>
  <button
    #btnCabecera
    class="cabecera"
    (click)="cargarDetalleProced(btnCabecera)"
  >
    <span class="titulo">
      {{ procedimiento.codigoProc }}
      {{ procedimiento.procedimiento }}
    </span>
  </button>

  <div
    #collapse="ngbCollapse"
    [(ngbCollapse)]="isCollapsed"
    [animation]="true"
    (shown)="onShownDetalle(btnCabecera)"
  >
    <div class="card card-detalle" *ngIf="detalleProcedimiento">
      <div class="card-body">
        <span class="text-emphasys-1">
          {{ detalleProcedimiento.dirLinea }}
        </span>

        <div class="subtitulo">
          <span class="text">Datos del trámite</span>
          <hr class="underline" />
        </div>

        <div class="row my-1" *ngIf="detalleProcedimiento.plazoAtencionTxt">
          <div class="col-md-3">
            <span class="text-emphasys-1">Plazo de atención</span>
          </div>
          <div class="col-md-9">
            <span class="text-1">
              {{ detalleProcedimiento.plazoAtencionTxt }}
            </span>
          </div>
        </div>

        <div class="row my-1" *ngIf="detalleProcedimiento.tipoEvaluacionTxt">
          <div class="col-md-3">
            <span class="text-emphasys-1">Tipo de evaluación</span>
          </div>
          <div class="col-md-9">
            <span class="text-1">
              {{ detalleProcedimiento.tipoEvaluacionTxt }}
            </span>
          </div>
        </div>

        <div class="row my-1" *ngIf="detalleProcedimiento.tipoPersonaTxt">
          <div class="col-md-3">
            <!-- <ng-template #tipoPersona_popContent>
              Tipos de persona que pueden realizar la solicitud según el TUPA
              vigente.
            </ng-template> -->
            <span class="text-emphasys-1">Tipo de persona</span>
            <!-- <span
              class="text-info ms-1"
              triggers="mouseenter:mouseleave"
              popoverTitle="Información"
              placement="right"
              [ngbPopover]="tipoPersona_popContent"
            >
              <i class="fas fa-sm fa-info-circle"></i>
            </span> -->
          </div>
          <div class="col-md-9">
            <span class="text-1">
              {{ detalleProcedimiento.tipoPersonaTxt }}
            </span>
          </div>
        </div>

        <div class="row gx-2">
          <div class="col-auto">
            <button
              class="btn btn-sm btn-secundario mt-2"
              *ngIf="detalleProcedimiento.fichaTupa"
              (click)="verFichaTupa()"
            >
              Ficha TUPA
              <i class="fas fa-download"></i>
            </button>
          </div>
          <div class="col-auto">
            <button
              class="btn btn-sm btn-secundario mt-2"
              *ngIf="detalleProcedimiento.manualTupa"
              (click)="verManualTupa()"
            >
              Manual TUPA
              <i class="fas fa-download"></i>
            </button>
          </div>
        </div>

        <ng-container
          *ngIf="detalleProcedimiento.canalAtencionList?.length > 0"
        >
          <div class="subtitulo">
            <span class="text">Canal digital de atención</span>
            <hr class="underline" />
          </div>

          <div class="row gx-2 row-canal-atencion">
            <div
              class="col-md-auto mb-3"
              *ngFor="
                let canalAtencion of detalleProcedimiento.canalAtencionList
              "
            >
              <a
                class="btn btn-sm btn-secundario"
                [href]="canalAtencion.canalAtencionUrl"
              >
                {{ canalAtencion.canalAtencionDesc }}
                <i class="fas fa-external-link-alt"></i>
              </a>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="detalleProcedimiento.requisitoList?.length > 0">
          <div class="subtitulo">
            <span class="text">Requisitos</span>
            <hr class="underline" />
          </div>

          <div
            class="row gx-2 align-items-center mt-3"
            *ngIf="detalleProcedimiento.tipoSolicitudList?.length > 0"
          >
            <div class="col-md-auto text-emphasys-1">Tipo de solicitud:</div>
            <div class="col-md">
              <select
                class="form-select form-select-sm"
                [(ngModel)]="tipoSolicitudSelected"
                (ngModelChange)="onTipoSolicitudChange($event)"
              >
                <option
                  *ngFor="
                    let tipoSolicitud of detalleProcedimiento.tipoSolicitudList
                  "
                  [value]="tipoSolicitud.idtiposolicitud"
                >
                  {{ tipoSolicitud.descripcion }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <table class="table table-sm table-striped tabla-requisito">
                <thead>
                  <tr>
                    <th class="text-emphasys-2">Nro.</th>
                    <th class="text-emphasys-2">Denominación del requisito</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let requisito of requisitoFilterList">
                    <td class="align-middle text-center text-2">
                      {{ requisito.ordenTxt }}
                    </td>
                    <td class="align-middle text-2 requisito-desc">
                      <quill-view
                        [content]="requisito.requisito"
                        theme="snow"
                        [sanitize]="true"
                      ></quill-view>

                      <ng-container *ngIf="requisito.flagPago">
                        <div class="monto-pago">
                          Monto a Pagar: S/
                          {{ requisito.montoPago | number : "1.2-2" }}
                        </div>
                        <div class="codigo-pago">
                          (Código de pago BN: {{ requisito.codigoTributo }})
                        </div>
                        <ng-container *ngIf="pagoAddFilterList.length > 0">
                          <div class="monto-pago mt-2">Pagos adicionales</div>
                          <div
                            class="row gx-2"
                            *ngFor="
                              let pagoAdd of pagoAddFilterList;
                              let i = index
                            "
                          >
                            <div class="col-auto">
                              <span class="monto-pago">{{ i + 1 }}</span>
                            </div>
                            <div class="col col-md-auto">
                              <span class="monto-pago">{{
                                pagoAdd.concepto
                              }}</span>
                            </div>
                            <div class="col-auto">
                              <span class="monto-pago">
                                S/ {{ pagoAdd.monto | number : "1.2-2" }}</span
                              >
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngIf="requisito.uriAdjunto">
                        <div class="formulario-adjunto">
                          <a
                            href="#"
                            (click)="
                              verDocumentoAdj(
                                $event,
                                requisito.codFormanexoTupa,
                                requisito.uriAdjunto
                              )
                            "
                          >
                            {{
                              requisito.codFormanexoTupa
                                ? "Formulario: " + requisito.codFormanexoTupa
                                : "Formulario"
                            }}
                            <i class="fas fa-download"></i>
                          </a>
                        </div>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <ng-container *ngIf="pagoAddFilterList.length > 0">
            <div class="text-emphasys-1">Pagos adicionales</div>
            <div class="row mt-3">
              <div class="col-md-12">
                <table class="table table-sm table-striped tabla-requisito">
                  <thead>
                    <tr>
                      <th class="text-emphasys-2">Nro.</th>
                      <th class="text-emphasys-2 col-11">Concepto</th>
                      <th class="text-emphasys-2 text-center col-1">Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let pagoAdd of pagoAddFilterList; let i = index"
                    >
                      <td class="align-middle text-center text-2">
                        {{ i + 1 }}
                      </td>
                      <td class="align-middle text-2">
                        {{ pagoAdd.concepto }}
                      </td>
                      <td class="align-middle text-center text-2">
                        S/ {{ pagoAdd.monto | number : "1.2-2" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container> -->
        </ng-container>

        <ng-container *ngIf="detalleProcedimiento.notaList?.length > 0">
          <div class="subtitulo">
            <span class="text">Notas</span>
            <hr class="underline" />
          </div>
          <div
            class="row gx-2"
            *ngFor="let nota of detalleProcedimiento.notaList"
          >
            <div class="col-auto">
              <span class="text-emphasys-1">{{ nota.secuencia }}</span>
            </div>
            <div class="col">
              <span class="text-2">{{ nota.descripcion }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <button class="btn-cerrar" (click)="collapse.toggle(false)">
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
</ng-container>
