<div class="modal-header anexo bg-danger text-white">
   <h4 class="modal-title">{{codigoProcedimientoTupa}} {{descProcedimientoTupa}} </h4>
   <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">

   </button>
</div>

<div class="modal-body">
   <div>
      <form [formGroup]='formulario'>
         <div class="center">
            <h5>{{txtTituloCompleto}}</h5>
         </div>

         <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-2, seccion-3, seccion-4">

            <div ngbAccordionItem="seccion-2" [collapsed]="false">
               <h2 ngbAccordionHeader class="card-header aaa">

                  <button ngbAccordionButton>
                     MODALIDAD DE NOTIFICACIÓN (Marcar solo una modalidad)</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="row gx-2 text-center">
                           <div class="text-center">La notificación del presente procedimiento, se realiza a través del
                              Sistema de Casillas Electrónicas del Ministerio de Transportes y Comunicaciones. </div>
                           <br>
                           <div class="text-center">En virtud a ello, para la tramitación del presente procedimiento
                              administrativo, usted debe contar con una casilla electrónica. Si aún no se ha afiliado,
                              deberá hacerlo, ingresando al siguiente enlace:</div>
                           <a text-align="center" href="https://casilla.mtc.gob.pe/"
                              target="_blank">https://casilla.mtc.gob.pe/</a>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>

            <div ngbAccordionItem="seccion-3" [collapsed]="false">
               <h2 ngbAccordionHeader>

                  <button ngbAccordionButton>III. DATOS
                     SOLICITANTE</button>
               </h2>

               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="row" formGroupName="Seccion3">
                           <div class="col-lg-12" formGroupName="PersonaJuridica">
                              <div class="row gx-2">
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica" inputFormControlName="pj_ruc"
                                       label="N° de Ruc" placeHolder="Ingrese el número de RUC" [onlyNumbers]="true"
                                       [maxLength]="11">
                                    </app-basic-input>

                                 </div>
                                 <div class="col-lg-8">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica"
                                       inputFormControlName="pj_razonSocial" label="Razón Social"
                                       placeHolder="Ingrese la razón social" [maxLength]="100">
                                    </app-basic-input>
                                 </div>

                              </div>
                              <div class="row gx-2">
                                 <div class="col-lg-12">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica"
                                       inputFormControlName="pj_domicilio" label="Domicilio Legal"
                                       placeHolder="Ingrese el domicilio legal" [maxLength]="100">
                                    </app-basic-input>

                                 </div>
                              </div>
                              <div class="row gx-2">
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica"
                                       inputFormControlName="pj_departamento" label="Departamento">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica"
                                       inputFormControlName="pj_provincia" label="Provincia">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_PersonaJuridica"
                                       inputFormControlName="pj_distrito" label="Distrito">
                                    </app-basic-input>
                                 </div>

                              </div>
                              <hr>
                           </div>
                           <div class="col-lg-12" formGroupName="f_s3_datosEmpresa" *ngIf="this.codigoProcedimientoTupa == 'DSTT-025'">
                              <div class="row gx-2">
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_datosEmpresa"
                                       inputFormControlName="f_s3_de_partida" label="Partida registral"
                                       placeHolder="Ingrese el número de partida registral" [onlyNumbers]="true"
                                       [maxLength]="11">
                                    </app-basic-input>

                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_datosEmpresa"
                                       inputFormControlName="f_s3_de_asiento" label="Asiento"
                                       placeHolder="Ingrese el número de asiento" [maxLength]="100">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_datosEmpresa"
                                       inputFormControlName="f_s3_de_certificado" label="Certificado"
                                       placeHolder="Ingrese el número de partida registral" [onlyNumbers]="false"
                                       [maxLength]="100">
                                    </app-basic-input>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-12" formGroupName="RepresentanteLegal">
                              <div class="mt-4"><strong>REPRESENTANTE LEGAL</strong></div>
                              <br>
                              <div class="row gx-2">
                                 <div class="mb-3 col-lg-4">
                                    <label class="control-label campo-obligatorio">Tipo Documento</label>
                                    <select class="form-select" formControlName="rl_tipoDocumento"
                                       [class.control-invalid]="formInvalid(rl_tipoDocumento)">
                                       <option value=''>Seleccione</option>
                                       <option *ngFor="let item of listaTiposDocumentos | slice:0:3" [value]="item.id">
                                          {{
                                          item.documento }}</option>
                                    </select>
                                    <div
                                       *ngIf="f_s3_rl_TipoDocumento.invalid && (f_s3_rl_TipoDocumento.dirty || f_s3_rl_TipoDocumento.touched)"
                                       class="text-danger">
                                       <div *ngIf="f_s3_rl_TipoDocumento.errors?.required">
                                          El campo es obligatorio
                                       </div>
                                    </div>
                                 </div>

                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_numeroDocumento" label="N° Documento"
                                       [maxLength]="maxLengthNumeroDocumentoRepLeg"
                                       placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                       [btnAppend]="true" iconBtnAppend="fa-search"
                                       [disabledAppend]="f_s3_rl_TipoDocumento.value.trim() == '' || disableBtnBuscarRepLegal"
                                       (clickAppend)="buscarNumeroDocumento($event)">
                                    </app-basic-input>
                                 </div>
                              </div>
                              <div class="row gx-2">
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_nombre" label="Nombres" placeHolder="" [maxLength]="50">
                                    </app-basic-input>
                                 </div>

                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_apePaterno" label="Apellido Paterno" placeHolder=""
                                       [maxLength]="50">
                                    </app-basic-input>
                                 </div>

                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_apeMaterno" label="Apellido Materno" placeHolder=""
                                       [maxLength]="50">
                                    </app-basic-input>
                                 </div>
                              </div>
                              <div class="row gx-2">
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_telefono" label="Teléfono Fijo"
                                       placeHolder="Ingrese el teléfono fijo" [onlyNumbers]="true" [maxLength]="12">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_celular" label="Celular"
                                       placeHolder="Ingrese el número de celular" [onlyNumbers]="true" [maxLength]="9">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_correo" label="Correo Electrónico (E-mail)"
                                       placeHolder="Ingrese el correo electrónico" [maxLength]="50">
                                    </app-basic-input>
                                 </div>
                              </div>

                              <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                 inputFormControlName="rl_domicilio" label="Domicilio Legal"
                                 placeHolder="Ingrese el domicilio legal" [maxLength]="100">
                              </app-basic-input>
                              <app-ubigeo #ubigeoCmpRepLeg [parentForm]="f_s3_RepresentanteLegal"
                                 depaFormControlName="rl_departamento" provFormControlName="rl_provincia"
                                 distFormControlName="rl_distrito" depaFormLabel="Departamento"
                                 provFormLabel="Provincia" distFormLabel="Distrito" [horizontal]="true">
                              </app-ubigeo>

                              <div class="row gx-2">
                                 <div class="col-lg-2">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_zona" label="Zona registral N°"
                                       placeHolder="Ingrese zona registral" [onlyNumbers]="false" [maxLength]="20">
                                    </app-basic-input>
                                 </div>
                                 <div class="mb-3 col-lg-2">
                                    <label class="control-label">Oficina registral <span
                                          class="text-danger">(*)</span></label>
                                    <select class="form-select" formControlName="rl_oficina"
                                       [class.control-invalid]="formInvalid(rl_oficina)">
                                       <option value="">Seleccione</option>
                                       <option *ngFor="let oficina of oficinasRegistral;" [value]="oficina.value">
                                          {{oficina.text }}</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_partida" label="Poder registrado en la partida N°"
                                       placeHolder="Ingrese el número de partida" [onlyNumbers]="true" [maxLength]="15">
                                    </app-basic-input>
                                 </div>
                                 <div class="col-lg-4">
                                    <app-basic-input [parentForm]="f_s3_RepresentanteLegal"
                                       inputFormControlName="rl_asiento" label="Asiento N°"
                                       placeHolder="Ingrese el número de asiento" [onlyNumbers]="false"
                                       [maxLength]="15">
                                    </app-basic-input>
                                 </div>
                              </div>
                           </div>

                        </div>

                     </ng-template>
                  </div>
               </div>
            </div>

            <div ngbAccordionItem="seccion-4" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>V. DECLARACIÓN
                     JURADA</button>
               </h2>

               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="mt-2 mb-4">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Toda la información proporcionada es veraz, así como los documentos
                                       presentados son auténticos, en caso contrario, me someto al procedimiento y a las
                                       sanciones previstas en la Ley N° 27444, Ley del Procedimiento Administrativo
                                       General
                                       <span class="text-success" triggers="mouseenter:mouseclick" popoverTitle="Nota"
                                          placement="right"
                                          ngbPopover='Numeral 34.3 del artículo 34° del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS.'>
                                          <i class="fas fa-info-circle"></i>
                                       </span> y/o
                                       normas complementarias.
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_1"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Adjunto todos los requisitos señalados en el TUPA vigente del MTC.
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_2"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4" *ngIf="this.codigoProcedimientoTupa == 'DCV-025'">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Mi representada cuenta con vigencia de poder, en la Partida Registral
                                       N° <b>{{this.f_s3_de_partida.value}}</b> y Asiento
                                       <b>{{this.f_s3_de_asiento.value}}</b>.
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_3"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4" *ngIf="this.codigoProcedimientoTupa == 'DCV-025'">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Mi representada no se encuentra inmersa en niguno de los siguientes impedimentos.
                                       <ol type="a">
                                          <li>
                                             Que sea una Entidad Certificadora de Conversiones a GNV o GLP, así como los
                                             talleres de conversión a GNV o GLP.
                                          </li>
                                          <li>
                                             Que sea una persona jurídica dedicada a la prestación del servicio de
                                             transporte en cualquiera de sus modalidades y los gremios que las agrupan.
                                          </li>
                                          <li>
                                             Que sea una persona jurídica cuyos socios, asociados, administradores o
                                             representantes legales, así como los cónyuges o parientes de estos dentro
                                             del cuarto grado de consanguinidad o segundo de afinidad, presten servicios
                                             o hayan prestado servicios dentro de
                                             los últimos cinco (05) cinco años bajo relación laboral o cualquier otro
                                             vínculo contractual con Entidades
                                             Certificadoras de versiones a GNV o GLP, talleres de conversión a GNV o
                                             GLP, empresas dedicadas a la prestación del servicio de transporte en
                                             cualquiera de sus modalidades y los gremios que las agrupan.
                                          </li>
                                       </ol>
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_4"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4" *ngIf="this.codigoProcedimientoTupa == 'DCV-025'">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Mi representada no se encuentra inmersa en los impedimentos establecidos en el
                                       inciso 4-A.1 del artículo 4-A de la Ley 27181, Ley General de Transporte y
                                       Tránsito Terrestre.
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_5"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4" *ngIf="this.codigoProcedimientoTupa == 'DCV-025'">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Mi representada cuenta con certificación ambiental, expedido por el órgano
                                       competente del Ministerio de Transportes y Comunicaciones Nº
                                       <b>{{this.f_s3_de_certificado.value}}</b>

                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                        </div>

                        <div class="mt-2 mb-4" *ngIf="this.codigoProcedimientoTupa == 'DCV-026'">
                           <div class="alert alert-custom">
                              <div class="row gx-2">
                                 <div class="col-md-10">
                                    <div>
                                       Solicitud con carácter de declaración jurada, indicando que mantienen las
                                       condiciones establecidas en los literales b), c) y d) del numeral 79.2 del
                                       artículo 79 del presente Reglamento.
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                       <ui-switch formControlName="declaracion_6"></ui-switch>
                                       <label class="col-form-label">&nbsp; NO/SI </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="d-flex justify-content-between">
                           Al acceder al sistema TUPA Digital MTC y registrarme como usuario: (i) reconozco que
                           entiendo y acepto los términos y condiciones de éste, (ii) acepto como auténtico y válido
                           cualquier medio de prueba o proceso tecnológico que utilice el MTC para comprobar mi
                           acceso y
                           salida del sistema; y, (iii) me hago responsable por los efectos legales en la gestión del
                           procedimiento administrativo o servicio exclusivo.
                        </div>
                        <hr>
                        <div class="text-center texto-bajo-juramento"> DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN
                           LA
                           VERDAD</div>
                        <div class="col-sm-12 mt-5 d-flex justify-content-center">
                           <div class="alert alert-custom" role="alert">
                              NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante,
                              así como se ha garantizado la autenticación e integridad del mismo a través de la firma
                              electrónica utilizada a través del usuario y clave de ingreso al Sistema Tupa Digital
                              del Ministerio de Transportes y Comunicaciones, la cual tiene la misma validez y
                              eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y
                              segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales
                           </div>
                        </div>

                     </ng-template>
                  </div>
               </div>
            </div>

         </div>
      </form>
   </div>

</div>

<div class="modal-footer anexo">
   <div class="row">
      <div class="col-sm-12 d-flex">
         <div class="flex-1">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
               </button>
            </div>
         </div>

         <div class="flex-1 text-end">
            <button class="btn btn-success" (click)="guardarFormulario()"><!--[disabled]="this.formulario.invalid"-->
               <i class="far fa-save"></i>
               {{
               (id === 0 ? 'Grabar' : 'Modificar')
               }}
            </button>
         </div>
      </div>
   </div>
</div>