<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <div class="row responsive-column">
        <div class="w-100 wt-100" style="padding-right: 20px;">
            <div class="sub-grupo">
                <iframe id="iframeProyectoSecundario"
                src="http://localhost:50585"
                style="width: 100vw; height: 80vh; border: none;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i> Cancel</button>
    <button type="button" class="mat-small" (click)="fnGuardar()"><i class="material-icons">save</i> Grabar</button>
</div>