<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body anexo">
    <div class="container mt-2 mb-3">
        <form [formGroup]='anexoFG'>
            <div class="center">
                <h6>{{txtTitulo}}</h6>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1,seccion-2">
                <div ngbAccordionItem="seccion-1" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>
                                I. LISTADO DE DISTRITOS EN LOS CUALES SE PRETENDE EFECTUAR LAS INSPECCIONES TECNICAS VEHICULARES</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row col-lg-12">                        
                            De conformidad con normativa vigente dclaro bajo juramento que la infromación que se detalla a continuación es verdadera:
                        </div>
                        <div class="row col-lg-12">                        
                            <div class="col-lg-9 mt-3" formGroupName="a_Seccion1">
                                <app-ubigeo #ubigeoCmpSeccion1 [parentForm]="a_Seccion1"
                                            depaFormControlName="a_s1_departamento" depaFormLabel="Departamento"
                                            provFormControlName="a_s1_provincia" provFormLabel="Provincia"
                                            distFormControlName="a_s1_distrito" distFormLabel="Distrito" [horizontal]="true">
                                </app-ubigeo>
                            </div>
                            <div class="col-lg-2 mt-5" id="boton-agregar-modificar">
                                <button class="btn btn-danger btn-sm flex-1" (click)="agregarUbigeo()">
                                    <div>
                                        <i class="fas fa-plus-circle"></i>
                                        Agregar
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">

                                    <table class="table table-bordered">
                                        <thead class="tabla-header-mtc">
                                            <tr>
                                                <th width="80">N°</th>
                                                <th>Departamento</th>
                                                <th>Provincia</th>
                                                <th>Distrito</th>
                                                <th width="80">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="listaUbigeos.length > 0; else sinRegistros">
                                            <tr class="text-center" [class.registro-edit]="indexEditTabla === i"
                                                *ngFor="let item of listaUbigeos, let i = index">
                                                <td>{{ i + 1}}</td>
                                                <td class="text-start">
                                                    {{ item.departamento.descripcion }}
                                                </td>
                                                <td>
                                                    {{ item.provincia.descripcion }}
                                                </td>
                                                <td>
                                                    {{ item.distrito.descripcion }}
                                                </td>
                                                <td>
                                                    <div>
                                                        <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                            [class.opacity-icon]="indexEditTabla !== -1"
                                                            title="Eliminar" (click)="eliminarUbigeo(item, i)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <ng-template #sinRegistros>
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" class="text-center">No se encontraron registros</td>
                                                </tr>
                                            </tbody>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
                </div>

                <div ngbAccordionItem="seccion-2" [collapsed]="false">
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>
                                II. CRONOGRAMA ANUAL DE COBERTURA (mínimo un periodo de siete(7) días calendarios consecutivos):
                            </button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" formGroupName="a_Seccion2">
                            <div class="row col-lg-12">                        
                                <div class="col-lg-12">
                                    <app-ubigeo #ubigeoCmpSeccion2 [parentForm]="a_Seccion2"
                                                depaFormControlName="a_s2_departamento" depaFormLabel="Departamento"
                                                provFormControlName="a_s2_provincia" provFormLabel="Provincia"
                                                distFormControlName="a_s2_distrito" distFormLabel="Distrito" [horizontal]="true">
                                    </app-ubigeo>
                                </div>
                            </div>
                            <div class="row col-lg-12">                        
                                <div class="col-lg-4">
                                    <label>Desde</label>
                                    <div class="flex-1" [class.control-invalid]="formInvalid('a_s2_fechaInicial')">
                                        <app-calendar-date-picker formControlName="a_s2_fechaInicial" [c]="a_s2_fechaInicial"></app-calendar-date-picker>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>Hasta</label>
                                    <div class="flex-1" [class.control-invalid]="formInvalid('a_s2_fechaFinal')">
                                        <app-calendar-date-picker formControlName="a_s2_fechaFinal" [c]="a_s2_fechaFinal"></app-calendar-date-picker>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-4" >
                                    <button class="btn btn-danger btn-sm flex-1" (click)="agregarCronograma()">
                                        <div>
                                            <i class="fas fa-plus-circle"></i>
                                            Agregar
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <div class="table-responsive">

                                    <table class="table table-bordered">
                                        <thead class="tabla-header-mtc">
                                            <tr>
                                                <th width="80">N°</th>
                                                <th>Departamento</th>
                                                <th>Provincia</th>
                                                <th>Distrito</th>
                                                <th>Desde</th>
                                                <th>Hasta</th>
                                                <th width="80">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="listaCronograma.length > 0; else sinRegistros">
                                            <tr class="text-center" [class.registro-edit]="indexEditTabla === i"
                                                *ngFor="let item of listaCronograma, let i = index">
                                                <td>{{ i + 1}}</td>
                                                <td class="text-start">
                                                    {{ item.departamento.descripcion }}
                                                </td>
                                                <td>
                                                    {{ item.provincia.descripcion }}
                                                </td>
                                                <td>
                                                    {{ item.distrito.descripcion }}
                                                </td>
                                                <td>
                                                    {{ item.desde }}
                                                </td>
                                                <td>
                                                    {{ item.hasta }}
                                                </td>
                                                <td>
                                                    <div>
                                                        <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                            [class.opacity-icon]="indexEditTabla !== -1"
                                                            title="Eliminar" (click)="eliminarCronograma(item, i)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <ng-template #sinRegistros>
                                            <tbody>
                                                <tr>
                                                    <td colspan="7" class="text-center">No se encontraron registros</td>
                                                </tr>
                                            </tbody>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                        <i class="far fa-eye"></i>
                        Visualizar
                    </button>
                </div>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarAnexo()" [disabled]="anexoFG.invalid">
                    <i class="far fa-save"></i>
                    {{
                    (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>
</div>