<div class="modal-header">
    <h2>{{title}}</h2> 
</div>
<div class="modal-body mat-typography">
    <h3>CLASIFICACIÓN <span>(CATEGORIZADO DE ACUERDO CON EL DECRETO SUPREMO N° 057-2004-PCM)</span></h3>
    <div class="col-md-12">
        <select class="form-select" [(ngModel)]="selectedClasificacion">
            <option value="" [disabled]="true">--SELECCIONE--</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select>
    </div>
    <br>
    <h3>TIPO DE RESIDUOS</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <select class="form-select" [(ngModel)]="selectedTipoResiduos">
            <option value="" [disabled]="true">--SELECCIONE--</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select>
    </div>
    <br>
    <h3>RESIDUOS</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <select class="form-select" [(ngModel)]="selectedResiduos">
            <option value="" [disabled]="true">--SELECCIONE--</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select>
    </div>
    <br>
    <h3>VOLUMEN (m3/hab/día)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>UNIDADES DE PESO</h3>
    <div class="col-md-12">
        <select class="form-select" [(ngModel)]="selectedClasificacion">
            <option value="" [disabled]="true">--SELECCIONE--</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select>
    </div>
    <br>
    <h3>PESO PER CÁPITA</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>PESO</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>FRECUENCIA</h3>
    <div class="col-md-12">
        <select class="form-select" [(ngModel)]="selectedClasificacion">
            <option value="" [disabled]="true">--SELECCIONE--</option>
            <option value="tipo1">Tipo 1</option>
            <option value="tipo2">Tipo 2</option>
        </select>
    </div>
    <br>
    <h3>TOTAL DEL PROYECTO (VOLUMEN)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>TOTAL DEL PROYECTO (PESO)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>MANEJO DE RR.SS. PELIGROSOS</h3>
    <h3>ALMACENAJE TEMPORAL (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>COMERCIALIZACIÓN (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>REAPROVECHAMIENTO (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>MINIMIZACIÓN (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>CANTIDAD TOTAL (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>

    <div class="row align-items-center g-3 mt-2">
        <div class="col-3">
            <label class="form-label m-0">Marcar según sea el caso</label>
        </div>
        <div class="col-9">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="unidadMinera" id="existente" value="existente">
                <label class="form-check-label" for="existente">EC-RR.SS.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="unidadMinera" id="nueva" value="nueva">
                <label class="form-check-label" for="nueva">EPS-RR.SS.</label>
            </div>
        </div>
    </div>
    <br>

    <h3>TRATAMIENTO DE RESIDUOS PELIGROSOS</h3>
    <h3>CANTIDAD (TM/MES)</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>TIPO DE TRATAMIENTO</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>
    <h3>OBSERVACIONES</h3>
    <div class="col-sm-12 col-md-12 mt-2">
        <input type="text" class="form-control" placeholder="">
    </div>
    <br>

    <div class="row align-items-center g-3 mt-2">
        <div class="col-3">
            <label class="form-label m-0">Marcar según sea el caso</label>
        </div>
        <div class="col-9">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="unidadMinera" id="nueva" value="nueva">
                <label class="form-check-label" for="nueva">EPS-RR.SS.</label>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="modal-footer">
    <button class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
        Cancel</button>
    <button class="mat-small" (click)="closeDialog()"><i class="material-icons">save</i> Grabar</button>
</div>