<hr class="mt-0">
<div class="card">
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-md-auto">
        <button class="btn btn-danger" (click)="verDocumento(datosTupa.uriFicha, datosTupa.nombreFicha)">Descargar ficha TUPA</button>
      </div>

      <div class="col-md">
        <select class="form-select">
          <!-- <option value="">Tipo de solicitud</option> -->
          <option *ngFor="let item of datosTupa.tipoSolicitud" [value]="item.codigo">{{ item.descripcion }}</option>
        </select>

        <!-- <select class="form-select" [(ngModel)]="tipoSolicitudModel" data-container="body"
            (ngModelChange)="onTipoSolicitudChange($event)">
            <option *ngFor="let item of listadoTipoSolicitud" [value]="item.codigostr">{{ item.descripcion }}</option>
        </select> -->
      </div>
    </div>

    <!-- <hr> -->
    <div class="mt-3">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex h-100 border bg-white p-2 small shadow-sm align-items-center justify-content-center">
            <span class="align-middle text-center">Atenciòn en {{datosTupa.plazoDias}} días hábiles</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex h-100 border bg-white p-2 small shadow-sm align-items-center justify-content-center">
            <span class="align-middle text-center">{{datosTupa.tipoEvaluacion}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex h-100 border bg-white p-2 small shadow-sm align-items-center justify-content-center">
            <span class="align-middle text-center"> Dirigido a {{ getPersonaTexto(datosTupa.tiposPersona) }}</span>
          </div>
        </div>
      </div>
    </div>

    <h5 class="texto-principal mt-3">Requisitos</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="small fw-bold">N°</th>
          <th scope="col" class="small fw-bold">Denominación de requisito</th>
          <th scope="col" class="small fw-bold">Formulario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of requisitosTemp; let i = index">
          <ng-container *ngIf="!item.tieneCosto">
            <th scope="row">
              <small>
                <p class="mb-0" style="line-height: 1.2;">{{i+1}}</p>
              </small>
            </th>
            <td>
              <small>
                <p class="mb-0" style="line-height: 1.2;">{{item.descripcion}}</p>
              </small>
            </td>
            <td>
              <a type="button" class="btn btn-link text-nowrap pt-0" (click)="verDocumento(item.plantillaAdjunto, item.codigoFormTupa)">
                <small class="pt-0" style="line-height: 1.2;">
                  {{item.codigoFormTupa}}
                </small>
              </a>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <h5 class="texto-principal mt-2">Derecho trámite</h5>
    <hr class="mt-2">

    <div *ngFor="let item of datosTupa.requisitos">
      <ng-container *ngIf="item.tieneCosto">
        <div class="text-end">
          <span>Monto a Pagar: S/ {{item.costoFormatted}}</span><br>
          <small>(Código de pago BN: {{datosTupa.codigoTributo}} )</small>
        </div>
      </ng-container>
    </div>

    <h5 class="texto-principal mt-2">Notas</h5>
    <hr class="mt-2">

    <div *ngFor="let item of datosTupa.tupaNotas">
        <span>{{item.descripcion}}</span>
    </div>

    <h5 class="texto-principal mt-2">Canales de atenciòn</h5>
    <hr class="mt-2">

    <div class="row">
      <div class="col-md">
        <button class="btn btn-secondary">Iniciar tràmite virtualmente</button>
      </div>

      <div class="col-md">
        <button class="btn btn-secondary float-end">Iniciar tràmite presencialmente</button>
      </div>
    </div>

  </div>
</div>
