<div class="modal-header anexo bg-danger text-white">
   <h4 class="modal-title"> {{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
   <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close()">

   </button>
</div>
<div class="modal-body anexo" style="height:450px;">
   <div class="container-fluid">
      <form novalidate [formGroup]="formulario">
         <div class="mt-1 mb-3">
            <h6 class="mb-0">{{txtTitulo}}</h6>
            <h6 class="text-muted">{{txtTituloHelp}}</h6>
         </div>
         <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1">

            <div ngbAccordionItem="seccion-1" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>EXPERIENCIA LABORAL</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>

                        <ng-container>
                           <div class="row">
                              <div class="col-12">
                                 <div class="col-lg-12">
                                    <app-basic-input [parentForm]="formulario" inputFormControlName="lugar"
                                    label="Lugar" placeHolder="" [maxLength]="100">
                                    </app-basic-input>
                                 </div>

                                 <div class="col-lg-12">
                                    <div class="input-group">
                                       <label>Desde <span class="text-danger">(*)</span></label>
                                       <div class="input-group">
                                          <input class="form-control" formControlName="fechaIni"
                                             (dateSelect)="onSelectFechaInicial($event)" readonly ngbDatepicker
                                             #fechaInicial="ngbDatepicker" />
                                          <button class="btn btn-outline-secondary calendar" type="button"
                                             (click)="fechaInicial.toggle()">
                                             <i class="far fa-calendar-alt"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="col-lg-12">
                                    <div class="input-group">
                                       <label>Hasta <span class="text-danger">(*)</span></label>
                                       <div class="input-group">
                                          <input class="form-control" formControlName="fechaFin"
                                             (dateSelect)="onSelectFechaFinal($event)" readonly ngbDatepicker
                                             #fechaFinal="ngbDatepicker" />
                                          <button class="btn btn-outline-secondary calendar" type="button"
                                             (click)="fechaFinal.toggle()">
                                             <i class="far fa-calendar-alt"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                                
                                 <div class="col-lg-12">
                                    <app-basic-input [parentForm]="formulario" inputFormControlName="folio"
                                    label="N° Folio" placeHolder="" [maxLength]="4" [onlyNumbers]="true">
                                    </app-basic-input>
                                 </div>
                              </div>
                           </div>
                        </ng-container>

                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<div class="modal-footer anexo">
   <div class="row">
      <div class="col-sm-12 d-flex">
         <div class="flex-1 text-end">

            <button *ngIf="dataIdx !== null; else btn_agregar" class="btn btn-success boton-guardar"
               (click)="agregarAnexo()">
               <i class="fas fa-pencil-alt"></i> Modificar
            </button>

            <ng-template #btn_agregar>
               <button class="btn btn-success boton-guardar" (click)="agregarAnexo()">
                  <i class="fas fa-plus"></i> Agregar
               </button>
            </ng-template>

            <button type="button" class="btn btn-light ms-2" (click)="activeModal.close()">
               Cancelar
            </button>
         </div>
      </div>
   </div>
</div>