.antecedentes-dialog {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}


/* Estilo para modificar la altura del mat-select */
.mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px; /* Altura deseada del mat-select */
  }
  
  /* Estilo para alinear el texto en el mat-select */
  .mat-select-value-text {
    line-height: 40px; /* Alinea verticalmente el texto dentro del mat-select */
  }
