
.custom-header::after {
    content: none;
}

.lista-representantes div.card-header {
    background-color: #e6e6e6;
}

.justify-content-between {
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}

.boton-guardar {
    width: 115px;
}

.text-bold {
    font-weight: 600 !important;
}

.alert-custom {
    color: #717171;
    background-color: #e6e6e6;
    border-color: #9c9c9c;
}

.check-modalidad {
    display: flex;
    flex: 1;
}

.check-modalidad > input[type="checkbox"] {
    width: 25px;
    min-width: 25px;
    height: 25px;
    margin-right: 0.2rem;
}

.control-invalid~.invalid-feedback {
  display: block;
}
