<div [formGroup]="parentForm">
  <div class="mb-3">
    <label>{{ passFormLabel }}</label>
    <div class="input-group">
      <input
        [type]="passHide ? 'password' : 'text'"
        class="form-control"
        formControlName="{{ passFormControlName }}"
        [placeholder]="passFormPlaceHolder"
      />
      <button
        class="btn btn-outline-info"
        type="button"
        (click)="passHide = !passHide"
      >
        <i
          class="fa"
          [ngClass]="{ 'fa-eye-slash': passHide, 'fa-eye': !passHide }"
          aria-hidden="true"
        ></i>
      </button>
    </div>
    <div
      *ngIf="
        parentForm.get(passFormControlName).invalid &&
        (parentForm.get(passFormControlName).dirty ||
          parentForm.get(passFormControlName).touched)
      "
      class="text-danger"
    >
      <div *ngIf="parentForm.get(passFormControlName).errors?.passwordStrength">
        {{ parentForm.get(passFormControlName).errors["passwordStrength"] }}
      </div>
      <div *ngIf="parentForm.get(passFormControlName).errors?.required">
        El campo es obligatorio
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label>{{ rePassFormLabel }}</label>
    <div class="input-group">
      <input
        [type]="rePassHide ? 'password' : 'text'"
        class="form-control"
        formControlName="{{ repassFormControlName }}"
        [placeholder]="rePassFormPlaceHolder"
      />
      <div class="input-group-addon">
        <button
          class="btn btn-outline-info"
          type="button"
          (click)="rePassHide = !rePassHide"
        >
          <i
            class="fa"
            [ngClass]="{
              'fa-eye-slash': rePassHide,
              'fa-eye': !rePassHide
            }"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </div>
    <div
      *ngIf="
        parentForm.get(repassFormControlName).invalid &&
        (parentForm.get(repassFormControlName).dirty ||
          parentForm.get(repassFormControlName).touched)
      "
      class="text-danger"
    >
      <div *ngIf="parentForm.get(repassFormControlName).errors?.mustmatch">
        La contraseña ingresada <strong>no coincide</strong>
      </div>
      <div *ngIf="parentForm.get(repassFormControlName).errors?.required">
        El campo es obligatorio
      </div>
    </div>
  </div>
</div>
