<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <form novalidate [formGroup]="formAnexo">
        <div class="center">
            <h6> ANEXO 002-D/17 SERVICIOS DE TRANSPORTE TERRESTRE REGULAR DE PERSONAS</h6>
        </div>
        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-anexo002-d17">

            <div ngbAccordionItem="ngb-anexo002-d17">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DECLARACIÓN JURADA</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="mb-3 row">
                        <label class="col-sm-12 col-form-label">Los suscritos declaramos bajo juramento, cumplir con los requisitos establecidos en los numerales 37.4, 37.5 y 37.7 del artículo 37º del D.S. 017-2009-MTC</label>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Número de DNI:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="numeroDni" placeholder="DNI" [class.control-invalid]="formInvalid('numeroDni')">
                                    <div class="input-group-text"><button type="button" class="btn text-primary shadow-none btn-sm m-0 p-0 border-0" (click)="buscarNumeroDocumento()"><i class="fas fa-search"></i></button></div>

                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">Apellidos y Nombres:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" formControlName="nombresApellidos">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Cargo:</label>
                        <div class="col-md-4">
                            <select class="form-select" formControlName="cargo">
                            <option value="">Seleccione</option>
                            <option *ngFor="let item of listaCargos" [value]="item.id">{{ item.descripcion }}</option>
                        </select>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-primary" (click)="addSuscrito()"><i class="fas fa-plus"></i> Agregar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="bg-secondary text-white text-center">
                                            <th scope="col">N°</th>
                                            <th scope="col">Apellidos y Nombres</th>
                                            <th scope="col">Cargo</th>
                                            <th scope="col">Número de DNI</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let suscrito of suscritos; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ suscrito.nombresApellidos }}</td>
                                            <td>{{ suscrito.cargo.descripcion }}</td>
                                            <td>{{ suscrito.numeroDni }}</td>
                                            <td class="text-center">
                                                <button type="button" class="btn text-primary shadow-none pe-2" (click)="editSuscrito(suscrito, i)" title="Eliminar"><i class="far fa-edit"></i></button>
                                                <button type="button" class="btn text-danger shadow-none ps-2" (click)="deleteSuscrito(suscrito, i)" title="Eliminar"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <label class="col-sm-12 col-form-label">Lo declarado se sujeta a lo señalado en el artículo 34 del Texto Único Ordenado de la Ley Nº 27444, Ley del
                        Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS y demás normas
                        pertinentes</label>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            Lima, <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['dia'].value }}</span> de <span class="campo-resolucion-jurada">{{ this.formAnexo.controls['mes'].value }}</span> de 20<span class="campo-resolucion-jurada">{{ this.formAnexo.controls['anio'].value }}</span>
                        </div>
                    </div>

                    <!-- <div class="col-sm-12 mt-5 d-flex justify-content-center">
                    <div class="d-flex border border-dark">
                        <div class="d-flex p-5 border-end border-dark">
                            <i class="far fa-file-pdf fa-3x"></i>
                        </div>
                        <div class="d-flex p-3 flex-column justify-content-center border">
                            <div class="text-center">Agregar PDF firmado localmente</div>
                            <button class="btn btn-primary w-100 mt-3">Subir PDF</button>
                        </div>
                    </div>
                </div> -->

                </ng-template>
</div>
</div>
            </div>

            <!-- <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. DOCUMENTACIÓN QUE SE DEBE ADJUNTAR (Conforme al D.S. Nº 017-2009-MTC 22.04.09)</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="mb-3 row">
                        <label class="col-sm-7 col-form-label">1. La persona natural, o los socios, accionistas, asociados, directores, administradores o representantes legales de la persona jurídica
                        que pretenda acceder a prestar servicio de transporte, no podrán encontrarse condenados por la comisión de los delitos de Tráfico
                        Ilícito de Drogas, Lavado de Activos, Pérdida de Dominio, o Delito Tributario, ni podrán serlo, en tanto se encuentre vigente la
                        autorización. Dicha condena deberá constar en una sentencia consentida o ejecutoriada que no haya sido objeto de rehabilitación.
                        Esta prohibición es aplicable a los accionistas, socios, directores y representantes legales de la persona jurídica que sea accionista o
                        socia del solicitante o transportista. (Num. 37.4)</label>
                        <div class="col-sm-4">
                            <input type="file" class="d-none" #inputFile1 accept="application/pdf" (change)="onChangeInput1($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-danger" type="button" *ngIf="visibleButton1" (click)="inputFile1.click($event)">
                                        <i class="fas fa-upload"></i> Adjuntar
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfSeleccionado1 !== null" (click)="vistaPreviaSeleccionado1()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <ui-switch (change)="onChange1($event)" formControlName="docAdjuntar1"></ui-switch>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-7 col-form-label">2. La persona natural o los socios, accionistas, asociados, directores, administradores o representantes legales de la persona jurídica
                        que pretenda acceder a prestar servicio de transporte no podrán haber sido declarados en quiebra, estar incursos en un proceso
                        concursal, o estar sometido a medida judicial o administrativa que lo prive o restrinja de
                        la administración de sus bienes, ni podrán serlo, en tanto se encuentre vigente la autorización.
                        Esta prohibición es aplicable a los accionistas, socios, directores y representantes legales de la persona jurídica que sea accionista o
                        socia del solicitante o transportista. (Num. 37.5)</label>
                        <div class="col-sm-4">
                            <input type="file" class="d-none" #inputFile2 accept="application/pdf" (change)="onChangeInput2($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-danger" type="button" *ngIf="visibleButton2" (click)="inputFile2.click($event)">
                                        <i class="fas fa-upload"></i> Adjuntar
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfSeleccionado2 !== null" (click)="vistaPreviaSeleccionado2()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <ui-switch (change)="onChange2($event)" formControlName="docAdjuntar2"></ui-switch>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-7 col-form-label">3. No debe haber sufrido la cancelación de la autorización para prestar servicios de transporte, o encontrarse inhabilitado en forma
                        definitiva para ello. Lo dispuesto en el presente numeral alcanza a los socios, accionistas, asociados, directores y representantes
                        legales del transportista que fue cancelado y/o inhabilitado (Num. 37.7)</label>
                        <div class="col-sm-4">
                            <input type="file" class="d-none" #inputFile3 accept="application/pdf" (change)="onChangeInput3($event)">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-danger" type="button" *ngIf="visibleButton3" (click)="inputFile3.click($event)">
                                        <i class="fas fa-upload"></i> Adjuntar
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfSeleccionado3 !== null" (click)="vistaPreviaSeleccionado3()"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <ui-switch (change)="onChange3($event)" formControlName="docAdjuntar3"></ui-switch>
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div> -->

            <div  ngbAccordionItem>

                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. DOCUMENTACIÓN QUE
                            SE DEBE ADJUNTAR (Conforme al D.S. Nº 017-2009-MTC (22.04.09))</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="col-sm-12">
                        <div class="row justify-content-end" *ngIf="visibleButtonDoc">
                            <div class="col-sm-2">
                                <button class="btn btn-secondary btn-sm align-self-center" (click)="inputFileDoc.click($event)">
                                        <i class="fas fa-upload"></i>
                                        Adjuntar Documento.
                                    </button>
                                <input type="file" class="d-none" #inputFileDoc accept="application/pdf" (change)="onChangeInputDoc($event)" />
                                <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfDocSeleccionado || filePdfDocPathName" (click)="vistaPreviaDoc()"></i>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-danger btn-sm " (click)="agregarDocumento()">
                                        <i class="fas fa-save"></i>
                                        Guardar
                                    </button>
                            </div>

                        </div>

                        <div class="row mt-3">

                            <div class="col-sm-12">
                                <table class="table table-bordered table-sm">
                                    <thead class="bg-secondary text-white text-center">
                                        <tr>
                                            <th>N°</th>
                                            <th>Documento</th>
                                            <th>Archivo PDF</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [class.registro-edit]="recordIndexToEdit === i" *ngFor="let item of listaDocumentos; let i = index">
                                            <td class="text-center">{{ item.id}}</td>
                                            <td>{{ item.descripcion }}</td>
                                            <td *ngIf="item.archivoAdjunto === null && item.pathName === null; else pdfdoc"></td>
                                            <ng-template #pdfdoc>
                                                <td class="text-center">
                                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" (click)="verPdfDocGrilla(item)"></i>
                                                </td>
                                            </ng-template>
                                            <td class="text-center">
                                                <button type="button" *ngIf="item.archivoAdjunto === null && item.pathName === null" class="btn btn-danger btn-sm align-self-center" [class.opacity-icon]="recordIndexToEdit !== -1" (click)="modificarDocumento(item, i)">
                                                    <i class="fas fa-upload"></i>
                                                    Adjuntar
                                                </button>
                                                <button type="button" *ngIf="item.archivoAdjunto !== null || item.pathName !== null" class="btn btn-secondary btn-sm align-self-center" [class.opacity-icon]="recordIndexToEdit !== -1" (click)="modificarDocumento(item, i)">
                                                    <i  class="far fa-edit"></i>
                                                </button> &nbsp;&nbsp;
                                                <button type="button" *ngIf="item.archivoAdjunto !== null || item.pathName !== null" class="btn btn-danger btn-sm align-self-center" [class.opacity-icon]="recordIndexToEdit !== -1" (click)="eliminarDocumento(item, i)">
                                                    <i  class="far fa-trash-alt"></i>
                                                </button> &nbsp;

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>



                </ng-template>
            </div>
            </div>
            </div>
        </div>

        <!-- <div class="mb-3 row pt-4">
        <div class="col-md-3">
            <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-cloud-download-alt"></i> Descargar PDF</button>
        </div>
        <div class="col-md-3">
            <input type="file" class="d-none" #inputFileGeneral accept="application/pdf" (change)="onChangeInputGeneral($event)">
            <button type="button" class="btn btn-secondary btn-block" (click)="inputFileGeneral.click($event)"><i class="fas fa-upload"></i> Subir</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-block"><i class="fas fa-arrow-left"></i> Regresar</button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div> -->
    </form>
</div>

<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>
