<div class="modal-header anexo bg-danger text-white">
   <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
   <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">

   </button>
</div>
<div class="modal-body anexo">
   <div class="container mt-2 mb-3">
      <form [formGroup]='anexoFG'>
         <div class="center">
            <h6>{{txtTitulo}}</h6>
         </div>
         <div>De conformidad con el numeral 5.2.6 de la de la Directiva N° 003-2007-MTC/15 “Régimen de
            Autorización y Funcionamiento de las Entidades Verificadoras” aprobada mediante Resolución
            Directoral N° 12489-2007-MTC/15, elevada al rango de Decreto Supremo mediante Articulo 3° del
            Decreto Supremo N° 022-2009-MTC, el solicitante deberá señalar por cada ingeniero supervisor
            y por cada técnico en mecánica y electrónica o electricidad automotriz, lo siguiente:</div>
         <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1,seccion-2,seccion-3">

            <div ngbAccordionItem="seccion-1" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>INGENIERO SUPERVISOR: (Por lo menos uno (01) según lo dispuesto en el
                     numeral 5.1.2.1 de la Directiva)</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>

                        <div class="row mt-3" formGroupName="a_Seccion2">
                           <div class="row">
                              <div class="col-lg-3">
                                 <label class="control-label campo-obligatorio">Tipo Documento</label>
                                 <select class="form-select" formControlName="a_s2_tipoDocumento"
                                    (change)="changeTipoDocumento('Ingeniero')">
                                    <option value=''>Seleccione</option>
                                    <option *ngFor="let item of listaTiposDocumentos" [value]="item.id">
                                       {{ item.documento }}</option>
                                 </select>
                              </div>
                              <div class="col-lg-3">
                                 <app-basic-input [parentForm]="a_Seccion2" inputFormControlName="a_s2_numeroDocumento"
                                    label="Número de Documento" [maxLength]="getMaxLengthNumeroDocumento('Ingeniero')"
                                    placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
                                    iconBtnAppend="fa-search"
                                    [disabledAppend]="this.a_s2_numeroDocumento.value.trim().length === 0"
                                    (clickAppend)="buscarNumeroDocumento($event,'Ingeniero',this.a_s2_nombresApellidos)">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion2" inputFormControlName="a_s2_nombresApellidos"
                                    label="Apellidos y nombres" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion2" inputFormControlName="a_s2_titulo"
                                    label="Título académico" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-2">
                                 <app-basic-input [parentForm]="a_Seccion2" inputFormControlName="a_s2_cip"
                                    label="N° CIP" placeHolder="" [maxLength]="10">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-3">
                                 <div class="d-flex align-items-center mt-4">

                                    <div class="d-flex" id="boton-agregar-modificar">
                                       <button class="btn btn-danger btn-sm flex-1" (click)="agregarPersonal()">
                                          <div *ngIf="indexEditIngeniero === -1; else elseBlock">
                                             <i class="fas fa-plus-circle"></i>
                                             Agregar
                                          </div>
                                          <ng-template #elseBlock>
                                             <i class="fas fa-pencil-alt"></i>
                                             Modificar
                                          </ng-template>
                                       </button>
                                       <button *ngIf="indexEditIngeniero !== -1"
                                          class="btn btn-warning btn-sm  ms-2 btn-cancelar"
                                          (click)="cancelarModificacion('Ingeniero')">
                                          Cancelar
                                       </button>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="row mt-3">
                           <div class="col-sm-12">
                              <div class="table-responsive">

                                 <table class="table table-bordered">
                                    <thead class="bg-secondary text-white text-center">
                                       <tr>
                                          <th>N°</th>
                                          <th>Datos del personal</th>
                                          <th>Experiencia laboral</th>
                                          <th>Acciones</th>
                                       </tr>
                                    </thead>
                                    <tbody *ngIf="listaIngeniero.length > 0; else sinRegistros">

                                       <tr class="text-center" [class.registro-edit]="indexEditIngeniero === i"
                                          *ngFor="let item of listaIngeniero, let i = index">
                                          <td width="5%">{{ i + 1}}</td>
                                          <td width="35%" class="text-start">
                                             <div><b>{{ item.apellidosNombres }}</b></div>
                                             <div><b>N° DNI/CE</b> :{{ item.tipoDocumento.documento +' '+
                                                item.nroDocumento}}
                                             </div>
                                             <div><b>Titulo académico o certificación (*):</b> {{ item.titulo }}</div>
                                             <div><b>N° CIP(*):</b> {{ item.cip }}</div>
                                          </td>
                                          <td width="50%" class="text-start">
                                             <table class="table table-bordered">
                                                <tbody
                                                   *ngIf="item.listaExperiencia.length > 0; else sinRegistrosExperiencia">
                                                   <tr class="text-center"
                                                      [class.registro-edit]="indexEditIngeniero === j"
                                                      *ngFor="let datoExp of item.listaExperiencia, let j = index">
                                                      <td width="5%">{{ j + 1}}</td>
                                                      <td width="80%" class="text-start">
                                                         <div><b>Lugar:</b> {{ datoExp.lugar }}</div>
                                                         <div><b>Periodo:</b> {{ datoExp.fechaIni}} - {{
                                                            datoExp.fechaFin}}
                                                         </div>
                                                         <div><b>N° de Folio:</b> {{ datoExp.folio}}</div>
                                                      </td>
                                                      <td width="15%">
                                                         <div>
                                                            <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                               [class.opacity-icon]="indexEditIngeniero !== -1"
                                                               title="Editar"
                                                               (click)="agregarExperiencia(j,i,'Ingeniero')"></i>
                                                            <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                               [class.opacity-icon]="indexEditIngeniero !== -1"
                                                               title="Eliminar"
                                                               (click)="eliminarExperiencia(datoExp, j, i, 'Ingeniero')"></i>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                                <ng-template #sinRegistrosExperiencia>
                                                   <tbody>
                                                      <tr>
                                                         <td colspan="3" class="text-center">-</td>
                                                      </tr>
                                                   </tbody>
                                                </ng-template>
                                             </table>
                                          </td>
                                          <td width="10%">
                                             <div>
                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length<3"
                                                   [class.opacity-icon]="indexEditIngeniero !== -1"
                                                   title="Experiencia laboral"
                                                   (click)="agregarExperiencia(null, i,'Ingeniero')"></i>

                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length>=3"
                                                   [class.opacity-icon]="indexEditIngeniero !== -1 || item.listaExperiencia.length>=3"
                                                   title="Experiencia laboral"></i>

                                                <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                   [class.opacity-icon]="indexEditIngeniero !== -1" title="Editar"
                                                   (click)="modificarPersonal(item, i, 'Ingeniero')"></i>
                                                <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                   [class.opacity-icon]="indexEditIngeniero !== -1" title="Eliminar"
                                                   (click)="eliminarPersonal(item, i, 'Ingeniero')"></i>
                                             </div>
                                          </td>
                                       </tr>

                                    </tbody>
                                    <ng-template #sinRegistros>
                                       <tbody>
                                          <tr>
                                             <td colspan="4" class="text-center">No se encontraron registros</td>
                                          </tr>
                                       </tbody>
                                    </ng-template>
                                 </table>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="row gx-2">
                                 <div class="col-lg-8 col-md-12 text-justify">
                                    <ul>
                                       <li>
                                          Declaración jurada de contar con título profesional y habilitación vigente
                                          emitido por el Colegio de Ingenieros del Perú.
                                       </li>
                                       <li>
                                          Copia de los documentos que sustenten su experiencia en el campo automotriz.
                                       </li>
                                       <li>
                                          Copia del documento que acredite relación laboral o vínculo contractual con la
                                          solicitante.
                                       </li>
                                       <li>
                                          Alternativamente, la solicitante podrá presentar una declaración
                                          jurada suscrita por su representante legal ofreciendo adjuntar dichos
                                          documentos dentro del plazo de treinta (30) días de otorgada la autorización.
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="col-lg-4 col-md-12">
                                    <div class="d-flex mt-2">
                                       <div class="flex-1 text-left">
                                          <button class="btn btn-danger btn-sm align-self-center mb-3"
                                             *ngIf="visibleButtonDocumentosIng || this.pathPdfDocumentosSeleccionadoIng !== null"
                                             (click)="inputFileDocumentosIng.click($event)">
                                             <i class="fas fa-upload"></i>
                                             Adjuntar documentos (Pdf máx. 10Mb)
                                          </button>
                                          <input type="file" class="d-none" #inputFileDocumentosIng
                                             accept="application/pdf"
                                             (change)="onChangeInputDocumentos($event,'Ingeniero')" />
                                          <i class="far fa-file-pdf text-danger fa-2x ms-2 mt-2" title="Vista previa"
                                             *ngIf="filePdfDocumentosSeleccionadoIng !== null || this.pathPdfDocumentosSeleccionadoIng !==null "
                                             (click)="vistaPreviaDocumentos('Ingeniero')"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </ng-template>
                  </div>
               </div>
            </div>

            <div ngbAccordionItem="seccion-2" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>TÉCNICO EN MÉCANICA AUTOMOTRIZ: (Por lo menos dos (02) según lo dispuesto
                     en el numeral 5.1.2.2 de la Directiva)</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>

                        <div class="row mt-3" formGroupName="a_Seccion3">
                           <div class="row">
                              <div class="col-lg-3">
                                 <label class="control-label campo-obligatorio">Tipo Documento</label>
                                 <select class="form-select" formControlName="a_s3_tipoDocumento"
                                    (change)="changeTipoDocumento('TecnicoAutomotriz')">
                                    <option value=''>Seleccione</option>
                                    <option *ngFor="let item of listaTiposDocumentos" [value]="item.id">
                                       {{ item.documento }}</option>
                                 </select>
                              </div>
                              <div class="col-lg-3">
                                 <app-basic-input [parentForm]="a_Seccion3" inputFormControlName="a_s3_numeroDocumento"
                                    label="Número de Documento"
                                    [maxLength]="getMaxLengthNumeroDocumento('TecnicoAutomotriz')"
                                    placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
                                    iconBtnAppend="fa-search"
                                    [disabledAppend]="this.a_s3_numeroDocumento.value.trim().length === 0"
                                    (clickAppend)="buscarNumeroDocumento($event,'TecnicoAutomotriz',this.a_s3_nombresApellidos)">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion3" inputFormControlName="a_s3_nombresApellidos"
                                    label="Apellidos y nombres" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion3" inputFormControlName="a_s3_titulo"
                                    label="Título académico" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-3">
                                 <div class="d-flex align-items-center mt-4">

                                    <div class="d-flex" id="boton-agregar-modificar">
                                       <button class="btn btn-danger btn-sm flex-1"
                                          (click)="agregarTecnicoAutomotriz()">
                                          <div *ngIf="indexEditTecAuto === -1; else elseBlock">
                                             <i class="fas fa-plus-circle"></i>
                                             Agregar
                                          </div>
                                          <ng-template #elseBlock>
                                             <i class="fas fa-pencil-alt"></i>
                                             Modificar
                                          </ng-template>
                                       </button>
                                       <button *ngIf="indexEditTecAuto !== -1"
                                          class="btn btn-warning btn-sm  ms-2 btn-cancelar"
                                          (click)="cancelarModificacion('TecnicoAutomotriz')">
                                          Cancelar
                                       </button>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="row mt-3">
                           <div class="col-sm-12">
                              <div class="table-responsive">

                                 <table class="table table-bordered">
                                    <thead class="bg-secondary text-white text-center">
                                       <tr>
                                          <th>N°</th>
                                          <th>Datos del personal</th>
                                          <th>Experiencia laboral</th>
                                          <th>Acciones</th>
                                       </tr>
                                    </thead>
                                    <tbody *ngIf="listaTecnicoAutomotriz.length > 0; else sinRegistros">

                                       <tr class="text-center" [class.registro-edit]="indexEditTecAuto === i"
                                          *ngFor="let item of listaTecnicoAutomotriz, let i = index">
                                          <td width="5%">{{ i + 1}}</td>
                                          <td width="35%" class="text-start">
                                             <div><b>{{ item.apellidosNombres }}</b></div>
                                             <div><b>N° DNI/CE :</b>{{ item.tipoDocumento.documento +' '+
                                                item.nroDocumento}}
                                             </div>
                                             <div><b>Titulo académico (*):</b> {{ item.titulo }}</div>
                                          </td>
                                          <td width="50%" class="text-start">
                                             <table class="table table-bordered">
                                                <tbody
                                                   *ngIf="item.listaExperiencia.length > 0; else sinRegistrosExperiencia">
                                                   <tr class="text-center"
                                                      [class.registro-edit]="indexEditTecAuto === j"
                                                      *ngFor="let datoExp of item.listaExperiencia, let j = index">
                                                      <td width="5%">{{ j + 1}}</td>
                                                      <td width="80%" class="text-start">
                                                         <div><b>Lugar:</b> {{ datoExp.lugar }}</div>
                                                         <div><b>Periodo: </b>{{ datoExp.fechaIni}} - {{
                                                            datoExp.fechaFin}}
                                                         </div>
                                                         <div><b>N° de Folio:</b> {{ datoExp.folio}}</div>
                                                      </td>
                                                      <td width="15%">
                                                         <div>
                                                            <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                               [class.opacity-icon]="indexEditTecAuto !== -1"
                                                               title="Editar"
                                                               (click)="agregarExperiencia(j,i,'TecnicoAutomotriz')"></i>
                                                            <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                               [class.opacity-icon]="indexEditTecAuto !== -1"
                                                               title="Eliminar"
                                                               (click)="eliminarExperiencia(datoExp, j, i, 'TecnicoAutomotriz')"></i>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                                <ng-template #sinRegistrosExperiencia>
                                                   <tbody>
                                                      <tr>
                                                         <td colspan="3" class="text-center">-</td>
                                                      </tr>
                                                   </tbody>
                                                </ng-template>
                                             </table>
                                          </td>
                                          <td width="10%">
                                             <div>
                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length<3"
                                                   [class.opacity-icon]="indexEditTecAuto !== -1"
                                                   title="Experiencia laboral"
                                                   (click)="agregarExperiencia(null, i,'TecnicoAutomotriz')"></i>

                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length>=3"
                                                   [class.opacity-icon]="indexEditTecAuto !== -1 || item.listaExperiencia.length>=3"
                                                   title="Experiencia laboral"></i>

                                                <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                   [class.opacity-icon]="indexEditTecAuto !== -1" title="Editar"
                                                   (click)="modificarPersonal(item, i, 'TecnicoAutomotriz')"></i>
                                                <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                   [class.opacity-icon]="indexEditTecAuto !== -1" title="Eliminar"
                                                   (click)="eliminarPersonal(item, i, 'TecnicoAutomotriz')"></i>
                                             </div>
                                          </td>
                                       </tr>

                                    </tbody>
                                    <ng-template #sinRegistros>
                                       <tbody>
                                          <tr>
                                             <td colspan="4" class="text-center">No se encontraron registros</td>
                                          </tr>
                                       </tbody>
                                    </ng-template>
                                 </table>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="row gx-2">
                                 <div class="col-lg-8 col-md-12 text-justify">
                                    <ul>
                                       <li>
                                          Copia simple del título profesional.
                                       </li>
                                       <li>
                                          Copia de los documentos que sustenten su experiencia en el campo automotriz.
                                       </li>
                                       <li>
                                          Copia del documento que acredite relación laboral o vínculo contractual con la
                                          solicitante.
                                       </li>
                                       <li>
                                          Alternativamente, la solicitante podrá presentar una declaración
                                          jurada suscrita por su representante legal ofreciendo adjuntar dichos
                                          documentos dentro del plazo de treinta (30) días de otorgada la autorización.
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="col-lg-4 col-md-12">
                                    <div class="d-flex mt-2">
                                       <div class="flex-1 text-left">
                                          <button class="btn btn-danger btn-sm align-self-center mb-3"
                                             *ngIf="visibleButtonDocumentosTecAut || this.pathPdfDocumentosSeleccionadoTecAut !== null"
                                             (click)="inputFileDocumentosTecAut.click($event)">
                                             <i class="fas fa-upload"></i>
                                             Adjuntar documentos (Pdf máx. 10Mb)
                                          </button>
                                          <input type="file" class="d-none" #inputFileDocumentosTecAut
                                             accept="application/pdf"
                                             (change)="onChangeInputDocumentos($event,'TecnicoAutomotriz')" />
                                          <i class="far fa-file-pdf text-danger fa-2x ms-2 mt-2" title="Vista previa"
                                             *ngIf="filePdfDocumentosSeleccionadoTecAut !== null || this.pathPdfDocumentosSeleccionadoTecAut !==null "
                                             (click)="vistaPreviaDocumentos('TecnicoAutomotriz')"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>

            <div ngbAccordionItem="seccion-3" [collapsed]="false">
               <h2 ngbAccordionHeader>
                  <button ngbAccordionButton>TÉCNICO EN ELECTRÓNICA O ELECTRICIDAD AUTOMOTRIZ: (Por lo menos uno (01)
                     según lo dispuesto en el numeral 5.1.2.3 de la Directiva)</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>

                        <div class="row mt-3" formGroupName="a_Seccion4">
                           <div class="row">
                              <div class="col-lg-3">
                                 <label class="control-label campo-obligatorio">Tipo Documento</label>
                                 <select class="form-select" formControlName="a_s4_tipoDocumento"
                                    (change)="changeTipoDocumento('TecnicoElectronica')">
                                    <option value=''>Seleccione</option>
                                    <option *ngFor="let item of listaTiposDocumentos" [value]="item.id">
                                       {{ item.documento }}</option>
                                 </select>
                              </div>
                              <div class="col-lg-3">
                                 <app-basic-input [parentForm]="a_Seccion4" inputFormControlName="a_s4_numeroDocumento"
                                    label="Número de Documento"
                                    [maxLength]="getMaxLengthNumeroDocumento('TecnicoElectronica')"
                                    placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
                                    iconBtnAppend="fa-search"
                                    [disabledAppend]="this.a_s4_numeroDocumento.value.trim().length === 0"
                                    (clickAppend)="buscarNumeroDocumento($event,'TecnicoElectronica',this.a_s4_nombresApellidos)">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion4" inputFormControlName="a_s4_nombresApellidos"
                                    label="Apellidos y nombres" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-lg-6">
                                 <app-basic-input [parentForm]="a_Seccion4" inputFormControlName="a_s4_titulo"
                                    label="Título académico" placeHolder="" [maxLength]="100">
                                 </app-basic-input>
                              </div>
                              <div class="col-lg-3">
                                 <div class="d-flex align-items-center mt-4">

                                    <div class="d-flex" id="boton-agregar-modificar">
                                       <button class="btn btn-danger btn-sm flex-1"
                                          (click)="agregarTecnicoElectronica()">
                                          <div *ngIf="indexEditTecElec === -1; else elseBlock">
                                             <i class="fas fa-plus-circle"></i>
                                             Agregar
                                          </div>
                                          <ng-template #elseBlock>
                                             <i class="fas fa-pencil-alt"></i>
                                             Modificar
                                          </ng-template>
                                       </button>
                                       <button *ngIf="indexEditTecElec !== -1"
                                          class="btn btn-warning btn-sm  ms-2 btn-cancelar"
                                          (click)="cancelarModificacion('TecnicoElectronica')">
                                          Cancelar
                                       </button>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="row mt-3">
                           <div class="col-sm-12">
                              <div class="table-responsive">

                                 <table class="table table-bordered">
                                    <thead class="bg-secondary text-white text-center">
                                       <tr>
                                          <th>N°</th>
                                          <th>Datos del personal</th>
                                          <th>Experiencia laboral</th>
                                          <th>Acciones</th>
                                       </tr>
                                    </thead>
                                    <tbody *ngIf="listaTecnicoElectronica.length > 0; else sinRegistros">

                                       <tr class="text-center" [class.registro-edit]="indexEditTecElec === i"
                                          *ngFor="let item of listaTecnicoElectronica, let i = index">
                                          <td width="5%">{{ i + 1}}</td>
                                          <td width="35%" class="text-start">
                                             <div><b>{{ item.apellidosNombres }}</b></div>
                                             <div><b>N° DNI/CE :</b>{{ item.tipoDocumento.documento +' '+
                                                item.nroDocumento}}
                                             </div>
                                             <div><b>Titulo académico (*):</b> {{ item.titulo }}</div>
                                          </td>
                                          <td width="50%" class="text-start">
                                             <table class="table table-bordered">
                                                <tbody
                                                   *ngIf="item.listaExperiencia.length > 0; else sinRegistrosExperiencia">
                                                   <tr class="text-center"
                                                      [class.registro-edit]="indexEditTecElec === j"
                                                      *ngFor="let datoExp of item.listaExperiencia, let j = index">
                                                      <td width="5%">{{ j + 1}}</td>
                                                      <td width="80%" class="text-start">
                                                         <div><b>Lugar:</b> {{ datoExp.lugar }}</div>
                                                         <div><b>Periodo: </b> {{ datoExp.fechaIni}} - {{
                                                            datoExp.fechaFin}}
                                                         </div>
                                                         <div><b>N° de Folio: </b>{{ datoExp.folio}}</div>
                                                      </td>
                                                      <td width="15%">
                                                         <div>
                                                            <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                               [class.opacity-icon]="indexEditTecElec !== -1"
                                                               title="Editar"
                                                               (click)="agregarExperiencia(j,i,'TecnicoElectronica')"></i>
                                                            <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                               [class.opacity-icon]="indexEditTecElec !== -1"
                                                               title="Eliminar"
                                                               (click)="eliminarExperiencia(datoExp, j, i, 'TecnicoElectronica')"></i>
                                                         </div>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                                <ng-template #sinRegistrosExperiencia>
                                                   <tbody>
                                                      <tr>
                                                         <td colspan="3" class="text-center">-</td>
                                                      </tr>
                                                   </tbody>
                                                </ng-template>
                                             </table>
                                          </td>
                                          <td width="10%">
                                             <div>
                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length<3"
                                                   [class.opacity-icon]="indexEditTecElec !== -1"
                                                   title="Experiencia laboral"
                                                   (click)="agregarExperiencia(null, i, 'TecnicoElectronica')"></i>

                                                <i class="far fa-id-card pe-2 text-primary cursor-pointer"
                                                   *ngIf="item.listaExperiencia.length>=3"
                                                   [class.opacity-icon]="indexEditTecElec !== -1 || item.listaExperiencia.length>=3"
                                                   title="Experiencia laboral"></i>

                                                <i class="far fa-edit pe-2 ps-2 text-primary cursor-pointer"
                                                   [class.opacity-icon]="indexEditTecElec !== -1" title="Editar"
                                                   (click)="modificarPersonal(item, i, 'TecnicoElectronica')"></i>
                                                <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                   [class.opacity-icon]="indexEditTecElec !== -1" title="Eliminar"
                                                   (click)="eliminarPersonal(item, i, 'TecnicoElectronica')"></i>
                                             </div>
                                          </td>
                                       </tr>

                                    </tbody>
                                    <ng-template #sinRegistros>
                                       <tbody>
                                          <tr>
                                             <td colspan="4" class="text-center">No se encontraron registros</td>
                                          </tr>
                                       </tbody>
                                    </ng-template>
                                 </table>
                              </div>
                           </div>
                           <div class="col-sm-12">
                              <div class="row gx-2">
                                 <div class="col-lg-8 col-md-12 text-justify">
                                    <ul>
                                       <li>
                                          Copia simple del título profesional.
                                       </li>
                                       <li>
                                          Copia de los documentos que sustenten su experiencia en el campo automotriz.
                                       </li>
                                       <li>
                                          Copia del documento que acredite relación laboral o vínculo contractual con la
                                          solicitante.
                                       </li>
                                       <li>
                                          Alternativamente, la solicitante podrá presentar una declaración
                                          jurada suscrita por su representante legal ofreciendo adjuntar dichos
                                          documentos dentro del plazo de treinta (30) días de otorgada la autorización.
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="col-lg-4 col-md-12">
                                    <div class="d-flex mt-2">
                                       <div class="flex-1 text-left">
                                          <button class="btn btn-danger btn-sm align-self-center mb-3"
                                             *ngIf="visibleButtonDocumentosTecElec || this.pathPdfDocumentosSeleccionadoTecElec !== null"
                                             (click)="inputFileDocumentosTecElec.click($event)">
                                             <i class="fas fa-upload"></i>
                                             Adjuntar documentos (Pdf máx. 10Mb)
                                          </button>
                                          <input type="file" class="d-none" #inputFileDocumentosTecElec
                                             accept="application/pdf"
                                             (change)="onChangeInputDocumentos($event,'TecnicoElectronica')" />
                                          <i class="far fa-file-pdf text-danger fa-2x ms-2 mt-2" title="Vista previa"
                                             *ngIf="filePdfDocumentosSeleccionadoTecElec !== null || this.pathPdfDocumentosSeleccionadoTecElec !==null "
                                             (click)="vistaPreviaDocumentos('TecnicoElectronica')"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="col-sm-12 mt-5 justify-content-center">
                           <div class="alert alert-custom" role="alert">
                              Lo declarado se sujeta a lo señalado en el numeral 34.3 del artículo 34 del Texto Único
                              Ordenado de la Ley Nº 27444, Ley del Procedimiento Administrativo General <sup>(1)</sup> y
                              demás normas pertinentes.
                           </div>
                        </div>

                        <div class="col-sm-12 d-flex justify-content-center">
                           <div class="alert alert-custom" role="alert">
                              En honor a la verdad y al amparo del principio de presunción de veracidad estipulado en el
                              numeral 1.7) del inc. 1) del Art. IV del TUO de la Ley N° 27444 del Procedimiento
                              Administrativo General, declaro Bajo Responsabilidad, que los datos consignados en este
                              anexo son ciertos y que conozco las sanciones a los que seré sometido (a) en caso de haber
                              anotado/adjuntado información falsa.
                           </div>
                        </div>

                        <div class="col-sm-12 d-flex justify-content-center">
                           <div class="alert alert-warning" role="alert">
                              En caso de comprobar fraude o falsedad en la declaración, información o en la
                              documentación presentada por el administrado, la entidad considerará no satisfecha la
                              exigencia respectiva para todos sus efectos, procediendo a declarar la nulidad del acto
                              administrativo sustentado en dicha declaración, información o documento; e imponer a quien
                              haya empleado esa declaración, información o documento una multa en favor de la entidad de
                              entre cinco (5) y diez (10) Unidades Impositivas Tributarias vigentes a la fecha de pago;
                              y, además, si la conducta se adecua a los supuestos previstos en el Título XIX Delitos
                              contra la Fe Pública del Código Penal, ésta deberá ser comunicada al Ministerio Público
                              para que interponga la acción penal correspondiente.
                           </div>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-left">
                           <div class="alert alert-default" role="alert">
                              (1) Numeral 34.3 del articulo 34° del Texto Único Ordenado de la Ley N° 27444 – Ley del
                              Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS.
                           </div>
                        </div>

                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<div class="modal-footer anexo">
   <div class="row">
      <div class="col-lg-12 d-flex">
         <div class="flex-1">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
               </button>
            </div>
         </div>
         <div class="flex-1 text-end">
            <button class="btn btn-success" (click)="guardarAnexo()" [disabled]="anexoFG.invalid">
               <i class="far fa-save"></i>
               {{
               (idAnexo === 0 ? 'Grabar' : 'Modificar')
               }}
            </button>
         </div>
      </div>
   </div>
</div>