<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <!-- <form novalidate [formGroup]="formAnexo" (ngSubmit)="save()"> -->
    <div class="container-fluid">
        <form novalidate [formGroup]="formAnexo">
            <div class="center">
                <h5>ANEXO 002-A/28 HOJA DE DATOS PERSONALES - SERVICIO DE RADIODIFUSIÓN</h5>
            </div>
            <div formArrayName="a_AnexosFA">
                <div *ngFor="let _ of a_AnexosFA.controls; let i=index">
                    <div class="mt-2" [formGroupName]="i">
                        <div class="row mt-4 mb-2" style="text-align: center;">
                            <div class="col-lg-12">
                                <h5>Anexo 002-A/28 Nro #{{ (i + 1) | number: '1.0-0' }}</h5>
                            </div>
                            <div class="col-lg-12 m-2" *ngIf="i >= 1">
                                <button #btnEliminarEnlaceSolicitado type="button" class="btn btn-danger"
                                    (click)="deleteEnlaceSolicitado(btnEliminarEnlaceSolicitado, i)">
                                    <span class="fa fa-trash"></span> Eliminar
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div ngbAccordion  activeIds="ngb-anexo002-a28-seccion-1,ngb-anexo002-a28-seccion-2, ngb-anexo002-a28-seccion3"> <!--#acc="ngbAccordion"-->

                                <div ngbAccordionItem="ngb-anexo002-a28-seccion-1" [collapsed]="false">
                                    <h2 ngbAccordionHeader>
                                        
                                            <button ngbAccordionButton>I. DATOS</button>
                                        </h2>

                                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                                        <div class="row" formGroupName="Seccion1">
                                            <div class="col-lg-12" formGroupName="PersonaNatural">
                                                <div class="row gx-2">
                                                    <!--<div class="col-lg-3" *ngIf="i==0">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)" 
                                                            inputFormControlName="pn_tipodocumento" label="Tipo Doc."
                                                            placeHolder="Ingrese el tipo de documento" [readonly]="true" 
                                                            [maxLength]="20">
                                                        </app-basic-input>
                                                    </div>-->
                                                    <div class="col-lg-3">
                                                        
                                                            <div class="mb-3">
                                                                <label class="control-label campo-obligatorio">Tipo Documento</label>
                                                                <select class="form-select" formControlName="pn_tipodocumento">
                                                                    <option value=''>Seleccione</option>
                                                                    <option *ngFor="let item of listaTiposDocumentos | slice:0:3"
                                                                        [value]="item.id">{{
                                                                        item.documento }}</option>
                                                                </select>
                                                            </div>
                                                            <!--
                                                            <div class="col-lg-4">
                                                                <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                                    inputFormControlName="numeroDocumento" label="N° Documento"
                                                                    [maxLength]="8"
                                                                    placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                                                     [btnAppend]="true" iconBtnAppend="fa-search"
                                                                    [disabledAppend]="f_s1_tipoDocumento(i).value.trim() == '' || disableBtnBuscar"
                                                                    (clickAppend)="buscarNumeroDocumento($event)">
                                                                </app-basic-input>
                                                            </div>-->
                                                        
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ng-container>
                                                            <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                                inputFormControlName="pn_numerodocumento"
                                                                label="N° Documento" [maxLength]="9"
                                                                placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                                                 [btnAppend]="true" iconBtnAppend="fa-search" 
                                                                [disabledAppend]="!f_s1_pn_numeroDocumento(i).value?.trim() || disableBtnBuscar || i==0"
                                                                (clickAppend)="buscarNumeroDocumentoNuevoAnexo(i)">
                                                            </app-basic-input>
                                                        </ng-container>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_nombres" label="Apellidos y Nombres"
                                                            placeHolder="Ingrese los apellidos y nombres" [maxLength]="50"
                                                            [readonly]="true">
                                                        </app-basic-input>
                                                    </div>
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_telefono" label="Teléfono Fijo"
                                                            placeHolder="Ingrese el número de teléfono" [onlyNumbers]="true" [readonly]="true"
                                                            [maxLength]="9">
                                                        </app-basic-input>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_celular" label="Celular"
                                                            placeHolder="Ingrese el número de celular" [onlyNumbers]="true" [readonly]="true"
                                                            [maxLength]="9">
                                                        </app-basic-input>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_correo" label="Correo Electrónico (E-mail)"
                                                            placeHolder="Ingrese el correo electrónico" [readonly]="true" [maxLength]="50">
                                                        </app-basic-input>
                                                    </div>
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-lg-12">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_domicilio" label="Domicilio Legal (Urbanización/ A.H./ Otro/    Mz./ Lote/ Sub. Lote.     Avenida/Calle/Jirón/ Pasaje)"
                                                            placeHolder="Ingrese el domicilio legal" [maxLength]="100" [readonly]="true">
                                                        </app-basic-input>
                                                    </div>
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-lg-12">
                                                        <app-ubigeo #ubigeoCmpPersonaNatural [parentForm]="f_s1_PersonaNatural(i)"
                                                            depaFormControlName="pn_departamento"
                                                            provFormControlName="pn_provincia" 
                                                            distFormControlName="pn_distrito"
                                                            depaFormLabel="Departamento" provFormLabel="Provincia" distFormLabel="Distrito"
                                                            [horizontal]="true">
                                                        </app-ubigeo>
                                                    </div>
                                                    <!--<div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural"
                                                            inputFormControlName="pn_departamento" label="Departamento"
                                                            placeHolder="Ingrese el departamento" [onlyNumbers]="true" [readonly]="true"
                                                            [maxLength]="30">
                                                        </app-basic-input>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural"
                                                            inputFormControlName="pn_provincia" label="Provincia"
                                                            placeHolder="Ingrese la provincia" [onlyNumbers]="false" [readonly]="true"
                                                            [maxLength]="30">
                                                        </app-basic-input>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural"
                                                            inputFormControlName="pn_distrito" label="Distrito"
                                                            placeHolder="Ingrese el distrito" [readonly]="true" [maxLength]="30">
                                                        </app-basic-input>
                                                    </div>-->
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-lg-4">
                                                        <app-basic-checkbox [parentForm]="f_s1_PersonaNatural(i)"
                                                            checkboxFormControlName="pn_peruano" label="Peruano" >
                                                        </app-basic-checkbox>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_nacionalidad" label="Nacionalidad"
                                                            placeHolder="Ingrese la nacionalidad" [onlyNumbers]="false" [readonly]="true"
                                                            [maxLength]="30">
                                                        </app-basic-input>
                                                    </div>
                                                </div>
                                                <div class="row gx-2">
                                                    <div class="col-lg-4">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_ocupacion" label="Ocupacion"
                                                            placeHolder="Ingrese la ocupación actual" [onlyNumbers]="false" [readonly]="false"
                                                            [maxLength]="100">
                                                        </app-basic-input>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <app-basic-input [parentForm]="f_s1_PersonaNatural(i)"
                                                            inputFormControlName="pn_centrolaboral" label="Centro laboral actual"
                                                            placeHolder="Ingrese el centro laboral actual" [onlyNumbers]="false" [readonly]="false"
                                                            [maxLength]="200">
                                                        </app-basic-input>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
</div>
</div>
                                </div>

                                <div ngbAccordionItem="ngb-anexo002-a28-seccion-2"  [collapsed]="false">
                                    <h2 ngbAccordionHeader>
                                        
                                            <button ngbAccordionButton>II. FAMILIARES</button>
                                        </h2>
                                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                                        
                                        <div class="mb-3 row  align-items-center">
                                            <div class="col-sm-3 d-flex">
                                                <div class="d-flex flex-2 flex-column justify-content-between p-2">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-2">Tipo de Documento</div>
                                                        <div class="flex-2">
                                                            <select class="form-select" (change)="changeTipoDocumento(i)" formControlName="s2_tipoDocumentoFamiliar">
                                                                <option value=''>Seleccione</option>
                                                                <option *ngFor="let item of listaTiposDocumentos;" [value]="item.id">{{ item.documento }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" formControlName="s2_numeroDocumentoFamiliar" placeholder="Número de documento">
                                                        <div class="input-group-text"><button type="button" class="btn text-primary shadow-none btn-sm m-0 p-0 border-0" (click)="buscarNumeroDocumento(i)"><i class="fas fa-search"></i></button></div>

                                                </div>
                                            </div>
                                            <label class="col-sm-2 col-form-label campo-obligatorio">Nombres y Apellidos</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" formControlName="s2_nombresApellidos">
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3 row">

                                            <label class="col-sm-2 col-form-label campo-obligatorio">Parentesco</label>
                                            <div class="col-md-4">
                                                <select class="form-select" formControlName="s2_parentesco">
                                                    <option value="">Seleccione</option>
                                                    <option *ngFor="let item of listaParentesco" [value]="item.id">{{ item.descripcion }}</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 col-form-label campo-obligatorio">Ocupación</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" formControlName="s2_ocupacion">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-md-12 text-end">
                                                <button type="button" class="btn btn-primary" (click)="addSuscrito(i)"><i class="fas fa-plus"></i> Agregar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr class="bg-secondary text-white text-center">
                                                                
                                                                <th scope="col">N°</th>
                                                                <th scope="col">Tipo documento</th>
                                                                <th scope="col">Parientes</th>
                                                                <th scope="col">Nombres y Apellidos</th>
                                                                <th scope="col">Ocupación</th>
                                                                <th scope="col">Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngIf="suscritos.length === 0">
                                                                <td colspan="6" class="text-center font-italic">No se encontraron registros.</td>
                                                            </tr>
                                                            <tr *ngFor="let suscrito of suscritos[i]; let j = index">
                                                                <td>{{ j + 1 }}</td>
                                                                <td>{{ suscrito.numeroDocumento }}</td>
                                                                <td>{{ suscrito.parentesco.descripcion }}</td>
                                                                <td>{{ suscrito.nombresApellidos }}</td>
                                                                <td>{{ suscrito.ocupacion }}</td>
                                                                <td class="text-center">
                                                                    <button type="button" class="btn text-primary shadow-none pe-2" (click)="editSuscrito(suscrito, i, j)" title="Editar"><i class="far fa-edit"></i></button>
                                                                    <button type="button" class="btn text-danger shadow-none ps-2" (click)="deleteSuscrito(suscrito, i, j)" title="Eliminar"><i class="far fa-trash-alt"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
</div>
</div>
                                </div>

                                <div ngbAccordionItem="ngb-anexo002-a28-seccion3" [collapsed]="false">
                                    <h2 ngbAccordionHeader>
                                        
                                            <button ngbAccordionButton>III. DECLARACION JURADA</button>
                                        </h2>

                                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                                        <div class="alert alert-custom">
                                            <div class="row gx-2">
                                                <div class="col-md-10">
                                                    <div>
                                                        Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                                        en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                                        sLey del Procedimiento Administrativo General y/o normas complementarias.(2)
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="d-flex flex-row p-2 ms-4">
                                                        <ui-switch  formControlName="declaracion">
                                                            
                                                        </ui-switch>
                                                        <label class="col-form-label"> NO/SI </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
</div>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-2" style="text-align: center;">
                <div class="col-lg-12">
                    <h5>REGISTRAR NUEVO ANEXO</h5>
                </div>
                <div class="col-lg-12 m-2">
                    <button #btnAgregarAnexo type="button" class="btn btn-success"
                        (click)="addAnexoSolicitado(btnAgregarAnexo)">
                        <span class="fa fa-plus"></span> Agregar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid">
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>