<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <!-- <form novalidate [formGroup]="formAnexo" (ngSubmit)="save()"> -->
    <div class="container-fluid">
        <form novalidate [formGroup]="formAnexo">
            <div class="center">
                <h5>ANEXO 002-D/28 INVERSION PROYECTADA - SERVICIO DE RADIODIFUSIÓN</h5>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion1, seccion2, seccion3, seccion4, seccion5">

                <div ngbAccordionItem="seccion1" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>I. DATOS DEL SOLICITANTE</button>
                        </h2>

                    <ng-template ngbPanelContent formGroupName="Seccion1">
                        <div class="col-sm-12">
                            <app-basic-input [parentForm]="f_Seccion1" 
                                inputFormControlName="solicitante" label="Denominación o Razón Social / Nombre y Apellidos"
                                [readonly]="true" >
                            </app-basic-input>
                        </div>
                    </ng-template>
                </div>

                <div ngbAccordionItem="seccion2" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>II. INVERSION PROYECTADA DEL PRIMER AÑO PARA LA INSTALACION DE LA ESTACION RADIODIFUSORA</button>
                        </h2>
                    <ng-template ngbPanelContent formGroupName="Seccion2">
                        <div class="col-sm-12">
                            Con la finalidad de realizar el trámite de otorgamiento de autorización para prestar el servicio de radiodifusión en:
                        </div>
                        <div class="col-sm-12">
                            <div class="row gx-2" style="padding: 15px;">
                                <div class="col-sm-4">
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="fm" value="fm" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="fm">Frecuencia modulada (FM)</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- Default inline 2-->
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="oct" value="oct" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="oct">Onda Corta Tropical</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- Default inline 3-->
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="uhf" value="uhf" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="uhf">Televisión en UHF</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row gx-2" style="padding: 15px;">
                                <div class="col-sm-4">
                                <!-- Default inline 1-->
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="om" value="om" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="om">Onda Media (OM)</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                <!-- Default inline 2-->
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="oci" value="oci" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="oci">Onda Corta Internacional (OCI)</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                <!-- Default inline 3-->
                                    <div class=" form-check custom-control-inline">
                                        <input type="radio" class="form-check-input" id="vhf" value="vhf" formControlName="finalidad" mdbInput>
                                        <label class="form-check-label" for="vhf">Televisión en VHF</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <app-basic-input [parentForm]="f_Seccion2" 
                                inputFormControlName="localidad" label="Localidad"
                                [readonly]="true" >
                            </app-basic-input>
                        </div>
                        <div class="col-sm-12">
                            <p>Manifiesto que el detalle de la inversión proyectada del primer año para la instalación de la estación radiodifusora, será la siguiente:</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label"><b>EQUIPAMIENTO</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label">Estudios</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="inversionEstudios"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true" (change)="onChangeTotal()">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex" align="center">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label">Enlace Estudio-Planta</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="inversionEnlace"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true" (change)="onChangeTotal()">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex" align="center">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label">Planta</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="inversionPlanta"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true" (change)="onChangeTotal()">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex" align="center">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label">Otros</label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="inversionOtro"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true" (change)="onChangeTotal()">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex" align="center">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label"><b>INSTALACIONES</b></label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="inversionInstalaciones"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true" (change)="onChangeTotal()">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex" align="center">
                                    <div class="col-sm-12 col-lg-8 d-flex">
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <label class="col-form-label"><b>TOTAL</b></label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 d-flex">
                                            <app-basic-input [parentForm]="f_Seccion2" inputFormControlName="total"
                                                placeHolder="" [maxLength]="15" [onlyNumbers]="true" [decimals]="true"
                                                [horizontal]="true"  [customPrepend]="true">
                                                <ng-container slot="customPrepend">
                                                    <span class="input-group-text">S/</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>

                
                <div ngbAccordionItem="seccion4" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>III. DECLARACION JURADA</button>
                        </h2>

                    <ng-template ngbPanelContent>
                        <div class="alert alert-custom" formGroupName="Seccion3">
                            <div class="row gx-2">
                                <div class="col-md-10">
                                    <p>Manifiesto con carácter de Declaración Jurada que:</p>
                                </div>
                            </div>
                            <div class="row gx-2">
                                <div class="col-md-10">
                                    <p>
                                        Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                        caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                        Ley del Procedimiento Administrativo General y/o normas complementarias.(1)
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                        <ui-switch  formControlName="declaracion">
                                            
                                        </ui-switch>
                                        <label class="col-form-label"> NO/SI </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <p>(1) Articulo 34° numeral 34.3 del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS.</p>
        </form>
    </div>
</div>
<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid"  ><!--[disabled]="this.formAnexo.invalid"-->
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>