<div class="modal-header">
    <h2>{{title}}</h2>
    <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
    </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
    <div class="modal-body mat-typography">
        <div class="content-modal-flexible">
            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>PLATAFORMA<span class="text-danger">(*)</span></h3>
                <input type="text" class="form-control" placeholder="" formControlName="Plataforma" >
                <mat-error *ngIf="plataformaErrors" style="color: red;">{{ plataformaErrors }}</mat-error>
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>ESTE<span class="text-danger">(*)</span></h3>
                <input type="text" class="form-control" placeholder="" formControlName="Este" maxlength="9" (input)="soloNumeros($event, 'Este')" >
                <mat-error *ngIf="esteErrors" style="color: red;">{{ esteErrors }}</mat-error>
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>NORTE<span class="text-danger">(*)</span></h3>
                <input type="text" class="form-control" placeholder="" formControlName="Norte" maxlength="9" (input)="soloNumeros($event, 'Norte')" >
                <mat-error *ngIf="norteErrors" style="color: red;">{{ norteErrors }}</mat-error>
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>LARGO (m)</h3>
                <input type="number" class="form-control" min="0" placeholder="" formControlName="Largo" maxlength="4">
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>ANCHO (m)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Ancho" maxlength="4" (input)="soloNumeros($event, 'Ancho')">
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>PROFUNDIDAD PROMEDIO (m)</h3>
                <input type="number" class="form-control" min="0" placeholder="" formControlName="Profundidad" maxlength="4">
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>COTA (m.s.n.m.)<span class="text-danger">(*)</span></h3>
                <div class="col-sm-12 col-md-12 mt-2">
                    <input type="text" class="form-control" placeholder="" formControlName="Cota" maxlength="4">
                    <mat-error *ngIf="cotaErrors" style="color: red;">{{ cotaErrors }}</mat-error>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>DISTANCIA (m)</h3>
                <input type="number" class="form-control" min="0" placeholder="" formControlName="Distancia" maxlength="4">
            </div>

            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>FUENTE DE AGUA</h3>
                <div class="col-md-12">
                    <select class="form-select" formControlName="FuenteAgua">
                        <option value="" [disabled]="true">--SELECCIONE--</option>
                        <option *ngFor="let item of listaFuente" [value]="item.idFuenteAbastecimiento">{{ item.descripcion
                        }}
                    </option>
                    </select>
                </div>
            </div>  
            
            <div class="col-xs-12 col-md-6 p-r-10 mb-10">
                <h3>NÚMERO DE SONDAJE (m)</h3>
                <input type="number" class="form-control" placeholder="" min="0" formControlName="NumeroSondaje" maxlength="4">
            </div>
        </div>
        <div>
            <h3>TABLA</h3>
            <div class="sub-grupo">
                <div class="col-md-12">
                    <tupa-table [columns]="headersParameters" [data]="dataTablaParameters"></tupa-table>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
            Cancel</button>
        <button *ngIf="viewControl" type="submit" class="mat-small" [ngClass]="{'btn-disabled': form.invalid}" [disabled]="form.invalid"><i class="material-icons">save</i> Grabar</button>
    </div>
</form>