.btn-disabled {
  background-color: lightgray !important;  
  color: darkgray !important;  
  cursor: not-allowed !important;  
}
.modal-body { 
  padding: var(--bs-modal-padding);
  overflow-y: auto;
  flex: 1;
  font-size: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 200px);  
  height: auto;
  box-sizing: border-box; 
 }
 .content-modal-flexible{
  display: flex;
  flex-wrap: wrap;
}
 .p-r-10{
  padding-right: 10px;
 }
 .mb-10{
  margin-bottom: 10px;
 }
 @media (max-width: 768px) {
  .p-r-10{
    padding-right: 0;
    width: 100%;
   }
}