<div [formGroup]="parentForm">
  <div class="mb-3">
    <label for="inpIncFile">{{ fileFormLabel }}</label>
    <br />
    <input
      type="file"
      #inputFile
      accept="image/jpg,image/jpeg,image/png,application/pdf"
      style="display: none"
      [multiple]="multiple"
    />
    <button
      class="btn btn-danger btn-sm me-2"
      id="inpIncFile"
      type="button"
      (click)="onClick()"
    >
      <i class="fa fa-upload"></i> {{ fileButtonLabel }}
    </button>
    <span>{{ getFileLabel() }}</span>
    <ng-content></ng-content>
  </div>
  <p *ngIf="progress">
    <ngb-progressbar
      showValue="true"
      type="primary"
      [value]="progress"
      striped="true"
      animated="true"
    >
    </ngb-progressbar>
  </p>
</div>
