
textarea {
  resize: none;
}

.custom-header::after {
    content: none;
}

::ng-deep .lista-anexos .card .card-header{
  background-color: #f8f9fa;
}


.justify-content-between {
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}

.boton-guardar {
    width: 115px;
}

.text-bold {
    font-weight: 600 !important;
}

.alert-custom {
    color: #717171;
    background-color: #e6e6e6;
    border-color: #9c9c9c;
}

.accordion .card {
  margin-bottom: 10px;
}

.accordion>.card:not(:last-of-type) {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.control-invalid~.invalid-feedback {
  display: block;
}
