<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{codigoTupa}}  {{descripcionTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>

<div class="modal-body anexo">


    <form [formGroup]='anexo'>
        <div class="center">
            <h5>ANEXO 003-C/17&nbsp;&nbsp;  {{tituloAnexo}}</h5>
        </div>


        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-anexo003-c17">
            <div ngbAccordionItem="seccion-1">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DECLARACIÓN
                            JURADA</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="col-sm-12 text-justify">
                        Yo,
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['nombres'].value }}</span>, identificado con Documento Nacional de Identidad N°
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['dni'].value }}</span>, en mi calidad de
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['representante'].value }}</span> de la Empresa
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['empresa'].value }}</span>, con poder inscrito en Partida Registral N°
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['partida'].value }}</span> domiciliado(a) en
                        <span class="campo-resolucion-jurada">{{ this.anexo.controls['domicilio'].value }}</span>.
                    </div>
               
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <b>Declaro bajo juramento que mi representada:</b> <br>
                            Cumple con lo indicado en los numerales 20.1.9, 37.2, 37.3, 37.6, 37.8, 37.9, 37.10, 37.11,
                            38.1.2, 38.1.3, 38.1.4,38.1.5.4, 38.1.6 y 55.1.11 de los artículos 20°, 37º, 38º y 55° del
                            D.S. Nº 017-2009-MTC.
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            Cumple con cada uno de los requisitos establecidos en el artículo 55º del Reglamento
                            Nacional de Administración de Transportes, de acuerdo al servicio que solicita.
                        </div>
                        <div class="col-sm-12">
                            Cuenta con los siguientes números telefónicos, los que están vinculados a su respectivo
                            vehículo:
                        </div>
                    </div>


                    <div class="row mt-3">

                        <div class="col-sm-4 flex-2 d-flex flex-column">
                            <div class="card" >
                                <div class="card-body">
                                    <h5 class="card-title">Celular - Vehículo </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-1 ">Nro Celular:</div>
                                        <div class="flex-2">
                                            <input type="text" class="form-control" maxlength="9" formControlName="celular">
                                        </div>
                                    </div>
        
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="flex-1 ">Vehículo:</div>
                                        <div class="flex-2">
                                            <!-- <select class="form-select" formControlName="vehiculo">
                                                <option *ngFor="let item of listaFlotaVehicularA" [value]="item.placaRodaje">{{item.placaRodaje}}</option>
                                            </select> -->
                                            <input type="text" class="form-control text-uppercase" maxlength="6" formControlName="vehiculo">
                                            <div class="invalid-texto-aux" *ngIf="this.anexo.controls['vehiculo'].value.trim().length > 0 &&  this.anexo.controls['vehiculo'].value.trim().length != 6 ">
                                                <span >Ingrese 6 dígitos. Ejemplo: ZM1234</span>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3 align-items-center">
                                        <div class="flex-3">
                                            <button type="button" class="btn btn-danger col-sm-12" (click)="addVehiculos();">
                                                <i class="fas fa-plus"></i>
                                                Agregar</button>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>

                            
                        </div>
                        <div class="col-sm-8  flex-2 d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead class="bg-secondary text-white text-center">
                                        <th>N°</th>
                                        <th>Número de Celular</th>
                                        <th>Vehículo</th>
                                        <th>Acciones</th>
                                    </thead>
                                    <tbody  *ngIf="listaFlotaVehicular.length > 0; else sinRegistros">
                                        <tr *ngFor="let item of listaFlotaVehicular; let i = index">
                                            <td class="text-center">{{ i + 1 }}</td>
                                            <td>{{ item.nroCelular }}</td>
                                            <td>{{ item.placaRodaje }}</td>
                                            <td class="text-center">
                                                <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                    title="Eliminar" (click)="eliminarVehiculo(i)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <ng-template #sinRegistros>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" class="text-center text-danger">  No se encontraron registros</td>
                                            </tr>
                                        </tbody>
                                    </ng-template>
                                </table>
                            </div>
                        </div>
                        
                    </div>



                    
                    <div class="mb-3 row">
                        <br>
                        <div class="col-sm-12 mt-3">

                            Designa como encargada(s) de la(s) gerencia(s) de operaciones y riesgos a la(s) persona(s)
                            de:
                            de las que adjunto su CV y certificados de trabajo que acreditan su experiencia.
                            <br>
                            Lo declarado se sujeta a lo señalado en el artículo 34 del Texto Único Ordenado de la Ley Nº
                            27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N°
                            004-2019-JUS y demás normas pertinentes.
                        </div>


                        <div class="col-sm-12 mt-3">
                            <div class="mb-3 row">
                                <label for="docIdentidad" class="col-sm-1 col-form-label">DNI</label>
                                <div class="col-sm-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-uppercase"
                                            (input)="inputNumeroDocumento($event)" maxlength="8"
                                            formControlName="nro_identidad_encargado">
                                            <button class="btn btn-outline-secondary"
                                                [disabled]="this.anexo.controls['nro_identidad_encargado'].value.trim().length !== 8"
                                                type="button" (click)="buscarDNI()">
                                                <i class="fas fa-search"></i>
                                            </button>

                                    </div>

                                </div>
                                <div class="col-sm-7">

                                    <input type="text" class="form-control" id="nombres_apellidos"
                                        formControlName="nombres_apellidos" disabled>

                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger col-sm-12" (click)="addEncargados();">
                                        <i class="fas fa-plus"></i>
                                        Agregar</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-sm-12">

                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-sm">
                                        <thead class="bg-secondary text-white text-center">
                                            <th>N°</th>
                                            <th>DNI</th>
                                            <th>Nombres y Apellidos</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody *ngIf="listaEncargados.length > 0; else sinRegistros1">
                                            <tr *ngFor="let item of listaEncargados; let i = index">
                                                <td class="text-center">{{ i + 1 }}</td>
                                                <td>{{ item.numeroDocumento }}</td>
                                                <td>{{ item.nombresApellidos }}</td>
                                                <td class="text-center">
                                                    <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                        title="Eliminar" (click)="eliminarEncargado(i)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <ng-template #sinRegistros1>
                                            <tbody>
                                                <tr>
                                                    <td colspan="4" class="text-center text-danger">  No se encontraron registros</td>
                                                </tr>
                                            </tbody>
                                        </ng-template>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12 mt-5 d-flex justify-content-center">
                        <div class="alert alert-custom" role="alert">
                            <strong>
                                En el presente documento electrónico se ha vinculado e identificado al firmante, así
                                como se ha garantizado la autenticación e integridad del mismo a través de la firma
                                electrónica utilizada a través del usuario y clave de ingreso al Sistema Tupa Digital
                                del Ministerio de Transportes y Comunicaciones, la cual tiene la misma validez y
                                eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y
                                segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales
                            </strong>
                        </div>

                    </div>


                </ng-template>
            </div>
            </div>
            </div>
            <div ngbAccordionItem="seccion-2">

                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. DOCUMENTACIÓN QUE
                            SE DEBE ADJUNTAR (Conforme al D.S. Nº 017-2009-MTC (22.04.09))</button>
                    </h2>

                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <div class="col-sm-12">
                        <div class="row justify-content-end" *ngIf="visibleButtonDoc">
                                <div class="col-sm-2">
                                    <button class="btn btn-secondary btn-sm align-self-center"
                                        (click)="inputFileDoc.click($event)">
                                        <i class="fas fa-upload"></i>
                                        Adjuntar Documento.
                                    </button>
                                    <input type="file" class="d-none" #inputFileDoc accept="application/pdf"
                                        (change)="onChangeInputDoc($event)" />
                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa"
                                        *ngIf="filePdfDocSeleccionado || filePdfDocPathName"
                                        (click)="vistaPreviaDoc()"></i>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-sm " (click)="agregarDocumento()">
                                        <i class="fas fa-save"></i>
                                        Guardar
                                    </button>
                                </div>
                                <div class="col-sm-1">
                                    <button *ngIf="indexEditTabla !== -1" class="btn btn-warning btn-sm "
                                        (click)="cancelarDocumento()">
                                        Cancelar
                                    </button>
                                </div>

                        </div>

                        <div class="row mt-3">

                            <div class="col-sm-12">
                                <table class="table table-bordered table-sm">
                                    <thead class="bg-secondary text-white text-center">
                                        <tr>
                                            <th>N°</th>
                                            <th>Documento</th>
                                            <th class="columna-custom">Archivo PDF</th>
                                            <th class="columna-custom">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [class.registro-edit]="indexEditTabla === i"
                                            *ngFor="let item of listaDocumentos; let i = index">
                                            <td class="text-center">{{ item.nroOrden}}</td>
                                            <td>{{ item.descripcion }}</td>
                                            <td *ngIf="item.file === null && item.pathName === null; else pdfdoc"></td>
                                            <ng-template #pdfdoc>
                                                <td class="text-center">
                                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" (click)="verPdfDocGrilla(item)"></i>
                                                </td>
                                            </ng-template>
                                            <td class="text-center">
                                                <button type="button" *ngIf="item.file === null && item.pathName === null && item.activo" class="btn btn-danger btn-sm align-self-center" [class.opacity-icon]="indexEditTabla !== -1"  (click)="modificarDocumento(item, i)"> 
                                                    <i class="fas fa-upload"></i>
                                                    Adjuntar
                                                </button>
                                                <button type="button" *ngIf="item.file !== null || item.pathName !== null" class="btn btn-secondary btn-sm align-self-center" [class.opacity-icon]="indexEditTabla !== -1" (click)="modificarDocumento(item, i)">
                                                    <i  class="far fa-edit"></i>                                                    
                                                </button>
                                                &nbsp;&nbsp;
                                                <button type="button" *ngIf="item.file !== null || item.pathName !== null" class="btn btn-danger btn-sm align-self-center" [class.opacity-icon]="indexEditTabla !== -1" (click)="eliminarDocumento(item, i)">
                                                    <i  class="far fa-trash-alt"></i>                                                    
                                                </button>
                                                &nbsp;

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="alert alert-primary" role="alert">
                                <b>*</b> Solo si oferta Vehículos M3 <br>
                                <b>**</b> Solo si cuenta con cinco (05) o más vehículos
                              </div>
                        </div>


                    </div>



                </ng-template>
            </div>
            </div>
            </div>



        </div>




        <!-- <div class="row mt-3">
    <div class="col-sm-12  d-flex">
        <div class="flex-1">
            <button class="btn btn-secondary"  [disabled]="idAnexoMovimiento === 0" (click)="descargarPdf()">
                <i class="fas fa-cloud-download-alt"></i>
                Descargar PDF
            </button>
        </div>

        <div class="flex-1 text-end">
            <button class="btn btn-primary">
            <i class="fas fa-signature"></i>
            Firma Digital
        </button>
        
        <button type="submit" class="btn btn-success ms-2"  (click)="guardarAnexo()">
            <i class="far fa-save"></i>
            {{
                (idAnexoMovimiento === 0 ? 'Grabar' : 'Modificar')
            }}
        </button>

            <button class="btn btn-primary ms-2">
            <i class="fas fa-arrow-right"></i>
            Siguiente
        </button>
        </div>
    </div>
</div>
</form> -->



    </form>

</div>

<div class="modal-footer anexo">

    <div class="row">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexoMovimiento === 0"
                        (click)="descargarPdf()">
                        <i class="far fa-eye"></i>
                        Visualizar
                    </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarAnexo()"
                    [disabled]="this.anexo.invalid || listaFlotaVehicular.length === 0">
                    <i class="far fa-save"></i>
                    {{
                    (idAnexoMovimiento === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>
</div>