<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
    
</button>
</div>

<div class="modal-body anexo">
    <form novalidate [formGroup]="formulario">
        <div class="center">
            <h6> FORMULARIO 001-A/12 PERSONAL AERONÁUTICO</h6>
        </div>
        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-form-001-a-12">

            <!-- DATOS DEL SOLICITANTE -->
            <div ngbAccordionItem="ngb-form-001-a-12" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DATOS DEL
                              SOLICITANTE</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row gx-2">
                        <!-- <div class="col-md-4 mb-2">
                            <label>Tipo Documento <span class="text-danger">(*)</span></label>
                            <select class="form-select form-select-sm" (change)="changeTipoDocumento()" formControlName="tipoDocumentoForm" [class.control-invalid]="formInvalid('tipoDocumentoForm')">
                                <option value=''>Seleccione</option>
                                <option *ngFor="let item of listaTiposDocumentos;" [value]="item.id">{{ item.documento }}</option>
                            </select>

                        </div> -->
                        <div class="col-md-3 mb-2">
                            <label for="numero" class="">N° Documento<span class="text-danger">(*)</span></label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-uppercase" (input)="inputNumeroDocumento($event)" formControlName="numeroDocumentoForm" [class.control-invalid]="formInvalid('numeroDocumentoForm')" />
                                <!-- <button class="btn btn-outline-secondary" [disabled]="this.formulario.controls['numeroDocumentoForm'].value.trim().length === 0" type="button" (click)="buscarNumeroDocumento()">
                                          <i class="fas fa-search"></i>
                                      </button> -->
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>


                    </div>


                    <div class="row gx-2">
                        <div class="col-md-4 mb-2">
                            <label class="mb-0">Apellido Paterno: <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="ap_paternoForm" [class.control-invalid]="formInvalid('ap_paternoForm')">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label class="mb-0">Apellido Materno: <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="ap_maternoForm" [class.control-invalid]="formInvalid('ap_maternoForm')">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label class="mb-0">Nombres: <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="nombreForm" [class.control-invalid]="formInvalid('nombreForm')">
                        </div>
                    </div>

                    <!-- Domicilio -->
                    <div class="row gx-2">
                        <div class="col-md-12 mb-2">
                            <label class="mb-0">Domicilio <small class="text-muted">(Avenida /
                                      Calle / Jirón / Psje / Nro / Departamento / Manzana / Lote / Urb) :</small></label>
                            <input type="text" class="form-control form-control-sm" formControlName="direccionForm" [class.control-invalid]="formInvalid('direccionForm')">
                        </div>
                    </div>

                    <!--  UBIGEO -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Distrito <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="distritoForm" [class.control-invalid]="formInvalid('distritoForm')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Provincia <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="provinciaForm" [class.control-invalid]="formInvalid('provinciaForm')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Departamento <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="departamentoForm" [class.control-invalid]="formInvalid('departamentoForm')">
                        </div>
                    </div>



                    <!-- DNI, C.E. PASAPORTE, RUC -->
                    <div class="row gx-2 mb-2">
                        <!-- <div class="col-md-4 mb-1">
                                  <label class="mb-0">DNI <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-sm">
                              </div>
                              <div class="col-md-4 mb-1">
                                  <label class="mb-0">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="tipoDocumento" id="docCE" value="1">
                                      <label class="form-check-label" for="docCE">C.E. <i
                                              class="fa fa-question-circle text-secondary"
                                              ngbTooltip="CE: Carné de Extranjería"></i> </label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="tipoDocumento" id="docCI" value="2">
                                  <label class="form-check-label" for="docCI">PASAPORTE</label>
                              </div>
                              <span class="text-danger">*</span>
                              </label>
                              <input type="text" class="form-control form-control-sm">
                          </div> -->
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">RUC <span class="text-danger"></span></label>
                            <input type="text" class="form-control form-control-sm" (input)="soloNumeros($event)" formControlName="rucForm" maxlength="11" [class.control-invalid]="formInvalid('rucForm')">
                        </div>
                    </div>


                    <!-- Telefono, Celular, Correo -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Teléfono <span class="text-danger"></span></label>
                            <input type="text" class="form-control form-control-sm" (input)="soloNumeros($event)" formControlName="telefonoForm">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Celular <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" (input)="soloNumeros($event)" maxlength="9" formControlName="celularForm" [class.control-invalid]="formInvalid('celularForm')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Correo Electrónico ( E-mail ) <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="correoForm" [class.control-invalid]="formInvalid('correoForm')">
                        </div>
                    </div>


                    <!-- Texto  -->
                    <!-- <div class="row gx-2 mb-2">
                        <div class="col-md-8 mb-1">
                            <p class="small">
                                Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario. (Articulo 20° numeral 20.4 del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento
                                Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS)
                            </p>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">MARCADO OBLIGATORIO <span class="text-danger">(*)</span></label>

            

                            <div class="col-md-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="marcadoObligatorioForm">
                                    <label class="custom-control-label" for="customSwitch1">NO/SI</label>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!--
                    <div class="col-sm-12 mt-4 d-flex justify-content-center">
                        <div class="alert alert-custom" role="alert">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario. (Articulo 20° numeral 20.4 del Texto Único Ordenadode
                                        la Ley N° 27444 – Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS)</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="custom-control custom-switch"> -->
                                        <!-- <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="onChangeMarcado($event)" formControlName="marcadoObligatorio"> -->
                                        <!--<input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="marcadoObligatorioForm">
                                        <label class="custom-control-label" for="customSwitch1">NO / SI</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- Peso, Estatura, Color ojos, Color cabello -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Peso <span class="text-danger">(*)</span></label>
                            <input type="number" step="any" class="form-control form-control-sm" formControlName="pesoForm" [class.control-invalid]="formInvalid('pesoForm')">
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Estatura <span class="text-danger">(*)</span></label>
                            <input type="number" step="0.01" class="form-control form-control-sm" formControlName="estaturaForm" [class.control-invalid]="formInvalid('estaturaForm')">
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Color Ojos <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="c_ojosForm" [class.control-invalid]="formInvalid('c_ojosForm')">
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Color Cabellos <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="c_cabelloForm" [class.control-invalid]="formInvalid('c_cabelloForm')">
                        </div>
                    </div>

                    <!-- Nacionalidad, Fecha Nacimiento, Registro de licencia DGAC, Nro -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Nacionalidad <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="nacionalidadForm" [class.control-invalid]="formInvalid('nacionalidadForm')">
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Fecha de Nacimiento <span class="text-danger">(*)</span> </label>
                            <div class="input-group mb-3">
                                <input type="text" (dateSelect)="onDateSelectFechaNac($event)" class="form-control form-control-sm" ngbDatepicker #d="ngbDatepicker" readonly formControlName="f_nacForm" [class.control-invalid]="formInvalid('f_nacForm')">

                                    <button class="btn btn-success btn-sm" (click)="d.toggle()"><i class="fa fa-calendar"
                                              aria-hidden="true"></i></button>
                            </div>


                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">Registro de licencia DGAC <span class="text-danger" *ngIf="this.codigoProcedimientoTupa === 'DSA-003'">(*)</span></label>
                            <!-- <input type="text" class="form-control form-control-sm" formControlName="licenciaForm" [class.control-invalid]="formInvalid('licenciaForm')"> -->
                            <select class="form-select form-select-sm" (change)="changeTipoLicencia()" formControlName="licenciaForm" [class.control-invalid]="formInvalid('licenciaForm')">
                                <option value=''>Seleccione</option>
                                <option *ngFor="let item of listaLicencias;" [value]="item.id">{{ item.descripcion}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-1">
                            <label class="mb-0">N° <span class="text-danger" *ngIf="this.codigoProcedimientoTupa === 'DSA-003'">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="n_licenciaForm" [class.control-invalid]="formInvalid('n_licenciaForm')">
                        </div>

                    </div>


                </ng-template>
</div>
</div>
            </div>

            <!-- II. SERVICIO SOLICITADO (Marcar con un aspa “X”) -->
            <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. SERVICIO SOLICITADO
                          </button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row mt-sm-2 mt-md-1">
                        <div class="col-md-5">
                            <div class="row">

                                <div class="col-sm-12 mt-3">
                                    <span class="campo-resolucion-jurada">{{ this.codigoProcedimientoTupa }}</span> <span class="campo-resolucion-jurada">{{ this.descProcedimientoTupa }}</span>
                                    <div class="col-sm-12 d-flex flex-column" *ngIf="this.codigoProcedimientoTupa==='DSA-001'">
                                        <div class="flex-1">

                                            <input type="radio" value="1" class="ms-3" formControlName="descFlgForm" [class.control-invalid]="formInvalid('descFlgForm')" /> Otorgamiento de Licencia aeronáutica <span class="text-danger">(*)</span>
                                        </div>
                                        <div class="flex-1">

                                            <input type="radio" value="2" class="ms-3" formControlName="descFlgForm" [class.control-invalid]="formInvalid('descFlgForm')" /> Otorgamiento de habilitación aeronáutica <span class="text-danger">(*)</span>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 d-flex flex-column" *ngIf="this.codigoProcedimientoTupa==='DSA-003'">
                                        <div class="flex-1">

                                            <input type="radio" value="1" class="ms-3" formControlName="descFlgForm" [class.control-invalid]="formInvalid('descFlgForm')" /> - Renovación de licencia aeronáutica <span class="text-danger">(*)</span>
                                        </div>
                                        <!-- <div class="flex-1">

                                            <input type="radio" value="2" class="ms-3" formControlName="descFlgForm" /> Otorgamiento de habilitación aeronáutica

                                        </div> -->
                                    </div>
                                    <div class="col-sm-12 d-flex flex-column" *ngIf="this.codigoProcedimientoTupa!=='DSA-001' || this.codigoProcedimientoTupa!=='DSA-003'">
                                        <div class="flex-1">

                                            <input type="hidden" class="ms-3" formControlName="descFlgForm" />
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <p class="ion-text-justify small fw-bold">
                                Especificar el tipo de licencia o habilitación requerida, según el servicio marcado:
                            </p>
                            <textarea id="" cols="30" rows="2" class="form-control form-control-sm" formControlName="especRequeridaForm" [class.control-invalid]="formInvalid('especRequeridaForm')"></textarea>
                        </div>
                    </div>



                </ng-template>
</div>
</div>
            </div>

            <!-- III. DERECHO DE TRÁMITE -->
            <!--
            <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. DERECHO DE
                              TRÁMITE</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row gx-2">
                        <div class="col-md-8 mb-0">
                            <label class="mb-0">Nº DE RECIBO DE ACOTACIÓN: <span [hidden]="!this.activo" class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="n_reciboForm">
                        </div>
                        <div class="col-md-4 mb-0">
                            <label class="mb-0">FECHA DE PAGO <span [hidden]="!this.activo" class="text-danger">(*)</span> </label>
                            <div class="input-group mb-0">
                                <input type="text" (dateSelect)="onDateSelectPago($event)" class="form-control form-control-sm" ngbDatepicker #fechaPago="ngbDatepicker" readonly formControlName="fec_pagoForm">
                                    <button class="btn btn-success btn-sm" (click)="fechaPago.toggle()"><i class="fa fa-calendar"
                                              aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-2">
                        <div class="col-md-8 mb-0">
                            <label class="mb-0">Nº DE OPERACIÓN BANCO DE LA NACIÓN <span [hidden]="!this.activo" class="text-danger">(*)</span> </label>
                            <input type="text" class="form-control form-control-sm" formControlName="n_operacionForm">
                        </div>
                    </div>




                </ng-template>
</div>
</div>
            </div>
        -->
            <!-- DECLARACION JURADA -->
            <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>III. DECLARACIÓN
                              JURADA</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <!--  Declaracion SI NO -->
                    
                    <div class="row mt-3 ">
                        <div class="alert alert-custom" role="alert">
                            <div class="col-sm-12 mt-3 text-justify p-2">
                                Al acceder al TUPA Digital MTC y registrarme como usuario, reconozco no sólo que leí, sino también que he entendido y aceptado los 
                                Términos y Condiciones de uso del sistema. Además, soy responsable por los efectos legales de su solo acceso, reconozco como 
                                auténtico y válido cualquier medio de prueba o proceso tecnológico que utilice el Ministerio de Transportes y Comunicaciones, 
                                en adelante MTC, para comprobar mi acceso y salida del sistema.
                            </div>
                        </div>

                        <div class="col-sm-12 mt-3 ">
                            <div class="d-flex justify-content-around ">
                                <div class="d-flex texto-bajo-juramento ">
                                    <b>DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD</b>
                                </div>
                            </div>
                        </div>
                        <br>
                        
                            <div class="alert alert-custom" role="alert">
                                <div class="col-sm-12 mt-3 text-justify p-2">
                                    En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del 
                                    mismo a través de la firma electrónica utilizada atraves del usuario y clave de ingreso al Sistema Tupa Digital
                                    del Ministerio de Transportes y Comunicaciones , la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad 
                                    con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales.
                                </div>
                            </div>
                        
                    </div>
                    <!-- Persona Autorizada -->
                    <!-- <div class="row gx-2 mb-2">
                              <div class="col-md-12 mb-2">
                                  <h6 class="small fw-bold">IDENTIFICACIÓN DE LA PERSONA AUTORIZADA</h6>
                                  <hr class="mb-1 mt-1">
                              </div>
                              <div class="col-md-4 mb-1">
                                  <label class="mb-0">DOCUMENTO DE IDENTIDAD <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-sm">
                              </div>
                              <div class="col-md-6 mb-1">
                                  <label class="mb-0">APELLIDOS Y NOMBRES <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-sm">
                              </div>
                          </div> -->
                    <!-- Declaracion Juramento -->
                    <!-- <div class="row gx-2 mb-2">
                              <div class="col-md-12 mb-2">
                                  <h6 class="small fw-bold">DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD</h6>
                                  <hr class="mb-1 mt-1">
                              </div>
                              <div class="col-md-4 mb-1">
                                  <label class="mb-0">APELLIDOS Y NOMBRES <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-sm">
                              </div>
                          </div> -->
                    <!-- Adjuntar... -->
                    <!-- <div class="row gx-2 mb-2">
                              <div class="col-md-12 mb-2">
                                  <h6 class="small fw-bold">DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD</h6>
                                  <hr class="mb-1 mt-1">
                              </div>
                              <div class="col-md-12 mb-1">
                                  <p class="text-justify small">
                                      Articulo 34° numeral 34.3 del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS. TEXTO: En caso de comprobar fraude o falsedad en la declaración, información o en la documentación
                                      presentada por el administrado, la entidad considerará no satisfecha la exigencia respectiva para todos sus efectos, procediendo a declarar la nulidad del acto administrativo sustentado en dicha declaración, información
                                      o documento; e imponer a quien haya empleado esa declaración, información o documento una multa en favor de la entidad de entre cinco (5) y diez (10) Unidades Impositivas Tributarias vigentes a la fecha de pago;
                                      y, además, si la conducta se adecua a los supuestos previstos en el Título XIX Delitos contra la Fe Pública del Código Penal, ésta deberá ser comunicada al Ministerio Público para que interponga la acción penal
                                      correspondiente
                                  </p>
                              </div> -->
                    <!-- Subir documento... -->
                    <!-- <div class="col-md-6 col-sm-12 mb-2">
                                  <label class="mb-0">SÍRVASE COMPLETAR CON LETRA LEGIBLE <button type="button"
                                      class="btn btn-link btn-sm " >Ver más <i
                                          class="fa fa-question-circle text-primary" aria-hidden="true"></i>
                                  </button></label>
                              </div>
                              <div class="col-sm-12 mt-2 d-flex justify-content-center">
                                  <div class="d-flex border border-dark">
                                      <div class="d-flex p-5 border-end border-dark">
                                          <i class="far fa-file-pdf fa-3x"></i>
                                      </div>
                                      <div class="d-flex p-3 flex-column justify-content-center border">
                                          <div class="text-center">
                                              Agregar PDF firmado localmente
                                          </div>
                                          <button class="btn btn-primary w-100 mt-3">
                                          Subir PDF
                                      </button>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
                    <!-- Botones.... -->
                    <!-- <div class="row">
                              <div class="col-md-10 m-auto text-center">
                                  <button type="button" class="btn btn-secondary m-2">Descargar PDF</button>
                                  <button type="button" class="btn btn-secondary m-2">Firmar Digitalmente</button>
                                  <button type="button" class="btn btn-danger m-2">Regresar</button>
                                  <button type="button" class="btn btn-success m-2">Guardar</button>
                              </div>
                          </div> -->
                </ng-template>
</div>
</div>

            </div>

        </div>

    </form>
</div>


<div class="modal-footer anexo">

    <div class="row">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" *ngIf="idForm!==0" (click)="descargarPdf()">
                              <i class="far fa-eye"></i>
                              Visualizar PDF
                          </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarFormulario001a12()" [disabled]="this.formulario.invalid">
                          <i class="far fa-save"></i>
                          {{
                              (idForm === 0 ? 'Grabar' : 'Modificar')
                          }}
                      </button>
            </div>
        </div>
    </div>
</div>