<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>
            <h3>PLAN DE MANEJO AMBIENTAL</h3>
            <div class="sub-grupo">
                <h3>ETAPA DE FASE <span class="text-danger">(*)</span></h3>
                <div class="col-md-12">
                    <select class="form-select" formControlName="Etapa">
                        <option value="">--SELECCIONE--</option>
                        <option *ngFor="let item of etapaFase" [value]="item.codigo">{{ item.descripcion }}</option>
                    </select>
                    <mat-error *ngIf="etapaErrors" style="color: red;">{{ etapaErrors }}</mat-error>
                </div>
                <br>
                <h3>MEDIDAS DE MANEJO AMBIENTAL <span class="text-danger">(*)</span></h3>
                <div class="form-group col-sm-12 col-md-12  mt-2">
                    <textarea class="form-control" placeholder="" rows="3" formControlName="Medidas" maxlength="500"></textarea>
                    <mat-error *ngIf="medidasErrors" style="color: red;">{{ medidasErrors }}</mat-error>
                </div>
                <br>
                <h3>RIESGOS/IMPACTO/ASPECTOS DEL PROYECTO <span class="text-danger">(*)</span></h3>
                <div class="form-group col-sm-12 col-md-12  mt-2">
                    <textarea class="form-control" placeholder="" rows="3" formControlName="Riesgos" maxlength="500"></textarea>
                    <mat-error *ngIf="riesgosErrors" style="color: red;">{{ riesgosErrors }}</mat-error>
                </div>
                <br>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
                <button *ngIf="viewControl" type="submit" class="mat-small" [ngClass]="{'btn-disabled': form.invalid}" [disabled]="form.invalid"><i class="material-icons">save</i> Grabar</button>
        </div>
    </form>
</div>