::ng-deep .customModal .modal-dialog {
  min-width: calc(100vw - 400px);
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
    background-color: rgba(0,0,0,.03);
    font-size: 1.4rem;
    font-weight: 600;
}

.text-bold {
  font-weight: 600 !important;
}

.btn-actions{
  width: 34px;
}

.btn-actions.dropdown-toggle::after {
  content: none;
}
.align-center{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-secondary {
  color: gray !important;
}

.text-success {
  color: green !important;
}

.text-warning {
  color: orange !important;
}

.text-danger {
  color: red !important;
} 

.highlight-secondary {
  background-color: gray;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.highlight-success {
  background-color: green;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.highlight-warning {
  background-color: orange;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
}

.highlight-danger {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}