<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
    
</button>
</div>

<div class="modal-body anexo">
    <div class="center">
        <h6>FORMULARIO 002-A/12 SEGURIDAD DE VUELO</h6>
    </div>
    <form novalidate [formGroup]="form">
        <div ngbAccordion #acc="ngbAccordion" activeIds="ngb-form-002-a-12">
            <div ngbAccordionItem="ngb-form-002-a-12" [collapsed]="false">
                <h2 ngbAccordionHeader >
                    
                        <button ngbAccordionButton>I. DATOS DEL
                                    SOLICITANTE</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

                    <!-- <div class="row gx-2 mb-2">
                        <div class=" form-check custom-control-inline">
                            <input type="radio" id="persona11" class="form-check-input" (change)="activaTipoPersona()" formControlName="tipoPersonaForm" value="1" checked="true">
                            <label class="form-check-label" for="persona11">Persona Natural <span
                                            class="text-danger">(*)</span></label>
                        </div>
                        <div class=" form-check custom-control-inline">
                            <input type="radio" id="persona21" class="form-check-input" (change)="activaTipoPersona()" formControlName="tipoPersonaForm" value="2">
                            <label class="form-check-label" for="persona21">Persona Juridica <span
                                            class="text-danger">(*)</span></label>
                        </div>
                    </div> -->
                    <div class="row gx-2">
                        <!-- <div class="col-md-4 mb-2" *ngIf="activarN">
                            <label>Tipo Documento <span class="text-danger">(*)</span></label>
                            <select class="form-select form-select-sm" (change)="changeTipoDocumento()" formControlName="tipoDocumentoForm">
                                        <option value=''>Seleccione</option>
                                        <option *ngFor="let item of listaTiposDocumentos | slice:0:3" [value]="item.id">{{ item.documento }}</option>
                                    </select>

                        </div>
                        <div class="col-md-4 mb-2" *ngIf="activarJ">
                            <label>Tipo Documento <span class="text-danger">(*)</span></label>
                            <select class="form-select form-select-sm" (change)="changeTipoDocumento()" formControlName="tipoDocumentoForm">
                                        <option value=''>Seleccione</option>
                                        <option *ngFor="let item of listaTiposDocumentos | slice:3:4" [value]="item.id">{{ item.documento }}</option>
                                    </select>

                        </div> -->



                    </div>
                    <div class="row gx-2">

                        <div class="col-md-3 mb-2">
                            <label for="numero" class="">N° <span class="text-danger">(*)</span></label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-uppercase" (input)="inputNumeroDocumento($event)" formControlName="numeroDocumentoForm" [class.control-invalid]="formInvalid('numeroDocumentoForm')" />

                                <!-- <button class="btn btn-outline-secondary" [disabled]="this.formulario.controls['numeroDocumento'].value.trim().length === 0" type="button" (click)="buscarNumeroDocumento()">
                                    <i class="fas fa-search"></i>
                                </button>-->
                                <!-- <small *ngIf="nroDocNoValido" class="text-danger">Campo requerido</small> -->
                            </div>
                        </div>

                        <div class="col-md-9 mb-2">
                            <label>Nombres y Apellidos / Razón Social / Nombre Comercial: <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="datoSolicitante" [class.control-invalid]="formInvalid('datoSolicitante')" />
                        </div>


                    </div>

                    <div class="row gx-2">
                        <div class="col-md-12 mb-2">
                            <label class="mb-0">Domicilio <small class="text-muted">(Avenida /
                                            Calle / Jirón / Psje / Nro / Departamento / Manzana / Lote / Urb) :<span class="text-danger">(*)</span></small></label>
                            <input type="text" class="form-control form-control-sm" formControlName="domicilio" [class.control-invalid]="formInvalid('domicilio')">
                        </div>
                    </div>
                    <!--  UBIGEO -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Distrito <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="distrito" [class.control-invalid]="formInvalid('distrito')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Provincia <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="provincia" [class.control-invalid]="formInvalid('provincia')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Departamento <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="departamento" [class.control-invalid]="formInvalid('departamento')">
                        </div>
                    </div>
                    <!-- DNI, C.E. PASAPORTE, RUC -->
                    <!-- <div class="row gx-2 mb-2">
                                <div class="col-md-4 mb-1">
                                    <label class="mb-0">DNI <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="dni">
                                </div>
                                <div class="col-md-4 mb-1">
                                    <label class="mb-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tipoDocumento" id="docCE" value="1" name="cePasaporte" formControlName="cePasaporte">
                                            <label class="form-check-label" for="docCE">C.E. <i
                                                class="fa fa-question-circle text-secondary"
                                                ngbTooltip="CE: Carné de Extranjería"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tipoDocumento" id="docCI" value="2" name="cePasaporte" formControlName="cePasaporte">
                                    <label class="form-check-label" for="docCI">PASAPORTE</label>
                                </div>
                                <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control form-control-sm" formControlName="cePasaporteDescripcion">
                            </div>
                            <div class="col-md-4 mb-1">
                                <label class="mb-0">Nro de RUC <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" formControlName="numeroRuc">
                            </div>
                            </div> -->
                    <!-- Telefono, Celular, Correo -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Teléfono <span class="text-danger"></span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="telefonoFax">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Celular <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="celular" [class.control-invalid]="formInvalid('celular')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Correo Electrónico ( E-mail ) <span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="correoElectronico" [class.control-invalid]="formInvalid('correoElectronico')">
                        </div>
                    </div>
                    <!-- Texto  -->
                    <!-- <div class="row gx-2 mb-2">
                        <div class="col-md-8 mb-1">
                            <p class="small">
                                Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario. (Articulo 20° numeral 20.4 del Texto Único Ordenado de la Ley N° 27444 – Ley del Procedimiento
                                Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS)
                            </p>
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">MARCADO OBLIGATORIO <span class="text-danger">*</span></label>

                            <div class="col-md-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="marcadoObligatorio">
                                    <label class="custom-control-label" for="customSwitch1">NO/SI</label>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <div class="col-sm-12 mt-4 d-flex justify-content-center">
                        <div class="alert alert-custom" role="alert">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Solicito que todo acto administrativo derivado del presente procedimiento, se me notifique en el correo electrónico (e-mail) consignado en el presente formulario. (Articulo 20° numeral 20.4 del Texto Único Ordenadode
                                        la Ley N° 27444 – Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS)</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="custom-control custom-switch">
                                        <!-- <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="onChangeMarcado($event)" formControlName="marcadoObligatorio"> -->
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="marcadoObligatorio">
                                        <label class="custom-control-label" for="customSwitch1">NO / SI</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-2">
                        <div class="col-md-4 mb-2">
                            <label>Tipo Documento <span class="text-danger">(*)</span></label>
                            <select class="form-select form-select-sm" (change)="changeTipoDocumentoNew()" formControlName="tpDocRepresentanteForm" [class.control-invalid]="formInvalid('tpDocRepresentanteForm')">
                                        <option value=''>Seleccione</option>
                                        <option *ngFor="let item of listaTiposDocumentos | slice:0:2" [value]="item.id">{{ item.documento }}</option>
                                    </select>

                        </div>

                        <div class="col-md-3 mb-2">
                            <label for="numero" class="">N° Documento<span class="text-danger">(*)</span></label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-uppercase" (input)="inputNumeroDocumento($event)" [maxlength]="getMaxLengthNumeroDocumento()" formControlName="nroDocRepresentanteForm" [class.control-invalid]="formInvalid('nroDocRepresentanteForm')" />
                                    <button class="btn btn-outline-secondary" [disabled]="this.form.controls['nroDocRepresentanteForm'].value.trim().length === 0" type="button" (click)="buscarDocRepresentante()">
                                            <i class="fas fa-search"></i>
                                        </button>
                            </div>
                        </div>
                        <small *ngIf="this.esRepresentante" class="text-danger"><strong>NOTA* N° de Documento no se ha encontrado en la lista de Representantes Legales - SUNAT</strong> </small>
                    </div>
                    <!-- Razón Social / Operador, Representante Legal -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Nombres <span
                                            class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="nombresRepreLegal" [class.control-invalid]="formInvalid('nombresRepreLegal')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Apellido Paterno<span
                                            class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="apellidoPaternoRepreLegal" [class.control-invalid]="formInvalid('apellidoPaternoRepreLegal')">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label class="mb-0">Apellido Materno<span [hidden]="!this.disabled"
                                            class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="apellidoMaternoRepreLegal" [class.control-invalid]="formInvalid('apellidoMaternoRepreLegal')">
                        </div>
                    </div>
                    <!-- Domicilio Representante, DNI.CE. -->
                    <div class="row gx-2 mb-2">
                        <div class="col-md-8 mb-2">
                            <label class="mb-0">Domicilio Representante Legal <span class="text-danger">(*)</span><small class="text-muted">(Avenida /
                                            Calle / Jirón / Psje / Nro / Departamento / Manzana / Lote / Urb) :</small></label>
                            <input type="text" class="form-control form-control-sm" formControlName="domicilioRepreLegal" [class.control-invalid]="formInvalid('domicilioRepreLegal')">
                        </div>

                    </div>
                    <!-- Poder registrado, Oficina registral -->
                    <div class="row gx-2 mb-2 ">
                        <div class="d-flex flex-row align-items-center">
                            <div class="mb-3 ps-1">
                                <label> Poder registrado en la ficha / partida N°<span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control ms-2 me-2 form-control-sm" maxlength="9" formControlName="partidaNumero" [class.control-invalid]="formInvalid('partidaNumero')">
                            </div>
                            <div class="mb-3">
                                <label> de la oficina de <span class="text-danger">(*)</span></label>
                                <div class="col-md-2">
                                    <select class="form-select" formControlName="oficinaRegistral" [class.control-invalid]="formInvalid('oficinaRegistral')">
                                                <option value="">Seleccione</option>
                                                <option *ngFor="let oficina of listaOficinaRegistral;" [value]="oficina.value">{{ oficina.text }}</option>
                                            </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>

            <!-- II. SERVICIO SOLICITADO (Marcar con un aspa “X”)  -->
            <!-- <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>II. SERVICIO SOLICITADO
                                    (Marcar con un aspa “X”)</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row">

                        <div class="col-md-7">
                            <span class="campo-resolucion-jurada">{{ this.codigoProcedimientoTupa }}</span> <span class="campo-resolucion-jurada">{{ this.descProcedimientoTupa }}</span>
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div> -->

            <!-- Derecho de tramite -->
            <!--<div ngbAccordionItem="ngb-form-002-a-12-d" [collapsed]="false">
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>III. DERECHO DE TRÁMITE
                                </button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row gx-2 mb-1">
                        <div class="col-md-8 mb-0">
                            <label class="mb-0">Nº DE RECIBO DE ACOTACIÓN: <span [hidden]="this.ocultar" class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="numeroRecibo" [class.control-invalid]="formInvalid('numeroRecibo')">
                        </div>
                        <div class="col-md-4 mb-0">
                            <label class="mb-0">FECHA DE PAGO <span [hidden]="this.ocultar" class="text-danger">(*)</span> </label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" (dateSelect)="onDateSelectPago($event)" ngbDatepicker #d="ngbDatepicker" formControlName="fechaPago" readonly [class.control-invalid]="formInvalid('fechaPago')">

                                    <button class="btn btn-success btn-sm" (click)="d.toggle()"><i class="fa fa-calendar"
                                                aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-2">
                        <div class="col-md-9 mb-0">
                            <label class="mb-0">Nro de Operación de Banco de la Nación: <span [hidden]="this.ocultar" class="text-danger">(*)</span></label>
                            <input type="text" class="form-control form-control-sm" formControlName="numeroOperacion" [class.control-invalid]="formInvalid('numeroOperacion')">
                        </div>
                    </div>
                </ng-template>
</div>
</div>
            </div>-->

            <!-- DECLARACION JURADA -->
            <div  ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    
                        <button ngbAccordionButton>III. DECLARACIÓN
                                    JURADA</button>
                    </h2>
                <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                    <div class="row mt-3 ">
                        <div class="col-sm-12 mt-3 ">
                            <div class="d-flex justify-content-around ">
                                <div class="d-flex texto-bajo-juramento ">
                                    <b>DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA VERDAD</b>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 ">
                            <div class="col-sm-12 mt-3 text-justify p-5">
                                En el presente documento electrónico se ha vinculado e identificado al firmante, así como se ha garantizado la autenticación e integridad del mismo a través de la firma electrónica utilizada atraves del usuario y clave de ingreso al Sistema Tupa Digital
                                del Ministerio de Transportes y Comunicaciones , la cual tiene la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley de Firmas y Certificados
                                Digitales.
                            </div>
                        </div>
                    </div>

                </ng-template>
</div>
</div>

            </div>

        </div>
        <hr>

        <!-- <div class="mb-3 row pt-4">
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-cloud-download-alt"></i> Descargar PDF</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger btn-block"><i class="fas fa-arrow-left"></i> Regresar</button>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-block" (click)="guardarFormulario()" [disabled]="this.form.invalid"><i class="fas fa-save"></i>{{
                            (idForm === 0 ? 'Guardar' : 'Modificar')
                        }}</button>
            </div>
        </div> -->
    </form>
    <div class="modal-footer anexo">

        <div class="row">
            <div class="col-sm-12 d-flex">

                <div class="flex-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" *ngIf="idForm!==0" (click)="descargarPdf()">
                            <i class="far fa-eye"></i>
                            Visualizar PDF
                        </button>
                    </div>
                </div>

                <div class="flex-1 text-end">
                    <button class="btn btn-success" (click)="guardarFormulario()" [disabled]="this.form.invalid">
                                      <i class="far fa-save"></i>
                                      {{
                                          (idForm === 0 ? 'Grabar' : 'Modificar')
                                      }}
                                  </button>
                </div>
            </div>
        </div>
    </div>