.sub-container2 {
    max-height: 400px; /* Ajusta esta altura según sea necesario */
    overflow-y: auto;
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sub-grupo {
    flex: 1 1 auto;
}

.table-component {
    max-height: 100%;
}