<div class="card mb-5 shadow">
  <div class="card-header py-3">Relación de Tupas</div>
  <div class="card-body p-4 small">
    <div class="shadow-none p-4 mb-4 bg-light rounded">
      <h6 class="card-title">Mis datos</h6>
      <hr />

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-lg-4 text-bold text-nowrap">
              Tipo de Persona:
            </div>
            <div class="col-md">{{ tipoPersona }}</div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="this.NRazonSocial != ''">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-lg-4 text-bold text-nowrap">
              Razón Social:
            </div>
            <div class="col-md">{{ NRazonSocial }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-lg-4 text-bold text-nowrap">N° RUC:</div>
            <div class="col-md">{{ NRuc }}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-lg-4 text-bold text-nowrap">
              Solicitante:
            </div>
            <div class="col-md">{{ Nombres }}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 col-lg-4 text-bold text-nowrap">
              N° Documento:
            </div>
            <div class="col-md">{{ NDocumento }}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="unidadOrganica" class="shadow-sm p-4 mb-4 bg-light rounded">
      <h6 class="card-title">
        Texto Único de Procedimientos Administrativos - TUPA
      </h6>
      <hr />

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-lg-2 text-bold text-nowrap">
              Dependencia:
            </div>
            <div class="col-md">
              {{ unidadOrganica?.acronimo }} - {{ unidadOrganica?.descripcion }}
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md">{{ unidadOrganica?.acronimo }} - {{ unidadOrganica?.descripcion }}</div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="mb-3 row align-items-center">
          <div class="col-md-auto">
            <b>Filtrar por: </b>
          </div>
          <div class="input-group input-group-sm col-md">
            <input
              class="form-control"
              type="text"
              [ngModel]="filterText"
              style="text-transform: uppercase"
              placeholder="Buscar"
              (ngModelChange)="onChangeFilter($event)"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr class="align-self-center">
            <th class="align-middle text-center text-nowrap">Código TUPA</th>
            <!-- <th class="align-middle text-center">Grupo</th> -->
            <th class="align-middle text-center">Denominación</th>
            <!-- <th class="align-middle text-center">Calificación</th> -->
            <th class="align-middle text-center">Plazo de atención</th>
            <th class="align-middle text-center">Requisitos</th>
            <th class="align-middle text-center">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of listadoTupasFiltrado
                | slice
                  : (page - 1) * pageSize
                  : (page - 1) * pageSize + pageSize
            "
          >
            <td class="align-middle text-center text-nowrap">
              {{ item.codigo }}
            </td>
            <!-- <td class="align-middle text-center text-nowrap">
              {{ item.acronimo }}
            </td> -->
            <td class="align-middle" [innerHTML]="item.denominacion"></td>
            <!-- <td class="align-middle">{{ item.tipoEvaluacion }}</td> -->
            <td class="align-middle text-center">
              {{ item.plazo }} DÍAS HÁBILES
            </td>
            <td class="align-middle text-center">
              <!-- <img (click)="openModal(requisitos, item)" height="20%" style="height: 25px;" src="/assets/icon/list.svg"> -->
              <button
                type="button"
                class="btn btn-sm btn-light"
                (click)="openModal(requisitos, item)"
              >
                <i class="fas fa-list"></i>
              </button>
            </td>
            <td class="align-middle text-center py-0">
              <a
                class="btn btn-sm btn-link text-bold"
                (click)="iniciarTramite(item)"
                >Iniciar Trámite</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-pagination-table
      [page]="page"
      [pageSize]="pageSize"
      [totalRegistros]="listadoTupasSize"
      (changePagination)="refreshPagination($event)"
    >
    </app-pagination-table>

    <ng-template #requisitos let-modal>
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="modal-basic-title">
          <i class="fas fa-list"></i> Listado de requisitos
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          
        </button>
      </div>
      <div class="modal-body card bg-light p-4">
        <!-- <div class="card bg-light"> -->
        <div class="card-body py-2 small">
          <h6 class="card-title text-danger">Datos del procedimiento</h6>
          <hr class="border-danger opacity-75" />
          <div class="row mb-2">
            <div class="col-md-2 text-bold">Código TUPA:</div>
            <div class="col-md-10">
              {{ procedimientoSeleccionado?.codigo || "DETERMINADO" }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-2 text-bold">Descripción:</div>
            <div class="col-md-10">
              {{ procedimientoSeleccionado?.denominacion || "DETERMINADO" }}
            </div>
          </div>
         <!--  <div class="row mb-2">
            <div class="col-md-2 text-bold">Tipo Evaluación:</div>
            <div class="col-md-10">
              {{ tipoSolicitudSeleccionado?.tipoEvaluacion || "DETERMINADO" }}
            </div>
          </div> -->
          <div class="row mb-2">
            <div class="col-md-2 text-bold">Plazo Atención:</div>
            <div class="col-md-10">
              {{
                tipoSolicitudSeleccionado?.plazoAtencion > 0
                  ? tipoSolicitudSeleccionado.plazoAtencion + " DÍAS HÁBILES"
                  : "DETERMINADO"
              }}
            </div>
          </div>

          <br>

          <!-- <div>
            <div class="col-md-12 alert alert-info" role="alert">
              <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Base legal</h5>
              <ul class="mb-0" style="padding-inline-start: 22px;">
                  <li>Ley N° 28611 (Art. 17) (15-10-2005)
                  <li>Ley N° 27446 (Art. 3, 6, 7, 11 y 18) (23-04-2001)
                  <li>D.S. N° 019-2009-MINAM (Art. 8, 33 y 51) (25-09-2009)
                  <li>D.S. N° 042-2017-EM (Art. 45 al 49) (22-12-2017)
                  <li>D.S. N° 028-2008-EM (Art. 2 y 13) (27-05-2008)
                  <li>TUO de la Ley N° 27444, D.S. N° 004-2019-JUS (Art. 38, 39, 124 y 153) (25-01-2019)
              </ul>
            </div>
          </div> -->

          <h6 class="card-title text-danger">Requisitos</h6>
          <hr class="border-danger opacity-75" />
          <!-- <div class="row mt-3 align-items-center">
            <div class="col-md-auto col-form-label text-bold">
              Tipo de Solicitud:
            </div>
            <div class="col-md">
              <select
                class="form-select form-select-sm"
                [(ngModel)]="tipoSolicitudModel"
                (ngModelChange)="onTipoSolicitudChange($event)"
              >
                <option
                  *ngFor="let item of listadoTipoSolicitud"
                  [value]="item.codigostr"
                >
                  {{ item.descripcion }}
                </option>
              </select>
            </div>
          </div>  -->
          <div class="row mt-3">
            <div class="col-md-12">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr class="align-self-center">
                    <th>Nro</th>
                    <th>Denominación del requisito</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of listadoDetalleTupaFilter;
                      index as indice
                    "
                  >
                    <td class="align-middle text-center text-bold">
                      {{ indice + 1 }}
                    </td>
                    <ng-container *ngIf="item.tieneCosto; else elseTemplate">
                      <td class="align-middle requisito-desc">
                        <quill-view
                          [content]="item.requisito"
                          theme="snow"
                          [sanitize]="true"
                        ></quill-view>
                        <div>
                          <strong class="text-muted">
                            Monto a Pagar: S/ {{ item.costo | number:'1.2-2'}}
                          </strong>
                        </div>
                        <div
                          class="badge text-bg-info"
                          *ngIf="!!item.obligatorio"
                        >
                          Requisito obligatorio
                        </div>
                      </td>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <td class="align-middle requisito-desc">
                        <quill-view
                          [content]="item.requisito"
                          theme="snow"
                          [sanitize]="true"
                        ></quill-view>
                        <div
                          class="badge text-bg-info"
                          *ngIf="!!item.obligatorio"
                        >
                          Requisito obligatorio
                        </div>
                      </td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </ng-template>
  </div>
</div>
