<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form (submit)="save(form)" [formGroup]="form">
        <div>
            <h3>MECANISMOS</h3>
            <div class="sub-grupo">
                <h3>MECANISMO <span class="color-red">(*)</span></h3>
                <div class="col-md-12">
                    <select id="selectTipo" class="form-select" formControlName="Mecanismos"
                        (change)="onChangeSecuenciaFase($event.target.value)">
                        <option value="">--SELECCIONAR--</option>
                        <option *ngFor="let item of comboMecanismo" [value]="item.codigo">{{ item.descripcion }}
                        </option>
                    </select>
                    <div *ngIf="mecanismos.invalid && (mecanismos.dirty || mecanismos.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="mecanismos.errors?.invalidSelection">El mecanismo es obligatorio.</small>
                   </div>
                </div>
                <br>
                <h3>DESCRIPCIÓN DEL MECANISMO <span class="color-red">(*)</span></h3>
                <div class="form-group col-sm-12 col-md-12  mt-2">
                    <textarea class="form-control" placeholder="" rows="3" formControlName="Descripcion" maxlength="500"></textarea>
                    <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="descripcion.errors?.required">La descripción es obligatorio.</small>
                    </div>
                </div>
                <br>
                <h3>SECUENCIA / FASE <span class="color-red">(*)</span></h3>
                <div class="col-md-12">
                    <select id="selectTipo" class="form-select" formControlName="Secuencia">
                        <option value="">--SELECCIONAR--</option>
                        <option *ngFor="let item of comboFase" [value]="item.codigo">{{ item.descripcion }}</option>
                    </select>
                    <div *ngIf="secuencia.invalid && (secuencia.dirty || secuencia.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="secuencia.errors?.invalidSelection">La secuencia es obligatorio.</small>
                   </div>
                </div>
                <br>
                <h3>NRO. PERSONAS / EJEMPLARES <span class="color-red">(*)</span></h3>
                <div class="col-sm-12 col-md-12 mt-2">
                    <input type="text" min="0" max="100" class="form-control" placeholder="" formControlName="NroPersonas" maxlength="7" (input)="soloNumeros($event,'NroPersonas')">
                        <div *ngIf="nroPersonas.invalid && (nroPersonas.dirty || nroPersonas.touched)" style="color: red;font-size: 12px;">
                            <small *ngIf="nroPersonas.errors?.required">El número de personas es obligatorio.</small>
                       </div>
                </div>
                <br>
            </div>
        </div>

        <div>
            <br>
            <h3>LUGAR</h3>
            <div class="mensaje-dialog-ambar d-flex flex-row m-0">
                <div class="col-sm-1 col-md-1 w-5 d-flex justify-content-center align-items-center p-0">
                  <i class="material-icons icon-ambar"> warning </i>
                </div>
                <div class="col-sm-11 col-md-11 ml-3">
                  <p class="m-0">Nota: Para completar esta sección es necesario registrar el ÁREA INDIRECTA SOCIAL del punto 2.5.3</p>
                </div>
              </div>
            <div class="sub-grupo">
                <div class="col-md-12">
                    <button *ngIf="viewControl" (click)="fnActionInRow()" type="button" class="mat-small"
                        style="width: 180px;">
                        <i class="material-icons">add</i> Agregar
                    </button>
                    <tupa-table [columns]="headerPlaces" [data]="dataPlaces"></tupa-table>
                </div>
                <br>
            </div>
        </div>

        <div>
            <br>
            <h3>PARTICIPANTES</h3>
            <div class="mensaje-dialog-ambar d-flex flex-row m-0">
                <div class="col-sm-1 col-md-1 w-5 d-flex justify-content-center align-items-center p-0">
                  <i class="material-icons icon-ambar"> warning </i>
                </div>
                <div class="col-sm-11 col-md-11 ml-3">
                  <p class="m-0">Nota: Para completar esta sección es necesario registrar el ÁREA INDIRECTA SOCIAL del punto 2.5.3</p>
                </div>
              </div>
            <div class="sub-grupo">
                <div class="col-md-12">
                    <button *ngIf="viewControl" (click)="fnActionInRowParticipants()" type="button" class="mat-small"
                        style="width: 180px;">
                        <i class="material-icons">add</i> Agregar
                    </button>
                    <tupa-table [columns]="headerParticipants" [data]="dataParticipants"></tupa-table>
                </div>
                <br>
            </div>
        </div>
        <form [formGroup]="formFecha">
        <div>
            <br>
            <h3>FECHAS</h3>
            <div class="sub-grupo">
                <div class="col-md-12 table-component">
                    <button *ngIf="viewControl" (click)="fnActionInRowDates()" type="button" class="mat-small"
                        style="width: 180px;">
                        <i class="material-icons">add</i> Agregar
                    </button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3">FECHAS</th>
                            </tr>
                            <tr>
                                <th>FECHA INICIO / HORA <span class="icon-rojo">(*)</span></th>
                                <th>FECHA FIN / HORA <span class="icon-rojo">(*)</span></th>
                                <th>EDICIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of dateData">
                                <td>{{row.FechaInicio + ' ' +row.HoraInicio + ':' + row.MinutoInicio}}</td>
                                <td>{{row.FechaFin + ' ' + row.HoraFin + ':' + row.MinutoFin}}</td>
                                <td><button type="button" class="btn btn-edit" (click)="saveRowDate(form)">
                                        <i class="material-icons">save</i>
                                    </button>
                                    <button type="button" class="btn btn-remove" (click)="cancelRowDate()">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="addFecha">
                                <td>
                                    <input type="date" class="form-control" formControlName="FechaInicio">
                                    <div *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="fechaInicio.errors?.required">Fecha inicio es obligatorio.</small>
                                   </div>
                                    Hora:
                                    <select class="form-select" formControlName="HoraInicio">
                                        <option value="0">{{ 'Seleccione' }}</option>
                                        <option *ngFor="let option of hours" [ngValue]="option">{{ option }}
                                        </option>
                                    </select>
                                    <div *ngIf="horaInicio.invalid && (horaInicio.dirty || horaInicio.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="horaInicio.errors?.invalidSelection">Hora inicio es obligatorio.</small>
                                   </div>
                                    Min:
                                    <select class="form-select" formControlName="MinutoInicio">
                                        <option value="0">{{ 'Seleccione' }}</option>
                                        <option *ngFor="let option of minutes" [ngValue]="option">{{ option }}
                                        </option>
                                    </select>
                                    <div *ngIf="minutoInicio.invalid && (minutoInicio.dirty || minutoInicio.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="minutoInicio.errors?.invalidSelection">Minuto inicio es obligatorio.</small>
                                   </div>
                                  </td>
                                <td>
                                    <input type="date" class="form-control" formControlName="FechaFin">
                                    <div *ngIf="fechaFin.invalid && (fechaFin.dirty || fechaFin.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="fechaFin.errors?.required">Fecha fin es obligatorio.</small>
                                   </div>
                                    Hora:
                                    <select class="form-select" formControlName="HoraFin">
                                        <option value="0">{{ 'Seleccione' }}</option>
                                        <option *ngFor="let option of hours" [ngValue]="option">{{ option }}
                                        </option>
                                    </select>
                                    <div *ngIf="horaFin.invalid && (horaFin.dirty || horaFin.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="horaFin.errors?.invalidSelection">Hora fin es obligatorio.</small>
                                   </div>
                                    Min:
                                    <select class="form-select" formControlName="MinutoFin">
                                        <option value="0">{{ 'Seleccione' }}</option>
                                        <option *ngFor="let option of minutes" [ngValue]="option">{{ option }}
                                        </option>
                                    </select>
                                    <div *ngIf="minutoFin.invalid && (minutoFin.dirty || minutoFin.touched)" style="color: red;font-size: 12px;">
                                        <small *ngIf="minutoFin.errors?.invalidSelection">Minuto fin es obligatorio.</small>
                                   </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-save" (click)="saveRowDate(formFecha)">
                                        <i class="material-icons">save</i>
                                    </button>
                                    <button type="button" class="btn btn-cancel" (click)="cancelRowDate()">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="dateData.length === 0 && !addFecha">
                                <td colspan="3">
                                    <center>Sin información registrada.</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
        </form>
        <div class="sub-grupo">
            <h3>ADJUNTAR IMAGEN</h3>
            <tupa-attach-button *ngIf="viewControl" (documentoSeleccionado)="agregarDocumento($event)"
                [formatos]="['png', 'jpg', 'jpeg']" [tamano]="20" [cantidadRegistros]="documentos.length"
                [limiteRegistros]="60" [valorSeleccionado]="2"></tupa-attach-button>
            <br>
            <app-document-grid [viewOnly]="viewOnly" [documentos]="documentos"
                (documentosActualizados)="actualizarDocumentos($event)"></app-document-grid>
            <br>
        </div>

        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
            <button *ngIf="viewControl" type="submit" class="mat-small"><i class="material-icons">save</i> Grabar</button>
        </div>
    </form>
</div>