<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <div class="row">
        <div class="w-30">
            <div class="sub-grupo">
                <h3>TIPO DE ACTIVIDAD</h3>
                <div class="col-md-12">
                    <select id="selectTipo" class="form-select" [(ngModel)]="selectedMecanismo">
                        <option value="" [disabled]="true">--SELECCIONAR--</option>
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo2">Tipo 2</option>
                    </select>
                </div>
                <br>
                <div class="col-md-12">
                    <p class="text13"><i class="material-icons color-black">
                            attach_file
                        </i>Importar coordenadas desde un <span class="color-url">archivo CSV</span></p>
                </div>
                <div class="col-md-12">
                    <p class="text13">(Bajar plantilla de un archivo CSV<span class="color-url"> aquí</span>)</p>
                </div>
                <div class="col-md-12">
                    <p class="color-red text13">Nota: Para visualizar el poligono,<br> Ingresar 3 vértices o más</p>
                </div>
                <br>
                <tupa-table [columns]="tableColumns2191" [data]="tableData2191"></tupa-table>
                <br>
                <div class="col-md-12">
                    <span class="color-url"><i class="material-icons color-black">
                            cleaning_services
                        </i>Limpiar coordenadas y mapa</span>
                </div>
            </div>
        </div>
        <div class="w-70">
            <div class="row align-items-center g-3 mt-2">
                <div class="col-md-4">
                    <label class="form-label m-0 text10">Zona UMT</label>
                    <div class="form-check form-check-inline ml-4 text10">
                        <input class="form-check-input" type="radio" name="z17" id="z17" value="z17"
                            [(ngModel)]="selectedUMT">
                        <label class="form-check-label" for="existente">17</label>
                    </div>
                    <div class="form-check form-check-inline text10">
                        <input class="form-check-input" type="radio" name="z18" id="z18" value="z18"
                            [(ngModel)]="selectedUMT">
                        <label class="form-check-label" for="nueva">18</label>
                    </div>
                    <div class="form-check form-check-inline text10">
                        <input class="form-check-input" type="radio" name="z19" id="z19" value="z19"
                            [(ngModel)]="selectedUMT">
                        <label class="form-check-label" for="nueva">19</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check form-check-inline text10">
                        <input class="form-check-input" type="radio" name="fondoBlanco" id="fondoBlanco"
                            value="fondoBlanco" [(ngModel)]="selectedLibre">
                        <label class="form-check-label" for="nueva">Fondo Blanco</label>
                    </div>
                    <div class="form-check form-check-inline text10">
                        <input class="form-check-input" type="radio" name="imagGoogle" id="imagGoogle"
                            value="imagGoogle" [(ngModel)]="selectedLibre">
                        <label class="form-check-label" for="nueva">Imágenes de Google</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-check form-check-inline text10">
                        <label class="form-check-label" for="nueva">Mostrar Vértices</label>
                        <input class="form-check-input" type="radio" name="mostVertice" id="mostVertice"
                            value="mostVertice" [(ngModel)]="selectedEtiqueta">
                    </div>
                    <div class="form-check form-check-inline text10">
                        <label class="form-check-label" for="nueva">Mostrar Etiquetas</label>
                        <input class="form-check-input" type="radio" name="mostEtique" id="mostEtique"
                            value="mostEtique" [(ngModel)]="selectedEtiqueta">
                    </div>
                </div>
            </div>
            <div class="row" style="height: 80%;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13566.89508901391!2d35.2354079!3d31.7780191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe33f01a44e2808aa!2sDome+of+the+Rock!5e0!3m2!1ses-419!2smx!4v1477799410016"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <!--   <div class="w-30 form-group mt-2 mb-4">
            <h3>6.1.1. PLAN DE MANEJO AMBIENTAL</h3>
            <textarea class="form-control" placeholder="" rows="3"></textarea>
        </div> -->
    </div>
</div>

<div class="modal-footer">
    <button class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
        Cancel</button>
    <button class="mat-small" (click)="closeDialog()"><i class="material-icons">save</i> Grabar</button>
</div>