.anexo001-c27-contenedor-check-paises {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.anexo001-c27-contenedor-check-paises .check {
    display: flex;
    align-items: center;
    flex: 1;
}

.anexo001-c27-contenedor-check-paises input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.campo-resolucion-jurada {
    margin: 0 5px;
    display: inline-block;
    font-weight: bold;
}

.input-group-text.initial {
    background-color: initial;
    border: none;
}

.check-caf {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:767px) {
    #anexo001-c27-paises-operar {
        flex-direction: column;
    }
    .anexo001-c27-contenedor-check-paises {
        margin-top: 10px;
    }
    .anexo001-c27-contenedor-check-paises label.check {
        justify-content: center;
    }
    /*---------------------------------*/
    #anexo001-c27-tipo-documento,
    #anexo001-c27-numero-documento,
    #anexo001-c27-agregar-tripulante {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-c27-numero-documento,
    #anexo001-c27-agregar-tripulante {
        margin-top: 20px;
    }
    #anexo001-c27-agregar-tripulante {
        display: flex;
        flex-direction: row !important;
        padding: 0 70px;
    }
    #anexo001-c27-fechas-ruta {
        flex-direction: column;
    }
    #anexo001-c27-fechas-viajes,
    #anexo001-c27-ruta-autorizada {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-c27-ruta-autorizada {
        margin-top: 20px;
    }
    /*---------------------------------*/
    #anexo001-c27-seccion-left,
    #anexo001-c27-seccion-left {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-c27-soat,
    #anexo001-c27-citv {
        margin-top: 20px !important;
    }
    #anexo001-c27-seccion-right {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo001-c27-seccion-right>div.d-flex {
        flex-direction: column !important;
    }
    #anexo001-c27-seccion-right>div.d-flex>div.col-md-6 {
        margin-top: 20px;
        padding: 0;
    }
    #anexo001-c27-input-aniofab,
    #anexo001-c27-input-chasis {
        flex: 2 !important;
    }
    #anexo001-c27-boton-agregar-modificar {
        flex-direction: row !important;
        padding: 0 70px;
    }
    button.anexo001-c27-btn-cancelar {
        margin-left: 10px;
        margin-top: 0 !important;
    }
}