.campo-resolucion-jurada {
    margin: 0 5px;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}

fieldset {
    padding: 1em;
    border: 1px solid rgb(194, 193, 193);
}

legend {
    text-align: left;
    padding: 0.2em;
    width: auto;
    font-size: 1rem;
    font-weight: 600;
}

.text-compact {
    padding: 0;
    width: 40px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}