<div class="card mb-5 shadow">
  <div class="card-header py-3">
    <i class="fas fa-list"></i> {{ tupaTramite.tupaCodigo }}
    {{ tupaTramite.tupaNombre }}
  </div>
  <div class="card-body p-4 small">
    <div class="row">
      <div class="col-md-12">
        <!-- <div *ngIf="numExpediente !== ''">
          <h6>SOLICITUD Nro. {{ numExpediente }}</h6>
        </div> -->

        <div class="row">
          <div class="col-md-6" *ngIf="numExpediente !== ''">
            <h6>Nro Expediente:<span class="data-text">{{ "254665-2024" }}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Fecha de Inicio:<span class="data-text">{{"10/12/2024"}}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Tupa DIA:<span class="data-text">{{"Declaración de Impacto Ambiental (DIA) para proyectos de explotación minera (gran y mediana minería)"}}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Fecha Fin:<span class="data-text">{{"30/12/2024"}}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Nombre del Proyecto:<span class="data-text">{{"Proyecto Explotación Minera Perú"}}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Plazo:<span class="data-text">{{"15 Días"}}</span></h6>
          </div>
          <div class="col-md-6">
            <h6>Ubicación:<span class="data-text">{{"AMAZONAS / BAGUA / ARAMANGO"}}</span></h6>
          </div>
          
          
          <!-- <div class="col-md-6" *ngIf="tupaTramite.tupaTipoEvaluacion">
            <h6>Tipo Evaluación: {{ tupaTramite.tupaTipoEvaluacion }}</h6>
          </div>
          <div class="col-md-6" *ngIf="!tupaTramite.tupaTipoEvaluacion">
            <h6>Tipo Evaluación: DETERMINADO</h6>
          </div> -->
         <!--  <div class="col-md-6" *ngIf="tupaTramite.tupaPlazoDias">
            <h6>
              Plazo atención: {{ tupaTramite.tupaPlazoDias }} días hábiles
            </h6>
          </div>
          <div class="col-md-6" *ngIf="!tupaTramite.tupaPlazoDias">
            <h6>Plazo atención: DETERMINADO</h6>
          </div> -->
        </div>

        <div class="row mt-1">
          <div class="col-md-6" *ngIf="tupaTramite.tipoSolicitud?.descripcion">
            <h6>Tipo Solicitud: {{ tupaTramite.tipoSolicitud.descripcion }}</h6>
          </div>
          <div class="col-md-6" *ngIf="tupaTramite.fechaAcuseObs">
            <h6>Fecha Acuse Obs.: {{ tupaTramite.fechaAcuseObs }}</h6>
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="
            tupaTramite.estado === 'OBSERVADO' && tupaTramite.observaciones
          ">
          <B>OBSERVACIONES:</B> {{ tupaTramite.observaciones }}
        </div>
        <div class="alert alert-danger" *ngIf="
            tupaTramite.estado === 'EN PROCESO' && tupaTramite.observaciones
          ">
          <B>COMENTARIO DE FINALIZACIÓN:</B> {{ tupaTramite.observaciones }}
        </div>
        <div class="alert alert-danger" *ngIf="tupaTramite.estado === 'ANULADO' && tupaTramite.observaciones">
          <B>EXPEDIENTE FINALIZADO - RLRTV (Reglamento de la Ley de Radio y
            Televisión):</B>
          {{ tupaTramite.observaciones }}
        </div>
        <!-- <div
          class="alert alert-danger"
          *ngIf="tupaTramite.documentoAtendido !== ''"
        >
          <B>DOCUMENTO RESOLUTIVO:</B>
          <a
            class="btn btn-link"
            (click)="verDocumentoPdf(tupaTramite.documentoAtendido)"
            title="Documento resolutivo"
          >
            <i class="far fa-file-pdf text-danger fa-2x ms-3"></i>
          </a>
        </div> -->

        <!-- <div class="row mt-3">
          <div class="col-md-12">
            <h6 class="font-italic" style="color: red">
              (*) Requisito obligatorio
            </h6>
          </div>
        </div> -->

        <div class="table-responsive mt-2">
          <table class="table table-striped mt-2">
            <thead class="bg-secondary text-white text-center">
              <tr>
                <th>N°</th>
                <th>Requisitos</th>
                <th>Estado</th>
                <th></th>
                <th style="width: 150px">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tupaTramite.requisitos">
                <td class="align-middle text-center fw-bold">
                  {{ item.xOrden }}
                </td>
                <td class="align-middle text-start requisito-desc">
                  <quill-view [content]="item.descripcion" theme="snow" [sanitize]="true"></quill-view>
                  <div *ngIf="item.costo !== 0">
                    <b><i>Monto a Pagar: </i> {{ item.costoFormatted }}</b>
                  </div>
                  <div class="badge text-bg-info" *ngIf="!!item.obligatorio">
                    Requisito obligatorio
                  </div>
                  <div *ngIf="item.nombreEstado === 'OBSERVADO' && !item.conforme">
                    <div class="badge text-bg-warning badge-multiline">
                      {{ item.observaciones }}
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center text-bold text-muted">
                  <!-- <span *ngIf="item.completo"
                                        [ngStyle]="{'color': item.completo ? 'green':'red', 'margin-left': '5px'}">Completado</span>
                                    <span *ngIf="!item.completo"
                                        [ngStyle]="{'color': item.completo ? 'green':'red', 'margin-left': '5px'}">Pendiente</span>
                                    <span *ngIf="tupaTramite.estado === 'OBSERVADO' && !item.conforme"
                                        class="badge badge-pill text-bg-warning">Requisito Observado</span> -->
                  <div>
                    <ng-container
                    *ngIf="item.completo; else elseCompletoTemplate"
                  >
                    <ng-container
                      *ngIf="item.requiereFirma; else elseReqFirmaTemplate"
                    >
                      <ng-container
                        *ngIf="item.firmado; else elseFirmadoTemplate"
                      >
                        <span style="color: green; margin-left: 5px"
                          >Completado</span
                        >
                        <span class="badge text-bg-success">FIRMADO</span>
                      </ng-container>
                      <ng-template #elseFirmadoTemplate>
                        <ng-container
                          *ngIf="item.profAsigId; else elseAsignadoTemplate"
                        >
                          <span style="color: red; margin-left: 5px"
                            >Pendiente</span
                          >
                          <span class="badge text-bg-warning"
                            >PENDIENTE DE FIRMA</span
                          >
                          <br />
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-info mt-2"
                            (click)="
                              openModalProfAsignado(
                                asignarProfesionalFirma,
                                item
                              )
                            "
                            placement="top"
                            ngbTooltip="Ver profesional asignado"
                          >
                            <i class="far fa-id-card"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-danger mt-2 ms-2"
                            (click)="
                              openModalAsignarProf(
                                asignarProfesionalFirma,
                                item
                              )
                            "
                            placement="top"
                            ngbTooltip="Reasignar profesional"
                          >
                            <i class="far fa-handshake"></i>
                          </button>
                        </ng-container>
                        <ng-template #elseAsignadoTemplate>
                          <span style="color: red; margin-left: 5px"
                            >Pendiente</span
                          >
                          <span class="badge text-bg-warning"
                            >REQUIERE ASIGNACIÓN</span
                          >
                          <br />
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-danger mt-2"
                            (click)="
                              openModalAsignarProf(
                                asignarProfesionalFirma,
                                item
                              )
                            "
                            placement="top"
                            ngbTooltip="Asignar profesional"
                          >
                            <i class="far fa-handshake"></i>
                          </button>
                        </ng-template>
                      </ng-template>
                    </ng-container>
                    <ng-template #elseReqFirmaTemplate>
                      <span style="color: green; margin-left: 5px"
                        >Completado</span
                      >
                    </ng-template>
                  </ng-container>
                  <ng-template #elseCompletoTemplate>
                    <span 
                    *ngIf="item.nombreEstado == 'PENDIENTE DE REVISION'"
                    style="color: red; margin-left: 5px">Pendiente</span>
                    <span 
                    *ngIf="item.nombreEstado == 'EN PROCESO'"
                    style="color: green; margin-left: 5px">En Proceso</span>   
                    <span 
                    *ngIf="item.nombreEstado == 'APROBADO'"
                    style="color: blue; margin-left: 5px">Aprobado</span> 
                    <span 
                    *ngIf="item.nombreEstado == 'NO SE REQUIERE'"
                    style="color: red; margin-left: 5px">No se requiere</span>                  
                    <span 
                    *ngIf="item.nombreEstado == 'DESAPROBADO'"
                    style="color: red; margin-left: 5px">Desaprobado</span>                  
                              
                  </ng-template>

                  <span
                    *ngIf="item.nombreEstado === 'OBSERVADO' && !item.conforme"
                    class="badge badge-pill text-bg-warning"
                    >Requisito Observado</span
                  >
                  </div>
                </td>

                <td class="align-middle text-center">
                  <div *ngIf="item.tieneAdjunto === true && item.nombreEstado === 'PENDIENTE DE REVISION'">
                    <div *ngIf="(item.rutaDocumento !== '0' || archivoRequisito !== 0)"
                      (click)="descargarAdjunto(item.rutaDocumento)">
                      <i class="far fa-file-pdf fa-2x"></i>
                    </div>
                    <i *ngIf="
                        (item.rutaDocumento !== '0' || archivoRequisito !== 0) &&
                        (item.nombreEstado === 'PENDIENTE DE REVISION' ||
                          !item.conforme)
                      " class="far fa-trash-alt ps-2 text-danger cursor-pointer" title="Eliminar Adjunto" (click)="
                        eliminarDocumento(item.tramiteReqId, item.archivoId)
                      "></i>
                  </div>
                  <!-- <div
                    *ngIf="
                      item.tieneFormAnexo === true || item.tieneCosto === true
                    "
                  >
                    <div
                      style="margin-top: 10px"
                      *ngIf="item.rutaDocumento !== ''"
                      (click)="descargarAdjunto(item.rutaDocumento)"
                    >
                      <i class="far fa-file-pdf fa-2x"></i>
                    </div>
                  </div> -->
                </td>

                <td class="align-middle text-center">
                  <div *ngIf="item.tieneAdjunto === true">
                    <div *ngIf="item.plantillaAdjunto != ''">
                      <button type="button" class="btn btn-link btn-sm text-secondary" title="Descargar plantilla"
                        (click)="descargarAdjunto(item.plantillaAdjunto)">
                        <i class="fa fa-download"></i>
                        Descargar
                      </button>
                    </div>

                    <!-- <div *ngIf="tupaTramite.estado != 'EN PROCESO'">
                      <div *ngIf="tupaTramite.estado == 'PENDIENTE'">
                        <button
                          type="button"
                          class="btnaccion btn btn-danger btn-sm"
                          title="Adjuntar/Subir archivo"
                          (click)="openModalAdjuntar(subirArchivo, item)"
                        >
                          <i class="fa fa-paperclip"></i>
                          Adjuntar
                        </button>
                      </div>
                      <div
                        *ngIf="
                          tupaTramite.estado === 'OBSERVADO' && !item.conforme
                        "
                      >
                        <button
                          type="button"
                          class="btnaccion btn btn-danger btn-sm"
                          title="Adjuntar/Subir archivo"
                          (click)="openModalAdjuntar(subirArchivo, item)"
                        >
                          <i class="fa fa-paperclip"></i>
                          Adjuntar
                        </button>
                      </div>
                    </div> -->
                  </div>

                  <div *ngIf="item.tieneFormAnexo === true">
                    <div>
                      <div *ngIf="tupaTramite.estado == 'EN PROCESO'">
                        <button type="button" class="btnaccion btn btn-danger btn-sm px-4" title="Abrir formulario"
                          (click)="abrirFormularioAnexo(item)">
                          <i class="far fa-folder-open"></i>
                          Abrir
                        </button>
                      </div>
                      <div *ngIf="tupaTramite.estado == 'PENDIENTE'">
                        <button type="button" class="btnaccion btn btn-danger btn-sm px-4" title="Abrir formulario"
                          (click)="abrirFormularioAnexo(item)">
                          <i class="far fa-folder-open"></i>
                          Abrir
                        </button>
                      </div>
                      <div *ngIf="
                          tupaTramite.estado === 'OBSERVADO' && !item.conforme
                        ">
                        <button type="button" class="btnaccion btn btn-danger btn-sm px-4" title="Abrir formulario"
                          (click)="abrirFormularioAnexo(item)">
                          <i class="far fa-folder-open"></i>
                          Abrir
                        </button>
                      </div>
                      <div *ngIf="tupaTramite.estado == 'INFORMACION COMPLEMENTARIA'">
                        <button type="button" class="btnaccion btn btn-danger btn-sm px-4" title="Abrir formulario"
                          (click)="abrirFormularioAnexo(item)">
                          <i class="far fa-folder-open"></i>
                          Abrir
                        </button>
                      </div>
                      <div *ngIf="tupaTramite.estado == 'FINALIZADO' || tupaTramite.estado == 'APROBADO' || tupaTramite.estado == 'DESAPROBADO' || tupaTramite.estado == 'DESISTIDO' || tupaTramite.estado == 'ABANDONO'">
                        <button type="button" class="btnaccion btn btn-danger btn-sm px-4" title="Abrir formulario"
                          (click)="abrirFormularioAnexo(item)">
                          <i class="far fa-folder-open"></i>
                          Abrir
                        </button>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="item.tieneCosto === true && item.completo === false">
                    <div >
                      <button type="button" class="btnaccion btn btn-danger btn-sm" title="Registrar pago"
                        (click)="openUrlPago(item)">
                        <i class="fa fa-receipt"></i>
                        Pagar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;">
          
          <button type="button" class="btn btn-info ms-2 btn-regresar" (click)="close()">
            <i class="material-icons">reply</i> Regresar
          </button>

          
          <button *ngIf="viewControl" #btnSubmitRegistro (click)="enviarTramite(btnSubmitRegistro)" class="btn btn-success">
            <i class="fas fa-check"></i> Enviar solicitud
          </button>
        </div>
        <br>

        <div>
          <div *ngIf="tupaTramite.estado!=='PENDIENTE'">
            <div 
              class="col-md-12 alert alert-info d-flex align-items-center justify-content-between" 
              role="alert" 
              (click)="toggleVisibilityTramite()"
              style="cursor: pointer;"
            >
              <h5 class="alert-heading mb-0">
                <i class="fa fa-file"></i> Solicitudes
              </h5>
              <i 
                class="fas" 
                [ngClass]="{'fa-chevron-down': isVisibleTramite, 'fa-chevron-right': !isVisibleTramite}" 
                style="transition: transform 0.3s;"
              ></i>
            </div>
              <div class="alert alert-info" *ngIf="isVisibleTramite">
                Adjunte cualquier trámite adicional que acompa&ntilde;e a su
                solicitud. Debe indicar una breve descripcion por cada archivo
                (Tama&ntilde;o m&aacute;ximo: 50MB).
                <br>
                <form [formGroup]="solicitudesAdicionales">
                  
                  <div class="form-group">
                    <label for="tipoComunicacion">Tipo de Trámite: <span class="icon-rojo">(*)</span></label>
                    <select *ngIf="tupaTramite.estado!=='PENDIENTE'" class="form-control" id="tipoComunicacion" formControlName="tipoComunicacion" name="tipoComunicacion">
                      <option value="0">--SELECCIONAR--</option>
                      <ng-container *ngFor="let item of listaTipoComunicacion">
                        <option *ngIf="tupaTramite.estado === 'OBSERVADO'" [value]="item.idTipoComunicacion">
                          {{ item.denominacion }}
                        </option>
                        <option *ngIf="tupaTramite.estado === 'DESISTIDO' && item.idTipoComunicacion !== 3 && item.idTipoComunicacion !== 4" [value]="item.idTipoComunicacion">
                          {{ item.denominacion }}
                        </option>
                        <option *ngIf="(tupaTramite.estado === 'EN PROCESO' || tupaTramite.estado === 'PRORROGA') && item.idTipoComunicacion !== 1" [value]="item.idTipoComunicacion">
                          {{ item.denominacion }}
                        </option>
                        <option *ngIf="tupaTramite.estado === 'INFORMACION COMPLEMENTARIA' || tupaTramite.estado === 'SUBSANADO' || 
                                       tupaTramite.estado === 'RECONSIDERACION' || tupaTramite.estado === 'REVISION'  
                         && item.idTipoComunicacion !== 1" [value]="item.idTipoComunicacion">
                          {{ item.denominacion }}
                        </option>
                      </ng-container>
                    </select>                    
                    <div *ngIf="errorTipoComunicacion.invalid && (errorTipoComunicacion.dirty || errorTipoComunicacion.touched)" style="color: red;font-size: 12px;">
                      <small *ngIf="errorTipoComunicacion.errors?.required">El tipo de trámite es obligatorio.</small>            
                      <small *ngIf="errorTipoComunicacion.errors?.invalidSelection">El tipo de trámite es obligatorio.</small>
                    </div>
                  </div>
      
               
                  <div class="form-group">
                    <div class="flex-container">
                      <div class="flex-item">
                        <label for="tipoDocumento">Tipo Documento: <span class="icon-rojo">(*)</span></label>
                        <select class="form-control" id="tipoDocumento" formControlName="tipoDocumentoTramite" name="tipoDocumentoTramite">
                          <option value="0">--SELECCIONAR--</option>
                          <option *ngFor="let item of listaTipoDocumento" [value]="item.idTipoDocumento">{{
                            item.denominacion
                            }}
                          </option>
                        </select>
                        <div *ngIf="errorTipoDocumentoTramite.invalid && (errorTipoDocumentoTramite.dirty || errorTipoDocumentoTramite.touched)" style="color: red;font-size: 12px;">
                          <small *ngIf="errorTipoDocumentoTramite.errors?.required">El tipo de documento es obligatorio.</small>
                          <small *ngIf="errorTipoDocumentoTramite.errors?.invalidSelection">El tipo de documento es obligatorio.</small>
                        </div>
                      </div>
                      <div class="flex-item">
                     
                        <label for="numeroDocumento">Número de Documento: <span class="icon-rojo">(*)</span></label>
                        <input type="text" class="form-control" id="numeroDocumento" formControlName="numeroDocumento" name="numeroDocumento" (keydown)="validarAlfanumerico($event)" style="text-transform:uppercase;" maxlength="50">
                        <div *ngIf="errorNumeroDocumento.invalid && (errorNumeroDocumento.dirty || errorNumeroDocumento.touched)" style="color: red;font-size: 12px;">
                          <small *ngIf="errorNumeroDocumento.errors?.required">El número de documento es obligatorio.</small>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  
                  <div class="form-group">
                    <label for="descripcion">Descripción: <span class="icon-rojo">(*)</span></label>
                    <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion" name="descripcion"
                      placeholder="Ingrese aquí la descripción del asunto del Expediente (Mínimo 20 y máximo 250 caracteres)."></textarea>
                      <div *ngIf="errorDescripcion.invalid && (errorDescripcion.dirty || errorDescripcion.touched)" style="color: red;font-size: 12px;">
                        <small *ngIf="errorDescripcion.errors?.required">La descripción es obligatorio.</small>
                      </div>


                     
                    </div>

                  <div class="modal-body p-4">
                   
                    <div *ngIf="viewControl" class="row mt-2">
                      <div class="col-md-6">
                        <span>Adjuntar Archivos <span style="color: red;">(*)</span></span>
                      </div>
                    </div>
                    
                 
                    <div *ngIf="viewControl" class="col-md-6 d-flex align-items-center">
                   
                      <input type="file" class="d-none" #inputFileArchivoAdicional accept="application/pdf" (change)="onChangeInputFile($event)"  formControlName="archivos" multiple />
                      <button class="btn btn-danger" type="button" (click)="inputFileArchivoAdicional.click()">
                        <i class="fas fa-upload"></i> Adjuntar
                      </button>
                    </div> 
                 
 
              
 
                    <div class="table-responsive mt-3" *ngIf="archivosSeleccionados.length > 0">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Nombre del archivo</th>
                            <th>Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let archivo of archivosSeleccionados">
                            <td>
                              <i class="far fa-file-pdf fa-2x me-2"></i> {{ archivo.name }}
                            </td>
                            <td>
                              <button class="btn btn-danger btn-sm" (click)="eliminarArchivo(archivo,$event)">
                                <i class="fas fa-trash"></i> Eliminar
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
             
                    <div *ngIf="viewControl" class="row mt-2">
                      <div class="col-md-12">
                        <span>Solo se puede adjuntar archivo de tipo PDF</span>
                      </div>
                      <div class="col-md-12">
                        <span>Cada archivo adjunto puede pesar máximo <span style="color: red;">50MB</span></span>
                      </div>                         
                      <div *ngIf="solicitudesAdicionales.get('archivos').invalid && solicitudesAdicionales.get('archivos').touched" style="color: red;font-size: 12px;">
                        <small>Debe seleccionar al menos un archivo.</small>
                      </div>                      
                    </div>
                
                  </div>
                
                  <div class="modal-footer d-flex justify-content-between w-100">
          <!--          <span style="color: red;">(*) Datos Obligatorios</span>  -->
                    <span style="color: red;"></span>     
                    <div class="d-flex">
                      <button *ngIf="viewControl" #btnSubmitRegistro (click)="adjuntarArchivoAdicional(btnSubmitRegistro)" class="btn btn-success">
                        <i class="fas fa-check"></i> Enviar solicitud
                      </button>                                      
                    </div>
                  </div>
                </form>
      
                <br>
                <div class="bg-light">
                  <div *ngIf="
                    tupaTramite.estado.includes('PENDIENTE') ||
                    tupaTramite.estado.includes('OBSERVADO')
                  ">
                    <label for="descripcion">Documento(s)<span style="color: red;">*</span>:</label>
                  </div>
                  <table *ngIf="documentos > 0" class="table table-bordered table-striped my-1">
                    <thead class="bg-secondary text-white text-center">
                      <tr>
                        <th>TIPO DE COMUNICACIÓN</th>
                        <th>TIPO DE DOCUMENTO</th>
                        <th>NÚMERO DE DOCUMENTO</th>                   
                        <th>DESCRIPCIÓN</th>
                        <th>EXPEDIENTE</th>
                        <th>ACCIÓN</th>  
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listadoDocumentos">
                        <td class="text-center">{{item.denominacionTramite}}</td>
                        <td class="text-center">{{item.demoninacionDocumento}}</td>
                        <td class="text-center">{{item.numeroDocumento}}</td>                    
                        <td class="text-center">{{item.descripcionTramite }}</td>
                        <td class="text-center">{{item.expediente }}</td>
                        <td class="text-center">
                          <a style="cursor: pointer" (click)="openModalAdicional(subirArchivoAdicional, item.documentos)">
                            <i class="far fa-eye fa-2x"></i>
                          </a>
                        </td>
                      
                        <!-- <td class="text-center">
                          <button type="button" *ngIf="
                              tupaTramite.estado.includes('PENDIENTE') ||
                              tupaTramite.estado.includes('OBSERVADO')
                            " title="Eliminar documento" (click)="
                              eliminarDocAdicional(item.idTramite)
                            " class="btn btn-link btn-sm text-danger">
                            <i class="fa fa-trash-alt"></i> Eliminar
                          </button>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  <!-- <label for="descripcion">Documento(s)<span style="color: red;">*</span>:</label> -->
                  <!--
                  <div style="text-align: end;" *ngIf="
                    tupaTramite.estado.includes('PENDIENTE') ||
                    tupaTramite.estado.includes('OBSERVADO')
                  ">
                    <button type="button" class="btn btn-danger btn-sm px-4 mt-1"
                      (click)="openModalAdicional(subirArchivoAdicional)">
                      <i class="fa fa-paperclip"></i> Adjuntar
                    </button>
                  </div>
                  -->
                </div>
                
              </div>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="notas > 0">
          <b>NOTAS</b>
          <span style="text-align: justify; display: block" *ngFor="let item of listadoNotas">
            <br />
            <b *ngIf="item.secuencia != 0">({{ item.secuencia }})</b>
            {{ item.descripcion }}
          </span>
        </div>
        <br />
        <div>
          <div>
            <div 
              class="col-md-12 alert alert-info d-flex align-items-center justify-content-between" 
              role="alert" 
              (click)="toggleVisibility()"
              style="cursor: pointer;"
            >
              <h5 class="alert-heading mb-0">
                <i class="fas fa-exclamation-circle"></i> Base legal
              </h5>
              <i 
                class="fas" 
                [ngClass]="{'fa-chevron-down': isVisible, 'fa-chevron-right': !isVisible}" 
                style="transition: transform 0.3s;"
              ></i>
            </div>
            <ul class="mb-0 alert alert-info" style="padding-inline-start: 22px;" *ngIf="isVisible">
              <li>Ley N° 28611 (Art. 17) (15-10-2005)</li>
              <li>Ley N° 27446 (Art. 3, 6, 7, 11 y 18) (23-04-2001)</li>
              <li>D.S. N° 019-2009-MINAM (Art. 8, 33 y 51) (25-09-2009)</li>
              <li>D.S. N° 042-2017-EM (Art. 45 al 49) (22-12-2017)</li>
              <li>D.S. N° 028-2008-EM (Art. 2 y 13) (27-05-2008)</li>
              <li>TUO de la Ley N° 27444, D.S. N° 004-2019-JUS (Art. 38, 39, 124 y 153) (25-01-2019)</li>
            </ul>
          </div>
        </div>
        <!-- <span style="text-align: justify; display: block"
          ><b>IMPORTANTE:</b> En el presente documento electrónico se ha
          vinculado e identificado al firmante, así como se ha garantizado la
          autenticación e integridad del mismo a través de la firma electrónica
          utilizada a través del usuario y clave de ingreso al Sistema Tupa
          Digital del Ministerio de Transportes y Comunicaciones, la cual tiene
          la misma validez y eficacia jurídica que la firma manuscrita, de
          conformidad con el artículo primero y segundo de la Ley N° 27269 – Ley
          de Firmas y Certificados Digitales</span
        > -->
      </div>
    </div>

    <div class="row mt-3">

      <div class="col-md-12 text-end">
        <!-- <div style="display: inline-block;">
                    <button (click)="irMisTramites()" class="btn btn-success w-100">
                        MIS TRÁMITES
                    </button>
                </div> -->
        <!-- <div
          style="display: inline-block; margin-left: 10px"
          *ngIf="
            tupaTramite.estado.match('OBSERVADO') ||
            tupaTramite.estado.match('PENDIENTE') && estadoFormulario && contarMensajes === 25
          "  
        >  -->

     
      </div>
    </div>
  </div>

</div>



<ng-template #subirArchivo let-modal>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title" id="modal-basic-title">Adjuntar archivo</h5>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <div class="row">
      <div class="col-sm-12">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Adjuntar Archivo PDF</a>
            <ng-template ngbNavContent>
              <div class="col-sm-12">
                <!-- <div class="flex-1 campo-obligatorio">Archivo (máximo {{ maximoUpload/1024}}Mb)</div> -->
                <div class="flex-1 d-flex">
                  <input type="file" class="d-none" #inputFileArchivo accept="application/pdf"
                    (change)="onChangeInputFile($event)" />
                  <!-- <button [hidden]="tupaTramite.estado === 'EN PROCESO'" class="btn btn-danger btn-sm" type="button" -->
                    <button  class="btn btn-danger btn-sm" type="button"
                    (click)="inputFileArchivo.click()">
                    <i class="fas fa-upload"></i>
                    Adjuntar
                  </button>
                  <div *ngIf="filePdfSeleccionadoNombre !== ''" class="d-flex ms-4 border-end border-dark"
                    style="padding-top: 10px;">
                    <i class="far fa-file-pdf fa-2x" style="
                    font-size: 1em;
                ">{{' '+filePdfSeleccionadoNombre}}</i>
                  </div>
                </div>
                <br /><span>(*) Tama&ntilde;o m&aacute;ximo: 50MB</span>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" [hidden]="tupaTramite.estado === 'EN PROCESO'" (click)="adjuntarArchivo()" -->
      <button type="button" (click)="adjuntarArchivo()"
      class="btn btn-success">
      <i class="fas fa-save"></i> Grabar
    </button>
    <button type="button" class="btn btn-light" (click)="modalSubirArchivoClose()">
      Cancelar
    </button>
  </div>
</ng-template>

<ng-template #subirArchivoAdicional let-modal>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title" id="modal-basic-title">Documentos del Trámite adicional</h5>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  
  <div class="modal-body p-4">
      
    <div class="table-responsive mt-3">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">Nombre del archivo</th>
            <th class="text-center">Download</th>          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of documentosSeleccionados">
            <td>
              {{ archivo.descripcion }}
            </td>
            <td class="text-center">
              <a style="cursor: pointer" (click)="descargarAdjunto(archivo.tramiteDocId)">
                <i class="far fa-file-pdf fa-2x"></i>
              </a>
            </td>        
          </tr>
        </tbody>
      </table>
    </div>  

  </div>

  <div class="modal-footer d-flex justify-content-between w-100">
    <div class="d-flex ms-auto">   
      <button type="button" class="btn btn-light ms-2" (click)="modal.close()">
        Cancelar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #asignarProfesionalFirma let-modal>
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title" id="modal-basic-title">Asignar Profesional</h5>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="asignarProfFG">
      <div class="row">
        <div class="col-lg-12">
          <div class="subtitle">Datos Generales</div>
          <hr class="subtitle" />
        </div>
      </div>
      <div class="row gx-2 section">
        <div class="col-lg-6">
          <app-basic-select [parentForm]="asignarProfFG" selectFormControlName="ap_TipoDocFC" [itemList]="listaTipoDoc"
            label="Tipo Documento" defaultItemText="Seleccione el tipo de documento">
          </app-basic-select>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_NumDocFC" label="Número Documento"
            placeHolder="Ingrese el número de documento del profesional" [maxLength]="numDocLength" [onlyNumbers]="true"
            [btnAppend]="true" iconBtnAppend="fa-search" (clickAppend)="buscarPersona()"
            [disableBtnAppend]="ap_TipoDocFC.invalid || ap_NumDocFC.invalid">
          </app-basic-input>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_NombresFC" label="Nombres"
            placeHolder="Ingrese los nombres del profesional" [maxLength]="100" [readOnly]="true">
          </app-basic-input>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_ApPaternoFC" label="Apellido Paterno"
            placeHolder="Ingrese el apellido paterno del profesional" [maxLength]="100" [readOnly]="true">
          </app-basic-input>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_ApMaternoFC" label="Apellido Materno"
            placeHolder="Ingrese el apellido materno del profesional" [maxLength]="100" [readOnly]="true">
          </app-basic-input>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_EmailFC" label="Correo Electrónico"
            placeHolder="Ingrese el correo electrónico del profesional" [maxLength]="100">
          </app-basic-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="subtitle">Datos del Profesional</div>
          <hr class="subtitle" />
        </div>
      </div>
      <div class="row gx-2 section">
        <div class="col-lg-6">
          <app-basic-select [parentForm]="asignarProfFG" selectFormControlName="ap_ProfesionFC"
            [itemList]="listaProfesion" label="Profesión" defaultItemText="Seleccione el perfil profesional">
          </app-basic-select>
        </div>
        <div class="col-lg-6">
          <app-basic-input [parentForm]="asignarProfFG" inputFormControlName="ap_NumColegiaFC"
            label="Número de Colegiatura" placeHolder="Ingrese el número de colegiatura del profesional"
            [maxLength]="30" [onlyNumbers]="true">
          </app-basic-input>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer" *ngIf="asignarProfFG.enabled">
    <button #btnAsignarProf (click)="asignarProfesional(btnAsignarProf)" class="btn btn-success"
      [disabled]="asignarProfFG.invalid">
      <i class="far fa-id-card"></i> Asignar
    </button>
    <button type="button" class="btn btn-light" (click)="modal.close()">
      Cancelar
    </button>
  </div>
</ng-template>