::ng-deep .customModal .modal-dialog {
  min-width: calc(100vw - 400px);
}

.card {
border-radius: 10px;
overflow: hidden;
}

.card-header {
  background-color: rgba(0,0,0,.03);
  font-size: 1rem;
  font-weight: 600;
}

.badge-multiline {
  white-space: normal !important;
  text-align: justify !important;
  text-transform: uppercase !important;
}

.text-bold {
font-weight: 600 !important;
}

.btnaccion {
width: 110px;
}

.subtitle {
font-weight: 700;
font-size: 1.2em;
color: #DD3A49;
}

.section {
padding-top: 1em;
padding-bottom: 1em;
}

hr.subtitle {
background-color: #DD3A49;
}

.requisito-desc ::ng-deep .ql-editor {
padding: 0px;
font-size: 13px;
}
/********new-form-responsive********************/

/* Estilo base del formulario */
form {
margin: 0 auto;
padding: 20px 0 0 0;
font-family: Arial, sans-serif;
}

.form-group {
margin-bottom: 1.5rem;
}

label {
font-weight: bold;
}

/* Estilo para los inputs y selects */
.form-control {
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 14px;
}

/* Contenedor flexible para Tipo Documento y Número de Documento */
.flex-container {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.flex-item {
flex: 1 1 45%;
}

.flex-item select,
.flex-item input {
width: 100%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
.flex-item {
  flex: 1 1 100%;
}
}

/* Desactivar el borde cuando los campos no están enfocados */
input:disabled {
background-color: #f9f9f9;
border: 1px solid #ddd;
}

.btn-regresar {
  background-color: #D6E8FF;
  color: #11478A;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.data-text{
  font-weight: 400;
  padding-left: 5px;
}

.btn-disabled {
  background-color: lightgray !important;  
  color: darkgray !important;  
  cursor: not-allowed !important;  
}