<div class="card mb-5 shadow">
    <div class="card-header py-3">
        Pago
    </div>
    <div class="card-body p-4 small">
        <div class="row">
            <div class="col-md-12">
                DATOS DEL TRÁMITE A PAGAR
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 fw-bold">TUPA:</div>
            <div class="col-md-9">{{ TupaCodigo }} - {{ TupaNombre }}</div>
        </div>
        <div class="row">
            <div class="col-md-3 fw-bold">PLAZO DE ATENCIÓN:</div>
            <div class="col-md-9">{{ TupaPlazo}}</div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                DATOS DE LA SOLICITUD
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3 fw-bold">Tipo de Persona:</div>
            <div class="col-md-3">{{ tipoPersona }}</div>
            <div class="col-md-3 fw-bold">N° Documento:</div>
            <div class="col-md-3">{{ NDocumento }}</div>
        </div>
        <div class="row">
            <div class="col-md-3 fw-bold">{{ tipoNombres }}:</div>
            <div class="col-md-9">{{ Nombres }}</div>

            <div *ngIf="datosUsuarioLogin.tipoPersona=='00002' && datosUsuarioLogin.razonSocial!=''" class="col-md-3 fw-bold">Razón Social:</div>
            <div *ngIf="datosUsuarioLogin.tipoPersona=='00002' && datosUsuarioLogin.razonSocial!=''" class="col-md-9">{{ datosUsuarioLogin.razonSocial }}</div>
        </div>

        <br>

        <hr>

        <div class="row" align="center">
            <div *ngIf="pagosAdicionales > 1" class="col-md-12">
                <div class="alert alert-warning" style="font-weight: bold;" role="alert">
                    La pasarela de pago esta deshabilitada porque la solicitud tiene pagos adicionales. Por favor
                    realice el pago por el Banco de la Nación e ingrese el número de voucher.
                </div>
            </div>
            <div class="col-md-6">
                <!-- <ng-container *ngIf="pagosAdicionales > 1; else elsePasarelaPagoTemplate">
                    <div class="pagosonlinedisabled"></div>
                </ng-container>
                <ng-template #elsePasarelaPagoTemplate>
                    <div id="PanelPagoBNVISA" style="cursor:pointer;" class="pagosonline" (click)="irPasarelaPago()">
                    </div>
                </ng-template> -->
                <div id="PanelPagoBNVISA" style="cursor:pointer;" class="pagosonline" (click)="irPasarelaPago()">
                </div>
            </div>
            <div class="col-md-6">
                <div id="pnlPago" class="pagoVoucher" style="width: 320px; height: 175px;">
                    <table align="center">
                        <tbody>
                            <tr>
                                <td style="height: 110px" colspan="7"></td>
                            </tr>
                            <tr>
                                <td style="WIDTH: 5px; HEIGHT: 41px" align="left"></td>
                                <td style="WIDTH: 140px; HEIGHT: 41px" valign="bottom" align="left">
                                    <input [(ngModel)]="codigoA" type="text" maxlength="7" class="form-control"
                                        numbers-Only>
                                </td>
                                <td style="WIDTH: 35px; HEIGHT: 41px" valign="bottom" align="left">
                                    <input style="width: 35px;" [(ngModel)]="codigoDia" type="text" maxlength="2"
                                        class="form-control" numbers-Only>
                                </td>
                                <td style="WIDTH: 70px; HEIGHT: 41px" valign="bottom" align="left">
                                    <select style="width: 70px;" class="form-select form-select-sm" [(ngModel)]="codigoMes">
                                        <option value="01">ENE</option>
                                        <option value="02">FEB</option>
                                        <option value="03">MAR</option>
                                        <option value="04">ABR</option>
                                        <option value="05">MAY</option>
                                        <option value="06">JUN</option>
                                        <option value="07">JUL</option>
                                        <option value="08">AGO</option>
                                        <option value="09">SET</option>
                                        <option value="10">OCT</option>
                                        <option value="11">NOV</option>
                                        <option value="12">DIC</option>

                                    </select>
                                </td>
                                <td style="WIDTH: 55px; HEIGHT: 41px" valign="bottom">
                                    <input [(ngModel)]="codigoAnio" type="text" maxlength="4" class="form-control"
                                        style="width:55px;" numbers-Only>
                                </td>
                                <td style="WIDTH: 55px; HEIGHT: 41px" valign="bottom" align="left">
                                    <input [(ngModel)]="codigoB" type="text" maxlength="4" class="form-control"
                                        style="width:55px;" numbers-Only>
                                </td>
                                <td style="HEIGHT: 41px" valign="bottom" align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="pagosAdicionales > 1" style="padding: 3px;">
                    <button class="btn btn-primary" (click)="openModalAdicional(modalPagosAdicionales)">+
                        Adicionales</button>
                </div>
            </div>
        </div>

        <div class="pt-3">
          <div class="col-md-12 alert alert-warning" role="alert">
            <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Recuerde</h5>
            <ul class="mb-0" style="padding-inline-start: 22px;">
              <li>Luego de registrar su voucher, éste no podrá ser utilizado en otra solicitud.</li>
              <li>Si ha registrado un voucher en una solicitud que aún esta <b>pendiente de envío</b>: deberá anular la solicitud para utilizarlo en un nuevo trámite. Puede buscar la solicitud pendiente de envío en la bandeja
                <a routerLink="/mis-tramites">Mis trámites</a>.</li>
            </ul>
          </div>
        </div>

        <div style="text-align:right">
            <br />
            <!-- <br /> -->
            <button type="button" class="btn btn-danger" (click)="validarVoucher()">Validar Voucher</button>
            <button type="button" class="btn btn-light ms-2" (click)="regresar()">Cancelar</button>
        </div>

        <ng-template #modalPagosAdicionales let-modal>
            <div class="modal-header bg-danger text-white">
                <h4 class="modal-title" id="modal-basic-title">Pagos adicionales</h4>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    
                </button>
            </div>
            <div class="modal-body">
                <div class="row pb-4">
                    <div class="offset-md-2 col-md-6">
                        <div class="pagoVoucher" style="width: 320px; height: 175px;">
                            <table align="center">
                                <tbody>
                                    <tr>
                                        <td style="height: 110px" colspan="7"></td>
                                    </tr>
                                    <tr>
                                        <td style="WIDTH: 5px; HEIGHT: 41px" align="left"></td>
                                        <td style="WIDTH: 140px; HEIGHT: 41px" valign="bottom" align="left">
                                            <input [(ngModel)]="addCodigoA" [disabled]="!pagosPendientesAdd()"
                                                type="text" maxlength="7" class="form-control" numbers-Only>
                                        </td>
                                        <td style="WIDTH: 35px; HEIGHT: 41px" valign="bottom" align="left">
                                            <input style="width: 35px;" [(ngModel)]="addCodigoDia"
                                                [disabled]="!pagosPendientesAdd()" type="text" maxlength="2"
                                                class="form-control" numbers-Only>
                                        </td>
                                        <td style="WIDTH: 70px; HEIGHT: 41px" valign="bottom" align="left">
                                            <select style="width: 70px;" class="form-select form-select-sm" [(ngModel)]="addCodigoMes"
                                                [disabled]="!pagosPendientesAdd()">
                                                <option value="01">ENE</option>
                                                <option value="02">FEB</option>
                                                <option value="03">MAR</option>
                                                <option value="04">ABR</option>
                                                <option value="05">MAY</option>
                                                <option value="06">JUN</option>
                                                <option value="07">JUL</option>
                                                <option value="08">AGO</option>
                                                <option value="09">SET</option>
                                                <option value="10">OCT</option>
                                                <option value="11">NOV</option>
                                                <option value="12">DIC</option>

                                            </select>
                                        </td>
                                        <td style="WIDTH: 55px; HEIGHT: 41px" valign="bottom">
                                            <input [(ngModel)]="addCodigoAnio" [disabled]="!pagosPendientesAdd()"
                                                type="text" maxlength="4" class="form-control" style="width:55px;"
                                                numbers-Only>
                                        </td>
                                        <td style="WIDTH: 55px; HEIGHT: 41px" valign="bottom" align="left">
                                            <input [(ngModel)]="addCodigoB" [disabled]="!pagosPendientesAdd()"
                                                type="text" maxlength="4" class="form-control" style="width:55px;"
                                                numbers-Only>
                                        </td>
                                        <td style="HEIGHT: 41px" valign="bottom" align="left"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: auto; margin-bottom: auto;">
                        <button [disabled]="!pagosPendientesAdd()" type="button" class="btn btn-danger"
                            (click)="validarVoucherAdicional()">Validar
                            Voucher</button>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1 col-md-10" [hidden]="!pagosPendientesAdd()">
                        <h6 style="color: red;">Quedan pendientes de registrar {{ cantPagosPendientesAdd() }} pago(s)
                            adicional(es).</h6>
                    </div>
                    <div class="offset-md-1 col-md-10" [hidden]="pagosPendientesAdd()">
                        <h6>Todos los pagos adicionales han sido registrados.</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <table class="table table-hover table-striped">
                            <thead class="bg-secondary text-white text-center">
                                <tr class="align-self-center">
                                    <th>N°</th>
                                    <th>Voucher</th>
                                    <th>Oficina</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listadoVoucherAdd; index as i;">
                                    <td style="text-align: center;">{{i + 1}}</td>
                                    <td style="text-align: center;">{{item.pagoVoucher}}</td>
                                    <td style="text-align: center;">{{item.pagoOficina}}</td>
                                    <td style="text-align: center;">{{item.pagoFecha}}</td>
                                    <td style="text-align: center;">S/ {{item.pagoMonto}}</td>
                                    <td style="text-align: center;">
                                        <a title="Eliminar voucher adicional"
                                            (click)="eliminarVoucherAdd(item.tramiteReqId, item.tasaId, item.pagoVoucher)">
                                            <i style="color:red;" class="fa fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<style type="text/css" parseStyle>
    table {
        background-color: transparent;
        width: 100% !important;
    }

    .form-control {
        padding: 2px 5px !important;
        background-color: #e0effd;
    }

    .pagoVoucher {
        background-image: url(./assets/img/fonvoucher.png?Edolores_2017);
        background-size: contain;
        height: 178px;
        background-repeat: no-repeat;
        border: solid 1px #117BB9;
        border-radius: 5px;
        width: 325px;
    }

    .pagoVoucher:hover {
        background-image: url(./assets/img/fonvoucher.png?Edolores_2017);
        background-size: contain;
        height: 178px;
        background-repeat: no-repeat;
        border: solid 2px #117BB9;
        border-radius: 5px;
        width: 325px;
        box-shadow: 0px 0px 6px #117BB9;
    }

    .pagosonlinedisabled {
        background-image: url(./assets/img/BancoNacionVisa.png);
        height: 178px;
        background-size: contain;
        background-repeat: no-repeat;
        border: solid 1px #117BB9;
        border-radius: 5px;
        opacity: 0.5;
        width: 300px;
    }

    .pagosonline {
        background-image: url(./assets/img/BancoNacionVisa.png);
        height: 178px;
        background-size: contain;
        background-repeat: no-repeat;
        border: solid 1px #117BB9;
        border-radius: 5px;
        /*float: right;*/
        width: 300px;
    }

    .pagosonline:hover {
        background-image: url(./assets/img/BancoNacionVisa.png);
        height: 178px;
        background-size: contain;
        background-repeat: no-repeat;
        border: solid 2px #117BB9;
        border-radius: 5px;
        width: 300px;
        box-shadow: 0px 0px 6px #117BB9;
    }
</style>
