.flex-4 {
    flex: 4;
}
  
.flex-5 {
    flex: 5;
}

.seccion-header{
    height: 18px;
    margin: 0px;
    padding: 2px;
  }

.campo-resolucion-jurada {
    margin: 0 5px;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}