<div class="container" style="padding: 16px;">
  <div class="header-titulo">
    <div class="titulo-comentario">{{data.nombreCapitulo}}</div>
    <button class="btn-cerrar" (click)="closeDialog()"><i class="bi bi-x"></i>
    </button>

  </div>
  <div class="modal-body mat-typography">
    <div class="content-modal-flexible-none">
      <li *ngFor="let comment of comments; index as i" class="list-group-item">
        <div class="comentario-box">
          <div class="d-flex align-items-start">
            <!--
          <input type="checkbox" class="icono-seleccion">-->
            <div style=" font-size: 36px; margin: 5px;"><i class="bi bi-person-circle"></i>
            </div>
            <div>
              <div *ngIf="comment.estadoobservacion==5" class="comentario-header">Por: {{'OBSERVACIÓN '}}{{i+1 | number:
                '2.0'}}</div>
              <div *ngIf="comment.estadoobservacion==48" class="comentario-header">Por: {{'INFORMACIÓN COMPLEMENTARIA
                '}}{{i+1 | number: '2.0'}}</div>
              <div class="comentario-fecha">el {{comment.fechRegistra | date:'dd/MM/yyyy HH:mm:ss'}}</div>
              <div class="comentario-texto">{{comment.comentario}}</div>
            </div>
            <!-- Submenú desplegable de opciones -->
            <div class="opciones-comentario dropdown">
              <button class="btn btn-light btn-sm dropdown-toggle" type="button">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul *ngIf="comment.estadoobservacion !== 53" class="dropdown-menu">
                <li><a class="dropdown-item" href="#"
                    (click)="toggleResponse(comment.iddetobshistjson, comment.estadoobservacion)"><i
                      class="bi bi-chat-right-text"></i>  Responder</a></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="conten-respuesta" style="padding-left: 50px;">
          <li *ngFor="let respuesta of respuestas; index as i" class="list-group-item">
            <div class="comentario-box" *ngIf="respuesta.iddetobshistjsonpadre === comment.iddetobshistjson">
              <div class="d-flex align-items-start">
                <div style=" font-size: 36px; margin: 5px;"><i class="bi bi-person-circle"></i>
                </div>
                <div>
                  <div *ngIf="respuesta.estadoobservacion==5" class="comentario-header">Por: {{'SUBSANACIÓN'}}</div>
                  <div *ngIf="respuesta.estadoobservacion==48" class="comentario-header">Por: {{'SUBSANACIÓN POR INFORMACION
                    COMPLEMENTARIA'}}</div>


                  <div class="comentario-fecha">el {{respuesta.fechRegistra | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                  <div class="comentario-texto">{{respuesta.comentario}}</div>
                </div>
                <div class="opciones-comentario dropdown">
                  <button class="btn btn-light btn-sm dropdown-toggle" type="button">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="initializeEdit(respuesta)"><i
                          class="bi bi-pencil-square"></i> Editar</a></li>
                    <li><a class="dropdown-item" href="#" (click)="eliminarRespuesta(respuesta)"><i
                          class="bi bi-trash"></i> Eliminar</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </li>
        </div>
      </li>
    </div>
  </div>
<div class="input-comentario modal-footer">
  <textarea [disabled]="!isResponding" class="form-control textarea-comentario" rows="2"
    placeholder="Escribe tu comentario" #txtComment matInput [(ngModel)]="commentT.comentario" maxlength="500"
    matTextareaAutosize matAutosizeMaxRows="7"></textarea>
  <button class="btn btn-enviar" (click)="insertObservacion()"
    [disabled]="!commentT.comentario.trim() || !isResponding">
    <i class="bi bi-send"></i>
  </button>
</div>
<div class="caracteres-info">Máximo de 500 caracteres</div>

</div>