.formatoPrincipal {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  position: relative;
  clear: both;
  zoom: 1;
}

.dataTables_filter {
  display: none;
}

.thumbnail:hover {
  background-color: #bebebe;
  /*border:3px solid  #e2001a !important;*/
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 11px;
  overflow: hidden;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.hsmall {
  font-weight: 500;
  line-height: 1;
  color: #4a4a4a;
  font-size: 20px;
}

.labelclass {
  font-weight: 700;
  color: #a94442;
  font-size: 14px;
}

.text-bold {
  font-weight: 600 !important;
}

.requisito-desc ::ng-deep .ql-editor {
  padding: 0px;
  font-size: 13px;
}

.btn-text {
  color: inherit; /* Usa el color de texto heredado */
  text-decoration: none; /* Quita la subrayado */
}
.btn-regresar{
  background-color: #D6E8FF;
  color: #11478A;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.btn-regresar:hover{
  background-color: #b4d3fb;
}
.content-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.align-end{
  display: flex;
  justify-content: flex-end;
}


.custom-modal-height {
  height: 90vh; /* Ajusta al 90% del alto de la ventana */
  max-height: 90vh; /* Asegura que no exceda el alto de la ventana */
  overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado grande */
}