header {
  background: #bf0909;
}

.nav-default {
  background-color: var(--color-mtc);
  background-color: rgba(191,9,9,1);
}

.nav-default {
  display: flex;
  align-items: center;
}

header.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 68px;
}

header.header{
  position: sticky;
  top: 0;
  z-index: 50;
}

header .logo {
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none!important;
}

.home__logo .gobpe {
  display: inline;
}

.home__logo .gobpe img {
  height: 2.5rem;
}

header .tagline {
  color: #fff;
}

header .tagline__text {
  margin-left: 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
  border-left: 1px solid;
  border-color: #fff;
}

/* MENU */

.js-breadcrumb-full-width {
  box-shadow: 0 1px 11px 1px rgb(190 199 211 / 25%);
  position: sticky;
  z-index: 40;
  top: 68px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .imagen-mtc {
    display: none;
  }
}