<header class="header nav-default" role="banner">
  <div
    class="contenedor-principal clearfix"
    style="max-width: none; margin: 0 1rem; width: 100%"
  >
    <div class="d-flex nav-default__wrapper justify-content-between">
      <div>
        <div class="logo no-underline! underline h-100">
          <div class="home__logo__img_shield--small js-escudo md:hidden">
            <!-- <img alt="Logotipo de gob.pe" class="h-10" role="img" > -->
            <img
              src="assets/img/img/GOB-PE.png"
              alt="Logotipo de gob.pe"
              class="h-100"
              role="img"
              style="max-width: 110px"
            />
          </div>
          <div class="tagline hidden-md-and-down js-description-gob-pe">
            <div class="gobpe__text tagline__text">TUPA Digital del Minem</div>
          </div>
        </div>
      </div>
      <div class="imagen-mtc">
        <img src="assets/img/inicio/mtcLogotipo.png" width="200px" />
      </div>
    </div>
  </div>
</header>

<!-- <div class="js-breadcrumb-full-width bg-white text-sm">
  <div class="contenedor-principal">
    <div class="row">
      <nav
        class="navbar navbar-expand-lg navbar-light w-100 justify-content-center"
      >
        <a class="navbar-brand" href="#">
          <img
            src="/assets/img/inicio/TUPADIGITAL0.png"
            class="d-inline-block align-top"
            alt=""
            style="height: 4rem"
          />
        </a>
        <div class="w-100"></div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">         
            <a
              routerLink="/autenticacion/iniciar-sesion"
              class="btn btn-danger text-nowrap"
              ><i class="fas fa-user"></i> Ingresar al Tupa Digital</a
            >
          </div>
        </div> 
      </nav>
    </div>
  </div>
</div> -->
