.fila {
    text-align: left;
}
.columna {
    width: 50%;
}
.celda {
    margin: 0px !important;
    padding: 0px !important;
}
.table-row {
    border-top: 1px solid #ddd;
}
.table-row-color {
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
.label {
    font-weight: bold;
}