<div class="lots-map-options">
    <div class="titles">
        <h4> 
            <span> Zona UTM </span>
            <span> Fondo </span>
            <span> Elementos </span>
        </h4>

    </div>
    <div class="options">
        <div class="utm">
            <div>  <input type="radio" id="UTMZone17"  value="17" name="utm" (click)="setUTMZone($event)" /> <label for="UTMZone17"> 17 </label> </div>
            <div> <input type="radio" id="UTMZone18"  value="18" name="utm"  (click)="setUTMZone($event)" /> <label for="UTMZone18"> 18 </label> </div>
            <div> <input type="radio" id="UTMZone19"  value="19" name="utm" (click)="setUTMZone($event)" checked /> <label for="UTMZone19"> 19 </label></div>
        </div>
        <div class="background">
            <div> <input type="radio" id="mapWhite" name="visibleMap" (click)="removeLayer()" /> <label for="mapWhite"> Blanco </label> </div>
            <div> <input type="radio" id="mapLayer" name="visibleMap" (click)="setLayer()" checked /> <label for="mapLayer"> Imágenes </label> </div>
 
        </div>
        <div class="elements">
            <div>  <input type="checkbox" (click)="showVertices($event)" /> <label> Vértices </label></div>
            <div>  <input type="checkbox" (click)="showLabels($event)" /> <label> Etiquetas </label></div>

        </div>
    </div>
    <div class="titles-2">
        <h4> 
            <span> Datum </span>
            <span> Coordenadas </span>
        </h4>
    </div>
    <div class="options-2">
        <div class="datum">
            <div>  <input type="radio" id="wgs84"  value="sgs84" name="datum" checked /> <label for="wgs84"> WGS84 </label> </div>
        </div>
        <div class="coordinates">
            <div> <span>  {{ coordinateEastNorth}}  </span> </div>
        </div>
    </div>
</div>
