<div class="modal-header anexo bg-danger text-white">
   <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
   <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">

   </button>
</div>
<div class="modal-body anexo">
   <div class="container mt-2 mb-3">
      <form [formGroup]='anexoFG'>
         <div class="center">
            <h6>{{txtTitulo}}</h6>
         </div>
         <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-3a, seccion-3b, seccion-5">
            <div ngbAccordionItem="seccion-3a" [collapsed]="false">
               <h2 ngbAccordionHeader>

                  <button ngbAccordionButton>
                     <!-- <span>3a</span> -->
                     SE DETALLA
                     CON CARÁCTER DE DECLARACIÓN JURADA, LA LISTA DE POSTULANTES QUE HAN APROBADO EL EXAMEN
                     DE REGLAMENTO OPERATIVO INTERNO Y CUENTAN CON EL CERTIFICADO MÉDICO PSICOSOMÁTICO
                     APROBADO:
                  </button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div class="row" *ngIf="a_Seccion3aFG.enabled" formGroupName="a_Seccion3aFG">
                           <div class="col-lg-12">
                              <div formArrayName="a_s3a_Postulante">
                                 <div class="mt-4"><strong>Lista de Postulantes</strong></div>
                                 <br>
                                 <div class="row" [formGroup]="postulanteFG">

                                    <div class="mb-3 col-lg-2">
                                       <label class="control-label campo-obligatorio">Tipo Documento</label>
                                       <select class="form-select" formControlName="pt_tipoDocumento">
                                          <option value="">Seleccione</option>
                                          <option *ngFor="let item of listaTiposDocumentos | slice:0:3"
                                             [value]="item.id">{{
                                             item.documento }}</option>
                                       </select>
                                       <div
                                          *ngIf="pt_tipoDocumento.invalid && (pt_tipoDocumento.dirty || pt_tipoDocumento.touched)"
                                          class="text-danger">
                                          <div *ngIf="pt_tipoDocumento.errors?.required">
                                             El campo es obligatorio
                                          </div>
                                       </div>
                                    </div>

                                    <div class="col-lg-2">
                                       <app-basic-input [parentForm]="postulanteFG"
                                          inputFormControlName="pt_numeroDocumento" label="N° Documento"
                                          [maxLength]="maxLengthNumeroDocumentoDatCont"
                                          placeHolder="Ingrese el número de documento" [onlyNumbers]="true"
                                          [btnAppend]="true" iconBtnAppend="fa-search"
                                          [disabledAppend]="pt_numeroDocumento.value?.trim() == '' "
                                          (clickAppend)="buscarNumeroDocumentoPostulante($event)">
                                       </app-basic-input>
                                    </div>


                                    <div class="col-lg-4">
                                       <app-basic-input [parentForm]="postulanteFG" inputFormControlName="pt_nombre"
                                          label="Nombres" placeHolder="" [maxLength]="50">
                                       </app-basic-input>
                                    </div>

                                    <div class="col-lg-2">
                                       <app-basic-input [parentForm]="postulanteFG" inputFormControlName="pt_apePaterno"
                                          label="Apellido Paterno" placeHolder=""
                                          [maxLength]="50">
                                       </app-basic-input>
                                    </div>

                                    <div class="col-lg-2">
                                       <app-basic-input [parentForm]="postulanteFG" inputFormControlName="pt_apeMaterno"
                                          label="Apellido Materno" placeHolder=""
                                          [maxLength]="50">
                                       </app-basic-input>
                                    </div>

                                    <div class="col-lg-2">
                                       <app-basic-input [parentForm]="postulanteFG"
                                          inputFormControlName="pt_lcFerroviaria" label=" N° de Licencia de Conducir"
                                          placeHolder=" N° de Licencia de Conducir" [maxLength]="20">
                                       </app-basic-input>
                                    </div>


                                    <div class="mb-3 col-lg-3">
                                       <label class="control-label campo-obligatorio">Tipo de
                                          Vehículo</label>

                                       <select class="form-select" formControlName="pt_tipoVehiculo">
                                          <option value="">Seleccione</option>
                                          <option *ngFor="let item of listaTipoVehiculos" [value]="item.value">{{
                                             item.descripcion }}</option>
                                       </select>

                                    </div>

                                    <div class="mb-3 col-lg-3">
                                       <label class="control-label campo-obligatorio">Restricciones</label>

                                       <select class="form-select" formControlName="pt_restricciones">
                                          <option value="">Seleccione</option>
                                          <option *ngFor="let item of listaRestricciones" [value]="item.value">{{
                                             item.descripcion }}</option>
                                       </select>
                                    </div>
                                    <div class="col-lg-4">
                                       <app-basic-input [parentForm]="postulanteFG" inputFormControlName="pt_viaFerrea"
                                          label="Vía férrea" placeHolder="Vía férrea" [maxLength]="100">
                                       </app-basic-input>
                                    </div>
                                    <input type="hidden" formControlName="pt_tramite">

                                    <div class="col-lg-auto col-xl-auto mb-3" style="align-self: end;">
                                       <button class="btn btn-danger" [disabled]="postulanteFG.invalid"
                                          (click)="savePostulanteFG()">
                                          <div *ngIf="indexEditPostulante === -1; else elseBlock">
                                             <i class="fas fa-plus-circle"></i>
                                             Agregar
                                          </div>
                                          <ng-template #elseBlock>
                                             <i class="fas fa-pencil-alt"></i>
                                             Modificar
                                          </ng-template>
                                       </button>

                                       <button *ngIf="indexEditPostulante !== -1" class="btn btn-warning ms-2"
                                          (click)="nosavePostulante()">
                                          <i class="fas fa-ban"></i>
                                          Cancelar
                                       </button>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="col-lg-12">
                              <div class="table-responsive">
                                 <table class="table table-sm table-bordered table-hover table-striped">
                                    <thead class="tabla-header-mtc">
                                       <tr class="table-light">
                                          <th>N°</th>
                                          <th class="text-center">Trámite</th>
                                          <th class="text-center">Apellidos y Nombres</th>
                                          <th class="text-center">DNI / CE /CI N° </th>
                                          <th class="text-center">N° de Liciencia de Conducir</th>
                                          <th class="text-center">Tipo de vehículo</th>
                                          <th class="text-center">Vía Ferrea </th>
                                          <th class="text-center">Restricciones</th>
                                          <td>Acciones</td>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr class="text-center" *ngFor="let _ of a_s3a_Postulante.controls; let i=index">
                                          <td>{{ i + 1}}</td>
                                          <td class="text-center">{{ a_s3a_pt_Tramite(i).value }}
                                          </td>
                                          <td class="text-start"> {{ a_s3a_pt_ApePaterno(i).value }} {{
                                             a_s3a_pt_ApeMaterno(i).value }} , {{ a_s3a_pt_Nombres(i).value }}
                                          </td>
                                          <td class="text-center">{{ a_s3a_pt_TipoDocumentoAbrev(i).value }} {{
                                             a_s3a_pt_NroDocumento(i).value }}
                                          </td>
                                          <td class="text-start">{{ a_s3a_pt_LcFerroviaria(i).value }}
                                          </td>
                                          <td class="text-start">{{ a_s3a_pt_TipoVehiculo(i).value }}
                                          </td>
                                          <td class="text-start">{{ a_s3a_pt_ViaFerrea(i).value }}
                                          </td>
                                          <td class="text-start">{{ a_s3a_pt_Restricciones(i).value }}
                                          </td>

                                          <td>
                                             <i class="far fa-edit pe-2 text-primary cursor-pointer" title="Editar"
                                                (click)="editPostulante(i)"></i>
                                             <i class="far fa-trash-alt ps-2 text-danger cursor-pointer"
                                                title="Eliminar" (click)="removePostulante(i)"></i>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>




                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>


            <div ngbAccordionItem="seccion-5" [collapsed]="false">
               <h2 ngbAccordionHeader>

                  <button ngbAccordionButton>DECLARACION
                     JURADA</button>
               </h2>
               <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                     <ng-template>
                        <div formGroupName="a_Seccion5FG">
                           <div class="mt-2 mb-4 ng-star-inserted" *ngIf="a_s5_declaracion1FC.enabled">
                              <div class="alert alert-custom">
                                 <div _ngcontent-ehx-c118="" class="row gx-2" style="align-items: center;">
                                    <div _ngcontent-ehx-c118="" class="col">
                                       <div _ngcontent-ehx-c118="">Toda la información proporcionada es veraz,
                                          así como los documentos presentados son auténticos, en caso contrario,
                                          me someto al procedimiento y a las sanciones previstas en la Ley N°
                                          27444, Ley del Procedimiento Administrativo General y/o normas
                                          complementarias.
                                       </div>
                                    </div>
                                    <div _ngcontent-ehx-c118="" class="col-auto">
                                       <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                          <ui-switch formControlName="a_s5_declaracion1FC"
                                             class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="alert alert-active">
                              <span style="text-align: justify; display: block;">
                                 NOTA: En el presente documento electrónico se ha vinculado e identificado al
                                 firmante, así como se ha garantizado la autenticación e integridad del mismo a
                                 través de la firma electrónica utilizada atraves del usuario y clave de ingreso al
                                 Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones , la cual tiene
                                 la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el
                                 artículo primero y segundo de la Ley N° 27269 - Ley de Firmas y Certificados
                                 Digitales y lo establecido en el inciso c) del numeral 47.1 del Art 47 del
                                 Reglamento de la Ley de Gobierno Digital, aprobado mediante Decreto Supremo
                                 029-2021-PCM.
                              </span>
                           </div>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<div class="modal-footer anexo">
   <div class="row">
      <div class="col-lg-12 d-flex">
         <div class="flex-1">
            <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
               </button>
            </div>
         </div>
         <div class="flex-1 text-end">
            <button class="btn btn-success" (click)="guardarAnexo()" [disabled]="anexoFG.invalid">
               <i class="far fa-save"></i>
               {{
               (idAnexo === 0 ? 'Grabar' : 'Modificar')
               }}
            </button>
         </div>
      </div>
   </div>
</div>