.campo-resolucion-jurada {
    margin: 0 5px;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width:767px) {
    #anexo003-e17-tipo-numero-documento,
    #anexo003-e17-apellidos-nombres,
    #anexo003-e17-cargo-agregar {
        min-width: 100%;
        max-width: 100%;
    }
    #anexo003-e17-apellidos-nombres {
        margin-top: 20px;
    }
    #anexo003-e17-apellidos-nombres div.campo-obligatorio {
        flex: 1;
        margin-right: 0 !important;
    }
    #anexo003-e17-apellidos-nombres div.flex-1 {
        flex: 2 !important;
    }
    #anexo003-e17-cargo-agregar {
        margin-top: 20px;
    }
    #anexo003-e17-cargo-agregar div.campo-obligatorio {
        flex: 1;
    }
    #anexo003-e17-cargo-agregar div.campo-obligatorio+div.flex-1 {
        flex: 2 !important;
    }
    #anexo003-e17-boton-agregar-modificar {
        flex-direction: row !important;
        padding: 0 70px;
    }
    button.anexo003-e17-btn-cancelar {
        margin-left: 10px;
        margin-top: 0 !important;
    }
    /*---------------------------------*/
}