<div class="modal-header">
    <h2>{{title}}</h2>
</div>
<div class="modal-body mat-typography">
    <form [formGroup]="form">
        <div>
            <h3>Nombre <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="Nombre" >
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="nombre.errors?.required">el nombre es obligatorio.</small>
                </div>
            </div>
            <br> 
            <h3>Distancia desde área del proyecto (km) <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="Distancia" maxlength="8" (input)="soloDecimales($event, 'Distancia')">
                 <div *ngIf="distancia.invalid && (distancia.dirty || distancia.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="distancia.errors?.required">La distancia es obligatorio.</small>
                    <small *ngIf="distancia.errors?.pattern">El formato de la distancia no es válido.</small>
                  </div>
            </div>

             

            <br>

            <h3>Vías de acceso <span class="text-danger">(*)</span></h3>
            <div class="col-sm-12 col-md-12 mt-2">
                <input type="text" class="form-control" placeholder="" formControlName="Vias">
                <div *ngIf="vias.invalid && (vias.dirty || vias.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="vias.errors?.required">las vías de acceso es obligatorio.</small>
                </div>
            </div>
            <br>

        </div>
        <div class="modal-footer">
            <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
                Cancel</button>
            <button (click)="save()" *ngIf="viewControl" class="mat-small"><i class="material-icons">save</i> Grabar</button>
        
        </div>
    </form>
</div>