<div class="modal-header">
    <h2>{{title}}</h2>
    <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
    </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
    <div class="modal-body">
        <div class="content-modal-flexible">
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>FASE</h3>
                <select class="form-select" formControlName="Fase">
                    <option selected value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaFase" [value]="item.idTipoFase">
                        {{ item.descripcion}}
                    </option>
                </select>
                 <div *ngIf="fase.invalid && (fase.dirty || fase.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="fase.errors?.invalidSelection">La fase es obligatorio.</small>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>ETAPA</h3>
                <select class="form-select" formControlName="Etapa">
                    <option selected value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaEtapaAbastecimiento" [value]="item.idTipoEtapa">
                        {{ item.descripcion}}
                    </option>
                </select>
                <div *ngIf="etapa.invalid && (etapa.dirty || etapa.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="etapa.errors?.invalidSelection">La etapa es obligatorio.</small>
               </div>
             </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
            <h3>CANTIDAD (m3/día)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Cantidad" maxlength="9" (input)="soloDecimales($event,'Cantidad'); totalMetrosCubicos()">
                 <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="cantidad.errors?.required">La cantidad es obligatorio.</small>
                    <small *ngIf="cantidad.errors?.pattern">El formato de la cantidad no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>N° DÍAS</h3>
                <input type="text" class="form-control" placeholder="" formControlName="NroDias" maxlength="4" (input)="soloNumeros($event,'NroDias'); totalMetrosCubicos()">
                 <div *ngIf="nroDias.invalid && (nroDias.dirty || nroDias.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="nroDias.errors?.required">El número de días es obligatorio.</small>
                    <small *ngIf="nroDias.errors?.pattern">El formato del número de días no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>TOTAL (M3)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Total" readonly>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>NOMBRE DE FUENTE</h3>
                <input type="text" class="form-control" placeholder="" formControlName="NombreFuente">
                 <div *ngIf="nombreFuente.invalid && (nombreFuente.dirty || nombreFuente.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="nombreFuente.errors?.required">El número de días es obligatorio.</small>
                    <small *ngIf="nombreFuente.errors?.pattern">El formato del número de días no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-12 p-r-10 m-b-10px">
            <h3>FUENTE DE ABASTECIMIENTO</h3>
                <select class="form-select" formControlName="FuenteAbastecimiento">
                    <option selected value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaFuenteAbastecimiento" [value]="item.idFuenteAbastecimiento">
                        {{ item.descripcion}}
                    </option>
                </select>
                <div *ngIf="fuenteAbastecimiento.invalid && (fuenteAbastecimiento.dirty || fuenteAbastecimiento.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="fuenteAbastecimiento.errors?.invalidSelection">La fuente de abastecimiento es obligatorio.</small>
               </div>
                <!-- <mat-error *ngIf="fuenteAbastecimientoErrors" style="color: red;">{{ fuenteAbastecimientoErrors }}</mat-error> -->
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>ESTE</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Este" maxlength="11" (input)="soloNumeros($event,'Este')">
                <div *ngIf="este.invalid && (este.dirty || este.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="este.errors?.required">El este es obligatorio.</small>
                    <small *ngIf="este.errors?.pattern">El formato del este no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>NORTE</h3>
                <input type="text" class="form-control" placeholder="" formControlName="Norte" maxlength="11" (input)="soloNumeros($event,'Norte')">                 
                <div *ngIf="norte.invalid && (norte.dirty || norte.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="norte.errors?.required">El norte es obligatorio.</small>
                    <small *ngIf="norte.errors?.pattern">El formato del norte no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>ZONA</h3>
                <select class="form-select" formControlName="Zona">
                    <option selected value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaZona" [value]="item.idZona">
                        {{ item.descripcion}}
                    </option>
                </select>
                <div *ngIf="zona.invalid && (zona.dirty || zona.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="zona.errors?.invalidSelection">La zona es obligatorio.</small>
               </div>
                <!-- <mat-error *ngIf="zonaErrors" style="color: red;">{{ zonaErrors }}</mat-error> -->
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>DATUM</h3>
                <select class="form-select" formControlName="Datum">
                    <option selected value="">--SELECCIONE--</option>
                    <option *ngFor="let item of listaDatum" [value]="item.idDatum">
                        {{ item.descripcion}}
                    </option>
                </select>
                <div *ngIf="datum.invalid && (datum.dirty || datum.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="datum.errors?.invalidSelection">Datum es obligatorio.</small>
               </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>DISPONIBILIDAD ESTACIONAL</h3>
                <input type="text" class="form-control" placeholder="" formControlName="DisponibilidadEstacional">
                <div *ngIf="disponibilidadEstacional.invalid && (disponibilidadEstacional.dirty || disponibilidadEstacional.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="disponibilidadEstacional.errors?.required">Usos existentes es obligatorio.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>USOS EXISTENTES</h3>
                <input type="text" class="form-control" placeholder="" formControlName="UsosExistentes">
                <div *ngIf="usosExistentes.invalid && (usosExistentes.dirty || usosExistentes.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="usosExistentes.errors?.required">Usos existentes es obligatorio.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>SISTEMA DE CAPACITACIÓN</h3>
                <input type="text" class="form-control" placeholder="" formControlName="SistemaCaptacion">
                <div *ngIf="sistemaCaptacion.invalid && (sistemaCaptacion.dirty || sistemaCaptacion.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="sistemaCaptacion.errors?.required">El sistema de captación es obligatorio.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>SISTEMA DE CONDUCCIÓN</h3>
                <input type="text" class="form-control" placeholder="" formControlName="SistemaConduccion">
                <div *ngIf="sistemaConduccion.invalid && (sistemaConduccion.dirty || sistemaConduccion.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="sistemaConduccion.errors?.required">El sistema de conducción es obligatorio.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>REQ. DE AGUA POR METRO DE PERFORACIÓN</h3>
                <input type="text" class="form-control" placeholder="" formControlName="RequerimientoAguaPorMetro" maxlength="11" (input)="soloDecimales($event,'RequerimientoAguaPorMetro')">
                <div *ngIf="requerimientoAguaPorMetro.invalid && (requerimientoAguaPorMetro.dirty || requerimientoAguaPorMetro.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="requerimientoAguaPorMetro.errors?.required">El requerimiento de agua por metro es obligatorio.</small>
                    <small *ngIf="requerimientoAguaPorMetro.errors?.pattern">El requerimiento de agua por metro no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>LONGITUD DE PERFORACIÓN (ml)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="LongitudPerforacion" maxlength="11" (input)="soloDecimales($event,'LongitudPerforacion')">
                <div *ngIf="longitudPerforacion.invalid && (longitudPerforacion.dirty || longitudPerforacion.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="longitudPerforacion.errors?.required">La longitud de perforación es obligatorio.</small>
                    <small *ngIf="longitudPerforacion.errors?.pattern">La longitud de perforación no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>CANTIDAD DIARIA DE USO (m3/día)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="CantidadDiariaUso" maxlength="11" (input)="soloDecimales($event,'CantidadDiariaUso')">
                <div *ngIf="cantidadDiariaUso.invalid && (cantidadDiariaUso.dirty || cantidadDiariaUso.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="cantidadDiariaUso.errors?.required">La cantidad diaria de uso es obligatorio.</small>
                    <small *ngIf="cantidadDiariaUso.errors?.pattern">La cantidad diaria de uso no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>PORCENTAJE DE RETORNO (%)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="PorcentajeRetorno" maxlength="11" (input)="soloDecimales($event,'PorcentajeRetorno')">
                <div *ngIf="porcentajeRetorno.invalid && (porcentajeRetorno.dirty || porcentajeRetorno.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="porcentajeRetorno.errors?.required">El porcentaje de retorno es obligatorio.</small>
                    <small *ngIf="porcentajeRetorno.errors?.pattern">El formato de porcentaje de retorno no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>CANTIDAD DE AGUA RECLICLADA (m3/día)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="CantidadAguaReciclada" maxlength="11" (input)="soloDecimales($event, 'CantidadAguaReciclada')">
                <div *ngIf="cantidadAguaReciclada.invalid && (cantidadAguaReciclada.dirty || cantidadAguaReciclada.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="cantidadAguaReciclada.errors?.required">La cantidad de agua reciclada es obligatorio.</small>
                    <small *ngIf="cantidadAguaReciclada.errors?.pattern">El formato de La cantidad de agua reciclada no es válido.</small>
                  </div>
            </div>
            <div class="col-sm-12 col-md-6 p-r-10 m-b-10px">
                <h3>CANTIDAD DE AGUA FRESCA (m3/día)</h3>
                <input type="text" class="form-control" placeholder="" formControlName="CantidadAguaFresca" maxlength="11" (input)="soloDecimales($event,'CantidadAguaFresca')">
                <div *ngIf="cantidadAguaFresca.invalid && (cantidadAguaFresca.dirty || cantidadAguaFresca.touched)" style="color: red;font-size: 12px;">
                    <small *ngIf="cantidadAguaFresca.errors?.required">La cantidad de agua fresca es obligatorio.</small>
                    <small *ngIf="cantidadAguaFresca.errors?.pattern">El formato de La cantidad de agua fresca no es válido.</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
            Cancel</button>
        <button *ngIf="viewControl" type="submit" class="mat-small"><i class="material-icons">save</i> Grabar</button>
    
    </div>
</form>