.btn-disabled {
    background-color: lightgray !important;  
    color: darkgray !important;  
    cursor: not-allowed !important;  
  }

  .p-r-10{
    padding-right: 10px;
   }
  .p-none{
    padding: 0%;
  }
  .m-b-10px{
    margin-bottom: 10px;
  }
   @media (max-width: 768px) {
    .p-r-10{
      padding-right: 0;
      margin-bottom: 10px;
      width: 100%;
     }
     .p-none{
      margin-bottom: 10px;
      width: 100%;
    }
  }