<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
      
  </button>
</div>

<div class="modal-body anexo">
    <!-- <form novalidate [formGroup]="formAnexo" (ngSubmit)="save()"> -->
    <div class="container-fluid">
        <form novalidate [formGroup]="formAnexo">
            <div class="center">
                <h5>ANEXO 002-G/28 MODIFICACIÓN DE CARACTERÍSTICAS TÉCNICAS Y/O CONDICIÓN ESENCIAL SERVICIOS DE RADIODIFUSIÓN</h5>
            </div>
            <div ngbAccordion #acc="ngbAccordion" activeIds="seccion1, seccion2, seccion3, seccion4, seccion5">

                <div ngbAccordionItem="seccion1" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>I. DATOS DE LA AUTORIZACIÓN</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="fm" value="fm" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="fm">Frecuencia modulada (FM)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="oct" value="oct" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="oct">Onda Corta Tropical</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="vhf" value="vhf" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="vhf">Televisión en VHF</label>
                                </div>
                            </div>
                        </div>

                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="om" value="om" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="om">Onda Media (OM)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="oci" value="oci" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="oci">Onda Corta Internacional (OCI)</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class=" form-check custom-control-inline">
                                    <input type="radio" class="form-check-input" id="uhf" value="uhf" formControlName="modalidad" mdbInput>
                                    <label class="form-check-label" for="uhf">Televisión en UHF</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row gx-2" style="padding: 15px;">
                            <div class="mb-3 col-sm-6">
                                <label for="resolucion" class="control-label">Autorizada mediante: Resolución ( RM / RVM ) N°:</label>
                                <span class="text-danger">(*)</span>
                                <input type="text" name="resolucion" formControlName="resolucion" class="form-control">
                            </div>
                            
                            <div class="mb-3 col-sm-6">
                                <label for="frecuencia" class="control-label">En la frecuencia o canal:</label>
                                <span class="text-danger">(*)</span>
                                <input type="text" name="frecuencia" formControlName="frecuencia" class="form-control">
                            </div>
                        </div>
                    
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion2" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>II. TRAMITE SOLICITADO</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2" style="padding: 15px;">
                            <div class="col-sm-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="cambioUbicacion"  formControlName="cambioUbicacion" >
                                    <label class="custom-control-label" for="cambioUbicacion">Cambio de Ubicación de Planta Transmisora</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="cambioPotencia" formControlName="cambioPotencia" >
                                    <label class="custom-control-label" for="cambioPotencia">Aumento de Potencia</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="custom-control custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="cambioFrecuencia" formControlName="cambioFrecuencia" >
                                    <label class="custom-control-label" for="cambioFrecuencia">Cambio de Frecuencia / canal</label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>

                <div ngbAccordionItem="seccion3" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>III. COMPLETAR LA INFORMACION DE CORRESPONDA</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row gx-2">
                            <div class="mb-3 col-sm-3">
                                <label for="frecuenciaAsignada" class="control-label">Frecuencia o canal asignada:</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="frecuenciaAsignada" formControlName="frecuenciaAsignada" class="form-control" >
                            </div>
                            <div class="mb-3 col-sm-3">
                                <label for="frecuenciaSolicitada" class="control-label">Frecuencia o canal solicitada:</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="frecuenciaSolicitada" formControlName="frecuenciaSolicitada" class="form-control" >
                            </div>

                            <div class="mb-3 col-sm-3">
                                <label for="potenciaAutorizada" class="control-label">Potencia del Transmisor autorizada (KW):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="potenciaAutorizada" formControlName="potenciaAutorizada" class="form-control" >
                            </div>
                            <div class="mb-3 col-sm-3">
                                <label for="potenciaSolicitada" class="control-label">Potencia del Transmisor solicitada (KW):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="potenciaSolicitada" formControlName="potenciaSolicitada" class="form-control" >
                            </div>
                           
                            
                        </div>
                        <div class="row gx-2">
                            <div class="mb-3 col-sm-4">
                                <label for="perdida" class="control-label">Pérdidas de los Conectores, cables y distribuidor (dB):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="perdida" formControlName="perdida" class="form-control">
                            </div>
                            <div class="mb-3 col-sm-4">
                                <label for="sIrrad_Tipo" class="control-label">Tipo de Sistema Irradiante:</label>
                                <span class="text-danger">(*)</span>
                                <input type="text" name="tipo" formControlName="sIrrad_Tipo" class="form-control" >
                            </div>
                            <div class="mb-3 col-sm-4">
                                <label for="sIrrad_GananciaMaxRad" class="control-label">Ganancia en la dirección de máxima radiación (dB):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="sIrrad_GananciaMaxRad" formControlName="sIrrad_GananciaMaxRad" class="form-control" >
                            </div>
                        </div>
                        <div class="row gx-2">
                            <div class="mb-3 col-sm-4">
                                <label for="sIrrad_AcimutMaxRad" class="control-label">Acimut de máxima radiación (grados):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="sIrrad_AcimutMaxRad" formControlName="sIrrad_AcimutMaxRad" class="form-control" >
                            </div>
                            <div class="mb-3 col-sm-4">
                                <label for="sIrrad_AlturaCentroRad" class="control-label">Altura del centro de radiación sobre el nivel del piso (m):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="tipo" formControlName="sIrrad_AlturaCentroRad" class="form-control" >
                            </div>
                            <div class="mb-3 col-sm-4">
                                <label for="sIrrad_AlturaTorre" class="control-label">Altura de la torre (m):</label>
                                <span class="text-danger">(*)</span>
                                <input type="number" name="sIrrad_AlturaTorre" formControlName="sIrrad_AlturaTorre" class="form-control" >
                            </div>
                        </div>
                        <div class="row gx-2">
                            <p><b>NUEVA UBICACIÓN DE PLANTA TRANSMISORA:</b></p>
                            <p>
                                La planta transmisora deberá ubicarse fuera del perímetro urbano, teniendo en cuenta la definición de perímetro urbano aprobado por RM N° 411-2005-MTC/03 y de las zonas de restricción indicadas en el el
                                artículo 84° del Reglamento de la Ley de Radio y Televisión (D.S. 005-2005-MTC). En caso contrario deberá cumplir con las excepciones previstas en el artículo 87º del citado Reglamento.
                            </p>
                        </div>
                        <div class="col-lg-12" formGroupName="Planta">
                            <app-ubigeo #ubigeoCmpPlanta [parentForm]="f_s3_Planta"
                                    depaFormControlName="planta_departamento"
                                    provFormControlName="planta_provincia" 
                                    distFormControlName="planta_distrito"
                                    depaFormLabel="Departamento" provFormLabel="Provincia" distFormLabel="Distrito"
                                    [horizontal]="true"></app-ubigeo>
                            <div class="row gx-2">
                                <div class="mb-3 col-lg-12">
                                    <app-basic-input [parentForm]="f_s3_Planta" 
                                        inputFormControlName="planta_direccion" label="Ubicacion/Dirección"
                                        placeHolder="Ingrese la ubicación o dirección" [readonly]="false"
                                        [maxLength]="100">
                                    </app-basic-input>
                                </div>
                            </div>
                            
                            <div class="row gx-2">
                                <div class="col-sm-12 d-flex">
                                    <div class="col-sm-4 d-flex">
                                        Coordenadas Geográficas en WGS84
                                    </div>
                                    <div class="col-sm-8 d-flex">
                                        <div class="col-sm-6 d-flex">
                                            <label class="col-form-label mr-sm-3">L.O.:</label>
                                            <input type="number" name="coordWGS84LO_grados" formControlName="planta_LO_grados"  max="89.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada"> °</span>
                                            <input type="number" name="coordWGS84LO_minutos" formControlName="planta_LO_minutos"  max="59.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada"> '</span>
                                            <input type="number" name="coordWGS84LO_segundos" formControlName="planta_LO_segundos"  max="59.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada"> "</span>
                                        </div>
                                        <div class="col-sm-6 d-flex">
                                            <label class="col-form-label mr-sm-3">L.S.:</label>
                                            <input type="number" name="coordWGS84LS_grados" formControlName="planta_LS_grados"  max="89.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada">°</span>
                                            <input type="number" name="coordWGS84LS_minutos" formControlName="planta_LS_minutos"  max="59.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada">'</span>
                                            <input type="number" name="coordWGS84LS_segundos" formControlName="planta_LS_segundos"  max="59.99" class="form-control text-compact mb-2" >
                                            <span class="d-inline mr-sm-2 txtCoordenada">"</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row gx-2">
                            <div class="col-sm-12 d-flex">
                                    <div class="col-sm-4 d-flex">
                                       <b> ENLACE ESTUDIO – PLANTA TRANSMISORA:</b>
                                    </div>
                                    <div class="col-sm-8 d-flex">
                                        <div class="col-sm-3  form-check">
                                            <input type="radio" class="form-check-input radio-xl" id="chkPlanta_lineaFisica" formControlName="enlace_est_planta"  value="lineaFisica">
                                            <label class="form-check-label" for="chkPlanta_lineaFisica">Línea Física</label>
                                        </div>
                                        <div class="col-sm-3  form-check">
                                            <input type="radio" class="form-check-input radio-xl" id="chkPlanta_radioElectrico" formControlName="enlace_est_planta"  value="radioElectrico">
                                            <label class="form-check-label" for="chkPlanta_radioElectrico">Radioeléctrico</label>
                                        </div>
                                        <div class="col-sm-3  form-check">
                                            <input type="radio" class="form-check-input radio-xl" id="chkPlanta_satelital" formControlName="enlace_est_planta"  value="satelital">
                                            <label class="form-check-label" for="chkPlanta_satelital">Satelital</label>
                                        </div>
                                        <div class="col-sm-3  form-check">
                                            <input type="radio" class="form-check-input radio-xl" id="chkInternet" formControlName="enlace_est_planta"  value="internet">
                                            <label class="form-check-label" for="chkInternet">Internet</label>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row gx-2 col-sm-12 d-flex">
                            <div class="col-sm-4 d-flex">
                                <b> Diagrama de Radiación Horizontal Polar del Arreglo de Antenas:</b>
                            </div>
                            <div class="col-sm-6 d-flex">  
                                <input type="file" class="d-none" #inputFileDiagrama accept="application/pdf" (change)="onChangeInputDiagrama($event)">
                                <div class="mb-3 mt-3 d-inline">
                                    <button class="btn btn-danger" type="button" (click)="inputFileDiagrama.click($event)">
                                        <i class="fas fa-upload"></i> Adjuntar
                                    </button>
                                    <i class="far fa-file-pdf text-danger fa-2x ms-3" title="Vista previa" *ngIf="filePdfDiagramaSeleccionado !== null || pathPdfDiagramaSeleccionado !== null" (click)="vistaPreviaDiagrama()"></i>
                                </div>
                            </div> 
                        </div>
                        <div class="row gx-2">
                            <p class="text-blue">No se deberá superar la máxima e.r.p. (potencia efectiva radiada) establecida en el plan de canalización y asignación de frecuencias de cada localidad. Dicha información se encuentra disponible en el
Registro Nacional de Frecuencias: <a class="text-blue" href="https://rnf.mtc.gob.pe/" target="_blank">https://rnf.mtc.gob.pe/</a></p>
                        </div>
                    </ng-template>
</div>
</div>
                </div>


                <div ngbAccordionItem="seccion4" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>IV. DECLARACION JURADA</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="alert alert-custom" formGroupName="Seccion4">
                            <div class="row gx-2">
                                <div class="col-md-10">
                                    <div>
                                        Toda la información proporcionada es veraz, así como los documentos presentados son auténticos, 
                                        en caso contrario, me someto al procedimiento y a las sanciones previstas en la Ley N° 27444, 
                                        sLey del Procedimiento Administrativo General y/o normas complementarias.(2)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-flex flex-row p-2 ms-4">
                                        <ui-switch  formControlName="declaracion">
                                            
                                        </ui-switch>
                                        <label class="col-form-label"> NO/SI </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div ngbAccordionItem="seccion5" [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>V. PROYECTO DEL PERFIL TECNICO ELABORADO POR</button>
                        </h2>

                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="alert alert-custom" formGroupName="Seccion5">
                            <div class="row gx-2">
                                <div class="mb-3 col-sm-4">
                                    <label class="control-label">Nombres y apellidos del Ingeniero habilitado:</label><span class="text-danger">(*)</span>
                                    <input type="text" class="form-control" formControlName="nombresIngeniero" >
                                </div>
                                <div class="mb-3 col-sm-4">
                                    <label class="control-label">Teléfono:</label><span class="text-danger">(*)</span>
                                    <input type="text" class="form-control" formControlName="telefonoIngeniero" >
                                </div>
                                <div class="mb-3 col-sm-4">
                                    <label class="control-label">Email:</label><span class="text-danger">(*)</span>
                                    <input type="text" class="form-control" formControlName="emailIngeniero" >
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer anexo">

    <div class="row mt-3">
        <div class="col-sm-12 d-flex">

            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                  <i class="far fa-eye"></i>
                  Visualizar
              </button>
                </div>
            </div>

            <div class="flex-1 text-end">
                <button class="btn btn-success w-50" (click)="save()" [disabled]="this.formAnexo.invalid"  ><!--[disabled]="this.formAnexo.invalid"-->
                    <i class="far fa-save"></i>
                    {{
                        (idAnexo === 0 ? 'Grabar' : 'Modificar')
                    }}
                </button>
            </div>
        </div>
    </div>

</div>