<div class="modal-header anexo bg-danger text-white">
    <h4 class="modal-title">{{ this.codigoProcedimientoTupa}} {{ this.descProcedimientoTupa}}</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
        
    </button>
</div>
<div class="modal-body anexo">
    <div class="container mt-2 mb-3">
        <form [formGroup]='anexoFG'>
            <div class="center">
                <h6>{{txtTitulo}}</h6>
                <h5>SERVICIO SOLICITADO :  {{this.descTipoSolicitudTupa}}</h5>
            </div>
        
            <div class="center" *ngIf="this.plantilla!=''">
                <div class="py-2">
                    <div class="col-md-12 alert alert-info" role="alert">
                        <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Importante</h5>
                        <ul>
                            <li>Deberá descargar la plantilla de Excel, registrar sus estaciones y adjuntarla haciendo clic en el botón "Adjuntar Excel".</li>
                            <li>La cantidad y nombres de las columnas de la plantilla NO DEBEN SER MODIFICADOS.</li>
                            <li>La información completada en el presente anexo corresponde al primer registro del archivo excel adjunto.</li>
                            <li>Confirme la ubicación de la estación fija del primer registro.</li>
                        </ul>
                    </div>
                </div>

                <div class="row gx-2 mt-2" style="align-items: center;">
                    <div class="col-lg-auto">
                        <strong>Plantilla:</strong>
                    </div>
                    <div class="col-lg-auto">
                        <button class="btn btn-danger btn-sm align-self-center"
                            (click)="downloadPlantilla(this.plantilla)">
                            <i class="fas fa-download"></i>
                            Descargar Plantilla
                        </button>
                    </div>
                    <!--<div class="col-lg-auto">
                        <app-basic-file-upload [parentForm]="a_Seccion2FG"
                            fileFormControlName="a_s2_FileFC" [horizontal]="true" >
                        </app-basic-file-upload>
                    </div>-->
                    
                    <div class="col-lg-auto" *ngIf="a_FileFC.value || a_PathNameFC.value">
                        <i class="far fa-file-pdf fa-2x cursor-pointer" title="Vista previa"
                            (click)="vistaPreviaAdjunto(a_FileFC, a_PathNameFC)"></i>
                    </div>
                    <div class="col-lg-auto" *ngIf="a_FileFC.value || a_PathNameFC.value">
                        <i class="far fa-trash-alt fa-2x text-danger cursor-pointer" title="Eliminar"
                            (click)="eliminarAdjunto(a_FileFC, a_PathNameFC)"></i>
                    </div>
                    <div class="col-lg-auto">
                        <button class="btn btn-danger btn-sm me-2 align-self-center"
                            (click)="inputFileExcel.click($event)">
                            <i class="fas fa-upload"></i>
                            Adjuntar Excel
                        </button>
                        <input type="file" class="d-none" #inputFileExcel accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            (change)="onChangeInputExcel($event)" />

                    </div>
                    <div *ngIf="a_PathNameExcelFC.value">
                        <button class="btn btn-success btn-sm align-self-center"
                            (click)="downloadFileExcel()">
                            <i class="fas fa-file-excel"></i>
                            Adjunto
                        </button>
                    </div>
                    <div class="col-lg-auto" *ngIf="this.fileExcelSeleccionado || a_FileExcelFC.value || a_PathNameExcelFC.value">
                        <i class="far fa-trash-alt fa-2x text-danger cursor-pointer" title="Eliminar"
                            (click)="eliminarAdjuntoExcel(a_FileExcelFC, a_PathNameExcelFC)"></i>
                    </div>
                </div>
            </div>
            <br />
            <div ngbAccordion #acc="ngbAccordion"
                activeIds="seccion-2, seccion-3, seccion-3a, seccion-4, seccion-4a, seccion-5, seccion-6">
                <div  [disabled]="a_Seccion2FG.disabled" ngbAccordionItem="seccion-2"><!---->
                    <h2 ngbAccordionHeader>
                        
                            <button ngbAccordionButton>II. TIPO DE
                                SERVICIO SOLICITADO</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row text-center" *ngIf="a_Seccion2FG.enabled" formGroupName="a_Seccion2FG"><!---->
                            <div class="col-lg-12">
                                <div class="row gx-2 alert alert-custom"><!--[class.control-invalid]="a_Seccion2FG.invalid && (a_Seccion2FG.dirty || a_Seccion2FG.touched)"-->
                                    <div class="col-lg-12">
                                        <div class="row" *ngIf="this.servicioTerrestre">
                                            <div class="col-lg">
                                                <strong>TERRESTRE</strong>
                                            </div>
                                            <div class="col-lg d-flex -form form-check custom-control-inline">
                                                <input type="radio" class="form-check-input" value="hf" formControlName="a_s2_TerrestreFC">
                                                <label class="form-check-label">HF</label>
                                            </div>
                                            <div class="col-lg d-flex -form form-check custom-control-inline">
                                                <input type="radio" class="form-check-input" value="vhf" formControlName="a_s2_TerrestreFC">
                                                <label class="form-check-label">VHF</label>
                                            </div>
                                            <div class="col-lg d-flex -form form-check custom-control-inline">
                                                <input type="radio" class="form-check-input" value="uhf" formControlName="a_s2_TerrestreFC">
                                                <label class="form-check-label">UHF</label>
                                            </div>
                                        </div>
                                        <div class="row mt-3" *ngIf="this.servicioMaritimo" formGroupName="a_s2_MaritimoFC">
                                            <div class="col-lg">
                                                <strong>MARÍTIMO</strong>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_MariHfFC">
                                                <label class="form-check-label">HF</label>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_MariVhfFC">
                                                <label class="form-check-label">VHF</label>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_MariUhfFC">
                                                <label class="form-check-label">UHF</label>
                                            </div>
                                        </div>
                                        <div class="row mt-3" *ngIf="this.servicioAeronautico" formGroupName="a_s2_AeronauticoFC">
                                            <div class="col-lg">
                                                <strong>AERONÁUTICO</strong>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_AeroHfFC">
                                                <label class="form-check-label">HF</label>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_AeroVhfFC">
                                                <label class="form-check-label">VHF</label>
                                            </div>
                                            <div class="col-lg d-flex  form-check custom-control-inline">
                                                <input type="checkbox" class="form-check-input" formControlName="a_s2_AeroUhfFC">
                                                <label class="form-check-label">UHF</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion3FG.disabled" ngbAccordionItem="seccion-3"><!---->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>III. UBICACIÓN DE
                                LA ESTACIÓN FIJA</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" *ngIf="a_Seccion3FG.enabled" formGroupName="a_Seccion3FG">
                            <div class="col-lg-12">

                                <app-basic-input class="mt-3" [parentForm]="a_Seccion3FG"
                                    inputFormControlName="a_s3_UbicacionFC" label="Ubicación"
                                    placeHolder="Ingrese la ubicación de la estación" [maxLength]="100">
                                </app-basic-input>
                                <app-ubigeo #ubigeoCmpEstFija1 [parentForm]="a_Seccion3FG"
                                    depaFormControlName="a_s3_DepartamentoFC" provFormControlName="a_s3_ProvinciaFC"
                                    distFormControlName="a_s3_DistritoFC" depaFormLabel="Departamento"
                                    provFormLabel="Provincia" distFormLabel="Distrito" [horizontal]="true">
                                </app-ubigeo>
                                <div class="row gx-2 mt-2" style="align-items: center;">
                                    <div class="col-lg-auto">
                                        <strong>Coordenadas Geográficas</strong>
                                    </div>
                                    <div class="col-lg-auto">
                                        <strong>L.O.:</strong>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LOGraFC"
                                            placeHolder="Grados" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">°</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LOMinFC"
                                            placeHolder="Minutos" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">'</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LOSegFC"
                                            placeHolder="Segundos" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">"</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-auto">
                                        <strong>L.S.:</strong>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LSGraFC"
                                            placeHolder="Grados" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">°</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LSMinFC"
                                            placeHolder="Minutos" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">'</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg">
                                        <app-basic-input [parentForm]="a_Seccion3FG" inputFormControlName="a_s3_LSSegFC"
                                            placeHolder="Segundos" [maxLength]="3" [onlyNumbers]="true"
                                            [horizontal]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">"</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion3aFG.disabled" ngbAccordionItem="seccion-3a"><!---->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>III.a
                                EQUIPAMIENTO</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" *ngIf="a_Seccion3aFG.enabled" formGroupName="a_Seccion3aFG"><!---->
                            <div class="col-lg-12">
                                <div class="row gx-2 mt-3">
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_EquipoFC" label="Equipo o Aparato"
                                            [placeHolder]="!this.a_Activo?'Ingrese el nombre del equipo o aparato':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_CantidadFC" label="Cantidad"
                                            [placeHolder]="!this.a_Activo?'Ingrese la cantidad de equipos o aparatos':''" [maxLength]="3"
                                            [onlyNumbers]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">uds.</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_MarcaFC" label="Marca"
                                            [placeHolder]="!this.a_Activo?'Ingrese la marca del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_ModeloFC" label="Modelo"
                                            [placeHolder]="!this.a_Activo?'Ingrese el modelo del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_NroSerieFC" label="N° de Serie"
                                            [placeHolder]="!this.a_Activo?'Ingrese el número de serie del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_PotenciaFC" label="Potencia de Salida (W)"
                                            [placeHolder]="!this.a_Activo?'Ingrese la potencia de salida del equipo':''" [maxLength]="10"
                                            [onlyNumbers]="true" [decimals]="true" 
                                            [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">W</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_BandFrecFC" label="Rango o Banda de Frecuencia"
                                            [placeHolder]="!this.a_Activo?'Ingrese el rango o banda de frecuencia del equipo':''"
                                            [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion3aFG"
                                            inputFormControlName="a_s3a_CodHomoFC" label="Código de Homologación"
                                            [placeHolder]="!this.a_Activo?'Ingrese el código de homologación del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <!--<div class="row gx-2 mt-2" style="align-items: center;">
                                    <div class="col-lg-auto">
                                        <strong>Adjuntar más equipamiento:</strong>
                                    </div>
                                    <div class="col-lg-auto">
                                        <button class="btn btn-danger btn-sm align-self-center"
                                            (click)="downloadPlantEquipa()">
                                            <i class="fas fa-download"></i>
                                            Descargar Plantilla
                                        </button>
                                    </div>
                                    <div class="col-lg-auto">
                                        <app-basic-file-upload [parentForm]="a_Seccion3aFG"
                                            fileFormControlName="a_s3a_FileFC" [horizontal]="true">
                                        </app-basic-file-upload>
                                    </div>
                                    <div class="col-lg-auto" *ngIf="a_s3a_FileFC.value || a_s3a_PathNameFC.value">
                                        <i class="far fa-file-pdf fa-2x cursor-pointer" title="Vista previa"
                                            (click)="vistaPreviaAdjunto(a_s3a_FileFC, a_s3a_PathNameFC)"></i>
                                    </div>
                                    <div class="col-lg-auto" *ngIf="a_s3a_FileFC.value || a_s3a_PathNameFC.value">
                                        <i class="far fa-trash-alt fa-2x text-danger cursor-pointer" title="Eliminar"
                                            (click)="eliminarAdjunto(a_s3a_FileFC, a_s3a_PathNameFC)"></i>
                                    </div>
                                </div>-->
                                <hr>
                                <div formGroupName="a_s3a_AntenaFG">
                                    <div class="mt-4"><strong>ANTENA</strong></div>
                                    <br>
                                    <div class="row gx-2">
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_TipoFC" label="Tipo"
                                                [placeHolder]="!this.a_Activo?'Ingrese el tipo de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_MarcaFC" label="Marca"
                                                [placeHolder]="!this.a_Activo?'Ingrese la marca de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_ModeloFC" label="Modelo"
                                                [placeHolder]="!this.a_Activo?'Ingrese el modelo de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_GananciaFC" label="Ganancia"
                                                [placeHolder]="!this.a_Activo?'Ingrese la ganancia de la antena':''" [maxLength]="10">
                                            </app-basic-input>
                                        </div>
                                    </div>
                                    <div class="row gx-2">
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_CodHomoFC" label="Código de Homologación"
                                                [placeHolder]="!this.a_Activo?'Ingrese el código de homologación de la antena':''"
                                                [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_AltTorreFC" label="Altura de Torre (m)"
                                                [placeHolder]="!this.a_Activo?'Ingrese la altura de torre de la antena':''" [maxLength]="10"
                                                [onlyNumbers]="true" [decimals]="true" 
                                                [customAppend]="true">
                                                <ng-container slot="customAppend">
                                                    <span class="input-group-text">m</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s3a_AntenaFG"
                                                inputFormControlName="a_s3a_an_AltRadFC"
                                                label="Altura del centro de radiación sobre el piso (m)"
                                                [placeHolder]="!this.a_Activo?'Ingrese la altura del centro de radiación sobre el piso de la antena':''"
                                                [maxLength]="10" [onlyNumbers]="true" [decimals]="true"
                                                 [customAppend]="true">
                                                <ng-container slot="customAppend">
                                                    <span class="input-group-text">m</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row gx-2 mt-2" style="align-items: center;">
                                        <div class="col-lg-auto">
                                            <strong>Adjuntar más antenas:</strong>
                                        </div>
                                        <div class="col-lg-auto">
                                            <button class="btn btn-danger btn-sm align-self-center"
                                                (click)="downloadPlantAntena()">
                                                <i class="fas fa-download"></i>
                                                Descargar Plantilla
                                            </button>
                                        </div>
                                        <div class="col-lg-auto">
                                            <app-basic-file-upload [parentForm]="a_s3a_AntenaFG"
                                                fileFormControlName="a_s3a_an_FileFC" [horizontal]="true">
                                            </app-basic-file-upload>
                                        </div>
                                        <div class="col-lg-auto"
                                            *ngIf="a_s3a_an_FileFC.value || a_s3a_an_PathNameFC.value">
                                            <i class="far fa-file-pdf fa-2x cursor-pointer" title="Vista previa"
                                                (click)="vistaPreviaAdjunto(a_s3a_an_FileFC, a_s3a_an_PathNameFC)"></i>
                                        </div>
                                        <div class="col-lg-auto"
                                            *ngIf="a_s3a_an_FileFC.value || a_s3a_an_PathNameFC.value">
                                            <i class="far fa-trash-alt fa-2x text-danger cursor-pointer"
                                                title="Eliminar"
                                                (click)="eliminarAdjunto(a_s3a_an_FileFC, a_s3a_an_PathNameFC)"></i>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion4FG.disabled" ngbAccordionItem="seccion-4"><!---->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>IV. UBICACIÓN DE
                                LA ESTACIÓN MÓVIL / PORTATIL</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" *ngIf="a_Seccion4FG.enabled" formGroupName="a_Seccion4FG"><!---->
                            <div class="col-lg-12">
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="a_Seccion4FG"
                                            inputFormControlName="a_s4_PortZonaOperFC"
                                            label="Portátil - Zona de Operación"
                                            [placeHolder]="!this.a_Activo?'Ingrese la zona de operación':''" [maxLength]="40">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="a_Seccion4FG"
                                            inputFormControlName="a_s4_VehiZonaOperFC"
                                            label="Vehículo - Zona de Operación"
                                            [placeHolder]="!this.a_Activo?'Ingrese la zona de operación':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="a_Seccion4FG"
                                            inputFormControlName="a_s4_VehiPlacaFC" label="Vehículo - Placa de Rodaje"
                                            [placeHolder]="!this.a_Activo?'Ingrese la placa de rodaje del vehículo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="a_Seccion4FG"
                                            inputFormControlName="a_s4_EmbarMatriFC" label="Embarcación - Matrícula"
                                            [placeHolder]="!this.a_Activo?'Ingrese la matrícula de la embarcación':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-4">
                                        <app-basic-input [parentForm]="a_Seccion4FG"
                                            inputFormControlName="a_s4_AeroMatriFC" label="N° Aeronave - Matrícula"
                                            [placeHolder]="!this.a_Activo?'Ingrese la matrícula de la aeronave':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion4aFG.disabled" ngbAccordionItem="seccion-4a"><!---->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>IV.a
                                EQUIPAMIENTO</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" *ngIf="a_Seccion4aFG.enabled" formGroupName="a_Seccion4aFG"><!---->
                            <div class="col-lg-12">
                                <div class="alert alert-info" role="alert">
                                    (*) Para cualquier trámite posterior a la autorización, se deberá comunicar los
                                    números de serie de los equipos.
                                </div>
                                <div class="row gx-2 mt-3">
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_EquipoFC" label="Equipo o Aparato"
                                            [placeHolder]="!this.a_Activo?'Ingrese el nombre del equipo o aparato':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_CantidadFC" label="Cantidad"
                                            [placeHolder]="!this.a_Activo?'Ingrese la cantidad de equipos o aparatos':''" [maxLength]="3"
                                            [onlyNumbers]="true"  [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">uds.</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_MarcaFC" label="Marca"
                                            [placeHolder]="!this.a_Activo?'Ingrese la marca del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_ModeloFC" label="Modelo"
                                            [placeHolder]="!this.a_Activo?'Ingrese el modelo del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_NroSerieFC" label="N° de Serie"
                                            [placeHolder]="!this.a_Activo?'Ingrese el número de serie del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_PotenciaFC" label="Potencia de Salida (W)"
                                            [placeHolder]="!this.a_Activo?'Ingrese la potencia de salida del equipo':''" [maxLength]="10"
                                            [onlyNumbers]="true" [decimals]="true" 
                                            [customAppend]="true">
                                            <ng-container slot="customAppend">
                                                <span class="input-group-text">W</span>
                                            </ng-container>
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_BandFrecFC" label="Rango o Banda de Frecuencia"
                                            [placeHolder]="!this.a_Activo?'Ingrese el rango o banda de frecuencia del equipo':''"
                                            [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-3">
                                        <app-basic-input [parentForm]="a_Seccion4aFG"
                                            inputFormControlName="a_s4a_CodHomoFC" label="Código de Homologación"
                                            [placeHolder]="!this.a_Activo?'Ingrese el código de homologación del equipo':''" [maxLength]="20">
                                        </app-basic-input>
                                    </div>
                                </div>
                                <!--
                                <div class="row gx-2 mt-2" style="align-items: center;">
                                    <div class="col-lg-auto">
                                        <strong>Adjuntar más equipamiento:</strong>
                                    </div>
                                    <div class="col-lg-auto">
                                        <button class="btn btn-danger btn-sm align-self-center"
                                            (click)="downloadPlantEquipa()">
                                            <i class="fas fa-download"></i>
                                            Descargar Plantilla
                                        </button>
                                    </div>
                                    <div class="col-lg-auto">
                                        <app-basic-file-upload [parentForm]="a_Seccion4aFG"
                                            fileFormControlName="a_s4a_FileFC" [horizontal]="true">
                                        </app-basic-file-upload>
                                    </div>
                                    <div class="col-lg-auto" *ngIf="a_s4a_FileFC.value || a_s4a_PathNameFC.value">
                                        <i class="far fa-file-pdf fa-2x cursor-pointer" title="Vista previa"
                                            (click)="vistaPreviaAdjunto(a_s4a_FileFC, a_s4a_PathNameFC)"></i>
                                    </div>
                                    <div class="col-lg-auto" *ngIf="a_s4a_FileFC.value || a_s4a_PathNameFC.value">
                                        <i class="far fa-trash-alt fa-2x text-danger cursor-pointer" title="Eliminar"
                                            (click)="eliminarAdjunto(a_s4a_FileFC, a_s4a_PathNameFC)"></i>
                                    </div>
                                </div>-->
                                <hr>
                                <div formGroupName="a_s4a_AntenaFG">
                                    <div class="mt-4"><strong>ANTENA</strong></div>
                                    <br>
                                    <div class="row gx-2">
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_TipoFC" label="Tipo"
                                                [placeHolder]="!this.a_Activo?'Ingrese el tipo de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_MarcaFC" label="Marca"
                                                [placeHolder]="!this.a_Activo?'Ingrese la marca de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_ModeloFC" label="Modelo"
                                                [placeHolder]="!this.a_Activo?'Ingrese el modelo de la antena':''" [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_GananciaFC" label="Ganancia"
                                                [placeHolder]="!this.a_Activo?'Ingrese la ganancia de la antena':''" [maxLength]="10">
                                            </app-basic-input>
                                        </div>
                                    </div>
                                    <div class="row gx-2">
                                        <div class="col-lg-3">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_CodHomoFC" label="Código de Homologación"
                                                [placeHolder]="!this.a_Activo?'Ingrese el código de homologación de la antena':''"
                                                [maxLength]="20">
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3" *ngIf="this.a_s4a_an_AltTorreFC.enabled">
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_AltTorreFC" label="Altura de Torre (m)"
                                                [placeHolder]="!this.a_Activo?'Ingrese la altura de torre de la antena':''" [maxLength]="10"
                                                [onlyNumbers]="true" [decimals]="true" 
                                                [customAppend]="true">
                                                <ng-container slot="customAppend">
                                                    <span class="input-group-text">m</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                        <div class="col-lg-3" *ngIf="this.a_s4a_an_AltRadFC.enabled" >
                                            <app-basic-input [parentForm]="a_s4a_AntenaFG"
                                                inputFormControlName="a_s4a_an_AltRadFC"
                                                label="Altura del centro de radiación sobre el piso (m)"
                                                [placeHolder]="!this.a_Activo?'Ingrese la altura del centro de radiación sobre el piso de la antena':''"
                                                [maxLength]="10" [onlyNumbers]="true" [decimals]="true"
                                                 [customAppend]="true">
                                                <ng-container slot="customAppend">
                                                    <span class="input-group-text">m</span>
                                                </ng-container>
                                            </app-basic-input>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row gx-2 mt-2" style="align-items: center;">
                                        <div class="col-lg-auto">
                                            <strong>Adjuntar más antenas:</strong>
                                        </div>
                                        <div class="col-lg-auto">
                                            <button class="btn btn-danger btn-sm align-self-center"
                                                (click)="downloadPlantAntena()">
                                                <i class="fas fa-download"></i>
                                                Descargar Plantilla
                                            </button>
                                        </div>
                                        <div class="col-lg-auto">
                                            <app-basic-file-upload [parentForm]="a_s4a_AntenaFG"
                                                fileFormControlName="a_s4a_an_FileFC" [horizontal]="true">
                                            </app-basic-file-upload>
                                        </div>
                                        <div class="col-lg-auto"
                                            *ngIf="a_s4a_an_FileFC.value || a_s4a_an_PathNameFC.value">
                                            <i class="far fa-file-pdf fa-2x cursor-pointer" title="Vista previa"
                                                (click)="vistaPreviaAdjunto(a_s4a_an_FileFC, a_s4a_an_PathNameFC)"></i>
                                        </div>
                                        <div class="col-lg-auto"
                                            *ngIf="a_s4a_an_FileFC.value || a_s4a_an_PathNameFC.value">
                                            <i class="far fa-trash-alt fa-2x text-danger cursor-pointer"
                                                title="Eliminar"
                                                (click)="eliminarAdjunto(a_s4a_an_FileFC, a_s4a_an_PathNameFC)"></i>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion5FG.disabled" ngbAccordionItem="seccion-5"><!---->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>V. HABILITACIÓN
                                PROFESIONAL DE INGENIERO ELECTRÓNICO O TELECOMUNICACIONES</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div class="row" formGroupName="a_Seccion5FG"><!--*ngIf="a_Seccion5FG.enabled" -->
                            <div class="col-lg-12">
                                <div class="row gx-2">
                                    <div class="col-lg-6">
                                        <app-basic-input [parentForm]="a_Seccion5FG"
                                            inputFormControlName="a_s5_ColegioProfFC" label="Colegio Profesional"
                                            placeHolder="Ingrese el colegio profesional del ingeniero" [maxLength]="100"
                                            [horizontal]="true">
                                        </app-basic-input>
                                    </div>
                                    <div class="col-lg-6">
                                        <app-basic-input [parentForm]="a_Seccion5FG"
                                            inputFormControlName="a_s5_NroColegiaFC" label="Número de Colegiatura"
                                            placeHolder="Ingrese el número de colegiatura del ingeniero"
                                            [maxLength]="20" [horizontal]="true">
                                        </app-basic-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
                <div  [disabled]="a_Seccion6FG.disabled" ngbAccordionItem="seccion-6"><!-- -->
                    <h2 ngbAccordionHeader >
                        
                            <button ngbAccordionButton>VI. DECLARACIONES
                                JURADAS</button>
                        </h2>
                    <div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
                        <div formGroupName="a_Seccion6FG">
                            <div class="mt-2 mb-4 ng-star-inserted" *ngIf="a_s6_declaracion1FC.enabled">
                                <div class="alert alert-custom">
                                    <div _ngcontent-ehx-c118="" class="row gx-2" style="align-items: center;">
                                        <div _ngcontent-ehx-c118="" class="col">
                                            <div _ngcontent-ehx-c118=""> Toda la información proporcionada es veraz,
                                                así como los documentos presentados son auténticos, en caso contrario,
                                                me someto al procedimiento y a las sanciones previstas en la Ley N°
                                                27444, Ley del Procedimiento Administrativo General y/o normas
                                                complementarias.
                                            </div>
                                        </div>
                                        <div _ngcontent-ehx-c118="" class="col-auto">
                                            <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="a_s6_declaracion1FC"
                                                    class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-active">
                                <span style="text-align: justify; display: block;">
                                    NOTA: En el presente documento electrónico se ha vinculado e identificado al
                                    firmante, así como se ha garantizado la autenticación e integridad del mismo a
                                    través de la firma electrónica utilizada atraves del usuario y clave de ingreso al
                                    Sistema Tupa Digital del Ministerio de Transportes y Comunicaciones , la cual tiene
                                    la misma validez y eficacia jurídica que la firma manuscrita, de conformidad con el
                                    artículo primero y segundo de la Ley N° 27269 - Ley de Firmas y Certificados
                                    Digitales y lo establecido en el inciso c) del numeral 47.1 del Art 47 del
                                    Reglamento de la Ley de Gobierno Digital, aprobado mediante Decreto Supremo
                                    029-2021-PCM.
                                </span>
                            </div>
                        </div>
                    </ng-template>
</div>
</div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer anexo">
    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="flex-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" [disabled]="idAnexo === 0" (click)="descargarPdf()">
                        <i class="far fa-eye"></i>
                        Visualizar
                    </button>
                </div>
            </div>
            <div class="flex-1 text-end">
                <button class="btn btn-success" (click)="guardarAnexo()" [disabled]="anexoFG.invalid">
                    <i class="far fa-save"></i>
                    {{
                    (idAnexo === 0 ? 'Guardar' : 'Guardar')
                    }}
                </button>
                <button type="button" class="btn btn-light ms-3" (click)="activeModal.close(graboUsuario)">
                     Salir
                </button>
            </div>
        </div>
    </div>
</div>