<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"
    style="background-color: var(--color-mtc) !important;">
    <div class="navbar-brand" style="display: flex;">
        <img src="assets/img/GOB-PE.png" style="max-width: 110px;" />
        <div class="flex-grow-1 ms-3 ps-3 fw-bold align-self-center"
            style="border-start: 1px solid white; color: white; font-size: 16px;">Municipalidad Distrital de Sayán</div>
    </div>
</nav>

<div class="container" style="margin-top: 100px;">
    <div class="pb-4" style="text-align: center">
      <h1>Regístrate aquí</h1>
    </div>
  
    <form [formGroup]="registroFG" (ngSubmit)="submitRegistro()">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" id="apellidoPaterno" formControlName="apellidoPaterno" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('apellidoPaterno').invalid && (registroFG.get('apellidoPaterno').dirty || registroFG.get('apellidoPaterno').touched)" class="text-danger">
              <div *ngIf="registroFG.get('apellidoPaterno').errors?.required">El campo es obligatorio</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input type="text" id="apellidoMaterno" formControlName="apellidoMaterno" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('apellidoMaterno').invalid && (registroFG.get('apellidoMaterno').dirty || registroFG.get('apellidoMaterno').touched)" class="text-danger">
              <div *ngIf="registroFG.get('apellidoMaterno').errors?.required">El campo es obligatorio</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" formControlName="nombres" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('nombres').invalid && (registroFG.get('nombres').dirty || registroFG.get('nombres').touched)" class="text-danger">
              <div *ngIf="registroFG.get('nombres').errors?.required">El campo es obligatorio</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="numeroDocumento">Número de Documento</label>
            <input type="text" id="numeroDocumento" formControlName="numeroDocumento" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('numeroDocumento').invalid && (registroFG.get('numeroDocumento').dirty || registroFG.get('numeroDocumento').touched)" class="text-danger">
              <div *ngIf="registroFG.get('numeroDocumento').errors?.required">El campo es obligatorio</div>
              <div *ngIf="registroFG.get('numeroDocumento').errors?.maxlength">El campo excede el tamaño máximo permitido</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="correoElectronico">Correo Electrónico</label>
            <input type="email" id="correoElectronico" formControlName="correoElectronico" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('correoElectronico').invalid && (registroFG.get('correoElectronico').dirty || registroFG.get('correoElectronico').touched)" class="text-danger">
              <div *ngIf="registroFG.get('correoElectronico').errors?.required">El campo es obligatorio</div>
              <div *ngIf="registroFG.get('correoElectronico').errors?.email">El correo electrónico no es válido</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="contrasenia">Contraseña</label>
            <input type="password" id="contrasenia" formControlName="contrasenia" class="form-control" style="text-transform: uppercase;">
            <div *ngIf="registroFG.get('contrasenia').invalid && (registroFG.get('contrasenia').dirty || registroFG.get('contrasenia').touched)" class="text-danger">
              <div *ngIf="registroFG.get('contrasenia').errors?.required">El campo es obligatorio</div>
              <div *ngIf="registroFG.get('contrasenia').errors?.minlength">La contraseña debe tener al menos 6 caracteres</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 pt-4">
          <div style="text-align: center">
            <button [disabled]="registroFG.invalid" type="submit" class="btn btn-lg btn-primary mx-2 mb-2">Registrar</button>
            <a class="btn btn-lg btn-danger mx-2 mb-2" routerLink="/autenticacion/iniciar-sesion">Cancelar</a>
          </div>
        </div>
      </div>
    </form>
  </div>