<div class="modal-header">
  <h2>{{ title }} <span class="mat-tooltip-informacion" placement="bottom" ngbTooltipClass="custom-tooltip" container="body" ngbTooltip="La FTA podrá ser elaborada por profesionales especialistas en temas ambientales, con experiencia en la materia, colegiados y habilitados.
    En caso de consultoras, indicar el número de la Resolución Directoral de Inscripción o renovación y Registro de la Consultora en el Servicio Nacional de Certificación Ambiental para las Inversiones Sostenibles (SENACE).
    La inscripción o renovación debe estar vigente a la presentación del estudio o la modificación. En aquellos casos en que la inscripción o renovación del registro de la consultora ambiental se haya realizado con posterioridad al 22 de diciembre de 2016, solo corresponde mencionar la vigencia de Ia inscripción del registro, en tanto que es considerada como un título habilitante y, por tanto, tiene renovación automática, de conformidad con el TUO de la Ley N° 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 006-2017-JUS.
    - Se deberá incluir la relación de los profesionales y técnicos que intervinieron en la elaboración de la FTA, que comprenda sus nombres y apellidos, y colegiatura.
    - Se deberá tener presente que el Grupo Multidisciplinario que ha participado en la elaboración de la FTA debe comprender como mínimo profesionales en ingeniería de las siguientes disciplinas: ambiental y/o de recursos naturales, química, minera, metalurgia, agronomía, agrícola, forestal, geografía, geología, civil, mecánica, hidráulica, geotecnia, hidrología, hidrogeología; y profesionales en las disciplinas de biología, economía, antropología, sociología, psicología, arqueología, entre otras.
    - Los mapas, planos, esquemas, diagramas de la FTA deberán estar suscritos según sea el caso por un ingeniero especializado y habilitado que forme parte de la relación de profesionales que han participado en la elaboración de la FTA; sin perjuicio de la participación (rúbrica) de otro profesional relacionado a la temática (arqueólogo, sociólogo, biólogo, entre otros); asimismo, indicar la fuente de información.">Contenido Mínimo</span>
  </h2>
  <button mat-icon-button (click)="closeDialog()" class="new-close"><i class="material-icons">close</i>
  </button>
</div>
<form (submit)="save(form)" [formGroup]="form">
  <div class="modal-body">
    <div class="antecedentes-dialog" style="font-size: 12px">
      <div class="content-contorno">
        <h3>7.1 Empresa Consultora</h3>
        <div class="sub-container">
          <h4>EMPRESA CONSULTORA</h4>
          <button *ngIf="viewControl" (click)="openModalConsultora('EMPRESA CONSULTORA')" type="button"
            class="btn button-agregar  d-flex align-items-center justify-content-center p-0">
            <i class="material-icons color-gree">add</i>
            Seleccionar Empresa Consultora
          </button>
          <tupa-table [columns]="tableConsultora" [data]="dataTableConsultora"></tupa-table>
        </div>
      </div>
      
      <div class="content-contorno">
        <h3>7.2.PROFESIONALES QUE REALIZARON EL ESTUDIO</h3>
        <div class="sub-container">
          <button *ngIf="viewControl" (click)="openModalProfesionales('PROFESIONALES QUE REALIZARON EL ESTUDIO')" type="button"
            class="btn button-agregar  d-flex align-items-center justify-content-center p-0 ">
            <i class="material-icons color-gree">add</i>
            Seleccionar Profesionales
          </button>
          <tupa-table [columns]="tableProfesional" [data]="dataTableProfesional"></tupa-table>
        </div>
      </div>
        
      <div class="content-contorno">
        <h3>7.3. OTROS PROFESIONALES</h3>
        <div class="sub-container">
          <button *ngIf="viewControl" (click)="openModalOtrosProfesionales('AGREGAR OTRO PROFESIONAL NO INGRESADO')" type="button"
            class="btn button-agregar  d-flex align-items-center justify-content-center p-0 ">
            <i class="material-icons color-gree">add</i>
            Seleccionar Profesionales
          </button>
          <tupa-table [columns]="tableOtrosProfesional" [data]="dataTableOtrosProfesional"></tupa-table>
        </div>
      </div>

      <div class="content-contorno">
        <h3>7.4. ADJUNTAR CERTIFICADO DE HABILIDAD</h3>
        <div class="sub-container">
          <div class="mensaje-dialog d-flex flex-row m-0">
            <div class="col-sm-1 col-md-1 w-5 d-flex justify-content-center p-0">
              <i class="material-icons icon-rojo"> info </i>
            </div>
            <div class="col-sm-11 col-md-11 ml-3">
              <p class="m-0">IMPORTANTE : EL TAMAÑO DE CADA ARCHIVO NO DEBE PASAR DE 50 MB.
                SE DEBE ESCANEAR COMO MÁXIMO A 300 DPI DE RESOLUCIÓN Y USAR LA TECNOLOGÍA DE RECONOCIMIENTO ÓPTICO DE
                CARÁCTERES (OCR).</p>
            </div>
          </div>
      <!-- <tupa-attach-button (documentoSeleccionado)="agregarDocumento($event)"></tupa-attach-button> -->
          <tupa-attach-button 
            *ngIf="viewControl" 
            [showTipoDocumento]="showTipoDocumento" 
            [formatos]="['pdf','doc','docx','xls','xlsx','zip', '7z','rar','kml','kmz','cad', 'png', 'jpg', 'jpeg']" 
            [tamano]="50" [cantidadRegistros]="documentos.length"  [limiteRegistros]="60" [valorSeleccionado]="0" 
            [optsTipoDocumento]="optsTipoDocumento"
            (documentoSeleccionado)="agregarDocumento($event)"
            ></tupa-attach-button>
          <br>
          <app-document-grid 
            [viewOnly]="viewOnly" 
            [documentos]="documentos" 
            (documentosActualizados)="actualizarDocumentos($event)"
          ></app-document-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Anterior"><i class="material-icons">navigate_before</i></button>
    <div class="btn-footer-center">
      <button type="button" class="mat-small" (click)="closeDialog()"><i class="material-icons">cancel</i>
        Cancel</button>
      <button class="mat-small"  *ngIf="viewControl"><i class="material-icons">save</i> Grabar</button>
    </div>
    <button type="button" class="btn-previous_next" data-bs-toggle="tooltip" title="Siguiente"><i class="material-icons">navigate_next</i></button>
  </div>
</form>