<div class="modal-header anexo bg-danger text-white">
	<h4 class="modal-title">{{codigoProcedimientoTupa}} {{descProcedimientoTupa}} </h4>
	<button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">
		
	</button>
</div>

<div class="modal-body">
	<div>
		<form [formGroup]='formulario'>
			<div class="center">
				<h5>{{txtTituloCompleto}}</h5>
			</div>

			<div ngbAccordion #acc="ngbAccordion" activeIds="seccion-2,  seccion-3, seccion-4">
				<div ngbAccordionItem="seccion-2" [collapsed]="false">
					<h2 ngbAccordionHeader class="card-header aaa" >
						
							<button ngbAccordionButton>II.
								MODALIDAD DE NOTIFICACIÓN (Marcar solo una modalidad)</button>
						</h2>
					<div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
						<div class="row gx-2 text-center">
							<div class="text-center">La notificación del presente procedimiento, se realiza a través del
								Sistema de Casillas Electrónicas del Ministerio de Transportes y Comunicaciones. </div>
							<br>
							<div class="text-center">En virtud a ello, para la tramitación del presente procedimiento
								administrativo, usted debe contar con una casilla electrónica. Si aún no se ha afiliado, deberá
								hacerlo, ingresando al siguiente enlace:</div>
							<a text-align="center" href="http://casilla.mtc.gob.pe/"
								target="_blank">http://casilla.mtc.gob.pe/</a>
						</div>
					</ng-template>
</div>
</div>
				</div>

				<div ngbAccordionItem="seccion-3" [collapsed]="false">
					<h2 ngbAccordionHeader >
						
							<button ngbAccordionButton>III. DATOS
								SOLICITANTE</button>
						</h2>

					<div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>
						<div class="row" formGroupName="Seccion3">
							<div class="col-lg-12" *ngIf="this.activarPN" formGroupName="f_s3_personaNatural">
								<div class="mt-4" *ngIf="this.activarPN"><strong>PERSONA NATURAL</strong></div>
								<br *ngIf="this.activarPN">
								<div class="row gx-2" *ngIf="this.activarPN">
									<div class="col-lg-12">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_nombresApellidos" label="Apellidos y Nombres"
											[onlyNumbers]="false" [maxLength]="100">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2" *ngIf="this.activarPN">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_tipoDocumento" label="Tipo Doc." [maxLength]="100">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_numeroDocumento" label="Nro Documento" [maxLength]="100">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural" inputFormControlName="f_s3_pn_ruc"
											label="N° de Ruc " [maxLength]="100">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2" *ngIf="this.activarPN">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_telefono" label="Teléfono Fijo" [maxLength]="11">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural" inputFormControlName="f_s3_pn_celular"
											label="Celular" [maxLength]="10">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural" inputFormControlName="f_s3_pn_correo"
											label="Correo Electrónico (E-mail)" [maxLength]="50">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2" *ngIf="this.activarPN">
									<div class="col-lg-12">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_domicilio" label="Domicilio Legal" [maxLength]="200">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2" *ngIf="this.activarPN">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_distrito" label="Distrito" [maxLength]="80">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_provincia" label="Provincia" [maxLength]="80">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaNatural"
											inputFormControlName="f_s3_pn_departamento" label="Departamento" [maxLength]="80">
										</app-basic-input>
									</div>
								</div>
							</div>

							<div class="col-lg-12" *ngIf="this.activarPJ" formGroupName="f_s3_personaJuridica">
								<div class="row gx-2">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaJuridica" inputFormControlName="f_s3_pj_ruc"
											label="N° de Ruc" placeHolder="Ingrese el número de RUC" [onlyNumbers]="true"
											[maxLength]="11">
										</app-basic-input>

									</div>
									<div class="col-lg-8">
										<app-basic-input [parentForm]="f_s3_personaJuridica"
											inputFormControlName="f_s3_pj_razonSocial" label="Razón Social"
											placeHolder="Ingrese la razón social" [maxLength]="100">
										</app-basic-input>
									</div>

								</div>
								<div class="row gx-2">
									<div class="col-lg-12">
										<app-basic-input [parentForm]="f_s3_personaJuridica"
											inputFormControlName="f_s3_pj_domicilio" label="Domicilio Legal"
											placeHolder="Ingrese el domicilio legal" [maxLength]="100">
										</app-basic-input>

									</div>
								</div>
								<div class="row gx-2">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaJuridica"
											inputFormControlName="f_s3_pj_departamento" label="Departamento">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaJuridica"
											inputFormControlName="f_s3_pj_provincia" label="Provincia">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_personaJuridica"
											inputFormControlName="f_s3_pj_distrito" label="Distrito">
										</app-basic-input>
									</div>

								</div>
								<hr>
							</div>

							<div class="col-lg-12" *ngIf="this.activarPJ" formGroupName="f_s3_representanteLegal">
								<div class="mt-4"><strong>REPRESENTANTE LEGAL</strong></div>
								<br>
								<div class="row gx-2">
									<div class="mb-3 col-lg-4">
										<label class="control-label campo-obligatorio">Tipo Documento</label>
										<select class="form-select"
											formControlName="f_s3_rl_tipoDocumento"><!--[class.control-invalid]="formInvalid(f_s3_rl_tipoDocumento)"-->
											<option value=''>Seleccione</option>
											<option *ngFor="let item of listaTiposDocumentos | slice:0:3" [value]="item.id">{{
												item.documento }}</option>
										</select>
										<!--<div
											*ngIf="f_s3_rl_tipoDocumento.invalid && (f_s3_rl_tipoDocumento.dirty || f_s3_rl_tipoDocumento.touched)"
											class="text-danger">
											<div *ngIf="f_s3_rl_tipoDocumento.errors?.required">
												El campo es obligatorio
											</div>
										</div>-->
									</div>

									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_numeroDocumento" label="N° Documento"
											[maxLength]="maxLengthNumeroDocumentoRepLeg"
											placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
											iconBtnAppend="fa-search"
											[disabledAppend]="f_s3_rl_tipoDocumento.value.trim() == '' || disableBtnBuscarRepLegal"
											(clickAppend)="buscarNumeroDocumento($event)">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_nombre" label="Nombres" placeHolder="Ingrese el nombre"
											[maxLength]="50">
										</app-basic-input>
									</div>

									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_apePaterno" label="Apellido Paterno"
											placeHolder="Ingrese el apellido paterno" [maxLength]="50">
										</app-basic-input>
									</div>

									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_apeMaterno" label="Apellido Materno"
											placeHolder="Ingrese el apellido materno" [maxLength]="50">
										</app-basic-input>
									</div>
								</div>
								<div class="row gx-2">
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_telefono" label="Teléfono Fijo"
											placeHolder="Ingrese el teléfono fijo" [onlyNumbers]="true" [maxLength]="11">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_celular" label="Celular"
											placeHolder="Ingrese el número de celular" [onlyNumbers]="true" [maxLength]="9">
										</app-basic-input>
									</div>
									<div class="col-lg-4">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_correo" label="Correo Electrónico (E-mail)"
											placeHolder="Ingrese el correo electrónico" [maxLength]="50">
										</app-basic-input>
									</div>
								</div>

								<app-basic-input [parentForm]="f_s3_representanteLegal" inputFormControlName="f_s3_rl_domicilio"
									label="Domicilio Legal" placeHolder="Ingrese el domicilio legal" [maxLength]="100">
								</app-basic-input>

								<app-ubigeo #ubigeoCmpRepLeg [parentForm]="f_s3_representanteLegal"
									depaFormControlName="f_s3_rl_departamento" depaFormLabel="Departamento"
									provFormControlName="f_s3_rl_provincia" provFormLabel="Provincia"
									distFormControlName="f_s3_rl_distrito" distFormLabel="Distrito" [horizontal]="true">
								</app-ubigeo>

								<div class="row gx-2">
									<div class="col-lg-3">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_zona" label="Poder registrado en la zona N°"
											placeHolder="Ingrese el número de zona" [onlyNumbers]="false" [maxLength]="6">
										</app-basic-input>
									</div>
									<div class="mb-3 col-lg-3">
										<label class="control-label">Oficina <span
												class="text-danger">(*)</span></label>
										<select class="form-select" formControlName="f_s3_rl_oficina">
											<!--[class.control-invalid]="formInvalid(f_s3_rl_oficina)"-->
											<option value="">Seleccione</option>
											<option *ngFor="let oficina of oficinasRegistral;" [value]="oficina.value">
												{{oficina.text }}</option>
										</select>
									</div>
									<div class="col-lg-3">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_partida" label="Partida N°"
											placeHolder="Ingrese el número de partida" [onlyNumbers]="true" [maxLength]="15">
										</app-basic-input>
									</div>
									<div class="col-lg-3">
										<app-basic-input [parentForm]="f_s3_representanteLegal"
											inputFormControlName="f_s3_rl_asiento" label="Asiento N°"
											placeHolder="Ingrese el número de asiento" [onlyNumbers]="true" [maxLength]="15">
										</app-basic-input>
									</div>
								</div>
							</div>

						</div>

					</ng-template>
</div>
</div>
				</div>


				<div ngbAccordionItem="seccion-4" formGroupName="Seccion4" [collapsed]="false">
					<h2 ngbAccordionHeader >
						
							<button ngbAccordionButton>V. DECLARACIÓN
								JURADA</button>
						</h2>

					<div ngbAccordionCollapse>
<div ngbAccordionBody>
<ng-template>

						<div class="mt-2 mb-4">
							<div class="alert alert-custom">
								<div class="row gx-2">
									<div class="col-md-10">
										<div>
											Toda la información proporcionada es veraz, así como los documentos
											presentados son auténticos,
											en caso contrario, me someto al procedimiento y a las sanciones previstas en
											el TUO de la Ley N° 27444,
											Ley del Procedimiento Administrativo General y/o normas complementarias.
										</div>
									</div>
									<div class="col-md-2">
										<div class="d-flex flex-row p-2 ms-4">
											<ui-switch formControlName="f_s4_declaracion_1">
												
											</ui-switch>
											<label class="col-form-label"> NO/SI </label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-2 mb-4">
							<div class="alert alert-custom">
								<div class="row gx-2">
									<div class="col-md-10">
										<div>
											Adjunto todos los requisitos señalados en el TUPA vigente del MTC.
										</div>
									</div>
									<div class="col-md-2">
										<div class="d-flex flex-row p-2 ms-4">
											<ui-switch formControlName="f_s4_declaracion_2">
												
											</ui-switch>
											<label class="col-form-label"> NO/SI </label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-2 mb-4">
							<div class="alert alert-custom">
								<div class="row gx-2">
									<div class="col-md-10">
										<div>
											Mi representada no se encuentra incursa en ninguno de los impedimentos establecidos en
											el artículo 49 del Reglamento.
										</div>
									</div>
									<div class="col-md-2">
										<div class="d-flex flex-row p-2 ms-4">
											<ui-switch formControlName="f_s4_declaracion_3">
												
											</ui-switch>
											<label class="col-form-label"> NO/SI </label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-2 mb-4">
							<div class="alert alert-custom">
								<div class="row gx-2">
									<div class="col-md-10">
										<div>
											Mi representada no se encuentra inmersa en los impedimentos establecidos en el inciso
											4-A.1 y
											4-A.2 del artículo 4-A de la Ley 27181, Ley General de Transporte y Tránsito Terrestre.
										</div>
									</div>
									<div class="col-md-2">
										<div class="d-flex flex-row p-2 ms-4">
											<ui-switch formControlName="f_s4_declaracion_4" (change)="findInvalidControls()">
												
											</ui-switch>
											<label class="col-form-label"> NO/SI </label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="this.codigoProcedimientoTupa=='DCV-022'">
							<div class="mt-2 mb-4">
								<div class="alert alert-custom">
									<div class="row gx-2">
										<div class="col-md-10">
											<div>
												Mi representada cuenta con certificado de compatibilidad de uso emitido por la
												municipalidad correspondiente.
											</div>
										</div>
										<div class="col-md-2">
											<div class="d-flex flex-row p-2 ms-4">
												<ui-switch formControlName="f_s4_declaracion_5">
													
												</ui-switch>
												<label class="col-form-label"> NO/SI </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="this.codigoProcedimientoTupa=='DCV-021'">
							<div class="mt-2 mb-4">
								<div class="alert alert-custom">
									<div class="row gx-2">
										<div class="col-md-10">
											<div>
												Mi representada se compromete a efectuar las coordinaciones respectivas con las
												Municipalidades Distritales,
												para el cumplimiento del cronograma anual de cobertura detallado en el anexo
												004-C/17.
											</div>
										</div>
										<div class="col-md-2">
											<div class="d-flex flex-row p-2 ms-4">
												<ui-switch formControlName="f_s4_declaracion_6">
													
												</ui-switch>
												<label class="col-form-label"> NO/SI </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="this.codigoProcedimientoTupa=='DCV-024'">
							<div class="mt-2 mb-4" *ngIf="this.activarDJ7">
								<div class="alert alert-custom">
									<div class="row gx-2">
										<div class="col-md-10">
											<div>
												En el caso de renovación de la autorización como <b>Centro de Inspección Técnica
													Vehicular Fijo</b>,
												señalo que mi presentada mantiene las condiciones establecidas en los literales e),
												f), g), h) y
												l), del numeral 37.1 del artículo 37 del Reglamento, caso contrario, se adjunta la
												documentación correspondiente.
											</div>
										</div>
										<div class="col-md-2">
											<div class="d-flex flex-row p-2 ms-4">
												<ui-switch formControlName="f_s4_declaracion_7">
													
												</ui-switch>
												<label class="col-form-label"> NO/SI </label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="mt-2 mb-4" *ngIf="this.activarDJ8">
								<div class="alert alert-custom">
									<div class="row gx-2">
										<div class="col-md-10">
											<div>
												En el caso de renovación de la autorización como <b>Centro de Inspección Técnica
													Vehicular Móvil</b>,
												señalo que mi representada mantiene las condiciones establecidas en los literales e)
												f), h) y l)
												del numeral 37.1 y el numeral 37.3 del artículo 37 del Reglamento, caso contrario,
												se adjunta la documentación correspondiente.
											</div>
										</div>
										<div class="col-md-2">
											<div class="d-flex flex-row p-2 ms-4">
												<ui-switch formControlName="f_s4_declaracion_8">
													
												</ui-switch>
												<label class="col-form-label"> NO/SI </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-between">
							Al acceder al sistema TUPA Digital MTC y registrarme como usuario: (i) reconozco que
							entiendo y acepto los términos
							y condiciones de éste, (ii) acepto como auténtico y válido cualquier medio de prueba o
							proceso tecnológico que utilice
							el MTC para comprobar mi acceso y salida del sistema; y, (iii) me hago responsable por los
							efectos legales en la
							gestión del procedimiento administrativo o servicio exclusivo.
						</div>
						<hr>
						<div class="text-center texto-bajo-juramento"> DECLARO BAJO JURAMENTO QUE LOS DATOS EXPRESAN LA
							VERDAD</div>
						<div class="col-sm-12 mt-5 d-flex justify-content-center">
							<div class="alert alert-custom" role="alert">
								NOTA: En el presente documento electrónico se ha vinculado e identificado al firmante,
								así como se ha garantizado la autenticación e integridad del mismo a través de la firma
								electrónica utilizada a través del usuario y clave de ingreso al Sistema Tupa Digital
								del Ministerio de Transportes y Comunicaciones, la cual tiene la misma validez y
								eficacia jurídica que la firma manuscrita, de conformidad con el artículo primero y
								segundo de la Ley N° 27269 – Ley de Firmas y Certificados Digitales
							</div>
						</div>

					</ng-template>
</div>
</div>
				</div>

			</div>
		</form>
	</div>

</div>

<div class="modal-footer anexo">
	<div class="row">
		<div class="col-sm-12 d-flex">
			<div class="flex-1">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" [disabled]="id === 0" (click)="descargarPdf()">
						<i class="far fa-eye"></i>
						Visualizar
					</button>
				</div>
			</div>

			<div class="flex-1 text-end">
				<button class="btn btn-success" (click)="guardarFormulario()" [disabled]="this.formulario.invalid">
					<i class="far fa-save"></i>
					{{
					(id === 0 ? 'Grabar' : 'Modificar')
					}}
				</button>
			</div>
		</div>
	</div>
</div>