<div class="modal-header anexo bg-danger text-white">
  <h4 class="modal-title">
    {{ this.codigoProcedimientoTupa }} {{ this.descProcedimientoTupa }}
  </h4>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close(graboUsuario)">

  </button>
</div>
<div class="modal-body">
  <div class="container mt-2 mb-3">
    <form [formGroup]="formularioFG">
      <div class="center">
        <h6>{{ txtTitulo }}</h6>
      </div>
      <div ngbAccordion #acc="ngbAccordion" activeIds="seccion-1, seccion-2, seccion-3, seccion-5">
        <div ngbAccordionItem="seccion-2" [collapsed]="false" [collapsed]="false">
          <h2 ngbAccordionHeader class="card-header">

            <button ngbAccordionButton>II. MODALIDAD DE NOTIFICACIÓN</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <!-- <div class="row gx-2">
                            <div>La notificación del presente procedimiento, se realiza a través del Sistema de Casillas
                                Electrónicas del Ministerio de Transportes y Comunicaciones. </div>
                            <br>
                            <div>En virtud a ello, para la tramitación del presente procedimiento administrativo, usted
                                debe contar con una casilla electrónica. Si aún no se ha afiliado, deberá hacerlo,
                                ingresando al siguiente enlace:</div>
                            <a text-align="center" href="http://casilla.mtc.gob.pe/"
                                target="_blank">http://casilla.mtc.gob.pe/</a>
                        </div> -->
                <div class="mt-2 d-flex justify-content-center" *ngIf="f_Seccion2FG.enabled">
                  <div class="alert alert-custom mb-1" role="alert">
                    <div class="row" formGroupName="f_Seccion2FG">
                      <div class="col">
                        <p>
                          Solicito que todo acto administrativo derivado del
                          presente procedimiento, se me notifique en el correo
                          electrónico (e-mail) consignado en el presente formulario.
                          Numeral 20.4 del articulo 20° del Texto Único Ordenado de
                          la Ley N° 27444 - Ley del Procedimiento Administrativo
                          General, aprobado por Decreto Supremo N° 004-2019-JUS.
                        </p>
                      </div>
                      <div class="d-flex">
                        <label class="container_rb">
                          <input type="radio" (click)="onClickNotificacion()" value="si"
                            formControlName="f_s2_notificaCorreoFC" />
                          Sí
                        </label>
                        &nbsp;&nbsp;
                        <label class="container_rb">
                          <input type="radio" value="no" formControlName="f_s2_notificaCorreoFC" />
                          No
                        </label>
                      </div>
                      <!--
                                    <div class="col-auto" style="align-self: center; text-align: center;">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                                formControlName="f_s2_notificaCorreoFC">
                                            <label class="custom-control-label" for="customSwitch1">NO / SI</label>
                                        </div>
                                    </div>
                                    -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem="seccion-3" [collapsed]="false">
          <h2 ngbAccordionHeader>

            <button ngbAccordionButton>
              III. DATOS SOLICITANTE
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="row" formGroupName="f_Seccion3FG">
                  <div class="col-lg-12" *ngIf="f_s3_PerNatFG.enabled" formGroupName="f_s3_PerNatFG">
                    <div class="mt-2"><strong>PERSONA NATURAL</strong></div>
                    <br />
                    <div class="row gx-2">
                      <div class="mb-3 col-lg-4">
                        <label class="control-label campo-obligatorio">
                          Tipo Documento
                        </label>
                        <select class="form-select" formControlName="f_s3_pn_TipoDocumentoFC" [class.control-invalid]="
                        formInvalid(f_s3_pn_TipoDocumentoFC)
                      ">
                          <option value="">Seleccione</option>
                          <option *ngFor="
                          let item of listaTiposDocumentos | slice : 0 : 3
                        " [value]="item.id">
                            {{ item.documento }}
                          </option>
                        </select>
                        <div *ngIf="
                        f_s3_pn_TipoDocumentoFC.invalid &&
                        (f_s3_pn_TipoDocumentoFC.dirty ||
                          f_s3_pn_TipoDocumentoFC.touched)
                      " class="text-danger">
                          <div *ngIf="f_s3_pn_TipoDocumentoFC.errors?.required">
                            El campo es obligatorio
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <ng-container *ngIf="showNroDocCEPerNat; else elseTemplate">
                          <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_NumeroDocumentoFC"
                            label="N° Documento" [maxLength]="9" placeHolder="Ingrese el número de documento"
                            [onlyNumbers]="true" (clickAppend)="buscarNumeroDocumentoPerNat()">
                          </app-basic-input>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_NumeroDocumentoFC"
                            label="N° Documento" [maxLength]="8" placeHolder="Ingrese el número de documento"
                            [onlyNumbers]="true" (clickAppend)="buscarNumeroDocumentoPerNat()">
                          </app-basic-input>
                        </ng-template>
                      </div>
                      <div class="col-lg-4" *ngIf="tipoSolicitante === 'PNR'">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_RucFC"
                          label="N° de Ruc" placeHolder="Ingrese el número de RUC" [onlyNumbers]="true"
                          [maxLength]="11">
                        </app-basic-input>
                      </div>
                    </div>
                    <div class="row gx-2">
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_NombreFC"
                          label="Nombres" placeHolder="Ingrese los nombres" [maxLength]="50" [readOnly]="true">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_ApePaternoFC"
                          label="Apellido Paterno" placeHolder="Ingrese el apellido paterno" [maxLength]="50"
                          [readOnly]="true">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_ApeMaternoFC"
                          label="Apellido Materno" placeHolder="Ingrese el apellido materno" [maxLength]="50"
                          [readOnly]="true">
                        </app-basic-input>
                      </div>
                    </div>
                    <div class="row gx-2">
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_TelefonoFC"
                          label="Teléfono Fijo" placeHolder="Ingrese el número de teléfono" [onlyNumbers]="true"
                          [maxLength]="9">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_CelularFC"
                          label="Celular" placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                          [maxLength]="9">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_CorreoFC"
                          label="Correo Electrónico (E-mail)" placeHolder="Ingrese el correo electrónico"
                          [maxLength]="50">
                        </app-basic-input>
                      </div>
                    </div>
                    <div *ngIf="
                    tipoSolicitante !== 'PE' &&
                    f_s3_pn_TipoDocumentoFC.value !== '04'
                  ">
                      <app-basic-input [parentForm]="f_s3_PerNatFG" inputFormControlName="f_s3_pn_DomicilioFC"
                        label="Domicilio Legal" placeHolder="Ingrese el domicilio legal" [maxLength]="100"
                        [readOnly]="false">
                      </app-basic-input>
                    </div>
                    <div *ngIf="
                    tipoSolicitante !== 'PE' &&
                    f_s3_pn_TipoDocumentoFC.value !== '04'
                  ">
                      <app-ubigeo #ubigeoCmpPerNat [parentForm]="f_s3_PerNatFG"
                        depaFormControlName="f_s3_pn_DepartamentoFC" provFormControlName="f_s3_pn_ProvinciaFC"
                        distFormControlName="f_s3_pn_DistritoFC" depaFormLabel="Departamento" provFormLabel="Provincia"
                        distFormLabel="Distrito" [horizontal]="true" [readOnly]="false">
                      </app-ubigeo>
                    </div>
                    <hr />
                    <div formGroupName="f_s3_pn_DiscapacidadFG">
                      <div class="mt-4">
                        <strong>EN CASO QUE EL SOLICITANTE SEA PERSONA NATURAL Y TENGA
                          ALGUNA DISCAPACIDAD, COMPLETAR LO QUE CORRESPONDA</strong>
                      </div>
                      <br />
                      <div class="row gx-2">
                        <div class="col-xl-8">
                          <app-basic-input [parentForm]="f_s3_pn_DiscapacidadFG"
                            inputFormControlName="f_s3_pn_di_ResConadisFC" label="Resolución de CONADIS N°"
                            placeHolder="Ingrese el número de la resolución del CONADIS" [maxLength]="50"
                            [horizontal]="true">
                          </app-basic-input>
                        </div>
                      </div>
                      <div class="row gx-2 mt-4">
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_VisualFC" label="Visual">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_AuditivaFC" label="Auditiva">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_MentalFC" label="Mental">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_FisicaFC" label="Física">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_LenguajeFC" label="Del Lenguaje">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_IntelectualFC" label="Intelectual">
                          </app-basic-checkbox>
                        </div>
                        <div class="col">
                          <app-basic-checkbox [parentForm]="f_s3_pn_DiscapacidadFG"
                            checkboxFormControlName="f_s3_pn_di_MultipleFC" label="Discapacidades Multiples">
                          </app-basic-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12" *ngIf="f_s3_PerJurFG.enabled" formGroupName="f_s3_PerJurFG">
                    <div class="mt-2"><strong>PERSONA JURÍDICA</strong></div>
                    <br />
                    <div class="row gx-2">
                      <div class="col-lg-8">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_RazonSocialFC"
                          label="Razón Social" placeHolder="Ingrese la razón social" [maxLength]="100"
                          [readOnly]="true">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_RucFC"
                          label="N° de Ruc" placeHolder="Ingrese el número de RUC" [onlyNumbers]="true" [maxLength]="11"
                          [readOnly]="true">
                        </app-basic-input>
                      </div>
                    </div>
                    <div class="row gx-2">
                      <div class="col-lg-12">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_DomicilioFC"
                          label="Domicilio Legal" placeHolder="Ingrese el domicilio legal" [maxLength]="100"
                          [readOnly]="true">
                        </app-basic-input>
                      </div>
                    </div>
                    <div class="row gx-2">
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_DepartamentoFC"
                          label="Departamento" [readOnly]="true">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_ProvinciaFC"
                          label="Provincia" [readOnly]="true">
                        </app-basic-input>
                      </div>
                      <div class="col-lg-4">
                        <app-basic-input [parentForm]="f_s3_PerJurFG" inputFormControlName="f_s3_pj_DistritoFC"
                          label="Distrito" [readOnly]="true">
                        </app-basic-input>
                      </div>
                    </div>
                    <hr />
                    <div formGroupName="f_s3_pj_RepLegalFG">
                      <div class="mt-4"><strong>REPRESENTANTE LEGAL</strong></div>
                      <br />
                      <div class="row gx-2">
                        <div class="mb-3 col-lg-4">
                          <label class="control-label campo-obligatorio">
                            Tipo Documento
                          </label>
                          <select class="form-select" formControlName="f_s3_pj_rl_TipoDocumentoFC"
                            [class.control-invalid]="
                          formInvalid(f_s3_pj_rl_TipoDocumentoFC)
                        ">
                            <option value="">Seleccione</option>
                            <option *ngFor="
                            let item of listaTiposDocumentos | slice : 0 : 3
                          " [value]="item.id">
                              {{ item.documento }}
                            </option>
                          </select>
                          <div *ngIf="
                          f_s3_pj_rl_TipoDocumentoFC.invalid &&
                          (f_s3_pj_rl_TipoDocumentoFC.dirty ||
                            f_s3_pj_rl_TipoDocumentoFC.touched)
                        " class="text-danger">
                            <div *ngIf="f_s3_pj_rl_TipoDocumentoFC.errors?.required">
                              El campo es obligatorio
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <ng-container *ngIf="showNroDocCERepLeg; else elseTemplate">
                            <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                              inputFormControlName="f_s3_pj_rl_NumeroDocumentoFC" label="N° Documento" [maxLength]="9"
                              placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
                              iconBtnAppend="fa-search" [disabledAppend]="
                            !f_s3_pj_rl_TipoDocumentoFC.value?.trim() ||
                            disableBtnBuscarRepLegal
                          " (clickAppend)="buscarNumeroDocumentoRepLeg()">
                            </app-basic-input>
                          </ng-container>
                          <ng-template #elseTemplate>
                            <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                              inputFormControlName="f_s3_pj_rl_NumeroDocumentoFC" label="N° Documento" [maxLength]="8"
                              placeHolder="Ingrese el número de documento" [onlyNumbers]="true" [btnAppend]="true"
                              iconBtnAppend="fa-search" [disabledAppend]="
                            !f_s3_pj_rl_TipoDocumentoFC.value?.trim() ||
                            disableBtnBuscarRepLegal
                          " (clickAppend)="buscarNumeroDocumentoRepLeg()">
                            </app-basic-input>
                          </ng-template>
                        </div>
                      </div>
                      <div class="row gx-2">
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_NombreFC"
                            label="Nombres" placeHolder="Ingrese el nombre" [maxLength]="50" [readOnly]="true">
                          </app-basic-input>
                        </div>

                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                            inputFormControlName="f_s3_pj_rl_ApePaternoFC" label="Apellido Paterno"
                            placeHolder="Ingrese el apellido paterno" [maxLength]="50" [readOnly]="true">
                          </app-basic-input>
                        </div>

                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                            inputFormControlName="f_s3_pj_rl_ApeMaternoFC" label="Apellido Materno"
                            placeHolder="Ingrese el apellido materno" [maxLength]="50" [readOnly]="true">
                          </app-basic-input>
                        </div>
                      </div>
                      <div class="row gx-2">
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                            inputFormControlName="f_s3_pj_rl_TelefonoFC" label="Teléfono Fijo"
                            placeHolder="Ingrese el teléfono fijo" [onlyNumbers]="true" [maxLength]="9">
                          </app-basic-input>
                        </div>
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_CelularFC"
                            label="Celular" placeHolder="Ingrese el número de celular" [onlyNumbers]="true"
                            [maxLength]="9">
                          </app-basic-input>
                        </div>
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_CorreoFC"
                            label="Correo Electrónico (E-mail)" placeHolder="Ingrese el correo electrónico"
                            [maxLength]="50">
                          </app-basic-input>
                        </div>
                      </div>

                      <div *ngIf="f_s3_pj_rl_TipoDocumentoFC.value !== '04'">
                        <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_DomicilioFC"
                          label="Domicilio Legal" placeHolder="Ingrese el domicilio legal" [maxLength]="100"
                          [readOnly]="false">
                        </app-basic-input>
                      </div>

                      <div *ngIf="f_s3_pj_rl_TipoDocumentoFC.value !== '04'">
                        <app-ubigeo #ubigeoCmpRepLeg [parentForm]="f_s3_pj_RepLegalFG"
                          depaFormControlName="f_s3_pj_rl_DepartamentoFC" provFormControlName="f_s3_pj_rl_ProvinciaFC"
                          distFormControlName="f_s3_pj_rl_DistritoFC" depaFormLabel="Departamento"
                          provFormLabel="Provincia" distFormLabel="Distrito" [horizontal]="true" [readOnly]="false">
                        </app-ubigeo>
                      </div>

                      <div class="row gx-2">
                        <div class="mb-3 col-lg-4">
                          <label class="control-label campo-obligatorio">
                            Poder registrado - Oficina
                          </label>
                          <select class="form-select" formControlName="f_s3_pj_rl_OficinaFC" [class.control-invalid]="
                          formInvalid(f_s3_pj_rl_OficinaFC)
                        ">
                            <option value="">Seleccione</option>
                            <option *ngFor="let oficina of oficinasRegistral" [value]="oficina.value">
                              {{ oficina.text }}
                            </option>
                          </select>
                          <div *ngIf="
                          f_s3_pj_rl_OficinaFC.invalid &&
                          (f_s3_pj_rl_OficinaFC.dirty ||
                            f_s3_pj_rl_OficinaFC.touched)
                        " class="text-danger">
                            <div *ngIf="f_s3_pj_rl_OficinaFC.errors?.required">
                              El campo es obligatorio
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_PartidaFC"
                            label="Poder registrado - Partida N°"
                            placeHolder="Ingrese el número de partida del poder registrado" [onlyNumbers]="true"
                            [maxLength]="15">
                          </app-basic-input>
                        </div>
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG" inputFormControlName="f_s3_pj_rl_AsientoFC"
                            label="Poder registrado - Asiento N°"
                            placeHolder="Ingrese el número de asiento del poder registrado" [maxLength]="15">
                          </app-basic-input>
                        </div>
                      </div>
                      <div class="row gx-2">
                        <div class="col-lg-4">
                          <app-basic-input [parentForm]="f_s3_pj_RepLegalFG"
                            inputFormControlName="f_s3_pj_rl_ObjSocialFC" label="Objeto social - Asiento N°"
                            placeHolder="Ingrese el número de asiento del objeto social" [maxLength]="15">
                          </app-basic-input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem="seccion-5" [collapsed]="false">
          <h2 ngbAccordionHeader>

            <button ngbAccordionButton>
              IV. DECLARACIONES JURADAS
            </button>
          </h2>

          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div formGroupName="f_Seccion4FG">
                  <div class="mt-2 mb-4 ng-star-inserted" *ngIf="f_s4_declaracion1FC.enabled">
                    <div class="alert alert-custom">
                      <!--<div _ngcontent-ehx-c118="" class="row gx-2" style="align-items: center;">

                                        <div _ngcontent-ehx-c118="" class="col">
                                            <div _ngcontent-ehx-c118=""> 1 Toda la información proporcionada es veraz,
                                                así como los documentos presentados son auténticos, en caso contrario,
                                                me someto al procedimiento y a las sanciones previstas en la Ley N°
                                                27444, Ley del Procedimiento Administrativo General y/o normas
                                                complementarias.
                                            </div>
                                        </div>
                                        <div _ngcontent-ehx-c118="" class="col-auto">
                                            <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="f_s4_declaracion1FC"
                                                    class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>
                                    </div>-->
                      <div class="row align-items-center">
                        <div class="col-auto"><i class="fas fa-square"></i></div>

                        <div _ngcontent-ehx-c118="" class="col">
                          <div _ngcontent-ehx-c118="">
                            Toda la información proporcionada es veraz, así como
                            los documentos presentados son auténticos, en caso
                            contrario, me someto al procedimiento y a las
                            sanciones previstas en la Ley N° 27444, Ley del
                            Procedimiento Administrativo General y/o normas
                            complementarias.
                          </div>
                        </div>
                        <!--<div _ngcontent-ehx-c118="" class="col-auto">
                                            <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="f_s5_declaracion1FC"
                                                    class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>-->
                      </div>
                    </div>
                  </div>

                  <div class="mt-2 mb-4 ng-star-inserted" *ngIf="f_s4_declaracion2FC.enabled">
                    <div class="alert alert-custom">
                      <!--<div _ngcontent-ehx-c118="" class="row gx-2" style="align-items: center;">
                                        <div _ngcontent-ehx-c118="" class="col">
                                            <div _ngcontent-ehx-c118=""> 2 Adjunto todos los requisitos señalados en el
                                                TUPA vigente del MTC.</div>
                                        </div>
                                        <div _ngcontent-ehx-c118="" class="col-auto">
                                            <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                                <ui-switch formControlName="f_s4_declaracion2FC"
                                                    class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                            </div>
                                        </div>
                                    </div>-->
                      <div class="row align-items-center">
                        <div class="col-auto"><i class="fas fa-square"></i></div>
                        <div _ngcontent-ehx-c118="" class="col">
                          <div _ngcontent-ehx-c118="">
                            Adjunto todos los requisitos señalados en el TUPA
                            vigente del MTC.
                          </div>
                        </div>
                        <!--<div _ngcontent-ehx-c118="" class="col-auto">
                                                <div _ngcontent-ehx-c118="" class="d-flex flex-row p-2 ms-4">
                                                    <ui-switch formControlName="f_s5_declaracion2FC"
                                                        class="ng-valid ng-touched ng-dirty"></ui-switch> NO / SI
                                                </div>
                                            </div>-->
                      </div>
                    </div>
                  </div>

                  <div class="alert alert-active">
                    <span style="text-align: justify; display: block">
                      NOTA: En el presente documento electrónico se ha vinculado e
                      identificado al firmante, así como se ha garantizado la
                      autenticación e integridad del mismo por medio de la firma
                      electrónica utilizada a través del usuario y clave de ingreso
                      al Sistema Tupa Digital del Ministerio de Transportes y
                      Comunicaciones , la cual tiene la misma validez y eficacia
                      jurídica que la firma manuscrita, de conformidad con el
                      artículo primero y segundo de la Ley N° 27269 - Ley de Firmas
                      y Certificados Digitales y lo establecido en el inciso c) del
                      numeral 47.1 del Art 47 del Reglamento de la Ley de Gobierno
                      Digital, aprobado mediante Decreto Supremo 029-2021-PCM.
                    </span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer anexo">
  <div class="row">
    <div class="col-lg-12 d-flex">
      <div class="flex-1">
        <button type="button" class="btn btn-secondary" (click)="descargarPdf()">
          <i class="far fa-eye"></i>
          Visualizar
        </button>
      </div>
      <div class="flex-1 text-end">
        <button class="btn btn-success w-50" (click)="guardarFormulario()"
          [disabled]="formularioFG.invalid || disableGuardar">
          <i class="far fa-save"></i>
          {{ id === 0 ? "Grabar" : "Modificar" }}
        </button>
      </div>
    </div>
  </div>
</div>