
<div class="card mb-5 shadow">
    <div class="card-header py-3">
        Mis trámites
    </div>
    <div class="card-body p-4 small">
        <div class="row">
            <div class="col-md-3 fw-bold">Tipo de Persona:</div>
            <div class="col-md-3">{{ tipoPersona }}</div>
            <div class="col-md-3 fw-bold">N° Documento {{ tipoDocumento}}: </div>
            <div class="col-md-3" *ngIf="tipoDocumento=='DNI'">{{ NDocumento }}</div>
            <div class="col-md-3" *ngIf="tipoDocumento=='RUC'">{{ Ruc }}</div>
            <div class="col-md-3" *ngIf="tipoDocumento=='CE'">{{ datosUsuarioLogin.nroDocumento }}</div>
        </div>

        <div class="row">
            <div class="col-md-3 fw-bold">{{ tipoNombres }}:</div>
            <div class="col-md-9">{{ Nombres }}</div>

            <div *ngIf="datosUsuarioLogin.tipoPersona=='00002' && datosUsuarioLogin.razonSocial!=''" class="col-md-3 fw-bold">Razón Social:</div>
            <div *ngIf="datosUsuarioLogin.tipoPersona=='00002' && datosUsuarioLogin.razonSocial!=''" class="col-md-9">{{ datosUsuarioLogin.razonSocial }}</div>
        </div>

        <hr>

        <div>
          <div class="col-md-12 alert alert-info" role="alert">
            <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Recuerde</h5>
            <ul class="mb-0" style="padding-inline-start: 22px;">
              <li>Si ha registrado un voucher en una solicitud que aún esta <b>pendiente de envío</b>: deberá anular la solicitud para utilizarlo en un nuevo trámite.
            </ul>
          </div>
        </div>

        <div class="mb-2">
            <div class="mb-3 align-items-center row gx-2">
                <div class="col-sm-auto">
                    <b>Filtrar por: </b>
                </div>

                <div class="col-sm-auto">
                 
                </div>
                
                <div class="col-sm">
                  <div class="input-group input-group-sm">
                    <!-- <input class="form-control " type="text" name="searchTerm" [(ngModel)]="filtrarTexto" (input)="onChangeFilterByState()" /> -->
                      <button class="btn btn-outline-secondary" (click)="onChangeFilterByState()">
                        <i class="fas fa-search"></i>
                      </button>
                  </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-secondary text-white text-center">
                    <tr class="align-self-center">
                        <th class="align-middle text-center">Nro.</th>
                        <th class="align-middle">Nombre del Proyecto</th>
                        <th class="align-middle">Ubicación</th>
                        <th class="align-middle">Descripción</th>
                        <th class="align-middle text-nowrap">N° Expediente</th>
                        <!-- <th class="align-middle text-nowrap">N° Expediente /<br>N° Solicitud</th> -->
                        <!-- <th class="align-middle">Doc</th> -->
                        <th class="align-middle">Plazos de<br>Subsanación</th>
                        <th class="align-middle">Estado</th>
                        <th class="align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listadoBandejaFiltro  | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                        <td class="align-middle text-center text-bold">{{ item.idRow }}</td>
                        <td class="align-middle text-center text-bold">{{ item.nombreProyecto }}</td>
                        <td class="align-middle text-center text-bold">{{ "Ubicación" }}</td>
                        <td class="align-middle">
                          <div>{{ item.denominacion }}</div>
                          <div>
                            <span *ngIf="item.nvFechRegSolicitud!=''"><b>Fecha envío: </b> {{item.nvFechRegSolicitud || "No tiene fechade envío."}} &nbsp;&nbsp;&nbsp;</span>
                            <!-- <span> <b>Plazo de atención: </b>{{ item.plazoResolverTexto}}</span> -->
                          </div>
                        </td>
                        <td class="align-middle text-left text-bold"><b>Expediente: </b>{{ item.numSTD }}<br>
                          <div *ngIf="item.numSTD !== undefined">
                            <span class="badge text-bg-info" style="font-size: 90%;">
                              <!-- <b>Clave:</b> {{item.claveAcceso}} -->   
                              <b>Clave:</b> "**********"
                            </span> <br>
                            <a href="https://extranet.minem.gob.pe/" target="_blank">Seguimiento de trámite</a>
                          </div>
                        </td>
                        <td class="align-middle text-center text-bold">{{ "30 DÍAS HÁBILES" }}</td>
                        <!-- <td class="align-middle text-center">
                            <div *ngIf="item.docExpediente!==''">
                                <btn class="btn btn-sm btn-link" (click)="verExpedientePDF(item)" title="Original">
                                    <i class="far fa-file-pdf text-danger fa-2x" ></i>
                                </btn>
                            </div>
                            <div *ngIf="item.docExpedienteSub!==''">
                                <btn class="btn btn-sm btn-link" (click)="verSubsanacionPDF(item)" title="Subsanación">
                                    <i class="far fa-file-pdf text-danger fa-2x" ></i>
                                </btn>
                            </div>
                        </td> -->
                        <td class="align-middle text-center">
                          <span class="text-muted text-bold">
                            <span [ngClass]="item.denominacionEstado=='PENDIENTE' ? 'text-danger' : 'text-success' " class="align-center">
                              <i class="material-icons" *ngIf="item.notificado ==1">mail</i>{{item.denominacionEstado }}</span>
                            <!-- <div *ngIf="item.encuesta">
                               <button *ngIf="item.denominacionEstado=='FINALIZADO' && item.encuesta.estado=='P'" class="btn btn-sm btn-success mt-2"
                              (click)="irEncuesta(item.encuesta.idEncuesta, item.encuesta.codigoIdentificador)" > 
                              <i class="far fa-file-alt"></i> Realizar encuesta
                              </button>
                            </div> -->
                          </span>
                        </td>
                        <td class="align-middle text-center">
                          <div ngbDropdown container="body" display="dynamic">
                            <button type="button" class="btn btn-sm btn-outline-secondary btn-actions" id="btnAction" ngbDropdownToggle>
                              <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="btnAction">
                              <button *ngIf="item.denominacionEstado =='PENDIENTE' || item.denominacionEstado =='EN PROCESO' || item.denominacionEstado =='INFORMACION COMPLEMENTARIA'|| item.denominacionEstado =='DESISTIDO' || 
                                             item.denominacionEstado =='OBSERVADO' || item.denominacionEstado =='SUBSANADO' || item.denominacionEstado =='FINALIZADO' || item.denominacionEstado =='DESAPROBADO' || item.denominacionEstado =='APROBADO' ||
                                             item.denominacionEstado =='PRORROGA' || item.denominacionEstado =='ABANDONO' || item.denominacionEstado =='RECONSIDERACION' || item.denominacionEstado =='REVISION'" ngbDropdownItem class="bg-light" (click)="irTramiteIniciado(item)">
                                <i class="fas fa-list"></i> Detalle
                              </button>
                              <button *ngIf="item.denominacionEstado =='PENDIENTE' || item.denominacionEstado =='EN PROCESO'" ngbDropdownItem class="bg-light">
                                <i class="fas fa-list"></i> Recurso impugnativo reconsideración
                              </button>
                              <button *ngIf="item.denominacionEstado =='PENDIENTE' || item.denominacionEstado =='EN PROCESO'" ngbDropdownItem class="bg-light" >
                                <i class="fas fa-list"></i> Recurso impugnativo revisión
                              </button>
                              <!-- <button *ngIf="item.denominacionEstado =='OBSERVADO' || item.denominacionEstado =='APROBADO'" ngbDropdownItem class="bg-light" (click)="irTramiteIniciado(item)">
                                <i class="fas fa-list"></i> Bandeja
                              </button> -->
                              <button *ngIf="item.denominacionEstado =='PENDIENTE'" ngbDropdownItem class="bg-light text-danger" (click)="anulaTramite(item)">
                                <i class="fas fa-ban"></i> Anular
                              </button>
                            </div>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between p-2">
            <!-- (changePagination)="refreshCountries($event)" -->
            <!-- <app-pagination-table [(page)]="page" [pageSize]="pageSize" [collectionSize]="BandejaSize" ></app-pagination-table> -->
           

          
        </div>

    </div>
</div>
